.page_body {
  overflow-x: hidden;

  font-family: Inter, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $gray;

  background: linear-gradient(to right, #191536, #000);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-small-desktop {
    padding-inline: 70px;
  }

  @include on-desktop {
    padding-inline: 110px;
  }

  @include on-xxl-desktop {
    padding-inline: 233px;
  }
}

.main {
  background: transparent;
}
