.button {
  display: block;
  padding: 13px 0;
  @extend .button-link;
  text-align: center;
  text-transform: capitalize;
  color: $color-white;
  background-color: $color-blue;
  border-radius: 4px;

  transition: all 0.3s;

  &:hover {
    color: $color-blue;
    background-color: $color-white;
  }

  &--selected {
    color: $color-blue;
    background-color: $color-white;
  }
  &--disabled {
    color: $color-dark-gray;
    background-color: #191536;
  }
}

.button-play {
  display: block;
  width: 220px;
  height: 70px;
  background-image: url("../images/icon-play.svg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s;

  &:hover {
    background-image: url("../images/icon-play-selected.svg");
  }

}
