@import '../utils';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $black;
  height: 100px;
  padding: 0 234px;

  &__logo-navigation {
    display: flex;
    align-items: center;
    gap: 127px;
    justify-content: space-between;
    width: 60%;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 43px;
  }

  &__element {
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: #f2f2f2;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 28px;
  }

  &__facebook-icon {
    width: 9.35px;
    height: 19.1px;
  }

  &__twitter-icon {
    width: 23.38px;
    height: 17.5px;
  }

  &__youtube-icon {
    width: 22.1px;
    height: 17.9px;
  }

  &__reddit-icon {
    width: 21.82px;
    height: 22.28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 0 34px;
    height: 64px;

    &__list {
      gap: 37px;
    }

    &__socials {
      gap: 18px;
    }

    &__facebook-icon {
      width: 6px;
      height: 12px;
    }

    &__twitter-icon {
      width: 15px;
      height: 11px;
    }

    &__youtube-icon {
      width: 14.2px;
      height: 10.8px;
    }

    &__reddit-icon {
      width: 14px;
      height: 14px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding: 100px 20px 50px;
    align-items: end;
    position: relative;
    height: auto;

    &__logo-navigation {
      flex-direction: column;
      align-items: start;
      gap: 15px;
    }

    &__list {
      flex-direction: column;
      align-items: start;
      gap: 12px;
    }

    &__socials {
      gap: 22.7px;
    }

    &__facebook-icon {
      width: 6px;
      height: 12px;
    }

    &__twitter-icon {
      width: 15px;
      height: 11px;
    }

    &__youtube-icon {
      width: 14.2px;
      height: 10.8px;
    }

    &__reddit-icon {
      width: 14px;
      height: 14px;
    }
  }
}
