.body-main {
  background: linear-gradient(107.56deg, #191536 0%, #000 100%);
  padding-bottom: 106px;
  position: relative;
}

.dark-wrapper {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: 2;
}

.dark-wrapper--active {
  background-color: rgba(0, 0, 0, 0.67);
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .footer {
    padding: 0 110px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .body-main {
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .body-main {
    padding-bottom: 45px;
  }
}
