@use '../utils' as *;

// SLIDER DOTS INDICATORS

.about__dots {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;

  margin-top: 14px;

  // Hidden on desktop (buttons are used instead)
  @include respond-to(desktop) {
    display: none;
  }
}

.about__dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;

  background-color: rgba($c-white, 0.3);

  transition: background-color $transition-speed;

  &.is-active {
    background-color: $c-cyan;
  }
}
