.play-button {
  width: auto;
  height: 66px;
  color: $color-accent;

  &__triangle {
    width: 24px;
    height: 23px;
    color: $color-accent;

    &:hover,
    &:active {
      color: $white;
    }
  }
}
