.tabs {

  &__progress {
    display: flex;
    padding: 0 0 17px;
    border-bottom: 1px solid $color-dark-gray;

    @include mediaTablet {
      padding: 0 0 10px;
    }

    &-item {
      position: relative;
      width: 33.33%;
      @include textTypohraphy(14, 1.3, 500);
      color: $color-middle-dark-gray;
      text-align: center;
      cursor: pointer;
      transition: color $duration-transition;

      &:first-child {
        @include mediaMobile {
          padding: 0 0 0 $padding-lr-modal-mobile;
        }
        @include mediaMobile {
          text-align: left;
        }
      }

      &:last-child {
        @include mediaMobile {
          padding: 0 $padding-lr-modal-mobile 0;
        }

        @include mediaMobile {
          text-align: right;
        }
      }

      &.active {
        color: $color-blue;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -17px;
          display: block;
          width: 100%;
          height: 1px;
          background-color: $color-blue;
        }

        @include mediaTablet {
          &::after {
            bottom: -10px;
          }
        }
      }
    }
  }

  &__wrapper-with-static {
    display: flex;
    flex-wrap: wrap;
  }

  &__static,
  &__dynamic {
    flex: 0 0 100%;
    @include mediaDesktop {
      flex: 0 0 50%;
    }
  }

  &__static {
    z-index: 1;

    &.hidden {
      width: 0;
      opacity: 1;
      visibility: hidden;
    }
  }

  &__content {
    padding: 0 $padding-lr-modal-mobile;

    @include mediaTablet {
      padding: 0 $padding-lr-modal-tablet;
    }

    @include mediaDesktop {
      padding: 0 $padding-lr-modal-desktop;
    }

  }

  &__carousel {
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    &.overflow {
      overflow: hidden;
    }
  }

  &__carousel-inner {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform $duration-transition;
  }

  &__carousel-item {
    flex: 0 0 100% ;
  }
}
