@import '../utils';

.tech-specs {
  padding: 160px 320px 160px 426px;
  background-color: $black;

  &__inner {
    margin: 0 auto;
    width: 1175px;
    display: block;
    position: relative;
    height: 354px;
  }

  &__title {
    text-align: right;
    font-weight: 900;
    font-size: 36px;
    width: 1175px;
    margin: 0 auto 80px;

    &--blue {
      color: $light-blue;
    }
  }

  &__img-wrapper {
    height: 294px;
    width: 297.5px;
    position: absolute;
    left: 375px;
    bottom: 0;
    z-index: 10;

    &::before {
      content: '';
      position: absolute;
      left: -9px;
      top: 46px;
      background: url('../images/vr-before.svg') center/contain no-repeat;
      width: 40px;
      height: 201px;
      transform: rotate(-3deg);
    }
  }

  &__img {
    height: 100%;
    width: 100%;
  }
}

.spec {
  position: absolute;

  &__title {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 21px;
  }

  &__text {
    color: $gray;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
}

.spec--1,
.spec--2,
.spec--3 {
  &::after {
    content: '';
    position: absolute;
  }
}

.spec--1 {
  top: 0;
  left: 0;
  max-width: 250px;

  &::after {
    left: 91px;
    top: 7px;
    background: url('../images/path-to-sensor.svg') center/contain no-repeat;
    width: 443px;
    height: 72px;
  }
}

.spec--2 {
  top: 0;
  right: 0;
  max-width: 340px;

  &::after {
    right: 364px;
    top: 7px;
    background: url('../images/path-to-batteries.svg') center/contain no-repeat;
    width: 276.5px;
    height: 236.5px;
  }
}

.spec--3 {
  bottom: 0;
  left: 0;
  max-width: 240px;

  &::after {
    left: 137px;
    bottom: 101px;
    background: url('../images/path-to-connection.svg') center/contain no-repeat;
    width: 235px;
    height: 112.5px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .tech-specs {
    padding: 100px 112px;

    &__title {
      width: 1055px;
    }

    &__inner {
      margin: 0 auto;
      width: 1055px;
    }

    &__img-wrapper {
      left: 358px;
    }
    &::before {
      left: -18px;
    }
  }

  .spec--1 {
    &::after {
      width: 413px;
    }
  }

  .spec--2 {
    &::after {
      width: 186px;
      height: 245px;
      background: url('../images/path-to-batteries-1280.svg') center/contain
        no-repeat;
      z-index: 20;
    }
  }

  .spec--3 {
    left: 86px;

    &::after {
      left: 137px;
      bottom: 101px;
      background: url('../images/path-to-connection-1280.svg') center/contain
        no-repeat;
      width: 134px;
      height: auto;

      aspect-ratio: 134 / 113;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tech-specs {
    padding: 80px 32px;
    margin-bottom: 30px;

    &__title,
    &__inner {
      width: 100%;
    }

    &__title {
      font-size: 21px;
      text-align: start;
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__img-wrapper {
      position: static;

      &::before {
        display: none;
      }
    }
  }

  .spec {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #05c2df;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after,
    &__title,
    &__text {
      display: none;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: url('../images/plus.svg') center/cover no-repeat;
      width: 22px;
      height: 22px;
    }
  }

  .spec--1 {
    left: calc(50% - 80px);
    top: calc(50% - 140px);
  }

  .spec--2 {
    left: calc(50% - 170px);
    top: calc(50% + 130px);
  }

  .spec--3 {
    left: calc(50% + 90px);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .tech-specs {
    padding: 50px 20px 100px;

    &__title,
    &__inner {
      width: 100%;
    }

    &__title {
      font-size: 21px;
      text-align: start;
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
    }

    &__img-wrapper {
      position: static;
      width: 197px;
      height: 195px;

      &::before {
        display: none;
      }
    }
  }

  .spec {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #05c2df;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after,
    &__title,
    &__text {
      display: none;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: url('../images/plus.svg') center/cover no-repeat;
      width: 22px;
      height: 22px;
    }
  }

  .spec--1 {
    left: calc(50% - 25px);
    top: calc(50% - 90px);
  }

  .spec--2 {
    left: calc(50% - 100px);
    top: calc(50% + 80px);
  }

  .spec--3 {
    left: calc(50% + 50px);
  }
}
