.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%);
  opacity: 0;
  z-index: 100;
  transition: opacity $duration-transition, transform $duration-transition;

  &-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 65.67%;
    z-index: 1000;

    @include mediaTablet {
      width: 68.43%;
    }
  }

  iframe {
    border: 0;
  }

  &-close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    width: 17px;
    height: 17px;
    z-index: 100;

    path,
    line {
      transition: stroke $duration-transition;
    }

    &:hover path,
    &:hover line {
      stroke: $color-blue;
    }
  }

  &.active {
    opacity: 1;
    transform: translateX(0);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity $duration-transition;
}

.video-modal.active .overlay {
  opacity: 1;
}
