.video-link {
  position: fixed;
  inset: 30% 10% 0;

  z-index: 10;
  height: 240px;
  border-radius: 20px;
  border: 3px solid $aqua;
  box-shadow: $shadow-click;

  transition: $time-average;
  transform: rotateX(90deg);

  &--active {
    pointer-events: all;
    transform: rotateX(0);
  }

  @include breakpoint($tablet) {
    inset: 18% 20% 0;
    height: 300px;
  }

  @include breakpoint($desktop) {
    height: 400px;
  }

  &--icon-close {
    position: absolute;
    right: -24px;
    top: -24px;
    width: 30px;
    height: 30px;

    @extend %mouse-pointer;

    border-radius: 50%;
    box-shadow: $shadow-click;
    background-color: $aqua;

    &--element {
      @extend %icon-close-element;

      top: 14px;
    }

    @include hover(transform, $scale, $time-average) {
      box-shadow: $shadow-click;

      & > span {
        box-shadow: $shadow-white;
      }
    }
  }

  &--iframe {
    width: 100%;
    height: inherit;
    border-radius: inherit;
    border: none;
  }

  &--resizer {
    position: absolute;
    cursor: se-resize;

    right: -10px;
    bottom: -10px;
    width: 20px;
    height: 20px;

    border-bottom-right-radius: 10px;
    border: 3px solid $aqua;
    border-top: none;
    border-left: none;

    @include hover(transform, $scale, $time-fast);
  }
}

.language-page {
  position: fixed;
  z-index: 6;
  inset: 0 0 0 100%;

  border: 1px solid rgba($color: $white, $alpha: 0.3);
  background-color: $dark-purple;

  &--active {
    transition: 1s ease-out;
    left: 0;
  }

  &--close {
    transition: 1s ease-out;
    left: -100%;
    right: 100%;
  }

  &__top {
    @extend %top-bar-style;

    justify-content: flex-start;

    @include breakpoint($tablet) {
      padding: $retreat 34px;
    }
  }

  &__icon {
    @extend %icon-close;

    width: 40px;

    &--element {
      @extend%icon-close-element;

      width: 20px;
      transform-origin: left;
    }
  }

  &__button {
    display: none;

    @extend %mouse-pointer;

    @include breakpoint($desktop) {
      @include flex(row, 8px) {
        align-items: flex-end;
      }

      @include content-centering($desktop);

      margin-left: 50px;

      @include hover(transform, $scale, $time-fast) {
        .language-page__icon-arrow {
          transform: rotate(90deg) $large-scale;
        }

        .language-page__icon-arrow--active {
          transform: rotate(270deg) $large-scale;
        }
      }
    }
  }

  &__current-language {
    color: $aqua;
  }

  &__icon-arrow {
    @extend %angle-arrow;

    &--active {
      transform: rotate(270deg);
    }
  }

  &__list {
    transition: $time-average;

    @include breakpoint($desktop) {
      position: fixed;
      left: 220px;
      top: 70px;

      width: 250px;
      height: 0;
      overflow: hidden;

      border-radius: 10px;
      background-color: $dark-purple;
    }

    &--active {
      z-index: 2;
      height: 500px;
      border: 1px solid rgba($color: $white, $alpha: 0.3);
    }
  }

  &__item {
    @extend %mouse-pointer;
    @extend %h2;

    padding-left: $retreat;
    transition: $time-average;

    &:focus {
      color: $aqua;
      background-color: $bark-dark-purple;
    }

    @include hover(background-color, $bark-dark-purple, $time-average) {
      color: $aqua;
    }

    @include breakpoint($tablet) {
      padding-left: 108px;
    }

    @include breakpoint($desktop) {
      padding: 0 10px;

      &:hover {
        border-radius: 10px;
      }
    }
  }
}

.faq-page {
  @extend %drop-down-window;

  z-index: 3;
  overflow-x: hidden;

  @include breakpoint($desktop) {
    width: 880px;
    height: 550px;
  }

  &--active {
    @extend %drop-down-window-active;

    @include breakpoint($desktop) {
      inset: 5% 0 0 20%;
    }
  }

  &__icon {
    @extend %icon-close;

    &--element {
      @extend%icon-close-element;
    }
  }

  &__top {
    @extend %top-bar-style;
    @include content-centering($mobile);

    @include breakpoint($tablet) {
      @include content-centering($tablet);

      padding: $retreat 34px 0 34px;
    }
  }

  &__container {
    @include flex(column, 30px);
    @include content-centering($mobile);

    padding: 0 $retreat;

    @include breakpoint($tablet) {
      @include content-centering($tablet);
    }

    @include breakpoint($desktop) {
      @include content-centering($desktop);

      gap: 20px;
      padding: 34px;
    }
  }

  &__content {
    @include flex(column, 20px);
  }

  &__title {
    &--span {
      @include font-style(400, 21px, 27px);

      color: $aqua;

      @include breakpoint($desktop) {
        @include breakpoint-font-style(36px, 47px);
      }
    }

    @include breakpoint($desktop) {
      @include breakpoint-font-style(36px, 47px);
    }
  }

  &__block {
    @extend %mouse-pointer;
    @include flex(column, 40px);

    border: 1px solid $aqua;
    padding: 10px;

    height: 50px;
    overflow: hidden;
    transition: $time-average;

    &--active {
      height: 100vh;
    }

    &:hover {
      box-shadow: $shadow-click;
    }

    @include breakpoint($tablet) {
      height: 25px;

      &--active {
        height: 50vh;
      }
    }
  }

  &__question {
    color: $aqua;
  }

  &__updated {
    @include font-style(400, 12px, 18px);

    color: $grayish;
  }

  &__link {
    @extend %link-more-style;
  }
}

.help-page {
  @extend %drop-down-window;

  z-index: 2;

  @include breakpoint($desktop) {
    width: 880px;
    height: 550px;
  }

  &--active {
    @extend %drop-down-window-active;

    @include breakpoint($desktop) {
      inset: 5% 0 0 20%;
    }
  }

  &__icon {
    @extend %icon-close;

    &--element {
      @extend%icon-close-element;
    }
  }

  &__container {
    @include flex(column, 30px);
    @include content-centering($mobile);

    padding: $retreat;

    @include breakpoint($tablet) {
      @include content-centering($tablet);

      padding: 0 34px;
    }

    @include breakpoint($desktop) {
      @include content-centering($desktop);

      padding: 0 88px;
    }
  }

  &__top {
    @extend %top-bar-style;
    @include content-centering($mobile);

    @include breakpoint($tablet) {
      @include content-centering($tablet);
    }
  }

  &__content {
    @include flex(column, 30px);
  }

  &__title {
    &--span {
      @include font-style(400, 21px, 27px);

      color: $aqua;

      @include breakpoint($desktop) {
        @include breakpoint-font-style(36px, 47px);
      }
    }

    @include breakpoint($desktop) {
      @include breakpoint-font-style(36px, 47px);
    }
  }

  &__text {
    &--span {
      @extend %mouse-pointer;

      color: $aqua;
    }
  }

  &__bottom {
    @include flex(column, 30px);

    @include breakpoint($tablet) {
      flex-direction: row;
      gap: 130px;
    }
  }

  &__links {
    @include flex(column, 20px);

    @include breakpoint($tablet) {
      gap: 30px;
    }
  }

  &__link {
    @extend %mouse-pointer;

    color: $aqua;
  }

  &__contacts {
    @include flex(column, 8px);

    @include breakpoint($tablet) {
      gap: 30px;
    }
  }

  &__contact {
    @extend %mouse-pointer;

    color: $light-gray;
  }
}
