.button-close {
  display: block;
  background-image: url(../images/icons/button-close.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  height: 17px;
  width: 17px;

  @include hover-scale;
}
