.carousel {
  &-controllers {
    width: 204.4px;
    display: flex;
    justify-content: space-between;
    gap: 103px;
    border-bottom: 1px solid #212121;
  }

  &-controller {
    display: block;
    color: $color-white;
    position: relative;
    cursor: pointer;
    padding-bottom: 10px;

    @include laptop {
      line-height: 100%;
    }

    &--previous::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -2px;
      height: 1px;
      width: 100%;
      background-color: $color-accent;
    }
  }
}
