.floating-button {
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.21) 0%, rgba(4, 4, 4, 0.59) 23.44%, #050505 100%);
  padding-block: 10px;
  width: 100%;
  box-sizing: border-box;

  position: sticky;
  bottom: 0;

  @include tablet {
    padding-block: 31px;
  }

  @include media(laptop, desktop) {
    display: none;
  }
}
