.header {
  height: 100vh;
  pointer-events: all;
  background: $gradient;

  &__container {
    @include grid(2) {
      row-gap: 20px;
    }

    @include content-centering($mobile);

    padding: 20px;
    transition: $time-average;

    @include media-breakpoint($tablet, 8) {
      @include content-centering($tablet);

      row-gap: 50px;
      padding: 30px 34px;
    }

    @include media-breakpoint($desktop, 12) {
      @include content-centering($desktop);

      row-gap: 40px;
      padding: 50px 110px;
    }
  }

  &__top {
    z-index: 1;
    grid-column: 1 / -1;
  }

  &__content {
    @include grid(2);

    grid-column: 1 / -1;
    padding: 30px 0 0;

    @include media-breakpoint($tablet, 8);
    @include media-breakpoint($desktop, 12);
  }

  &__wrapper {
    @include grid(2) {
      row-gap: 20px;
    }

    grid-column: 1 / -1;

    @include media-breakpoint($tablet, 8) {
      grid-column: 1 / 5;
      grid-row: 1;
    }

    @include media-breakpoint($desktop, 12) {
      grid-column: 1 / 7;
    }
  }

  &__images {
    grid-column: 1 / -1;

    @include breakpoint($tablet) {
      grid-column: 5 / -1;
      grid-row: 1;

      &--image {
        transform: scale(1.6);
      }
    }

    @include breakpoint($desktop) {
      grid-column: 7 / -1;
    }
  }

  &__title {
    grid-column: 1 / -1;

    &--span {
      font-weight: 400;
      color: $aqua;
    }

    @include breakpoint($desktop) {
      font-size: 46px;
      line-height: 60px;
    }
  }

  &__text {
    grid-column: 1 / -1;

    @include breakpoint($desktop) {
      grid-column: 3 / 10;
    }
  }

  &__text-price {
    grid-column: 1 / -1;
    text-align: center;

    @include breakpoint($tablet) {
      text-align: start;
      margin-bottom: 20px;
    }

    @include breakpoint($desktop) {
      grid-column: 3 / 10;
    }
  }

  &__btn {
    grid-column: 1 / -1;
  }

  &__link-video {
    grid-column: 1 / -1;
    user-select: none;

    @extend %mouse-pointer;

    @include flex(row, 3px) {
      align-items: center;
    }

    @include hover(transform, $small-scale, $time-fast) {
      .header__link-video--arrow {
        transform: $scale;
      }

      .header__link-video--title {
        color: $aqua;
        text-shadow: $shadow-click;
      }
    }

    @include active(transform, $click-scale) {
      gap: 20px;
      transition: $time_fast;

      .header__link-video--arrow {
        box-shadow:
          inset $shadow-click,
          $shadow-click;

        &::before {
          border: 2px solid $aqua;
          box-shadow: $shadow-click, $shadow-click;
        }

        .header__link-video--dots {
          border: 2px solid $aqua;
          box-shadow: $shadow-click;
        }
      }
    }

    @include breakpoint($tablet) {
      width: 250px;
    }

    @include breakpoint($desktop) {
      grid-column: 3 / 10;
    }

    &--arrow {
      position: relative;
      width: 53px;
      height: 53px;

      border: 2px solid $aqua;
      border-radius: 50%;

      transition:
        $time-fast $time-fast,
        transform $time-fast cubic-bezier(0.32, 1, 0.32, 1);

      &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;

        width: 70px;
        height: 70px;

        border-radius: inherit;
        border: 2px solid rgba($color: $aqua, $alpha: 0.45);
        border-right: none;
        border-top: none;
        transition: $time_fast;
        transform: rotate(45deg);

        @extend %animation-rotate;
      }
    }

    &--icon {
      position: absolute;
      top: 16px;
      left: 20px;
      width: 23px;
      height: 23px;

      @extend %animation-scaling;
    }

    &--title {
      text-align: center;
      transition: $time_average;
    }

    &--lines {
      position: relative;
      width: 70%;
      overflow: hidden;

      &::before,
      &::after {
        position: absolute;
        content: '';

        width: 20%;
        height: 2px;
        background-color: rgba($color: $aqua, $alpha: 0.45);
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }

    &--dots {
      position: absolute;
      width: 2px;
      height: 2px;
      margin-left: 20%;
      background-color: rgba($color: $aqua, $alpha: 0.45);

      @keyframes moving-dots {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(500%);
        }
      }
    }
  }

  &__bottom {
    display: none;
    grid-column: 1 / -1;

    @include breakpoint($desktop) {
      @include flex(row, 0) {
        justify-content: space-between;
      }
    }

    &__menu {
      user-select: none;

      @include flex(row, 40px) {
        align-items: center;
      }
    }

    &__link {
      @extend %link-more-style;

      &--title {
        color: $aqua;
      }

      &--icon {
        @extend %angle-arrow;
      }
    }
  }

  &__sliders {
    position: relative;
    width: 210px;

    @include flex(column, 10px);
  }

  &__navigation {
    @include flex(row, 0) {
      justify-content: space-between;
    }

    &--switch {
      user-select: none;
      padding: 1px 5px;
      color: $white;

      @extend %mouse-pointer;
      @include font-style(500, 16px, 24px);
      @include hover(color, $aqua, $time-fast);
    }

    &--no-active {
      pointer-events: none;
      color: $light-gray;
    }
  }

  &__display-nav {
    @include flex(row, 0);

    background-color: $dark-gray;
    width: 100%;
    height: 1px;

    &--part {
      width: 35px;
      transition: $time-average;
    }

    &--active {
      background-color: $aqua;
    }
  }
}
