.main {
  background-color: $gradient;
}

.experience {
  &__container {
    @include grid(2) {
      row-gap: 40px;
    }

    @extend %base-retreat-container;

    padding: 50px $retreat;
  }

  &__top {
    grid-column: 1 / -1;

    @include flex(column, 10px);

    @include breakpoint($tablet) {
      align-items: center;
    }
  }

  &__title {
    &--span {
      font-weight: 400;
      color: $aqua;
    }

    @include breakpoint($desktop) {
      @include breakpoint-font-style(36px, 44px);
    }
  }

  &__text {
    @include font-style(400, 12px, 15px);

    color: $aqua;
  }

  &__content {
    grid-column: 1 / -1;

    @include grid(2) {
      row-gap: 30px;
    }

    @include media-breakpoint($tablet, 8);
  }

  &__article {
    grid-column: 1 / -1;

    @include flex(column, 20px);

    &:hover {
      & > p {
        display: block;
        height: 72px;
      }
    }

    @include breakpoint($tablet) {
      align-items: center;
      padding: $retreat;

      &:first-child {
        grid-column: 1 / 5;
      }

      &:nth-child(2) {
        grid-column: 5 / -1;
      }

      &:nth-child(3) {
        grid-column: 1 / 5;
      }

      &:last-child {
        grid-column: 5 / -1;
      }

      @include hover(box-shadow, $shadow-click, $time-average) {
        & > div {
          transform: $scale;
        }

        & > p {
          height: 100%;
        }
      }
    }

    @include breakpoint($desktop) {
      &:first-child {
        grid-column: 1 / 3;
      }

      &:nth-child(2) {
        grid-column: 3 / 5;
      }

      &:nth-child(3) {
        grid-column: 5 / 7;
      }

      &:last-child {
        grid-column: 7 / 9;
      }
    }
  }

  &__image {
    display: none;
    width: 100px;
    height: 100px;
    transition: $time-average;

    @include breakpoint($tablet) {
      display: block;
    }
  }

  &__subtitle {
    font-weight: 900;
  }

  &__description {
    cursor: text;
    text-wrap: balance;

    transition: all $time-average;
    height: 48px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include breakpoint($tablet) {
      text-align: center;
      display: block;
      height: 100%;
    }
  }
}

.contact {
  background: $gradient;

  &__container {
    position: relative;

    @include flex(column, 20px);
    @extend %base-retreat-container;

    padding: 50px $retreat;

    @include breakpoint($tablet) {
      padding-bottom: 100px;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__top {
    @include flex(column, 40px);

    &--wrapper-title {
      @include flex(column, 10px);
    }

    &--wrapper-addittion-info {
      display: none;

      @include breakpoint($tablet) {
        @include flex(column, 60px);
      }
    }
  }

  &__text {
    color: $aqua;
  }

  &__title {
    &--span {
      font-weight: 400;
      color: $aqua;
    }

    @include breakpoint($desktop) {
      @include breakpoint-font-style(36px, 44px);
    }
  }

  &__contacts {
    @include flex(column, 10px);
  }

  &__link {
    @extend %mouse-pointer;

    color: $light-gray;
  }

  &__content {
    grid-column: 1 / -1;

    @include flex(column, 20px);

    @include breakpoint($tablet) {
      flex-basis: 50%;
      gap: 50px;
    }
  }

  &__form {
    @include flex(column, 20px);

    user-select: none;

    & > label {
      @include flex(column, 0);

      color: $light-gray;

      @include hover(color, $aqua, $time-average) {
        & > input,
        textarea {
          border-bottom: 1px solid $aqua;
        }
      }
    }

    &--input {
      @include font-style(400, 16px, 24px);

      padding: 3px 10px;
      border: none;
      border-bottom: 1px solid $gray;
      transition: all $time-average;

      color: $aqua;
      background-color: transparent;

      &:last-child {
        resize: none;
      }

      &:focus {
        border-bottom: 1px solid $aqua;
      }
    }

    &--message-error {
      font-style: italic;
      height: 20px;

      color: $aqua;
      text-shadow: $shadow-click;

      transition: $time-average;
      transform: scale(0);
    }

    &--btn {
      @include font-style(500, 16px, 48px);
      @extend %mouse-pointer;

      width: 100%;

      border: none;
      border-radius: 4px;

      color: $white;
      background-color: $aqua;

      @include hover(box-shadow, 0 0 10px $aqua, $time-fast) {
        text-shadow: 0 0 10px $white;
      }

      @include active(transform, scale(0.98)) {
        box-shadow: inset 0 0 5px $black;
        background-color: rgba($color: $aqua, $alpha: 0.5);
      }

      @include breakpoint($tablet) {
        grid-column: 1 / 2;
        width: 200px;
      }
    }

    &--btn-message {
      position: absolute;
      bottom: 40px;

      max-width: 300px;
      height: 40px;
      padding: 10px;

      border-radius: 10px;
      background-color: $black;
      border: 1px solid rgba($color: $white, $alpha: 0.3);

      @include breakpoint($tablet) {
        left: 26px;
        bottom: 96px;
      }

      @include breakpoint($desktop) {
        left: 320px;
      }
    }
  }

  &__bottom {
    @include flex(column, 20px) {
      justify-content: space-between;
    }

    @include breakpoint($tablet) {
      flex-direction: row;
    }
  }

  &__btn-up {
    position: relative;
    display: none;

    @extend %mouse-pointer;
    @extend %animation-moving-up;

    width: 48px;
    height: 48px;

    border: 1px solid $aqua;
    border-radius: 50%;

    @include hover(transform, $scale, $time-fast) {
      box-shadow: $shadow-click;

      &::before,
      &::after {
        box-shadow: 0 0 5px $aqua;
      }
    }

    @include active(transform, scale(0.98)) {
      box-shadow: inset $shadow-click;
    }

    @include breakpoint($tablet) {
      display: block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 49%;

      width: 16px;
      height: 1px;
      background-color: $aqua;
    }

    &::before {
      transform: rotate(-45deg);
      left: 10px;
    }

    &::after {
      transform: rotate(45deg);
      right: 10px;
    }
  }
}

.about-product {
  background: $gradient;

  &__container {
    @include grid(2) {
      row-gap: 20px;
    }

    @extend %base-retreat-container;

    padding: 50px $retreat;

    @include media-breakpoint($tablet, 8) {
      column-gap: 40px;
    }

    @include media-breakpoint($desktop, 12);
  }

  &__title {
    grid-column: 1 / -1;

    &--span {
      font-weight: 400;
      color: $aqua;
    }

    @include breakpoint($desktop) {
      @include breakpoint-font-style(36px, 44px);
    }
  }

  &__slider-block {
    @include flex(column, 20px);

    grid-column: 1 / -1;

    @include breakpoint($tablet) {
      grid-column: 1 / 5;
    }

    @include breakpoint($desktop) {
      grid-column: 2 / 7;
    }
  }

  &__slider {
    @include flex(row, 0);

    overflow: hidden;
  }

  &__display-current {
    position: relative;
    z-index: 1;
    display: none;
    color: $aqua;

    @include breakpoint($desktop) {
      @include flex(row, 3px);
    }
  }

  &__sliders {
    @include flex(row, 0);

    transition: transform $time-average ease-in-out;
    width: 100%;
    height: 240px;

    @include breakpoint($desktop) {
      height: 300px;
    }
  }

  &__slide {
    object-fit: contain;
    flex-shrink: 0;

    &--active {
      pointer-events: none;
      color: $light-gray;
    }
  }

  &__navigation {
    @include flex(row, 20px) {
      justify-content: center;
    }

    &--switch {
      width: 6px;
      height: 6px;

      background-color: $gray;
      border-radius: 50%;
    }

    input[name='switch']:checked + label {
      background-color: $aqua;
      box-shadow: $shadow-click;
    }

    @include breakpoint($desktop) {
      display: none;
    }
  }

  &__clone-navigation {
    display: none;
    width: 208px;
    padding-left: 36px;

    @include breakpoint($desktop) {
      @include flex(column, 10px);
    }
  }

  &__article-1 {
    @include flex(column, 50px);

    grid-column: 1 / -1;

    @include breakpoint($tablet) {
      grid-column: 5 / -1;
      row-gap: 20px;
    }

    @include breakpoint($desktop) {
      grid-column: 8 / -1;
      align-self: start;
      row-gap: 40px;
    }
  }

  &__article-2 {
    @include flex(column, 30px);

    grid-column: 1 / -1;
    margin-top: 50px;

    @include breakpoint($tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    @include breakpoint($desktop) {
      grid-column: 2 / 12;
    }
  }

  &__wrapper {
    @include flex(column, 30px);

    @include breakpoint($tablet) {
      flex-basis: 70%;
    }

    @include breakpoint($desktop) {
      flex-basis: 40%;
    }
  }

  &__box-title {
    @include flex(column, 10px);

    &--text {
      color: $aqua;
    }
  }

  &__text-images {
    display: none;

    @include breakpoint($tablet) {
      @include flex(row, 40px);
    }

    @include breakpoint($desktop) {
      gap: 60px;
    }

    & > img {
      height: 256px;

      @include breakpoint($desktop) {
        height: 342px;
      }

      &:nth-child(even) {
        transform: rotate(180deg);
      }

      @include breakpoint($tablet) {
        &:nth-child(n + 4) {
          display: none;
        }
      }

      @include breakpoint($desktop) {
        &:nth-child(n + 4) {
          display: block;
        }
      }
    }
  }
}

.tech-specs {
  &__container {
    @include flex(column, 50px);
    @extend %base-retreat-container;

    padding: 80px $retreat;

    @include breakpoint($tablet) {
      padding: 80px 32px;
    }

    @include breakpoint($desktop) {
      margin-top: 100px;
      gap: 80px;
      padding: 30px 110px 0;
    }
  }

  &__title {
    &--span {
      color: $aqua;
    }

    @include breakpoint($desktop) {
      @include breakpoint-font-style(36px, 44px);

      padding-right: 110px;
      text-align: end;
    }

    @include breakpoint($design) {
      padding-right: 150px;
    }
  }

  &__content {
    position: relative;
    width: 100%;

    @include flex(row, 0) {
      justify-content: center;
    }
  }

  &__canvas-for-line {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
  }

  &__box-images {
    position: relative;

    padding: 20px;

    &::before {
      position: absolute;
      display: none;
      content: '';

      @extend %animation-rotate-brightness;

      background-image: url(../icon/img_ellipse.svg);
      background-size: contain;
      background-repeat: no-repeat;

      width: 100%;
      height: 200px;

      left: 10px;
      top: 95px;

      @include breakpoint($desktop) {
        display: block;
      }
    }
  }

  &__line {
    position: absolute;
    z-index: 1;
    transform: scale(0);

    @include animation-brightness(200%, 50%);

    &:nth-of-type(2) {
      bottom: 140px;
    }

    @include breakpoint($desktop) {
      transform: $click-scale;
    }
  }

  &__image {
    @extend %animation-scaling-rotate;

    width: 200px;

    @include breakpoint($tablet) {
      width: 360px;
    }

    @include breakpoint($desktop) {
      animation: none;
    }
  }

  &__icon {
    position: absolute;

    @extend %mouse-pointer;

    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $aqua;

    @include hover(transform, $scale, $time-fast) {
      box-shadow: $shadow-click;

      &::before,
      &::after {
        box-shadow: $shadow-white;
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 30%;
      width: 16px;
      height: 1px;

      transition: all $time-average;
      transform-origin: center;
      background-color: $white;

      @include breakpoint($tablet) {
        width: 24px;
        height: 2px;
      }
    }

    &::after {
      transform: rotate(90deg);
    }

    &--active {
      &::before,
      &::after {
        transform: rotate(360deg);
      }
    }

    &:first-of-type {
      top: 10px;
      left: 80px;
    }

    &:nth-of-type(2) {
      top: 100px;
      right: 50px;
    }

    &:last-of-type {
      left: 10px;
      bottom: 30px;
    }

    @include breakpoint($tablet) {
      width: 60px;
      height: 60px;

      &:first-of-type {
        top: 0;
      }

      &:nth-of-type(2) {
        top: 170px;
        right: 68px;
      }

      &:last-of-type {
        left: 0;
      }
    }

    @include breakpoint($desktop) {
      display: none;
    }
  }

  &__article {
    position: absolute;

    @include flex(column, 20px);

    width: 100%;
    padding: 10px;

    transition: all $time-fast;
    transform: scale(0);

    border: 1px solid rgba($color: $white, $alpha: 0.3);
    border-radius: 10px;
    background-color: $dark-purple;

    @include breakpoint($tablet) {
      width: auto;
    }

    @include breakpoint($desktop) {
      transform: $click-scale;
      background-color: transparent;
      border: none;
    }

    &:first-of-type {
      top: -164px;

      @include breakpoint($tablet) {
        top: -50px;
        left: -30px;
      }

      @include breakpoint($desktop) {
        top: -25px;
        left: 0;
      }
    }

    &:nth-of-type(2) {
      top: 154px;

      @include breakpoint($tablet) {
        top: -50px;
        right: 0;
      }

      @include breakpoint($desktop) {
        top: -25px;
        right: -30px;
      }

      @include breakpoint($design) {
        right: 10px;
      }
    }

    &:last-of-type {
      @include breakpoint($tablet) {
        left: -30px;
        bottom: 100px;
      }

      @include breakpoint($desktop) {
        left: 50px;
        bottom: 30px;
      }
    }

    &--active {
      @extend %mouse-pointer;

      transform: $click-scale;
    }
  }
}

.benefits {
  background: $gradient;

  &__container {
    @include grid(2) {
      row-gap: 40px;
    }

    @extend %base-retreat-container;

    padding: 50px $retreat;

    @include breakpoint($desktop) {
      height: 100vh;
      padding: 100px $retreat;
    }
  }

  &__top {
    grid-column: 1 / -1;

    @include flex(column, 10px);

    @include breakpoint($tablet) {
      align-items: start;
    }

    @include breakpoint($desktop) {
      align-items: center;
    }
  }

  &__title {
    &--span {
      font-weight: 400;
      color: $aqua;
    }

    @include breakpoint($desktop) {
      @include breakpoint-font-style(36px, 44px);
    }
  }

  &__text {
    @include font-style(400, 12px, 15px);

    color: $aqua;
  }

  &__content {
    grid-column: 1 / -1;

    @include flex(column, 20px);

    @include breakpoint($tablet) {
      flex-direction: row;
    }
  }

  &__article {
    @include flex(column, 20px);

    &:hover {
      & > p {
        display: block;
        height: 90px;
      }
    }

    @include breakpoint($tablet) {
      align-items: center;
      padding: $retreat 3px;

      @include hover(box-shadow, $shadow-click, $time-average) {
        & > div {
          transform: $scale;
        }

        & > p {
          height: 100%;
        }
      }
    }
  }

  &__image {
    display: none;
    width: 100px;
    height: 100px;
    transition: $time-average;

    @include breakpoint($tablet) {
      display: block;
    }
  }

  &__subtitle {
    font-weight: 900;

    @include breakpoint($tablet) {
      font-size: 14px;
    }

    @include breakpoint($desktop) {
      font-size: 16px;
    }
  }

  &__description {
    cursor: text;
    text-wrap: balance;

    transition: all $time-average;
    height: 48px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    @include breakpoint($tablet) {
      text-align: center;
      display: block;
      height: 100%;
    }
  }
}
