.drop-down-menu {
  position: fixed;
  inset: 0;
  z-index: 1;
  overflow: hidden;

  transition: 1.2s ease-out;
  transform: scale(0);
  transform-origin: top right;

  background-color: $dark-purple;

  &__active {
    transform: scale(1);
    transform-origin: bottom;
  }

  &__top-bar {
    @include flex(row, 0) {
      justify-content: flex-end;
    }

    padding: $retreat;

    @include breakpoint($tablet) {
      padding: 34px;
    }
  }

  .drop-down-menu__icon {
    @extend %mouse-pointer;

    position: relative;

    width: 24px;
    height: 37px;

    &--element {
      @extend %icon-close;
    }

    @include hover(transform, $scale, $time-average) {
      & > span {
        box-shadow: $shadow-white;
      }
    }
  }
}

.menu {
  user-select: none;
  width: 100%;

  &__list {
    @include flex(column, 0);

    @include breakpoint($desktop) {
      justify-content: flex-end;
      flex-direction: row;
      gap: 40px;
    }
  }

  &__item {
    @extend %mouse-pointer;

    @include hover(background-color, $bark-dark-purple, $time-average) {
      & > a {
        color: $aqua;
      }
    }
  }

  &__link {
    @extend %h2;
    @extend %mouse-pointer;

    padding: $retreat;
    transition: $time-average;

    @include breakpoint($tablet) {
      padding: 108px 0 0 156px;
    }

    @include breakpoint($desktop) {
      padding: 0;
    }
  }
}
