.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 37px;
  }

  &__link {
    line-height: 100%;
    padding-block: 16px;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: $color-accent;

      transition: transform $transition-duration;
      transform: scale(0);
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
