.purchase-payment {
  @extend %drop-down-window;

  z-index: 6;
  transform-origin: center;

  &--active {
    @extend %drop-down-window-active;
  }

  &__top-bar {
    @include grid(2);

    @include media-breakpoint($desktop, 12) {
      @include content-centering($desktop);

      row-gap: 40px;
      padding: 20px 110px;
    }
  }

  &__top {
    @extend %top-bar-style;

    grid-column: 1 / -1;
    justify-content: space-between;

    @include breakpoint($desktop) {
      grid-column: 1 / 2;
    }
  }

  &__icon {
    @extend %mouse-pointer;
    @extend %icon-close;

    &--element {
      @extend%icon-close-element;
    }

    @include breakpoint($desktop) {
      display: none;
    }
  }

  &__navigation {
    grid-column: 1 / -1;

    @include grid(3) {
      column-gap: 0;
    }

    @include breakpoint($desktop) {
      grid-column: 2 / -1;
    }
  }

  &__label {
    position: relative;
    user-select: none;

    @include font-style(500, 12px, 16px);

    padding: 20px 0;
    text-align: center;
    align-items: center;
    transition: $time-average;

    color: $grayish;
    border-bottom: 1px solid $grayish;

    @include hover(transform, $small-scale, $time-average) {
      color: $aqua;
      border-radius: 5px;

      text-shadow: $shadow-click;
      box-shadow: inset $shadow-click;
    }

    @include breakpoint($desktop) {
      @include breakpoint-font-style(14px, 18px);

      border: none;

      &:hover {
        box-shadow: none;
      }
    }

    &--active {
      color: $aqua;
      text-shadow: $shadow-click;
      border-bottom: 1px solid $aqua;

      @include breakpoint($desktop) {
        border: none;

        &::after {
          position: absolute;
          content: '•';

          font-size: 20px;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0;

          color: $aqua;
        }
      }
    }

    &:last-child {
      pointer-events: none;
    }
  }

  &__container {
    @include grid(2) {
      row-gap: 40px;
    }

    @include content-centering($mobile);

    padding: 20px;
    transition: $time-average;

    @include media-breakpoint($tablet, 8) {
      @include content-centering($tablet);

      row-gap: 50px;
      padding: 30px 34px;
    }

    @include media-breakpoint($desktop, 12) {
      @include content-centering($desktop);

      row-gap: 40px;
      padding: 0 50px 110px;
    }
  }

  &__content-top {
    grid-column: 1 / -1;

    @include flex(column, 20px);

    @include breakpoint($desktop) {
      grid-column: 1 / 6;
    }
  }

  &__content {
    grid-column: 1 / -1;
    overflow: hidden;

    @include breakpoint($desktop) {
      grid-column: 6 / -1;
    }

    &--active {
      position: absolute;
      inset: 140px 0;

      height: 100vh;
      background-color: $dark-purple;

      @include breakpoint($tablet) {
        inset: 170px 0;
      }

      @include breakpoint($desktop) {
        inset: 110px 0;
      }
    }
  }

  &__image {
    display: none;

    @include breakpoint($tablet) {
      display: block;
      transform: scale(1.2) translateX(-10px);
    }
  }

  &__block-price {
    @include flex(row, 20px) {
      justify-content: space-between;
    }

    @include breakpoint($tablet) {
      gap: 20%;
      justify-content: flex-start;
      margin-left: 13%;
    }
  }

  &__wrapper {
    @include flex(column, 20px) {
      align-items: center;
    }
  }

  &__subtitle {
    user-select: none;
  }

  &__quantity-selection {
    position: relative;
  }

  &__quantity-window {
    @extend %mouse-pointer;

    @include flex(row, 0) {
      justify-content: center;
      align-items: center;
    }

    box-sizing: border-box;
    width: 90px;
    height: 41px;
    text-align: center;
    background-color: $dark-purple;

    &--active {
      border-top: 1px solid rgba($color: $white, $alpha: 0.3);
      border-left: 1px solid rgba($color: $white, $alpha: 0.3);
      border-right: 1px solid rgba($color: $white, $alpha: 0.3);
    }
  }

  &__quantity {
    @include font-style(400, 20px, 26px);

    user-select: none;
    flex-basis: 60%;
  }

  &__icon-arrow {
    @extend %angle-arrow;

    &--active {
      transform: rotate(270deg);
    }
  }

  &__selection-list {
    position: absolute;
    width: 98%;
    height: 0;
    transition: $time-average;
    background: $dark-purple;

    &--active {
      z-index: 2;
      height: 132px;
      padding-bottom: 10px;

      border-left: 1px solid rgba($color: $white, $alpha: 0.3);
      border-right: 1px solid rgba($color: $white, $alpha: 0.3);
      border-bottom: 1px solid rgba($color: $white, $alpha: 0.3);
    }
  }

  &__selection {
    @extend %mouse-pointer;

    width: 85%;
    height: inherit;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: rgba($color: $aqua, $alpha: 0.3);
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: $aqua;
      border-radius: 20px;
    }
  }

  &__option {
    @extend %mouse-pointer;
    @include font-style(400, 20px, 26px);

    text-align: center;
    padding-left: 10px;
  }

  &__price {
    @include font-style(500, 26px, 31px);

    user-select: none;
    width: 130px;
    color: $aqua;

    @include breakpoint($tablet) {
      @include breakpoint-font-style(36px, 44px);
    }
  }

  &__form {
    @include flex(row, 0);

    width: 100%;
    transition: $time-average ease-in-out;

    & > section {
      flex-shrink: 0;
      width: 100%;
    }

    @include breakpoint($desktop) {
      gap: 10px;
    }
  }

  &__user-data {
    @include grid(2) {
      row-gap: 20px;
    }

    @include media-breakpoint($tablet, 8);

    & > label {
      grid-column: 1 / -1;

      @include flex(column, 10px);
      @include font-style(400, 14px, 18px);

      color: $light-gray;

      & > select {
        @extend %mouse-pointer;

        height: 47px;
        background-color: $dark-purple;
      }

      @include hover(color, $aqua, $time-average) {
        & > input {
          border-bottom: 1px solid $aqua;
        }

        & > select {
          border-bottom: 1px solid $aqua;
        }
      }

      @include breakpoint($tablet) {
        &:nth-child(odd) {
          grid-column: 1 / 5;
        }

        &:nth-child(even) {
          grid-column: 5 / -1;
        }
      }
    }

    &--input {
      @include font-style(400, 16px, 24px);

      padding: 3px 10px;
      border: none;
      border-bottom: 1px solid $gray;
      transition: all $time-average;

      color: $aqua;
      background-color: transparent;

      &:focus {
        border-bottom: 1px solid $aqua;
      }
    }

    &--country,
    &--city {
      position: relative;
    }

    &--country-icon,
    &--city-icon {
      position: absolute;
      top: 44px;
      right: 20px;

      width: 9px;
      height: auto;
      aspect-ratio: 1;
      transform: rotate(90deg);
      transition: $time-average;

      &--active {
        transform: rotate(270deg);
      }
    }

    &--message-error {
      font-style: italic;
      height: 20px;

      color: $aqua;
      text-wrap: balance;
      text-shadow: $shadow-click;

      transition: $time-average;
      transform: scale(0);
    }

    &--btn {
      grid-column: 1 / -1;
      justify-self: center;
      margin-top: 10px;

      @extend %button-style;

      @include breakpoint($tablet) {
        grid-column: 2 / 8;
      }

      @include breakpoint($desktop) {
        grid-column: 1 / 4;
      }
    }

    &--btn-message {
      position: absolute;
      bottom: 40px;

      max-width: 300px;
      height: 40px;
      padding: 10px;

      border-radius: 10px;
      background-color: $black;
      border: 1px solid rgba($color: $white, $alpha: 0.3);

      @include breakpoint($tablet) {
        left: 26px;
        bottom: 96px;
      }

      @include breakpoint($desktop) {
        left: 320px;
      }
    }
  }

  &__credit-card {
    @include grid(2) {
      align-self: start;
      row-gap: 20px;
    }

    @include media-breakpoint($tablet, 8);

    &--label {
      color: $light-gray;
      transition: $time-average;

      &:has(.purchase-payment__credit-card--input-data:hover) {
        color: $aqua;
      }

      &:has(.purchase-payment__credit-card--input-data:focus) {
        color: $aqua;
      }
    }

    &--input-data {
      @include font-style(400, 18px, 24px);

      letter-spacing: 3px;
      border: none;
      border-bottom: 1px solid $gray;
      transition: all $time-average;

      color: $white;
      background-color: transparent;

      &:hover {
        border-bottom: 1px solid $aqua;
      }

      &:focus {
        border-bottom: 1px solid $aqua;
      }

      @include breakpoint($tablet) {
        @include breakpoint-font-style(20px, 26px);
      }
    }

    &--number-card {
      grid-column: 1 / -1;

      @include flex(column, 20px);

      @include breakpoint($tablet) {
        grid-column: 2 / 8;
      }

      @include breakpoint($desktop) {
        grid-column: 1 / 6;
      }
    }

    &--inputs {
      @include flex(row, 0) {
        justify-content: space-around;
        flex-wrap: wrap;
      }

      & > input {
        width: 56px;
      }

      @include breakpoint($tablet) {
        justify-content: space-between;

        & > input {
          width: 60px;
        }
      }
    }

    &--image {
      display: none;

      @include breakpoint($tablet) {
        display: block;
      }
    }

    &--holder-name {
      grid-column: 1 / -1;

      @include flex(column, 10px);

      @include breakpoint($tablet) {
        grid-column: 2 / 8;
      }

      @include breakpoint($desktop) {
        grid-column: 1 / 8;
      }
    }

    &--experation-date {
      grid-column: 1 / -1;

      @include flex(row, 40px);

      & > label {
        @include flex(column, 20px);

        &:first-of-type {
          width: 130px;

          & > input {
            width: 96px;
          }
        }

        &:last-child {
          width: 50px;
        }
      }

      @include breakpoint($tablet) {
        grid-column: 2 / 8;
      }

      @include breakpoint($desktop) {
        grid-column: 1 / 8;
      }
    }

    &--btn-box {
      grid-column: 1 / -1;
      margin-top: 20px;

      @include flex(column, 10px) {
        align-items: center;
      }

      & > span {
        text-align: center;
      }

      @include breakpoint($tablet) {
        grid-column: 2 / 8;
        margin-top: 120px;
        width: 100%;
      }

      @include breakpoint($desktop) {
        grid-column: 1 / 4;
        margin-top: 80px;
      }
    }

    &--btn {
      @extend %button-style;
    }
  }

  &__complete {
    @include flex(column, 30px);

    text-align: center;
    text-wrap: balance;
    padding: 100px 0;

    &--title {
      text-transform: uppercase;

      & > span {
        font-weight: 400;
        color: $aqua;
      }

      @include breakpoint($tablet) {
        @include breakpoint-font-style(46px, 60px);
      }
    }

    &--text {
      color: $white;
    }

    &--btn {
      @extend %button-style;

      align-self: center;
      width: clamp(280px, 75%, 458px);
    }
  }

  input[name='switch-pay']:checked + label {
    color: $aqua;
    text-shadow: $shadow-click;
    border-bottom: 1px solid $aqua;

    @include breakpoint($desktop) {
      border: none;

      &::after {
        position: absolute;
        content: '•';

        font-size: 20px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;

        color: $aqua;
      }
    }
  }
}
