.purchase-payment {
  @extend %drop-down-window;

  z-index: 6;
  background: $gradient;

  &--active {
    @extend %drop-down-window-active;
  }

  &__top-bar {
    @include grid(2);

    @include media-breakpoint($desktop, 12) {
      @include content-centering($desktop);

      row-gap: 40px;
      padding: 50px 110px;
    }
  }

  &__top {
    @extend %top-bar-style;

    grid-column: 1 / -1;
    justify-content: space-between;

    @include breakpoint($desktop) {
      grid-column: 1 / 3;
    }
  }

  &__icon {
    @extend %mouse-pointer;
    @extend %icon-close;

    &--element {
      @extend%icon-close-element;
    }

    @include breakpoint($desktop) {
      display: none;
    }
  }

  &__navigation {
    grid-column: 1 / -1;

    @include grid(3) {
      column-gap: 0;
    }

    text-align: center;

    @include breakpoint($desktop) {
      grid-column: 4 / -1;
    }
  }

  &__label {
    position: relative;
    user-select: none;

    @include font-style(500, 12px, 16px);

    padding: 20px 0;
    align-items: center;
    transition: $time-average;

    color: $grayish;
    border-bottom: 1px solid $grayish;

    @include hover(transform, $small-scale, $time-average) {
      color: $aqua;
      border-radius: 5px;

      text-shadow: $shadow-click;
      box-shadow: inset $shadow-click;
    }

    @include breakpoint($desktop) {
      @include breakpoint-font-style(14px, 18px);

      border: none;

      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;

        font-size: 24px;
        transform: translateX(-50%);

        color: $aqua;
        box-shadow: $click-scale;
      }
    }
  }

  input[name='switch-pay']:checked + label {
    color: $aqua;
    text-shadow: $shadow-click;
    border-bottom: 1px solid $aqua;

    @include breakpoint($desktop) {
      border: none;

      &::after {
        content: '•';
      }
    }
  }

  &__container {
    @include content-centering($mobile);

    padding: 20px;
    transition: $time-average;

    @include media-breakpoint($tablet, 8) {
      @include content-centering($tablet);

      row-gap: 50px;
      padding: 30px 34px;
    }

    @include media-breakpoint($desktop, 12) {
      @include content-centering($desktop);

      row-gap: 40px;
      padding: 50px 110px;
    }
  }

  &__content-top {
    @include flex(column, 20px);
  }

  &__image {
    display: none;

    @include breakpoint($tablet) {
      display: block;
    }
  }

  &__block-price {
    @include flex(row, 20px) {
      justify-content: space-between;
    }

    @include breakpoint($tablet) {
      justify-content: space-around;
    }
  }

  &__wrapper {
    @include flex(column, 20px) {
      align-items: center;
    }
  }

  &__subtitle {
    user-select: none;
  }

  &__quantity-selection {
    position: relative;
  }

  &__quantity-window {
    @extend %mouse-pointer;

    @include flex(row, 0) {
      justify-content: center;
      align-items: center;
    }

    box-sizing: border-box;
    width: 90px;
    height: 41px;
    text-align: center;
    background-color: $dark-purple;

    &--active {
      border-top: 1px solid rgba($color: $white, $alpha: 0.3);
      border-left: 1px solid rgba($color: $white, $alpha: 0.3);
      border-right: 1px solid rgba($color: $white, $alpha: 0.3);
    }
  }

  &__quantity {
    @include font-style(400, 20px, 26px);

    user-select: none;
    flex-basis: 60%;
  }

  &__icon-arrow {
    @extend %angle-arrow;

    &--active {
      transform: rotate(270deg);
    }
  }

  &__selection-list {
    position: absolute;
    width: 98%;
    height: 0;
    transition: $time-average;
    background: $dark-purple;

    &--active {
      z-index: 2;
      height: 132px;
      padding-bottom: 10px;

      border-left: 1px solid rgba($color: $white, $alpha: 0.3);
      border-right: 1px solid rgba($color: $white, $alpha: 0.3);
      border-bottom: 1px solid rgba($color: $white, $alpha: 0.3);
    }
  }

  &__selection {
    @extend %mouse-pointer;

    width: 85%;
    height: inherit;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: rgba($color: $aqua, $alpha: 0.3);
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: $aqua;
      border-radius: 20px;
    }
  }

  &__option {
    @extend %mouse-pointer;
    @include font-style(400, 20px, 26px);

    text-align: center;
    padding-left: 10px;
  }

  &__price {
    @include font-style(500, 26px, 31px);

    user-select: none;
    color: $aqua;
  }
}
