.top-bar {
  @include flex(row, 0);

  @include breakpoint($desktop) {
    position: fixed;
    z-index: 5;
    inset: 0;

    height: 90px;
    background: $gradient-top-bar;
  }

  &__container {
    @include flex(row, 0) {
      align-items: center;
      justify-content: space-between;
    }

    width: 100%;

    @include breakpoint($desktop) {
      @include content-centering($desktop);

      gap: 20px;
      padding: 30px 110px;
    }
  }

  &__box-logo {
    width: 80px;
  }

  &__logo {
    @include flex(row, 2px);
    @extend %mouse-pointer;

    user-select: none;
    height: 18px;

    &--letter {
      @extend %animation-bounce;

      &:nth-child(3) {
        margin-left: -3px;
      }
    }

    @include hover(transform, $scale, $time_average);
  }

  &__icon {
    @extend %angle-arrow;
  }

  &__btn {
    position: fixed;
    left: 50%;
    bottom: 10px;

    @include font-style(500, 14px, 40px);
    @extend %animation-bounce-btn;
    @extend %mouse-pointer;

    pointer-events: none;
    width: 280px;
    z-index: 1;

    border-radius: 4px;
    border: none;

    color: $white;
    background-color: $aqua;

    &--active {
      pointer-events: all;
      transition: $time-average;
    }

    @include hover(box-shadow, 0 0 10px $aqua, $time-fast) {
      & > h5 {
        text-shadow: 0 0 10px $white;
      }
    }

    @include active(transform, scale(0.98)) {
      box-shadow: inset 0 0 5px $black;
      background-color: rgba($color: $aqua, $alpha: 0.5);
    }

    @include breakpoint($tablet) {
      width: 458px;
    }

    @include breakpoint($desktop) {
      pointer-events: all;
      position: static;
      order: 1;
      width: 200px;

      @keyframes bounce-btn {
        0% {
          transform: scale(1) translateY(0);
        }
        100% {
          transform: scale(1.05) translateY(-5px);
        }
      }
    }
  }

  &__menu {
    position: relative;
    width: 25px;
    height: 18px;

    @extend %mouse-pointer;
    @extend %animation-bounce;

    &--icon {
      position: absolute;
      width: 100%;
      height: 2px;

      transition:
        $time-fast $time-fast,
        transform $time-fast cubic-bezier(0.23, 1, 0.32, 1);

      border-radius: 5px;
      background-color: $white;

      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: 47%;
        left: -10px;
      }

      &:last-child {
        bottom: 0;
      }
    }

    @include hover(transform, $scale, $time-fast) {
      .top-bar__menu--icon {
        box-shadow: $shadow-white;

        &:first-child {
          top: -3px;
        }

        &:nth-child(2) {
          left: 0;
        }

        &:last-child {
          bottom: -3px;
        }
      }
    }

    &--active {
      .top-bar__menu--icon {
        box-shadow: $shadow-white;

        &:first-child {
          top: 8px;
        }

        &:nth-child(2) {
          left: 0;
        }

        &:last-child {
          bottom: 8px;
        }
      }

      &:hover {
        .top-bar__menu--icon {
          box-shadow: $shadow-white;

          &:first-child {
            top: 8px;
          }

          &:nth-child(2) {
            left: 0;
          }

          &:last-child {
            bottom: 8px;
          }
        }
      }
    }

    @include breakpoint($desktop) {
      display: none;
    }
  }
}
