<!doctype html>
<nav
  class="page__menu--complete complete"
  id="complete"
>
  <div class="container__menu">
    <div class="menu__content">
      <div class="buy__top">
        <a
          href="#"
          class="icon icon--logo"
        ></a>
        <a
          href="#"
          class="buy__icon icon--cross"
        ></a>
        <ul class="buy__list">
          <li class="buy__item buy__item--place">
            <a
              href="#buy"
              class="buy__link"
            >
              Place Order
            </a>
          </li>
          <li class="buy__item buy__item--pay">
            <a
              href="#pay"
              class="buy__link"
            >
              Pay
            </a>
          </li>
          <li class="buy__item-active buy__item--complete">
            <a
              href="#complete"
              class="buy__link buy__link--complete"
            >
              Complete
            </a>
          </li>
        </ul>
      </div>

      <div class="complete__content">
        <h1 class="complete__title">
          Thank you for

          <div class="complete__title-blue">your</div>
          order!
        </h1>
        <p class="complete__paragraph">
          Your order has been placed and is being processed. You will recive an
          email with the order details
        </p>
        <a
          href="#"
          class="complete__button"
        >
          Back to homepage
        </a>
      </div>
    </div>
  </div>
</nav>
