.about {
  padding: 50px 20px;
  background: linear-gradient(146.86deg, $dark-blue -0.5%, #000 99.5%);

  &__tittle {
    display: block;
    margin-bottom: 20px;
  }

  &__gallery {
    height: 34vh;
    overflow: hidden;
  }

  &__slider {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: auto;
    transform: translateX(0%);
    transition: transform 0.3s;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__photo {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--1 {
      background-image: url(../images/Product-on-belt.png);
    }

    &--2 {
      background-image: url(../images/Product-on-belt.png);
    }

    &--3 {
      background-image: url(../images/Product-on-belt.png);
    }

    &--4 {
      background-image: url(../images/Product-on-belt.png);
    }

    &--5 {
      background-image: url(../images/Product-on-belt.png);
    }
  }

  &__ellipses {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__ellipce {
    height: 4px;
    width: 4px;
    background-image: url(../images/Ellipse.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 6px;

    &--active {
      background-image: url(../images/Ellipse-active.svg);
    }
  }

  &__text {
    margin-bottom: 15px;
  }

  &__play-button-wrapper {
    display: flex;
    justify-content: center;
  }

  &__play-button {
    display: block;
    margin-bottom: 80px;
  }

  &__comment {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 15px;
    color: $contrast-color;
  }
}
