.address {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  &__phone,
  &__email {
    text-decoration: none;
    color: $text-color;
    font-size: 13px;
    font-family: $text-style;
    font-weight: 400;
    transition: 0.3s ease;

    &:hover,
    &:hover {
      color: $constant-color
    }
  }
}




