.aside-buy-order {
  &__container {
    display: flex;
    gap: 30px;
    justify-content: space-between;

    @include on-tablet {
      flex-direction: column;
    }
  }

  &__select {
    margin-top: 13px;
    position: relative;
  }

  &__form {
    flex: 0 1 50%;

    @include on-tablet {
      flex: 0 1 100%;
    }
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    row-gap: 35px;

    @include on-mobile {
      flex-direction: column;
    }
  }

  &__field {
    padding: 0 10px;
    flex: 0 1 50%;
    width: 100%;

    input {
      width: 100%;
    }
  }

  &__placeholder {
    left: 10px;
  }

  &__number {
    margin-top: 20px;
  }

  &__country {
    font-size: 14px;
  }

  &__city {
    font-size: 14px;
  }

  &__button {
    margin-top: 70px;
  }
}
