.block {
  box-sizing: border-box;
  padding: 18px 12px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  border: 1px solid $contrast-color;
  border-radius: 4px;
  cursor: pointer;

  &:focus &__hidden {
    max-height: 610px;
  }

  &__tittle {
    color: $contrast-color;
  }

  &__hidden {
    max-height: 0;
    overflow: hidden;
    transition: all 0.8s;
  }

  &__answer {
    margin-top: 18px;
    margin-bottom: 10px;
    color: $text-color;
  }

  &__updated {
    font-size: 12px;
    line-height: 18px;
    color: #545454;
  }
}
