.bottom {
  display: none;

  @include on-desktop {
    margin-bottom: 84px;
    display: block;
    grid-column: 1 / -1;
    z-index: 2;
  }

  @include on-desktopxl {
    margin-bottom: 107px;
  }

  &__list {
    @include page-grid;
    
    align-items: start;
  }

  &__left {
    @include on-desktop {
      grid-column: 1 / 4;
      display: flex;
      gap: 39px;
    }
  }

  &__center {
    @include on-desktop {
      grid-column: 4 / 10;
      justify-self: center;
    }

    @include on-desktopxl {
      grid-column: 4 / 14;
    }
  }

  &__right {
    @include on-desktop {
      grid-column: -4 / -1;
      justify-self: end;
    }
  }

  &__link {
    line-height: 24px;

    &--more {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 7px;
      color: $secondary-color;
    }
  }
}
