.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $constant-color;
  text-decoration: none;
  font-family: $text-style;
  color: $white-accent;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  width: 100%;
  max-width: 458px;
  height: 40px;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
  z-index: 998;

  &:hover {
    color:  $constant-color;
    background-color: $white-accent;
  }

  &.disabled {
    background-color: $menu-bg;
    color: $text-color;
    cursor: not-allowed;
  }
}
