.button {
  cursor: pointer;
  padding-block: 13px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  border: none;
  background: $clr--blue;

  color: $clr--white;
  text-align: center;
  font-family: $font--main;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;

  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: $clr--blue;
    background: $clr--white;
  }
}

.button-play {
  cursor: pointer;
  position: relative;

  width: 236px;
  height: 48px;

  display: flex;
  align-items: center;

  border: none;
  background-color: transparent;

  svg {
    position: absolute;
    left: 30px;
    width: 24px;
    height: 23px;
    color: $clr--blue;

    transition: color 0.3s ease-in-out;
  }

  &:hover svg {
    color: $clr--white;
  }

  span {
    position: absolute;
    left: auto;
    right: 30px;
    color: $clr--white;
    font-family: $font--main;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
  }
}
