.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  border: none;
  box-sizing: border-box;
  color: $whiteC;
  background-color: $cyanC;
  border-radius: 4px;
  transition-duration: $effectDuration;
  width: 100%;
  height: 40px;

  @include on-tablet {
    width: 200px;
    height: 48px;
  }

  &:hover {
    color: $cyanC;
    background-color: $whiteC;
  }

  &:active {
    color: $cyanC;
    background-color: $whiteC;
  }

  &:disabled {
    color: $ralphLaurenC;
    background-color: $darkBlueMagentaC;
  }
}

.button-play {
  cursor: pointer;
  display: flex;
  background-color: transparent;
  border: none;
  background-image: url(../images/common-images/video-player-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;
  padding: 0;
  height: 70px;
  align-items: center;
  transition-duration: $effectDuration;
}

.button-play:hover {
  background-image: url(../images/common-images/video-player-button-white.svg);
}

.slider-control__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: $whiteC;
  border: none;
  transition-duration: $effectDuration;
  padding: 0;

  @include hover(scale, 1.1);

  &:hover {
    color: $cyanC;
  }
}

.scroll-up__link {
  display: none;

  @include on-tablet {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 48px;
    height: 48px;
  }
}

.scroll-up__button {
  display: none;

  @include on-tablet {
    display: flex;
    width: 100%;
    height: 100%;
    transition-duration: $effectDuration;

    @include hover(scale, 1.1);
  }
}
