.complite {
  grid-column: 1 / -1;
  flex-direction: column;
  margin-top: 90px;
  text-align: center;

  &__title {
    text-transform: uppercase;
    grid-column: 1 / -1;

    @include on-tablet {
      font-size: 46px;
    }

    @include on-small-desktop {
      font-size: 46px;
      grid-column: 2 / -2;
    }
  }

  &__subtitle {
    color: $c-white;
    grid-column: 1 / -1;

    @include on-small-desktop {
      grid-column: 2 / -2;
    }
  }

  &__button {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-small-desktop {
      width: 218px;
      justify-self: center;
    }
  }
}
