.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 50px 20px;

  @include tablet {
    padding: 70px 35px;
    max-width: 820px;
  }

  &--first {
    padding: 20px 20px;

    @include tablet {
      padding: 30px 35px 60px;
    }
  }

  &--last {
    @include tablet {
      padding: 25px 35px;
      display: flex;
      justify-content: space-between;
    }
  }
}
