.contact {
  padding: 50px 20px;
  background-color: $bg-black;

  &__comment {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: $contrast-color;
  }

  &__tittle {
    display: block;
    margin-bottom: 30px;
  }

  &__form {
    display: grid;
    grid-template-rows: 50px 70px 70px 100px;
    margin-bottom: 27px;
  }

  &__small-text {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: $text-color;
  }
}
