.contact {
  padding: 50px 20px;
  background-color: $bg-black;

  &__comment {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: $contrast-color;
  }

  &__tittle {
    margin-bottom: 30px;
  }

  &__form {
    margin-bottom: 27px;
  }

  &__small-text {
    font-size: 12px;
    line-height: 18px;
    color: $text-color;
  }
}
