.contacts {
  &__contact {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $greyC;
    transition-duration: $effectDuration;
    width: max-content;

    &:hover {
      color: $cyanC;
    }
  }
}
