.faq {
  height: max-content;
  overflow: auto;

  &__top {
    display: flex;
    justify-content: flex-start;
  }

  &__tittle {
    margin-bottom: 30px;
    font-size: 21px;
    line-height: 27px;
  }

  &__content {
    padding: 0 20px;
  }

  &__block {
    margin-bottom: 12px;
  }
}
