.get-in-touch {
  &__container {
    display: flex;
    gap: 20px;

    @include on-mobile {
      gap: 0px;
      flex-direction: column;
    }
  }

  &__content {
    flex: 0 1 50%;

    @include on-mobile {
      flex: 0 1 100%;
    }
  }

  &__title {
    margin-top: 13px;

    @include on-tablet {
      margin-top: 13px;
    }
  }

  &__text {
    margin-top: 26px;

    @include on-tablet {
      margin-top: 50px;
    }

    @include on-mobile {
      font-size: 12px;
      margin-top: 30px;

      &.show-title {
        opacity: 1;
        transform: none;
      }
    }
  }

  &__list-info {
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    @include on-mobile {
      display: none;
    }
  }

  &__form {
    flex: 0 1 50%;

    @include on-mobile {
      margin-top: 32px;
      flex: 0 1 100%;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__field {
  }

  &__input {
  }

  &__placeholder {
  }

  &__name {
  }

  &__email {
  }

  &__phone {
  }

  &__textarea {
    textarea {
      height: 88px;
      resize: none;
      padding-top: 20px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;

    @include on-tablet {
      margin-top: 48px;
    }

    @include on-mobile {
      margin-top: 30px;
    }
  }

  &__send {
  }
}

.placehodler__message--error {
  display: none;
}
