
.grid {
  display: grid;
  gap: 0 20px;

  &--size {
    // @include onMobile {
    //   grid-template-columns: repeat(2, 1fr);
    // }

    @include onTablet {
      grid-template-columns: repeat(6, 1fr);
    }

    @include onNotebook {
      grid-template-columns: repeat(12, 1fr);
    }

    @include onDesign {
      grid-template-columns: repeat(16, 1fr);
    }
  }

  &--fromTablet {
    display: block;

    @include onTablet {
      display: grid;
    }
  }

  &--item {

    &--1-2 {
      grid-column: 1 / 3;
    }

    &--3-4 {
      grid-column: 3 / 5;
    }

    &--1-last {
      grid-column: 1 / -1;
    }

    &--4-last {
      grid-column: 4 / -1;
    }

    &--1-3 {
      grid-column: 1 / 4;
    }

    &--1-4 {
      grid-column: 1 / 5;
    }

    &--5-last {
      grid-column: 5 / -1;
    }
  }
}
