/* stylelint-disable max-line-length, string-no-newline */

.grid {
  display: grid;
  gap: 0 20px;

  @include onMobile {
    display: block;
  }

  @include onTablet {
    display: grid;
  }

  &--size {
    @include onTablet {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat (6, 1fr);
    }

    @include onNotebook {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat (6, 1fr);
    }

    @include onFullHD {
      grid-template-columns: repeat(16, 1fr);
      grid-template-rows: repeat (6, 1fr);
    }
  }

  &--item {
    @for $start from 1 through $gridCount {
      @for $end from $start through $gridCount {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }
  }

  &__header {

    @include onTablet {
      grid-template-areas: "nav nav nav nav nav nav"
        "product product product photo photo photo"
        "product product product photo photo photo"
        "product product product photo photo photo"
        "product product product photo photo photo"
        "product product product photo photo photo";
    }

    @include onNotebook {
      grid-template-areas: "nav nav nav nav nav nav nav nav nav nav nav nav"
        "product product product product product product photo photo photo photo photo photo"
        "product product product product product product photo photo photo photo photo photo"
        "product product product product product product photo photo photo photo photo photo"
        "product product product product product product photo photo photo photo photo photo"
        "product product product product product product photo photo photo photo photo photo";
    }

    @include onFullHD {
      grid-template-areas: "nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav nav"
        "product product product product product product photo photo photo photo photo photo photo photo photo photo"
        "product product product product product product photo photo photo photo photo photo photo photo photo photo"
        "product product product product product product photo photo photo photo photo photo photo photo photo photo"
        "product product product product product product photo photo photo photo photo photo photo photo photo photo"
        "product product product product product product photo photo photo photo photo photo photo photo photo photo";
    }
  }

  &__main {

    &-interested {
      @include onTablet {
        grid-template-areas: "title title title title title title"
          "title title title title title title"
          "education education education estate estate estate"
          "education education education estate estate estate"
          "fitness fitness fitness social social social"
          "fitness fitness fitness social social social";
      }

      @include onNotebook {
        grid-template-areas: "title title title title title title title title title title title title"
          "title title title title title title title title title title title title"
          "title title title title title title title title title title title title"
          "education education education estate estate estate fitness fitness fitness social social social"
          "education education education estate estate estate fitness fitness fitness social social social"
          "education education education estate estate estate fitness fitness fitness social social social";
      }

      @include onFullHD {
        grid-template-areas: "title title title title title title title title title title title title title title title title"
          "title title title title title title title title title title title title title title title title"
          "title title title title title title title title title title title title title title title title"
          "education education education education estate estate estate estate fitness fitness fitness fitness social social social social"
          "education education education education estate estate estate estate fitness fitness fitness fitness social social social social"
          "education education education education estate estate estate estate fitness fitness fitness fitness social social social social";
      }
    }

    &-about {
      @include onTablet {
        grid-template-areas: "photo photo photo title title title"
          "photo photo photo description description description"
          "photo photo photo description description description"
          "choser choser choser choser1 choser1 choser1"
          "wellcome wellcome wellcome vertical vertical vertical"
          "wellcome wellcome wellcome vertical vertical vertical";
      }

      @include onNotebook {
        grid-template-areas: "photo1 photo1 photo photo photo photo photo title1 title title title title"
          "photo1 photo1 photo photo photo photo photo title1 description description description description"
          "photo1 photo1 photo photo photo photo photo title1 description description description description"
          "choser choser choser choser choser choser1 choser1 choser1 choser1 choser1 choser1 choser1"
          "wellcome wellcome wellcome wellcome wellcome vertical1 vertical vertical vertical vertical vertical vertical"
          "wellcome wellcome wellcome wellcome wellcome vertical1 vertical vertical vertical vertical vertical vertical";
      }

      @include onFullHD {
        grid-template-areas: "photo1 photo1 photo1 photo photo photo photo photo photo photo title1 title title title title title"
          "photo1 photo1 photo1 photo photo photo photo photo photo photo title1 description description description description description"
          "photo1 photo1 photo1 photo photo photo photo photo photo photo title1 description description description description description"
          "choser choser choser choser choser choser choser choser choser1 choser1 choser1 choser1 choser1 choser1 choser1 choser1"
          "wellcome1 wellcome wellcome wellcome wellcome wellcome wellcome vertical1 vertical vertical vertical vertical vertical vertical vertical vertical"
          "wellcome1 wellcome wellcome wellcome wellcome wellcome wellcome vertical1 vertical vertical vertical vertical vertical vertical vertical vertical";
      }
    }

    &-tech {
      @include onTablet {
        grid-template-areas: "title title title title title title"
          "photo photo photo photo photo photo"
          "photo photo photo photo photo photo"
          "photo photo photo photo photo photo"
          "photo photo photo photo photo photo"
          "photo photo photo photo photo photo";
      }

      @include onNotebook {
        grid-template-areas: "title1 title1 title1 title1 title1 title1 title1 title1 title title title title"
          "photo photo photo photo photo photo photo photo photo photo photo photo"
          "photo photo photo photo photo photo photo photo photo photo photo photo"
          "photo photo photo photo photo photo photo photo photo photo photo photo"
          "photo photo photo photo photo photo photo photo photo photo photo photo"
          "photo photo photo photo photo photo photo photo photo photo photo photo";
      }

      @include onFullHD {
        grid-template-areas: "title1 title1 title1 title1 title1 title1 title1 title1 title1 title1 title1 title title title title title"
          "photo photo photo photo photo photo photo photo photo photo photo photo photo photo photo photo"
          "photo photo photo photo photo photo photo photo photo photo photo photo photo photo photo photo"
          "photo photo photo photo photo photo photo photo photo photo photo photo photo photo photo photo"
          "photo photo photo photo photo photo photo photo photo photo photo photo photo photo photo photo"
          "photo photo photo photo photo photo photo photo photo photo photo photo photo photo photo photo";
      }
    }

    &-benefits {
      @include onTablet {
        grid-template-areas: "title title title title title title"
          "universal universal panel panel wireless wireless"
          "universal universal panel panel wireless wireless"
          "universal universal panel panel wireless wireless"
          "universal universal panel panel wireless wireless"
          "button button button button button button";
      }

      @include onNotebook {
        grid-template-areas: "title title title title title title title title title title title title"
          "universal universal universal universal panel panel panel panel wireless wireless wireless wireless"
          "universal universal universal universal panel panel panel panel wireless wireless wireless wireless"
          "universal universal universal universal panel panel panel panel wireless wireless wireless wireless"
          "universal universal universal universal panel panel panel panel wireless wireless wireless wireless"
          "button button button button button button button button button button button button";
      }

      @include onFullHD {
        grid-template-areas: "title title title title title title title title title title title title title title title title"
          "universal universal universal universal panel1 panel1 panel panel panel panel empty empty wireless wireless wireless wireless"
          "universal universal universal universal panel1 panel1 panel panel panel panel empty empty wireless wireless wireless wireless"
          "universal universal universal universal panel1 panel1 panel panel panel panel empty empty wireless wireless wireless wireless"
          "universal universal universal universal panel1 panel1 panel panel panel panel empty empty wireless wireless wireless wireless"
          "button button button button button button button button button button button button button button button button";
      }
    }

    &-contacts {
      @include onTablet {
        grid-template-areas: "title title title form form form"
          "contacts contacts contacts form form form"
          "contacts contacts contacts form form form"
          "contacts contacts contacts form form form"
          "contacts contacts contacts form form form"
          "empty1 empty1 empty1 button button button";
      }

      @include onNotebook {
        grid-template-areas: "title title title title title1 title1 form form form form form form"
          "contacts contacts contacts contacts empty empty form form form form form form"
          "contacts contacts contacts contacts empty empty form form form form form form"
          "contacts contacts contacts contacts empty empty form form form form form form"
          "contacts contacts contacts contacts empty empty form form form form form form"
          "empty1 empty1 empty1 empty1 empty1 empty1 button button button button button button";
      }

      @include onFullHD {
        grid-template-areas: "title title title title title1 title1 title1 title1 form form form form form form form form"
          "contacts contacts contacts contacts empty empty empty empty form form form form form form form form"
          "contacts contacts contacts contacts empty empty empty empty form form form form form form form form"
          "contacts contacts contacts contacts empty empty empty empty form form form form form form form form"
          "contacts contacts contacts contacts empty empty empty empty form form form form form form form form"
          "empty1 empty1 empty1 empty1 empty1 empty1 empty1 empty1 button button button button button button button button";
      }
    }
  }

  &__menuOrder {

    &--order {
      @include onTablet {
        grid-template-areas: "photo photo photo photo photo photo"
          "totally totally empty empty empty empty"
          "form form form form form form"
          "form form form form form form"
          "form form form form form form"
          "button button button button button button";
      }

      @include onNotebook {
        grid-template-areas: "photo photo photo photo photo photo form form form form form form"
          "photo photo photo photo photo photo form form form form form form"
          "photo photo photo photo photo photo form form form form form form"
          "photo photo photo photo photo photo form form form form form form"
          "photo photo photo photo photo photo form form form form form form"
          "totally totally totally empty empty empty form form form form form form";
      }

      @include onFullHD {
        grid-template-areas: "title title title title title1 title1 title1 title1 title1 title1 title1 title1 title1 title1 title1 title1"
          "photo photo photo photo photo photo photo photo form form form form form form form form"
          "photo photo photo photo photo photo photo photo form form form form form form form form"
          "photo photo photo photo photo photo photo photo form form form form form form form form"
          "photo photo photo photo photo photo photo photo form form form form form form form form"
          "totally totally totally empty1 empty1 empty1 empty1 empty1 form form form form form form form form";
      }

      &-form {
        @include onTablet {
          grid-template-areas: "fN fN fN LN LN LN"
            "email email email tN tN tN"
            "country country country city city city"
            "ship1 ship1 ship1 ship2 ship2 ship2"
            "ship1 ship1 ship1 ship2 ship2 ship2";
        }

        @include onNotebook {
          grid-template-areas: "fN fN fN fN fN fN LN LN LN LN LN LN"
            "email email email email email email tN tN tN tN tN tN"
            "country country country country country country city city city city city city"
            "ship1 ship1 ship1 ship1 ship1 ship1 ship2 ship2 ship2 ship2 ship2 ship2"
            "ship1 ship1 ship1 ship1 ship1 ship1 ship2 ship2 ship2 ship2 ship2 ship2";
        }

        @include onFullHD {
          grid-template-areas: "fN fN fN fN fN fN fN fN LN LN LN LN LN LN LN LN"
            "email email email email email email email email tN tN tN tN tN tN tN tN"
            "country country country country country country country country city city city city city city city city"
            "ship1 ship1 ship1 ship1 ship1 ship1 ship1 ship1 ship2 ship2 ship2 ship2 ship2 ship2 ship2 ship2"
            "ship1 ship1 ship1 ship1 ship1 ship1 ship1 ship1 ship2 ship2 ship2 ship2 ship2 ship2 ship2 ship2";
        }
      }

    }
  }

}

/* stylelint-disable */
