.header__bottom {
  display: none;

  @include onDesktop {
    grid-column: 1 / 7;
    padding-bottom: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--link {
    padding: 0;
    width: auto;

    padding-right: 39px;
    font-size: 16px;
    line-height: 150%;
  }
}
