.header {
  position: relative;
  background: linear-gradient(107.56deg, $dark-blue 0%, #000 100%);

  @include tablet {
    max-height: 445px;
  }

  @include desktop {
    height: 100vh;
    max-height: unset;
  }

  &__top-action {
    @include tablet {
      margin-bottom: 55px;
    }
  }

  &__img {
    @include tablet {
      position: absolute;
      margin: 0 auto;
      top: 50%;
      right: 50%;
      height: 50vh;
      width: 50vw;
      min-height: 250px;
      min-width: 350px;
      max-height: 550px;
      transform: translate(90%, -50%);
    }
  }

  &__products {
    height: 30vh;
    background-image: url(../images/Products-mobile.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include tablet {
      height: 100%;
      width: 100%;
      background-image: url(../images/Products-mobile.png);
    }
  }

  &__tittle {
    display: block;
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 14px;

    @include tablet {
      margin: 0 auto;
    }

    @include desktop {
      font-size: 46px;
      line-height: 60px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include tablet {
      margin: 0 auto;
    }
  }

  &__text {
    font-family: MarkProMedium, sans-serif;
    margin-bottom: 10px;

    @include tablet {
      width: 340px;
    }
  }

  &__price {
    margin-bottom: 16px;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
    color: #fff;

    @include tablet {
      text-align: left;
      margin-bottom: 24px;
    }
  }

  &__play-button {
    margin: 0 auto 24px;

    @include tablet {
      margin: 0 0 24px;
    }
  }

  &__main-button {
    @include tablet {
      display: none;
    }
  }
}
