.heading {
  &__title {
    color: $white;
    margin-bottom: 10px;
  }
  &__highlited {
    font-weight: 400;
    color: $main;
  }
  &__text {
    color: $main;
    font-size: 12px;

    @include on-laptop {
      font-size: 14px;
    }
  }
}
