.help {
  &__wrapper {
    padding-inline: 20px;
    padding-bottom: 73px;
  }

  &__title {
    @extend %headline-two;
    margin: 0;
    margin-bottom: 30px;

    &-part--bold {
      @extend %title-part-bold;
    }

    &-part--light {
      @extend %title-part-light;
    }
  }

  &__description {
    color: $text-color;
    @extend %text-one;
    margin: 0;
    margin-bottom: 30px;
  }

  &__nav {
    margin-bottom: 30px;
  }

  &__link {
    color: $constant-color;
    @extend %text-one;
    text-decoration: none;
    cursor: pointer;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__address {
    display: flex;
    flex-direction: column;
    font-family: $text-style;

    & :nth-child(1) {
      margin-bottom: 11px;
    }

    & :nth-child(2) {
      margin-bottom: 8px;
    }
  }

  &__phone,
  &__email {
    color: $text-color;
    text-decoration: none;
    font-size: 16px;
  }
}
