
.hidden-blocks {
  overflow-y: auto;
  padding-right: 17px;
}

.hidden-blocks__scroll {
  margin-right: 17px;
}

.hidden-blocks__scrollY {
  overflow: auto;
}

.hiddenOn {
  display: flex;
}

.hiddenOff {
  display: none;
}
