.icon {
  display: flex;
  cursor: pointer;
  height: 20px;
  width: 20px;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition-duration: $effectDuration;
  align-self: flex-end;

  @include hover(transform, scale(1.1));

  &--menu {
    background-image: url(../images/common-images/menu-icon.svg);
  }

  &--left {
    background-image: url(../images/common-images/arrow-left-icon.svg);

    @include on-desktop {
      padding-top: 15px;
    }
  }

  &--close {
    background-image: url(../images/common-images/menu-close-icon.svg);
    max-height: 20px;
    align-self: flex-end;
    margin-left: auto;
  }

  @include on-desktop {
    display: none;
    padding-top: 15px;
  }

  &--close-video {
    content: '';
    display: flex;
    position: absolute;
    right: 13px;
    top: 15px;
    z-index: 3;
    background-color: transparent;
    border: none;
  }
}
