.icon {
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;

  @include hover(transform, scale(1.2));
}

.icon--menu {
  background-image: url(../images/icons/icon-menu.svg);

  @include onDesktop {
    display: none;
  }
}

.icon--close {
  width: 17px;
  height: 17px;
  background-image: url(../images/icons/icon-close.svg);
}

.icon--arrow {
  width: 8.5px;
  height: 17px;
  background-image: url(../images/icons/icon-arrow-left.svg);
}
