.main {
  background: $gradient;
  padding-top: $header_offset;

  @include on-tablet {
    padding-top: 100px;
  }

  @include on-laptop {
    padding-top: 200px;
  }
}

.page__body--lock {
  overflow: hidden;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: content-box;

  @include on-tablet {
    padding: 0 34px;
    gap: 30px;
  }

  @include on-laptop {
    max-width: 1060px;
  }

  @include on-desktop {
    max-width: 1450px;
  }
}
