.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: MarkProMedium, sans-serif;
  margin: 0 auto;
  height: 40px;
  width: 100%;
  max-width: 458px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: $contrast-color;
  transition: 0.3s;

  @include desktop {
    height: 48px;
    width: 200px;
  }

  &:hover {
    color: $contrast-color;
    background-color: #fff;
  }

  &:active {
    color: $dark-grey;
    background-color: $dark-blue;
  }
}
