.main {
  background: #050505;

  &__buy {
    display: block;
    position: sticky;
    bottom: 0;
    z-index: 1;

    @include on-small-desktop {
      display: none;
    }
  }
}

.buy {
  padding-block: 30px;
  background: linear-gradient(#00000036 0%, #04040496 23.44%, #050505 100%);

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
