
.menuLanguage {

  &--closure {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0 0 38px;
    padding: 0;
    @extend %bgStyle;
  }

  &--closer {
    width: 8px;
    height: 16px;
    background-image: url(../images/icon/lenguage-closure.svg);

    @include hover(transform, scale(0.8));
  }

  &--move {
    transform: translateX(-200%);
    transition: transform 0.7s;

    &:target {
      transform: translateX(0);
    }
  }
}
