
.menuOrder {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  overflow-y: auto;
  height: 100vh;
  z-index: 1;
  background: $bgGradientMenu;

  &__closure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  &__closer {
    width: 18px;
    height: 18px;
    background-image: url(../images/icon/menu-closure.svg);
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include onMobile {
      margin-bottom: 30px;
    }

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onNotebook {
      margin-bottom: 60px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    @include onMobile {
      width: 100%;
      margin: 0 -20px 30px;
      padding: 0 20px;
    }

    @include onTablet {
      width: 768px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    text-align: center;
    width: 33.33%;
    height: 49px;
    border-bottom: 1px solid $darkGrey;
  }

  &__link {
    width: 100%;
    line-height: 49px;
    text-decoration: none;
    @extend %linksButtons;
    color: #545454;
    transition: background-color 0.5s;

    &:hover {
      cursor: pointer;
    }

    &--active {
      color: $contrastColor;
      border-bottom: 1px solid $contrastColor;
    }

    &--filled {
      color: $whiteColor;
      border-bottom: 1px solid $darkGrey;
    }
  }

  &__photo {
    grid-area: photo;
    margin: 0 auto;
    @extend %bgStyle;
    width: 100%;
    background-image: url(../images/image.svg);

    @include onMobile {
      display: block;
    }

    @include onTablet {
      height: 280px;
      width: 524px;
    }

    @include onNotebook {
      width: 650px;
      transform: translateX(-10%);
    }
  }

  &__totally {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include onTablet {
      grid-area: totally;
    }
  }

  &__quantity {
    grid-area: quantity;
    margin: 0;
    padding: 0;
    width: 90px;
    height: 80px;
    margin-bottom: 30px;
    z-index: 1;

    &-title {
      margin: 0;
      padding: 0;
      text-align: center;
      @extend %textMedium;
      color: $textColor;
      margin-bottom: 10px;

      @include onTablet {
        margin-bottom: 20px;
      }
    }

    &-count {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding: 0;
      padding-left: 10px;
      margin-bottom: 3px;
      border-radius: 4px;
      background-color: #191536;
    }

    &-number {
      margin: 0;
      padding: 0;
      @extend %markRegular;
      font-size: 20px;
      color: $whiteColor;
      width: 100%;
      text-align: center;
      transition: color 0.5s;

      &:hover {
        color: $contrastColor;
        cursor: pointer;
      }
    }

    &-icon {
      margin: 0 auto;
      padding: 0;
      @extend %bgStyle;
      width: 16px;
      height: 8px;
      background-image: url(../images/icon/arrows/arrow_down.svg);

      &:hover {
        cursor: pointer;
      }
    }

    &Menu {
      display: none;
      width: 90px;
      height: max-content;
      border-radius: 4px;
      background-color: #191536;

      &--style {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
      }
    }
  }

  &__sum {
    grid-area: sum;
    margin: 0;
    padding: 0;
    width: 90px;
    height: 80px;
    margin-bottom: 30px;

    &-title {
      margin: 0;
      padding: 0;
      text-align: center;
      @extend %textMedium;
      color: $textColor;
      margin-bottom: 10px;

      @include onTablet {
        margin-bottom: 20px;
      }
    }

    &-count {
      margin: 0;
      padding: 0;
    }

    &-number {
      display: block;
      margin: 0 auto;
      padding: 0;
      @extend %markMedium;
      font-size: 26px;
      color: $contrastColor;
      text-align: center;
    }

  }

  &__filds {
    margin: 0;
    padding: 0;
    height: max-content;
  }

  &__userOrder {
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 58px;
    }

    @include onNotebook {
      margin-bottom: 68px;
    }

    &__label {
      margin: 0;
      padding: 0;
      margin-bottom: 19px;
      color: $textColor;
      transition: transform 0.5s;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        color: $contrastColor;
      }
    }

    &--input {
      height: 19px;
      margin-bottom: 24px;
    }

    &--select {
      height: 19px;
      margin-bottom: 24px;
      background-color: #191536;
    }

    &--message {
      height: 88px;
      resize: none;
    }

    &--input,
    &--message,
    &--select {
      box-sizing: border-box;
      padding: 0;
      border: none;
      width: 100%;
      outline: none;
      background-color: transparent;
      border-bottom: 1px solid #2f2f2f;
      font-size: 14px;
      line-height: 150%;
      color: $textColor;
      transition: transform 0.5s;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        border-bottom: 1px solid $contrastColor;
      }

      &:focus {
        border-bottom: 1px solid $contrastColor;
        color: $contrastColor;
      }
    }

    &-firstName {
      grid-area: firstName;
    }

    &-lastName {
      grid-area: lastName;
    }

    &-email {
      grid-area: email;
    }

    &-telNumber {
      grid-area: telNumber;
    }

    &-country {
      grid-area: country;
    }

    &-city {
      grid-area: city;
    }

    &-shipping1 {
      grid-area: shipping1;
    }

    &-shipping2 {
      grid-area: shipping2;
    }
  }

  &__userPay {
    grid-area: form;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    max-width: 460px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 58px;
    }

    @include onNotebook {
      margin-bottom: 68px;
    }

    &__label {
      margin: 0;
      padding: 0;
      margin-bottom: 19px;
      color: $textColor;
      transition: transform 0.5s;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        color: $contrastColor;
      }
    }

    &--input {
      box-sizing: border-box;
      padding: 0;
      margin-bottom: 24px;
      border: none;
      height: 19px;
      width: 100%;
      min-width: 200px;
      outline: none;
      background-color: transparent;
      border-bottom: 1px solid #2f2f2f;
      font-size: 14px;
      line-height: 150%;
      color: $textColor;
      transition: transform 0.5s;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        border-bottom: 1px solid $contrastColor;
      }

      &:focus {
        border-bottom: 1px solid $contrastColor;
        color: $contrastColor;
      }
    }

    &-card {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    &-cardNumber {
      grid-area: firstName;
    }

    &-cardIcon {
      margin: 0;
      padding: 0;
      margin-left: 50px;
      @extend %bgStyle;
      width: 54px;
      height: 34px;
      background-image: url(../images/icon/visa.svg);
    }

    &-cardName {
      grid-area: lastName;
    }

    &-cardExpiration {
      grid-area: email;
    }

    &-cardCVN {
      grid-area: telNumber;
    }
  }

  &__complete {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 90px 0;

    @include onTablet {
      padding: 180px 0;
    }

    &-title {
      margin: 0 auto;
      text-align: center;
      padding: 0;

      @include onMobile {
        margin-bottom: 30px;
      }

      @include onTablet {
        margin-bottom: 50px;
      }

      &--h2 {
        margin: 0 auto;
        padding: 0;
        @extend %headLine2mob;

        @include onMobile {
          max-width: 150px;
          margin-bottom: 16px;
        }

        @include onTablet {
          max-width: 100%;
          width: 100%;
          font-size: 36px;
          line-height: 46px;
          margin-bottom: 30px;
        }

        &-quantum {
          margin: 0;
          padding: 0;
          @extend %textQuantum;

          @include onTablet {
            font-size: 36px;
            line-height: 46px;
          }
        }
      }

      &--text {
        margin: 0;
        @extend %textStandart;
        color: $contrastColor;
  
        &-beforeH {
          margin: 0 0 10px;
          @extend %textStandart;
          color: $contrastColor;
        }
      }
    }

    &-button {
      margin: 0;
      padding: 0;
      height: 40px;
      width: 100%;
  
      @include onTablet {
        height: 48px;
        width: 458px;
      }
    }
  }

  &__button {
    grid-area: button;
    margin: 0 auto;
    padding: 0;
    height: 40px;
    max-width: 458px;

    @include onTablet {
      height: 48px;
      width: 458px;
    }

    @include onNotebook {
      margin: 0;
      width: 200px;
      transform: translateY(50%);
    }
  }

  &--move {
    transform: translateY(-100%);
    transition: transform 0.5s;

    &:target {
      transform: translateY(0);
    }
  }
}
