
.moreDropMenu {
  margin: 0 auto;
  padding: 0;
  width: 40px;
  text-align: center;
  @extend %linksButtons;
  color: $contrastColor;
  @include hover(transform, scale(1.05));

  &-icon {
    margin: 0 auto;
    padding: 0;
    @extend %bgStyle;
    width: 9px;
    height: 6px;
    background-image: url(../images/icon/arrows/arrow_down.svg);
  }
}
