.nav {
  height: 100%;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    cursor: pointer;
    padding-inline: 20px;

    &:hover {
      background-color: #110E25;
    }
  }

  &__link {
    display: block;
    color: $white-accent;
    text-decoration: none;
    @extend %headline-two;
    font-weight: 500;
    padding-block: 11px;

    &:hover {
      color: $constant-color;
    }
  }
}
