.nav {
  margin-top: 38px;
  padding-bottom: 140px;

  @include tablet {
    margin-top: 47px;
  }

  @include desktop {
    margin-top: 0;
    padding-bottom: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      gap: 35px;
    }

    &--footer {
      gap: 12px;

      @include tablet {
        flex-direction: row;
        gap: 45px;
      }
    }
  }

  &__item {
    @include desktop {
      &--language {
        display: none;
      }

      &--faq {
        display: none;
      }

      &--help {
        display: none;
      }
    }
  }

  &__link {
    font-size: 21px;
    font-weight: 500;
    line-height: 130%;
    display: block;
    width: 100%;
    padding: 11px 20px;
    transition: all $effect-duration;

    &:hover {
      background-color: #110e25;
      color: $blue-color;
    }

    @include tablet {
      padding-left: 155px;
    }

    @include desktop {
      padding: 0;
      font-size: 16px;

      &:hover {
        background-color: transparent;
      }
    }

    &--bottom {
      line-height: 150%;
    }

    &--blue {
      color: $blue-color;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--grey {
      color: $grey-text-color;
    }
  }

  &__link-footer {
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    transition: all $effect-duration;

    @include tablet {
      font-size: 14px;
    }

    &:hover {
      color: $blue-color;
    }
  }

  &__link-lang {
    padding-right: 0;
  }
}
