.nice {
  &__container {
    position: relative;
    display: flex;
  }

  &__content {
    flex: 0 1 40%;

    @include on-laptop {
      flex: 0 1 60%;
    }

    @media (max-width: 645px) {
      flex: 0 1 100%;
    }
  }

  &__title {
    margin-top: 15px;

    @include on-tablet {
      margin-top: 11px;
    }
  }

  &__text {
    margin-top: 32px;

    @include on-mobile {
      margin-top: 22px;
    }
  }

  &__decor {
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 17px;
    position: absolute;
    top: -120px;
    right: 80px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    -webkit-text-stroke: 0.7px $contrast;
    color: rgba(255, 255, 255, 0);
    line-height: 130%;
    font-weight: 900;
    font-size: 64px;
    transform: rotate(90deg);
    flex: 0 1 60%;
    text-transform: uppercase;

    & > :nth-child(1) {
      opacity: 0.1;
    }
    & > :nth-child(2) {
      opacity: 0.3;
    }
    & > :nth-child(3) {
      opacity: 0.5;

      @include on-tablet {
        opacity: 0.1;
      }
    }
    & > :nth-child(4) {
      opacity: 0.7;

      @include on-tablet {
        opacity: 0.5;
      }

      @media (max-width: 645px) {
        opacity: 0.2;
      }
    }
    & > :nth-child(5) {
      opacity: 1;

      @include on-tablet {
        opacity: 1;
      }

      @media (max-width: 645px) {
        opacity: 0.3;
      }
    }

    & > * {
      transition:
        opacity 0.5s ease,
        color 0.5s ease,
        transform 0.8s ease 0s;
    }

    @media (min-width: $laptop) {
      &:hover > * {
        opacity: 0;

        &:nth-child(5) {
          opacity: 1;
          color: #06151d;
          transition-delay: 0s, 0.7s;
        }
        &:nth-child(4) {
          opacity: 1;
          color: #061b28;
          transition-delay: 0.1s, 0.9s;
        }
        &:nth-child(3) {
          opacity: 1;
          color: #062b38;
          transition-delay: 0.3s, 1.1s;
        }
        &:nth-child(2) {
          opacity: 1;
          color: #056477;
          transition-delay: 0.4s, 1.3s;
        }
        &:nth-child(1) {
          opacity: 1;
          color: #05c2df;
          transition-delay: 0.5s, 1.5s;
        }
      }
    }

    @include on-laptop {
      flex: 0 1 40%;
      right: -90px;
    }

    @include on-tablet {
      top: -50px;
      font-size: 48px;
    }

    @media (max-width: 645px) {
      font-size: 40px;
      right: -70px;
    }

    @include on-mobile {
      display: none;
    }
  }

  &__decor-text {
    &:nth-child(2n) {
      transform: rotate(180deg);
    }
  }
}
