.number {
  display: flex;
  color: $white;

  &__increase {
  }

  &__quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 35px;
  }

  &__decrease {
  }
}

.number-button {
  border-radius: 3px;
  color: $white;
  width: 45px;
  height: 35px;
  background-color: $dark-purple;
  font-size: 16px;

  @include hover {
    background-color: #211d3c;
  }

  &._lock {
    background-color: #19153661;
    cursor: not-allowed;
  }
}
