.page {
  box-sizing: border-box;

  color: $clr--gray-1;
  font-family: $font--main;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  scroll-behavior: smooth;

  &__body {
    margin: 0;
    background: $clr--bg;
  }
}

.unscroll {
  overflow: hidden;
}

.none {
  display: none;
}
