.play {
  &__header {
    margin-top: 25px;
    margin-bottom: 56px;
    transition: $effect-duration ease;

    &:hover {
      transform: scale(1.05);
      filter: hue-rotate(190deg);
    }

    @include tablet {
      margin-top: 34px;
    }
  }

  &__about {
    margin-top: 15px;
    transition: $effect-duration ease;

    &:hover {
      transform: scale(1.05);
      filter: hue-rotate(190deg);
    }

    @include tablet {
      margin-top: 20px;
    }
  }
}
