.play-button {
  display: block;
  cursor: pointer;
  background-image: url('../images/icons/btn-play.svg');
  background-position: left center;
  background-repeat: no-repeat;
  width: 235px;
  height: 69px;
  transition: all 0.3s;

  &:hover {
    background-image: url('../images/icons/btn-play-hover.svg');
    transform: scale(1.05);
  }
}
