.play-button__button {
  background-image: url(./../images/vector/play_button.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  width: 215px;
  height: 70px;
  display: inline-flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
  padding-right: 30px;
  color: $white;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
