
.player {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.02);
  }

  &--icon {
    @extend %bgStyle;
    height: 66px;
    width: 212px;
    background-image: url(../images/icon/player2.svg);
  }
}
