.play-button {
  &__item {
    width: 280px;
    height: 66px;
    background-image: url(../images/play-button.svg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    transition: 0.3s;

    &:hover {
      background-image: url(../images/play-button-hover.svg);
    }
  }
}
