.play {
  display: flex;
  width: 220px;
  height: 66.05px;
  background:
    url(../images/header/play-left.svg) left no-repeat,
    url(../images/header/play-line.svg) right 10.6px no-repeat,
    url(../images/header/play-line.svg) right 54.6px no-repeat;

  @include hover(scale, 1.2);
}
