.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  overflow: auto hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease-in-out;
  background-color: #000000d6;

  &__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 19px;
    height: 19px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @include on-laptop {
      top: 10px;
      right: 10px;
      left: auto;
    }

    &:hover {
      transform: rotate(180deg);
    }
  }
  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 20px 30px;

    @include on-laptop {
      padding: 30px 10px;
    }
  }
  &__content {
    position: relative;
    background-color: $secondary;
    max-width: 880px;
    width: 100%;
    height: 75vh;
    margin: 0 auto;
    transition: all 0.8s ease-in-out;
    opacity: 0;
    transform: perspective(600px) translate(0, -100%) rotateX(45deg);
    padding: 35px 25px;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
  &.popup--shown {
    opacity: 1;
    visibility: visible;
    .popup__content {
      opacity: 1;
      transform: perspective(600px) translate(0, 0) rotateX(0deg);
    }
  }
}
