.purchase {
  background: linear-gradient(107.56deg, #191536 0%, #000 100%);

  &__top-action {
    margin-bottom: 20px;
  }

  &__steps {
    margin: 0 -20px 30px;
  }

  &__quantity {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    transition: 0.3s;
  }

  &__text {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: $text-color;
  }

  &__selector-label {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    color: $text-color;
  }

  &__selector {
    margin-top: 10px;
    padding-left: 30px;
    width: 90px;
    height: 40px;
    font-size: 20px;
    line-height: 24px;
    outline: none;
    border: none;
    color: #fff;
    background-color: $dark-blue;

    &--long {
      width: 100%;
    }
  }

  &__number {
    font-family: MarkProMedium, sans-serif;
    font-size: 26px;
    line-height: 33px;
    color: $contrast-color;
  }

  &__slider {
    transition: transform 0.3s;
    transform: translateX(0%);
  }

  &__wrapper {
    display: flex;
  }

  &__order {
    flex-shrink: 0;
    width: 100%;
    margin-top: 30px;
  }

  &__pay {
    flex-shrink: 0;
    width: 100%;
    margin-top: 50px;
  }

  &__complete {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    margin-top: 50px;
  }

  &__tittle {
    margin-bottom: 16px;
  }

  &__text-complete {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #fff;
  }
}
