::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #014954;
}

::-webkit-scrollbar-thumb {
  background: $contrast;
}

::-webkit-scrollbar-thumb:hover {
  background: #067b8d;
}
