
.slider {
  position: relative;
  margin: 0;
  padding: 0;
  width: 208px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &::after {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #212121;
  }

  &__prev,
  &__next {
    margin: 0;
    padding: 0;
    @extend %textMedium;
    margin-bottom: 10px;
    color: $whiteColor;
  }

  &--isActive {
    color: $textColor;
    border-bottom: 2px solid $contrastColor;
  }
}
