.social-icons {
  display: flex;
  align-items: center;
  gap: 28px;

  &__link {
    display: inline-block;
    height: 23px;

    color: $clr--white;

    @include hover(transform, scale(1.2));
  }
}
