.tittle {
  font-family: MarkProHeavy, sans-serif;
  font-size: 21px;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;

  &__quantum {
    font-family: Quantum, sans-serif;
    color: $contrast-color;
  }

  @include desktop {
    font-size: 36px;
    line-height: 46px;
  }
}
