
.to-top {
  position: absolute;
  margin: 0;
  padding: 0;
  @extend %bgStyle;
  background-size: contain;
  text-decoration: none;
  background-image: url(../images/icon/to_top.svg);

  @include onMobile {
    height: 24px;
    width: 24px;
    right: 3%;
    bottom: 7%;
  }

  @include onTablet {
    height: 40px;
    width: 40px;
    right: 3%;
    bottom: 7%;
  }

  @include onNotebook {
    right: 8%;
    bottom: 17%;
  }

  @include onFullHD {
    right: 10%;
    bottom: 22%;
  }
}
