
.to-top {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  @extend %bgStyle;
  background-size: contain;
  text-decoration: none;
  background-image: url(../images/icon/to_top.svg);

  @include onMobile {
    height: 24px;
    width: 24px;
  }

  @include onTablet {
    height: 40px;
    width: 40px;
  }
}
