.top-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  @include on-tablet {
    padding-top: 30px;
  }

  @include on-desktop {
    padding-top: 47px;
  }

  &__logo-img {
    width: 48px;
    height: 10px;

    display: flex;

    @include hover(scale, 1.2);

    @include on-tablet {
      width: 67px;
      height: 14px;
    }

    @include on-desktop {
      width: 78px;
      height: 16px;
    }
  }

  &__left,
  &__nav {
    display: flex;
    align-items: center;
    gap: 36px;
  }

  &__item {
    &:not(:last-child) {
      display: none;

      @include on-desktop {
        display: flex;
      }
    }

    &:last-child {
      display: flex;

      @include on-desktop {
        display: none;
      }
    }
  }

  &__link {
    line-height: 20.8px;
  }

  &__menu {
    z-index: 2;
    width: 20px;

    @include on-tablet {
      width: 30px;
    }
  }

  &__lang {
    display: none;

    @include on-desktop {
      display: flex;
      text-decoration: none;
      color: $secondary-color;

      @include hover(scale, 1.2);
    }
  }

  &__back-img {
    height: 17px;
  }

  &__cross {
    display: flex;

    @include hover(scale, 1.2);
  }

  &__cross-img {
    width: 17px;
  }
}
