
.vertical__icon {

  &-10 {
    margin-right: 21px;
    width: 40px;
    height: 260px;
    background-image: url(../images/icon/about_us_10.svg);
  }
  
  &-06 {
    margin-right: 21px;
    width: 40px;
    height: 260px;
    background-image: url(../images/icon/about_us_06.svg);
  }
  
  &-04 {
    width: 40px;
    height: 260px;
    background-image: url(../images/icon/about_us_04.svg);

    @include onNotebook {
      margin-right: 21px;
    }
  }
  
  &-02 {
    width: 40px;
    height: 260px;
    display: none;
    background-image: url(../images/icon/about_us_02.svg);

    @include onNotebook {
      display: block;
      margin-right: 21px;
    }
  }
  
  &-01 {
    width: 40px;
    height: 260px;
    display: none;
    background-image: url(../images/icon/about_us_01.svg);

    @include onNotebook {
      display: block;
    }

    @include onFullHD {
      margin-right: 21px;
    }
  }
}
