.video {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  &__border {
    z-index: 5;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #000000b2;
  }

  &__iframe {
    z-index: 6;
    height: 486px;
    width: 876px;
  }
}
