.video-button__cta {
  cursor: pointer;
  transition: transform 1s ease;
  background-color: transparent;
  width: 100%;
  height: 66px;
  background-image: url('../images/icons/header-play-button.svg');
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 321px) {
    background-position: center;
  }

  @media (min-width: 768px) {
    background-position: left;
  }

  @media (min-width: 1280px) {
    margin-left: 92px;
  }

  &:hover {
    transform: scale(1.1);
    background-image: url('../images/icons/header-play-button-hover.svg');
  }
}
