.why {
  padding: 120px 0;
}

.why__title {
  margin: 0 0 72px;

  font-size: 36px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.why__title span {
  color: #05c2df;
  font-weight: 400;
}

.why__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;

  margin-bottom: 72px;
}

.why__card {
  text-align: center;
}

.why__card img {
  width: 72px;
  height: 72px;
  margin-bottom: 32px;
}

.why__card h3 {
  margin: 0 0 24px;

  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

.why__card p {
  color: #929292;
  line-height: 1.6;
}

.why__button {
  display: block;

  width: 160px;
  padding: 12px 0;
  border-radius: 4px;
  margin: 0 auto;

  background: #05c2df;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
