.about {
  overflow: hidden;
  background: linear-gradient(107.56deg, #191536 0%, #000 100%);

  &__title {
    margin: 0 0 20px;
    text-transform: uppercase;

    font-size: 21px;
    line-height: 27px;
    font-weight: 900;
    color: $whiteAccent;

    @include onTablet {
      margin-bottom: 24px;
    }

    @include onDesktop {
      font-size: 36px;
      line-height: 46px;
      margin-bottom: 30px;
    }

    &--strong {
      font-family: Quantum, sans-serif;
      color: $contrastColor;
    }

    &--invisible-1 {
      display: block;

      @include onTablet {
        display: none;
      }

      @include onDesktop {
        display: block;
      }
    }

    &--invisible-2 {
      display: none;

      @include onTablet {
        display: block;
      }

      @include onDesktop {
        display: none;
      }
    }
  }

  &__description {
    margin: 0 0 16px;
    color: $textColor;
    font-size: 16px;
    line-height: 150%;

    @include onTablet {
      margin-bottom: 20px;
      margin-right: 10px;
    }

    @include onDesktop {
      margin-bottom: 25px;
      margin-right: 0;
    }
  }

  &__video-button {
    margin-bottom: 80px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onDesktop {
      margin-bottom: 236px;
    }
  }

  &__greetings {
    font-size: 12px;
    line-height: 18px;
    color: $contrastColor;

    @include onDesktop {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__main-slider-mobile {
    position: relative;
  }

  &__slider {
    margin-top: 12px;
  }
}
