.about-product {
  background: $bgGradient;

  &__section {
    &:not(:last-child) {
      margin-bottom: 88px;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__desc {
    margin-bottom: 24px;
  }

  &__greeting {
    margin-bottom: 10px;
  }
}
