.about {
  background-image: linear-gradient(146.86deg, #191536 -0.5%, #000 99.5%);
  overflow: hidden;

  padding: 50px 0;

  @include onTablet {
    padding: 70px 0;
  }

  @include onDesktop {
    padding: 100px 0;
    padding-bottom: 136px;
  }

  @include onLargeScreen {
    padding: 164px 0;
    padding-bottom: 225px;
  }

  &__container-video {

    @include onTablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 88px;
    }

    @include onDesktop {
      margin-bottom: 190px;
    }

    @include onLargeScreen {
      margin-bottom: 185px;
    }

    &-player {
      position: relative;

      @include onDesktop {
        margin-left: 180px;
      }

      @include onLargeScreen {
        margin-left: 275px;
      }
    }

    &-info {
      @include onTablet {
        max-width: 44vw;
      }

      @include onDesktop {
        margin-left: 110px;
        max-width: none;
      }

      @include onLargeScreen {
        margin-left: 120px;
      }
    }

    &-numbers {
      display: none;

      @include onDesktop {
        display: flex;
        position: absolute;
        left: -35px;
        top: 0;
      }
    }

    &-number-now {
      @extend %inter-400;
      font-size: 14px;
      line-height: 17px;
      color: #05c2df;
    }

    &-number-all {
      @extend %inter-400;
      font-size: 14px;
      line-height: 17px;
      color: #05c2df;
    }

    &-buttons {
      display: none;

      @include onDesktop {
        display: flex;
        flex-direction: row;
        gap: 100px;
        padding-bottom: 10px;
        position: relative;
        border-bottom: 1px solid #212121;
        width: fit-content;
      }
    }

    &-button {
      text-decoration: none;
      background-color: transparent;
      border: none;
      outline: none;
      @extend %inter-500;
      font-size: 16px;
      line-height: 150%;
      transition: all 0.3s;
      color: #fff;

      &:hover {
        color: $c-blue;
        transition: all 0.3s;

        &::after {
          position: absolute;
          background: $c-blue;
          height: 1px;
          content: "";
          width: 50px;
          bottom: -1px;
          left: unset;
          right: 0;
        }
      }

      &:first-child {
        color: #929292;

        &:hover {
          &::after {
            position: absolute;
            background: $c-blue;
            height: 1px;
            content: "";
            width: 75px;
            bottom: -1px;
            left: 0;
          }
        }
      }

    }

    &-title {
      display: none;

      @include onTablet {
        display: flex;
        margin-bottom: 20px;
      }

      @extend %inter-900;
      flex-direction: row;
      font-size: 21px;
      line-height: 25px;
      color: #fff;

      @include onDesktop {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 30px;
      }

      @include onLargeScreen {
        margin-bottom: 70px;
      }

      &--span {
        @extend %inter-400;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        color: $c-blue;

        @include onDesktop {
          font-size: 36px;
          line-height: 44px;
        }
      }

      &--mobile {
        display: flex;
        margin-bottom: 20px;
        @include onTablet {
          display: none;
        }
      }
    }

    &-frame {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: 15px;
    }

    &-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 6px;
      margin-bottom: 20px;

      @include onTablet {
        margin-bottom: 15px;
      }

      @include onDesktop {
        display: none;
      }

      &-dot {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        outline: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #484848;
        margin: 0;

        &:checked {
          background-color: #ababab;
        }
      }
    }

    &-text {
      @extend %inter-400;
      font-size: 16px;
      line-height: 150%;
      color: #929292;
      margin-bottom: 40px;

      @include onTablet {
        margin-bottom: 20px;
      }
    }

    &-playbutton {
      display: block;
      content: "";
      background-color: transparent;
      border: none;
      outline: none;
      background-image: url(../images/Icons/play-button-b.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
      width: 100%;
      height: 66px;
      margin-bottom: 79px;

      &:hover {
        background-image: url(../images/Icons/play-button-w.svg);
      }

      @include onTablet {
        margin-bottom: 0;
      }
    }

  }

  &__container-info {
    position: relative;

    @include onTablet {
      padding-top: 19px;
      max-width: 60vw;
      margin-bottom: 73px;
    }

    @include onDesktop {
      padding-top: 35px;
      margin-bottom: 0;
    }

    &-title-span {
      @extend %inter-400;
      display: block;
      font-size: 14px;
      line-height: 17px;
      color: #05c2df;
      margin-bottom: 10px;

      @include onDesktop {
        margin-bottom: 15px;
      }
    }

    &-title {
      display: block;
      content: "";
      width: 205px;
      height: 25px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url(../images/Icons/meet.svg);
      margin-bottom: 20px;

      @include onDesktop {
        width: 351px;
        height: 44px;
        margin-bottom: 32px;
      }

      @include onLargeScreen {
        width: 363px;
        height: 46px;
      }
    }

    &-text {
      @extend %inter-400;
      font-size: 16px;
      line-height: 150%;
      color: #929292;

      @include onDesktop {
        max-width: 429px;
      }

      @include onLargeScreen {
        max-width: 530px;
      }
    }

    &-image {
      display: none;

      @include onTablet {
        position: absolute;
        top: 0;
        right: -400px;
        display: block;
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url(../images/Icons/about.svg);
        height: 253px;
        width: 100%;
      }

      @include onDesktop {
        height: 337px;
        right: -300px;
      }
    }

  }
}
