.about-us {
  padding: 50px 20px;
  position: relative;

  @include tablet {
    padding: 70px 34px 54px;
    display: block;
  }

  @include notebook {
    padding: 100px 109px 103px;
  }

  &__container {
    @include tablet {
      margin: 0 auto;
      max-width: 780px;
    }

    @include notebook {
      max-width: 1130px;
    }
  }

  &__top {
    position: relative;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 30px;
      position: relative;
      margin: 0 auto;
    }
  }

  &__title {
    margin: 0 0 20px;

    font-size: 21px;
    line-height: 27px;

    text-transform: uppercase;

    color: #fff;

    @include tablet {
      margin: 0;
      grid-column: 4 / -1;
    }

    @include notebook {
      margin: 0;
      font-size: 36px;
      line-height: 46px;
    }
  }

  &__title span {
    color: #05c2df;
    font-family: "Quantum", sans-serif;
  }

  &__image {
    object-fit: contain;
    object-position: 50%;
    width: 100%;

    @include tablet {
      width: 340px;
      grid-row: 1 / 1;
      grid-column: 1 / 4;
    }

    @include notebook {
      display: none;
    }
  }

  &__image-notebook {
    object-fit: contain;
    object-position: 50%;
    display: none;

    @include notebook {
      display: unset;
      width: 600px;
      grid-row: 1 / 1;
      grid-column: 1 / 4;
    }
  }

  &__count {
    display: none;

    @include notebook {
      display: unset;
      position: absolute;
      left: -30px;
      top: -5px;
      font-size: 14px;
      line-height: 18px;

      color: #05c2df;
    }
  }

  &__buttons {
    display: none;

    @include notebook {
      display: flex;
      position: relative;
      border-bottom: 1px solid #212121;
      padding-bottom: 10px;
    }

    &--button {
      padding: 0;
      margin-right: 102px;

      font-size: 16px;
      line-height: 150%;

      cursor: pointer;

      border: none;
      background-color: transparent;

      color: #fff;

      &:first-child {
        &::after {
          content: "";
          display: block;
          width: 69px;
          position: absolute;
          bottom: 1px;
          border-bottom: 1px solid #05c2df;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__subtitle {
    margin: 20px 0 0;

    font-size: 16px;
    line-height: 150%;

    color: #929292;

    @include tablet {
      grid-column: 4 / -1;
      position: absolute;
      top: 40px;
    }

    @include notebook {
      width: 332px;
      margin: 30px 0 0;
    }
  }

  &__button-play {
    margin: 15px 0 0;
    position: relative;
    display: flex;

    @include tablet {
      grid-column: 4 / -1;
      position: absolute;
      top: 200px;
    }

    &--video {
      background-image: url(../images/button.png);
      width: 190px;
      height: 66px;
    }
  
    &--dash-top {
      background-image: url(../images/dash.png);
      width: 135px;
      height: 2px;
      position: absolute;
      top: 12px;
      left: 90px;
    }
  
    &--dash-bottom {
      background-image: url(../images/dash.png);
      width: 135px;
      height: 2px;
      position: absolute;
      bottom: 8px;
      left: 90px;
    }
  }

  &__bottom {
    margin-top: 79px;

    @include tablet {
      margin-top: 100px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 20px;
    }

    @include notebook {
      align-items: center;
      margin-top: 188px;
    }
  }

  &__left-side {
    @include tablet {
      grid-column: 1 / 5;
    }

    @include notebook {
      grid-column: 1 / 4;
    }
  }

  &__hello {
    font-size: 14px;
    line-height: 18px;

    color: #05c2df;
  }

  &__title-bottom {
    margin: 10px 0 0;
    font-size: 21px;
    line-height: 27px;

    text-transform: uppercase;

    color: #fff;

    @include notebook {
      font-size: 36px;
      line-height: 46px;
    }
  }

  &__title-bottom span {
    color: #05c2df;
    font-family: "Quantum", sans-serif;
  }

  &__subtitle-bottom {
    margin: 20px 0 0;
    font-size: 16px;
    line-height: 150%;

    color: #929292;

    @include tablet {
      width: 460px;
    }

    @include notebook {
      margin: 30px 0 0;
      width: 429px;
    }
  }

  &__right-side {
    display: none;

    @include tablet {
      display: unset;
      grid-column: 5 / -1;
    }

    @include notebook {
      grid-column: 4 / -1;
    }
  }

  &__picture {
    object-fit: contain;
    object-position: 50%;
    width: 40px;
    margin-right: 30px;

    @include notebook {
      width: 60px;
    }

    &:nth-child(3) {
      opacity: 0.1;

      @include notebook {
        opacity: 0.25;
      }
    }

    &:nth-child(4) {
      display: none;

      @include notebook {
        display: unset;
        opacity: 0.2;
      }
    }

    &:last-child {
      display: none;

      @include notebook {
        display: unset;
        margin-right: 0;
        opacity: 0.1;
      }
    }
  }
}
