.advantages {
  &__title {
    margin-bottom: 83px;

    @include OnDesktop {
      text-align: center;
    }
  }

  &__grid {
    align-items: baseline;
  }

  &__buy {
    display: none;

    width: 200px;
    margin: 0 auto;
    border-radius: 4px;

    line-height: 48px;
    text-align: center;

    background-color: $c-contrast;

    @include OnDesign {
      display: block;
    }

    @include OnFullHd {
      display: none;
    }
  }
}
