.advanteges {
  text-align: center;
  &__title {
    margin-bottom: 14px;
  }

  &__subtitle {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $c-contrast;
    margin-bottom: 83px;
  }

  &__cards {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 20px;
  }

  &__card {
    min-width: 250px;

    &-photo {
      margin-bottom: 30px;
    }

    &-title {
      margin-bottom: 20px;
    }

    &-content {
      font-size: 16px;
      line-height: 150%;
      font-weight: normal;
      color: $c-text;
    }
  }
}
