.advantages {
  background-color: #05040b;
  color: #fff;
}

.advanteges__content {
  padding: 158px 0;
}

.advanteges__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 14px;
  font-size: 36px;
  font-family: Mark-Heavy, sans-serif;
}

.advanteges__title-special {
  color: #05c2df;
  font-family: Quantum, sans-serif;
}

.advanteges__subtitle {
  color: #05c2df;
  text-align: center;
  font-size: 14px;
  margin-bottom: 72px;
}

.advanteges__list {
  display: flex;
  gap: 10px;
}

.advatages__item-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 33px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.advateges__item-title {
  text-align: center;
  margin-bottom: 17px;
}

.advateges__item-subtitle {
  text-align: center;
  color: #929292;
  font-family: Mark-Regular, sans-serif;
  font-size: 16px;
}

//tablet
@media  (max-width: 1024px) {
  .advanteges__content {
    padding: 70px 0;
    margin-bottom: -1px;
  }
  .advanteges__title {
    font-family: Mark-Heavy, sans-serif;
    font-size: 21px;
    line-height: 27px;
  }

  .advanteges__subtitle {
    font-family: Mark-Regular, sans-serif;
    font-size: 12px;
    line-height: 15px;
  }

  .advanteges__list {
    display: grid;
    grid-template-columns: repeat(2, 340px);
    justify-content: center;
  }

  .advateges__item {
    margin-bottom: 40px;
  }
}

//mobile
@media (max-width: 767px) {

  .advanteges__content {
    padding: 33px 0;
  }

  .advanteges__title {
    margin-bottom: 10px;
  }

  .advanteges__subtitle {
    margin-bottom: 30px;
  }

  .advanteges__list {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }

  .advanteges__item {
    margin-bottom: 300px;
  }

  .advatages__item-image {
    display: none;
  }

  .advateges__item-title {
    text-transform: uppercase;
    text-align: left;
  }

  .advateges__item-subtitle {
    text-align: left;
  }
}
