.advantages {
  padding: 50px 21px;

  @include tablet {
    padding: 70px 38px;
  }

  @include notebook {
    padding: 100px 110px 102px 107px;
  }

  &__container {
    margin: 0 auto;

    @include tablet {
      max-width: 777px;
    }

    @include notebook {
      max-width: 1220px;
    }
  }

  &__title {
    margin: 0;
    font-size: 21px;
    line-height: 27px;

    text-transform: uppercase;

    color: #fff;

    @include notebook {
      font-size: 36px;
      line-height: 46px;

      text-align: center;
    }
  }

  &__title span {
    font-family: "Quantum", sans-serif;
    color: #05c2df;
  }
}

.advantage {
  @include tablet {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    gap: 15px;

    margin-top: 28px;

    @include notebook {
      margin-top: 80px;
    }
  }

  &__item {
    margin-bottom: 20px;

    @include tablet {
      margin: 0;
    }

    &:first-child {
      margin-top: 30px;

      @include tablet {
        margin: 0;
      }
    }

    &:last-child {
      margin: 0;
    }
  }

  &__image {
    display: none;

    @include tablet {
      display: unset;
      margin-bottom: 25px;
    }

    &:hover {
      transform: scale(1.3);
      transition: transform 0.7s;
    }
  }

  &__title {
    margin: 0;
    font-size: 16px;
    line-height: 20px;

    text-transform: uppercase;

    color: #fff;

    @include notebook {
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    margin: 10px 0 0;

    font-size: 16px;
    line-height: 150%;

    color: #929292;

    @include tablet {
      margin: 36px 0 0;
    }

    @include notebook {
      display: none;
    }
  }

  &__subtitle-notebook {
    display: none;

    @include notebook {
      display: unset;
      font-size: 16px;
      line-height: 150%;

      color: #929292;
    }
  }
}
