.advantages {
  padding-top: 47px;
  padding-bottom: 50px;
  background: linear-gradient(150deg, rgba(25,21,54,1) 10%, rgba(0,0,0,1) 100%);;

  @include on-tablet {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @include on-desktop {
    padding-block: 100px;
  }

  button {
    display: none;

    @include on-desktop {
      display: block;
      margin-inline: auto;
    }
  }
}

.advantages__title {
  margin-bottom: 32px;
  color: $white;

  & span {
    color: $blue;
    font-weight: 400;
  }

  @include on-tablet {
    margin-bottom: 30px;
  }

  @include on-desktop {
    margin-bottom: 84px;
    text-align: center;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: center;

  @include on-desktop {
    margin-bottom: 90px;
  }
}

.advantages__item {
  @include on-tablet {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include on-desktop {
    width: 278px;
  }
}

.advantage-img {
  display: none;

  @include on-tablet {
    display: block;
    margin-bottom: 25px;
  }

  @include on-desktop {
    margin-bottom: 34px;
  }
}

.advantage__title {
  margin-bottom: 12px;
  color: $white;

  @include on-tablet {
    margin-bottom: 37px;
    text-align: center;
  }

  @include on-desktop {
    margin-bottom: 18px;
  }
}

.advantage__text {
  color: $grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;

  @include on-tablet {
    text-align: center;
  }

  @include on-desktop {
    display: none;
  }
}

.advantage__text-desktop {
  display: none;

  @include on-desktop {
    text-align: center;
    display: inline;
    color: $grey;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
}