@keyframes trans {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes shadow {
  from {
    filter: drop-shadow(0 0 0 $contrast-color);
  }
  to {
    filter: drop-shadow(0 0 5px $contrast-color);
  }
}

@keyframes circle-scale {
  to {
    r: 6px;
  }
}
