.benefits {
  padding-block: 50px;
  background: linear-gradient(107.56deg, #191536 0%, #000 100%);;

  @media (min-width: $tablet-min-width) {
    padding-block: 70px;
  }

  @media (min-width: $desktop-min-width) {
    padding-block: 100px;
  }

  @media (min-width: $desktop-lg-min-width) {
    padding-block: 160px;
  }

  &__page-title {
    margin-bottom: 32px;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-min-width) {
      margin-bottom: 84px;
      text-align: center;
    }

    @media (min-width: $desktop-lg-min-width) {
      margin-bottom: 82px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $tablet-min-width) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: $desktop-min-width) {
      margin-bottom: 80px;
    }
  }

  &__card {
    &:hover {
      transform: scale(1.05);
    }

    @media (min-width: $tablet-min-width) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (min-width: $desktop-lg-min-width) {
      width: 348px;
    }
  }

  &__text {
    display: none;

    @media (min-width: $tablet-min-width) {
      display: block;
      text-align: center;
    }

    @media (min-width: $desktop-min-width) {
      display: none;
    }

    &--desktop {
      @media (min-width: $tablet-min-width) {
        display: none;
      }

      @media (min-width: $desktop-min-width) {
        display: block;
      }
    }
  }

  &__btn {
    display: none;

    @media (min-width: $desktop-min-width) {
      display: block;
      margin-inline: auto;
    }

    @media (min-width: $desktop-lg-min-width) {
      display: none;
    }
  }
}
