.benefits {
  overflow: hidden;
  background: linear-gradient(107.56deg, #191536 0%, #000 100%);

  &__title {
    margin: 0 0 30px;

    text-transform: uppercase;
    text-align: left;
    font-size: 21px;
    line-height: 27px;
    font-weight: 900;
    color: $whiteAccent;

    @include onDesktop {
      font-size: 36px;
      line-height: 46px;
      margin-bottom: 80px;
      text-align: center;
    }

    &--strong {
      font-family: Quantum, sans-serif;
      color: $contrastColor;
    }
  }

  &__item-title {
    margin: 0 0 10px;

    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: $whiteAccent;

    @include onDesktop {
      margin-bottom: 17px;

      font-size: 18px;
      line-height: 23px;
      text-align: center;
    }
  }

  &__item-description {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 150%;
    color: $textColor;

    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include onDesktop {
      display: block;
      margin-bottom: 90px;
      -webkit-line-clamp: 6;
      text-align: center;
    }
  }

  &__image {
    display: none;
    height: 85px;
    width: fit-content;
    object-fit: cover;
    object-position: center;
    margin: 0 auto 30px;
    transition: transform 0.7s;

    &:hover {
      cursor: pointer;
      transform: rotate(360deg) scale(1.3) ;
      filter: hue-rotate(250deg);
    }

    @include onDesktop {
      display: block;
    }
  }

  &__shop {
    display: none;
    justify-content: center;
    align-items: center;

    @include onDesktop {
      display: flex;
    }
  }
}
