.benefits {
  background: linear-gradient(146.86deg, #191536 -0.5%, #000 99.5%);

  &__title1 {
    font-family: Mark-Heavy, sans-serif;
    font-size: 21px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 30px;
  }

  &__title2 {
    font-family: Quantum, sans-serif;
    color: $color-blue;
  }

  &__part {
    margin-bottom: 20px;

    &-img {
      display: none;
    }

    &-title {
      font-family: Mark-Heavy, sans-serif;
      line-height: 20px;
      color: #fff;
      margin-bottom: 10px;
    }

    &-description--768 {
      font-family: Mark-Regular, sans-serif;
    }

    &-description--1280 {
      display: none;
    }
  }

  &__buy {
    display: none;
  }
}

@include onDesctop-768 {
  .benefits {
    &__title1 {
      margin-bottom: 30px;
    }

    &__part {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-img {
        display: flex;
        margin-bottom: 25px;
      }

      &-title {
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 36px;
      }

      &-description--768 {
        text-align: center;
      }
    }
  }
}

@include onDesctop-1280 {
  .benefits {
    &__container {
      width: 100%;
      justify-content: center;
    }

    &__title1 {
      // display: flex;
      text-align: center;
      width: 100%;
      font-size: 36px;
      line-height: 46px;
      margin-bottom: 80px;
    }

    &__part {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 90px;

      &-img {
        display: flex;
        width: 98px;
        height: 81px;
        margin-bottom: 30px;
      }

      &-title {
        margin-bottom: 20px;
      }

      &-description--768 {
        display: none;
      }

      &-description--1280 {
        display: flex;
        text-align: center;
      }
    }

    &__buy {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 200px;
      height: 48px;
    }
  }
}
