.blue-pic {
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--edu {
    background-image: url(../images/icons/education.svg);
  }

  &--est {
    background-image: url(../images/icons/real-estate.svg);
  }

  &--fit {
    background-image: url(../images/icons/fitness.svg);
  }

  &--inter {
    background-image: url(../images/icons/interactions.svg);
  }

  &--compat {
    background-image: url(../images/icons/compatible.svg);
  }

  &--moni {
    background-image: url(../images/icons/monitor.svg);
  }

  &--wifi {
    background-image: url(../images/icons/wireless.svg);
  }
}
