.blue-pic {
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &--edu {
    background-image: url(../images/icons/articles/education.svg);
  }

  &--est {
    background-image: url(../images/icons/articles/real-estate.svg);
  }

  &--fit {
    background-image: url(../images/icons/articles/fitness.svg);
  }

  &--inter {
    background-image: url(../images/icons/articles/interactions.svg);
  }

  &--compat {
    background-image: url(../images/icons/articles/compatible.svg);
  }

  &--moni {
    background-image: url(../images/icons/articles/monitor.svg);
  }

  &--wifi {
    background-image: url(../images/icons/articles/wireless.svg);
  }
}
