@import '../utils/mixins';

html,
body {
  background: linear-gradient(to right, #191536, #000);
  height: auto;
  overflow-y: auto;
  scroll-behavior: smooth; /* плавна прокрутка */
  margin: 0;
  padding: 0;
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
  height: 100%; /* іноді потрібно */
}

body.no-scroll {
  position: relative; /* щоб уникнути зсувів */
  overflow: hidden;
  height: 100vh; /* щоб не було прокрутки */
}
