.btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  background-color: $accent-color;
  color: $white-color;
  padding-block: 10px;
  text-align: center;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    background-color: $white-color;
    color: $accent-color;
  }

  @include on-tablet {
    font-size: 16px;
  }

  @include on-desktop {
    width: 200px;
    padding-block: 13px;
  }
}
