.button {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  line-height: 27px;
  text-decoration: none;
  color: #fff;
  background-color: $pageTextColor;
  border-radius: 40px;

  cursor: url("../images/cursor.svg"), auto;
  transition: all 0.3s;

  &--primary {
    margin: 0 0 48px;
    font-weight: 700;
    background-color: #fff;
    color: $pageTextColor;
    border: 3px solid $pageTextColor;
  }

  &:hover {
    border: 3px solid $pageTextColor;
    background-color: #fff;
    color: $pageTextColor;
  }

  &:active {
    background-color: #111;
  }
}
