.button {
  width: 200px;
  padding: 13px 0;

  text-align: center;

  background-color: $contrast_color;
  border: 0;
  border-radius: 4px;

  transition: color $transition_time, background-color $transition_time;

  &:hover {
    color: $contrast_color;

    background-color: #fff;
  }

  &:focus {
    color: $dark_color;

    background-color: $violet_color;
  }
}
