.button {
  display: flex;
  width: 200px;
  height: 40px;
  background: $blue;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: $white;

  font-size: 16px;
  font-weight: $font-weight-medium;
  line-height: 21px;

  transition: 0.3s;

  &:hover {
    background-color: $white;
    color: $blue;
  }
}

.button__play {
  display: flex;
  align-items: start;
  width: 250px;
  height: 70px;
  background: none;
  border: 0;
  background-image: url(../images/1.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-image: url(../images/2.svg);
  }
}

.button__more {
  justify-content: center;
  opacity: 40%;
}

.button__contact {
  cursor: pointer;
  border: none;

  @media (max-width: $mobile) {
    margin: 0 auto;
  }
}
