.button-video {
  width: 250px;
  height: 65px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/button-video.svg);
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    background-image: url(../images/button-video-hover.svg);
  }
}
