.button {
  display: flex;
  width: 200px;
  height: 40px;
  background: $blue;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: $white;

  font-size: 16px;
  font-weight: $font-weight-medium;
  line-height: 21px;

  transition: 0.3s;

  &:hover {
    background-color: $white;
    color: $blue;
  }
}

.button__container {
  display: none;

  @media (max-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;

    width: 100%;
    padding: 32px 0;
    z-index: 3;

    background: linear-gradient(
      180deg, rgba(0, 0, 0, 0.21) 0%,
      rgba(4, 4, 4, 0.59) 23.44%,
      #050505 100%
    );
  }

  @media (max-width: $mobile) {
    padding: 12px 0;
    background: none;
  }
}

.button__buy {
  width: 458px;
  height: 48px;

  @media (max-width: $mobile) {
    width: 280px;
    height: 40px;
  }
}

.button__play {
  display: flex;
  align-items: start;
  width: 250px;
  height: 70px;
  background: none;
  border: 0;
  background-image: url(../images/1.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-image: url(../images/2.svg);
  }
}

.button__more {
  justify-content: center;
  opacity: 40%;
}

.button__contact {
  cursor: pointer;
  border: none;

  @media (max-width: $mobile) {
    margin: 0 auto;
  }
}
