.card {
  &__img {
    display: none;

    @media (min-width: $tablet-min-width) {
      display: block;
      height: 81px;
      margin-bottom: 30px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    color: $white-color;
    margin-bottom: 11px;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 20px;
    }
  }

  &__text {
    display: none;

    @media (min-width: $tablet-min-width) {
      display: block;
      text-align: center;
    }

    &--mobile {
      display: block;

      @media (min-width: $tablet-min-width) {
        display: none;
      }
    }
  }
}
