.cart {
  background-image: linear-gradient(107.56deg, #191536 0%, #000 100%);
  width: 100vw;
  height: 100vh;
  z-index: 110;
  padding-top: 20px;

  @include onTablet {
    padding-top: 30px;
  }

  @include onDesktop {
    padding-top: 65px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow: visible;

    &-top {
      display: flex;
      flex-direction: column;

      @include onDesktop {
        flex-direction: row;
        margin: 0 110px 100px;
      }

      @include onLargeScreen {
        margin: 0 234px 220px;
      }

      &-wrap {
        display: flex;
        flex-direction: row;
        padding: 0 20px;
        justify-content: space-between;
        margin-bottom: 30px;
      }

      &-logo {
        display: block;
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        background-image: url(../images/Icons/logo.svg);
        width: 58px;
        height: 11px;
      }

      &-cross {
        display: block;
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        background-image: url(../images/Icons/cross-w.svg);
        width: 20px;
        height: 20px;

        &:hover {
          background-image: url(../images/Icons/cross.svg);
        }

        @include onDesktop {
          display: none;
        }
      }

      &-process {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px solid #545454;
        margin-bottom: 30px;

        @include onTablet {
          margin-bottom: 40px;
        }

        @include onDesktop {
          width: 100%;
          border-bottom: none;
        }

        &-status {
          @extend %inter-500;
          font-size: 11px;
          line-height: 130%;
          color: #545454;
          padding-bottom: 17px;
          width: 33.3%;
          text-align: center;
          position: relative;

          &--active {
            color: $c-blue;

            &::after {
              display: block;
              width: 100%;
              height: 1px;
              content: "";
              position: absolute;
              bottom: -1px;

              background-color: $c-blue;

              @include onDesktop {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                left: 50%;
              }
            }
          }

          &--unactive {
            color: #fff;
          }
        }

      }
    }

    &-main {
      display: flex;
      flex-direction: column;

      @include onDesktop {
        flex-direction: row;
        margin: 0 110px;
      }

      @include onLargeScreen {
        margin: 0 234px;
      }

      &-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        @include onDesktop {
          width: 45%;
          justify-content: flex-end;
          margin-bottom: 0;
        }

        @include onLargeScreen {
          min-width: 46%;
        }
      }

      &-image {
        display: none;

        @include onTablet {
          display: flex;
          align-self: center;
          content: "";
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          background-image: url(../images/pic/cart-image.svg);
          width: 524px;
          height: 277px;
        }

        @include onDesktop {
          position: relative;
          left: -50px;
          top: -50px;
        }

        @include onLargeScreen {
          width: 630px;
          height: 338px;
        }

      }

      &-pricing {
        display: flex;
        flex-direction: row;
        overflow: visible;

        @include onTablet {
          width: 50%;
          margin-left: 35px;
          display: flex;
          justify-content: space-between;
        }

        &--active {
          @include onTablet {
            margin-left: 159px;
          }

          @include onDesktop {
            margin-left: 0;
          }
        }

        &-quantity {
          display: flex;
          justify-content: center;
          width: 50%;
          flex-direction: column;
          align-items: center;
          overflow: visible;
          position: relative;

          @include onTablet {
            align-items: flex-start;
            width: unset;
          }

          &-title {
            @extend %inter-400;
            font-size: 16px;
            line-height: 130%;
            color: #929292;
            margin-bottom: 10px;
          }

          &-selector {
            @extend %inter-400;
            font-size: 20px;
            line-height: 130%;
            color: #fff;
            width: 90px;
            height: 41px;
            background-color: #191536;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-radius: 4px;

            &::after {
              display: block;
              content: "";
              background-repeat: no-repeat;
              background-size: contain;
              width: 9px;
              height: 6px;
              background-position: center;
              background-image: url(../images/Icons/Polygon.svg);
              position: absolute;
              right: 11px;
            }
          }

          &-opener {
            display: none;
            align-items: center;
            flex-direction: column;
            width: 90px;
            position: absolute;
            top: 80px;
            height: 109px;
            background-color: #191536;
            border-radius: 4px;
            overflow-y: scroll;

            &-link {
              @extend %inter-400;
              font-size: 20px;
              line-height: 130%;
              color: #fff;
              padding: 4px 0;
              width: 100%;
              text-align: center;

              &:hover {
                color: $c-blue;
                background-color: #110e25;
              }
            }
          }
        }

        &-price {
          display: flex;
          justify-content: center;
          width: 50%;
          flex-direction: column;
          align-items: center;

          @include onTablet {
            align-items: flex-start;
            width: unset;
          }

          &-title {
            @extend %inter-400;
            font-size: 16px;
            line-height: 130%;
            color: #929292;
            margin-bottom: 10px;
          }

          &-amount {
            @extend %inter-500;
            font-size: 26px;
            line-height: 31px;
            color: #05c2df;
          }
        }
      }

      &-container-form {
        padding: 0 20px;

        @include onTablet {
          padding: 0 35px;
        }

        @include onDesktop {
          padding: 0;
        }

        &-button {
          outline: none;
          border: none;
          @include onDesktop {
            width: 200px;
          }
        }

        &--active {

          @include onTablet {
            padding: 0 155px;
          }

          @include onDesktop {
            padding: 0;
            width: 430px;
            margin-left: 50px;
          }

          @include onDesktop {
            width: 550px;
          }

        }
      }

      &-container-finish {
        display: none;
        padding-top: 90px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        align-content: center;

        &-title {
          @extend %inter-900;
          font-size: 26px;
          line-height: 130%;
          text-align: center;
          text-transform: uppercase;
          color: #fff;
          padding: 0 20px;
          margin-bottom: 16px;

          @include onTablet {
            font-size: 46px;
            padding: 0 34px;
            margin-bottom: 20px;
            line-height: 130%;
          }

          @include onDesktop {
            margin-bottom: 36px;
          }

          @include onLargeScreen {
            margin-bottom: 56px;
          }

          &-span {
            @extend %inter-400;
            font-size: 26px;
            line-height: 130%;
            text-align: center;
            text-transform: uppercase;
            color: $c-blue;

            @include onTablet {
              font-size: 46px;
              line-height: 130%;
            }
          }
        }

        &-text {
          @extend %inter-400;
          font-size: 16px;
          line-height: 130%;
          text-align: center;
          color: #fff;
          padding: 0 20px;
          margin-bottom: 30px;

          @include onTablet {
            font-size: 18px;
            line-height: 130%;
            padding: 0 34px;
            margin-bottom: 50px;
          }

          @include onLargeScreen {
            margin-bottom: 70px;
          }
        }

        &-button {
          width: 280px;

          @include onTablet {
            width: 458px;
          }

          @include onDesktop {
            width: 218px;
          }
        }

      }

      &-form {
        width: 100%;
        display: flex;
        flex-direction: column;

        @include onTablet {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        &-input {
          width: 100%;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #2f2f2f;
          padding-bottom: 10px;
          outline: none;
          transition: 0.3s ease;

          @include onTablet {
            width: 340px;
            margin-bottom: 40px;
          }

          @include onDesktop {
            width: 250px;
          }

          @include onLargeScreen {
            width: 348px;
          }

          @extend %inter-400;
          font-size: 14px;
          line-height: 150%;
          color: #929292;

          margin-bottom: 30px;

          &:enabled {
            color: #fff;
          }

          &::placeholder {
            color: #929292;
          }

          &:valid,
          &:focus {
            border-color: $c-blue;
            padding-bottom: 0;
            padding-top: 10px;
          }

          &:invalid:not(:placeholder-shown):not(:focus) {
            border-color: #860404;
          }

          &:focus::placeholder {
            color: $c-blue;
            position: absolute;
            top: 0;
            transition: 0.3s ease;
            font-size: 10px;
            left: 0;
          }
        }

        &-button {
          outline: none;
          border: none;

          @include onTablet {
            width: 458px;
            margin: 0 auto 43px;
          }

          @include onDesktop {
            width: 200px;
            margin: 0;
          }
        }

        &-country {
          display: flex;
          justify-content: center;
          width: 100%;
          flex-direction: column;
          overflow: visible;
          position: relative;

          @include onTablet {
            width: 340px;
            margin-bottom: 20px;
          }

          @include onDesktop {
            margin-bottom: 40px;
            width: 250px;
          }

          @include onLargeScreen {
            width: 348px;
          }

          &-span {
            @extend %inter-400;
            font-size: 14px;
            line-height: 150%;
            color: #929292;
            margin-bottom: 13px;
          }

          &:hover > &-span {
            color: $c-blue;
          }

          &-select {
            @extend %inter-400;
            font-size: 16px;
            line-height: 130%;
            color: #fff;
            width: 100%;
            height: 47px;
            background-color: #191536;
            display: flex;
            align-items: center;
            justify-content: left;
            padding-left: 24px;
            position: relative;
            border-radius: 4px;
            margin-bottom: 30px;

            &::after {
              display: block;
              content: "";
              background-repeat: no-repeat;
              background-size: contain;
              width: 9px;
              height: 6px;
              background-position: center;
              background-image: url(../images/Icons/Polygon.svg);
              position: absolute;
              right: 11px;
            }
          }

          &-opener {
            display: none;
            align-items: center;
            flex-direction: column;
            width: 100%;
            position: absolute;
            top: 90px;
            height: 109px;
            background-color: #191536;
            border-radius: 4px;
            overflow-y: scroll;
            z-index: 10;

            &-link {
              @extend %inter-400;
              font-size: 16px;
              line-height: 130%;
              color: #fff;
              padding: 4px 0;
              width: 100%;
              text-align: left;
              padding-left: 24px;

              &:hover {
                color: $c-blue;
                background-color: #110e25;
              }
            }
          }
        }

        &-city {
          display: flex;
          justify-content: center;
          width: 100%;
          flex-direction: column;
          overflow: visible;
          position: relative;

          @include onTablet {
            width: 340px;
            margin-bottom: 20px;
          }

          @include onDesktop {
            margin-bottom: 40px;
            width: 250px;
          }

          @include onLargeScreen {
            width: 348px;
          }

          &-span {
            @extend %inter-400;
            font-size: 14px;
            line-height: 150%;
            color: #929292;
            margin-bottom: 13px;
          }

          &:hover > &-span {
            color: $c-blue;
          }

          &-select {
            @extend %inter-400;
            font-size: 16px;
            line-height: 130%;
            color: #fff;
            width: 100%;
            height: 47px;
            background-color: #191536;
            display: flex;
            align-items: center;
            justify-content: left;
            padding-left: 24px;
            position: relative;
            border-radius: 4px;
            margin-bottom: 30px;

            &::after {
              display: block;
              content: "";
              background-repeat: no-repeat;
              background-size: contain;
              width: 9px;
              height: 6px;
              background-position: center;
              background-image: url(../images/Icons/Polygon.svg);
              position: absolute;
              right: 11px;
            }
          }

          &-opener {
            display: none;
            align-items: center;
            flex-direction: column;
            width: 100%;
            position: absolute;
            top: 90px;
            height: 109px;
            background-color: #191536;
            border-radius: 4px;
            overflow-y: scroll;
            z-index: 6;

            &-link {
              @extend %inter-400;
              font-size: 16px;
              line-height: 130%;
              color: #fff;
              padding: 4px 0;
              width: 100%;
              text-align: left;
              padding-left: 24px;

              &:hover {
                color: $c-blue;
                background-color: #110e25;
              }
            }
          }
        }

      }

      &-form-card {
        display: none;
        flex-direction: column;

        &-span {
          @extend %inter-400;
          font-size: 14px;
          line-height: 130%;
          color: #929292;
          margin-bottom: 17px;

          &-cardDate {
            width: max-content;
          }
        }

        &-field-number {
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;
          @include onLargeScreen {
            margin-bottom: 70px;
          }
        }

        &-field-name {
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;
          @include onLargeScreen {
            margin-bottom: 70px;
          }
        }

        &-wrap {
          display: flex;
          flex-direction: row;
          margin-bottom: 30px;
          gap: 50px;

          @include onDesktop {
            margin-bottom: 45px;
          }
        }

        &-field-date {
          display: flex;
          flex-direction: column;
          max-width: 110px;
          border-bottom: 1px solid#2f2f2f;

          @include onLargeScreen {
            margin-bottom: 70px;
          }

          &:hover > .cart__content-main-form-card-span-cardDate {
            color: $c-blue;
          }

          &-input {
            border: none;
            outline: none;
            background: transparent;
            box-sizing: border-box;
            @extend %inter-400;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.2em;
            color: #fff;
            width: 50px;
            text-align: center;
            transition: all 0.3s;

            &::placeholder {
              color: #2f2f2f;
            }
          }

          &-line {
            @extend %inter-400;
            font-size: 18px;
            line-height: 130%;
            color: #2f2f2f;
          }

          &-wrap {
            display: flex;
            flex-direction: row;
          }
        }

        &-field-cvv {
          display: flex;
          flex-direction: column;
          max-width: 70px;

          @include onLargeScreen {
            margin-bottom: 70px;
          }

          &-input {
            border: none;
            outline: none;
            background: transparent;
            box-sizing: border-box;
            @extend %inter-400;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.2em;
            color: #fff;
            width: 50px;
            text-align: left;
            transition: all 0.3s;
            border-bottom: 1px solid #2f2f2f;

            &::placeholder {
              color: #2f2f2f;
            }
          }
        }

        &-field-cvv:hover > .cart__content-main-form-card-field-cvv-cardCvv {
          color: $c-blue;
        }

        &-date:hover > .cart__content-main-form-card-span-cardDate {
          color: $c-blue;
        }

        &-field-number:hover > .cart__content-main-form-card-span-cardNumber {
          color: $c-blue;
        }

        &-field-name:hover > .cart__content-main-form-card-span-cardName {
          color: $c-blue;
        }
      }
    }
  }
}
