.choices {
  width: max-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $c-b;
  border: none;
  background-color: transparent;
  &:hover {
    color: $c-w;
  }
  &-r {

    background-color: $c-black;
    border: none;
  }
}
