.cities {
  &__list {
    display: none;

    &--active {
      display: block;
    }
  }

  &__item {
    padding-left: 24px;
    padding-block: 5px;

    &--active {
      display: none;
    }
  }
}
