.complete {
  text-align: center;
  color: $color-white;

  &__title {
    margin-top: 90px;
    margin-bottom: 16px;
    font-size: 26px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__button {
    margin: auto;
  }
}
