.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1921px;

  @include onTablet {
    padding: 0 35px;
  }

  @include onDesktop {
    padding: 0 110px;
  }

  @include onDesktopXL {
    padding: 0 250px;
  }
}
