.contact-us {
  &__prefix {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__form {
    margin-bottom: 28px;
  }

  &__manager-info {
    color: $textGrey;
    text-align: center;
  }
}
