.contact {
  padding: 50px 20px;
  background-color: $colorBlack;

  @include onTablet {
    padding: 70px 35px 130px;
  }

  @include onDesktop {
    padding: 100px 110px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    max-width: 1450px;

    @include onTablet {
      display: block;
    }
  }

  &__title {
    margin-bottom: 32px;

    @extend %headline2-mobile;

    &-quantum {
      font-family: Quantum, sans-serif;
      color: $colorContrast;
    }

    &--blue-small {
      display: inline-block;
      margin-bottom: 13px;
      font-weight: 400;
      color: $colorContrast;
      font-size: 14px;
      text-transform: none;
    }

    @include onDesktop {
      font-weight: 900;
      font-size: 36px;
      line-height: 44px;
    }
  }

  &__text-container {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  &__text {
    font-size: 12px;

    &--mob {
      @include onTablet {
        display: none;
      }
    }
  }
}
