.container {
  box-sizing: content-box;
  padding: 0 20px;

  @include onTablet {
    box-sizing: border-box;
    padding: 0 34px;
  }

  @include onDesktop {
    box-sizing: border-box;
    padding: 0 110px;
  }

  @include onLarge {
    box-sizing: border-box;

    width: auto;
    padding: 0 100px;
  }
}
