.container {
  padding: 0 234px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 34px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

.container-gradient-bg-color {
  background: linear-gradient(146.86deg, #191536 -0.5%, #000 99.5%);
}
