.container {
  max-width: 320px;
  padding-inline: 20px;
  margin-inline: auto;

  @media (min-width: $tablet-min-width) {
    max-width: 768px;
    padding-inline: 34px;
  }

  @media (min-width: $desktop-min-width) {
    max-width: 1280px;
    padding-inline: 110px;
  }

  @media (min-width: $desktop-lg-min-width) {
    max-width: 1920px;
    padding-inline: 234px;
  }
}
