.controler {
  box-sizing: border-box;
  display: flex;
  gap: 100px;
  border-bottom: 1px solid #212121;

  &__link {
    text-decoration: none;
    color: $white;
    padding: 10px 0;
  }

  & > * {
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid $custom;
    }
  }
}
