.contact {
  @include grid;
  @include paddingBlock;
  row-gap: 32px;
  background-color: $background-black;

  @include onTablet {
    grid-template-rows: 53px 50px 1fr;
    row-gap: 50px;
  }

  &__text {
    grid-column: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 11px;

    @include onTablet {
      grid-row: 1;
    }

    @include onDesktop {
      grid-column: 1 / 5;
    }

    &-title {
      color: $white-color;

      &--span {
        font-weight: 400;
      }
    }
  }

  &__form {
    grid-column: 1 / 3;

    @include onTablet {
      grid-row: 1 / 4;
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 9 / 17;
    }

    &-style {
      margin: 32px 0 0;

      @include onTablet {
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }
    }

    &-buttons {
      display: grid;
      grid-template-rows: 1fr;

      @include onTablet {
        justify-content: space-between;
      }
    }

    &-button {
      justify-self: center;

      @include onTablet {
        justify-self: left;
        grid-row: 1;
        width: 100%;
      }

      @include onDesktop {
        width: 200px;
      }

      &--up {
        display: none;
        width: 48px;
        height: 48px;
        grid-row: 1;

        @include onTablet {
          display: block;
          border-radius: 50%;
          background-image: url(../images/icons/content/icon-arrow-up.svg);
          background-repeat: no-repeat;
          background-size: auto;
          background-position: center;
          border: 1px solid $contrast-color;

          transition: all 0.4s ease-in-out;

          &:hover {
            background-color: $contrast-color;
            background-image: url(../images/icons/content/icon-arrow-up-hover.svg);
          }
        }
      }
    }

    &-description {
      grid-column: 1 / 3;
      color: $text-color;

      @include onTablet {
        grid-row: 2;
        grid-column: 1 / 4;
      }

      @include onDesktop {
        grid-column: 1 / 5;
      }
    }

    &-main {
      display: none;
      flex-direction: column;
      gap: 12px;

      @include onTablet {
        display: flex;
        grid-row: 3;
        grid-column: 1 / 4;
      }

      &--link {
        text-decoration: none;
        color: $text-color;
        font-size: 13px;
        font-weight: 400;
        line-height: normal;
        transition: color 0.4s ease-in-out;

        &:hover {
          color: $contrast-color;
        }
      }
    }
  }
}
