.contact {
  padding: 50px 20px;
  background-color: $colorBlack;

  &__title {
    @extend %headline2-mobile;

    &--blue {
      font-weight: 400;
      color: $colorContrast;

      &-small {
        font-weight: 400;
        color: $colorContrast;
        font-size: 14px;
      }
    }
  }
}
