.contact {
  background: $c-background-black;

  &__content {
    padding: 50px 0;

    @include onTablet {
      padding: 70px 0 130px;
    }

    @include onDesktop {
      padding: 100px 0;
    }

    @include onLargeDesktop {
      padding: 160px 0 205px;
    }
  }

  &__title {
    @extend %h1;
    margin-bottom: 15px;

    font-size: 21px;
    line-height: 25px;

    @include onTablet {
      grid-column: 1 / 3;
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-bottom: 10px;
      grid-column: 1 / 5;

      font-size: 36px;
      line-height: 44px;
    }

    &::before {
      content: "Have any questions?";
      display: block;
      margin-bottom: 10px;

      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $c-contrast-blue;

      @include onDesktop {
        margin-bottom: 13px;
      }
    }
  }

  &__form {
    margin-bottom: 30px;

    @include onTablet {
      grid-column: 4 / 7;
      grid-row: 1 / span 4;
      margin-bottom: 0;
    }

    @include onDesktop {
      grid-column: 7 / 13;
    }

    @include onLargeDesktop {
      grid-column: 9 / 17;
    }
  }

  &__button {
    @include onTablet {
      max-width: 200px;
      padding: 13px 0;

      font-size: 16px;
    }
  }

  &__paragraph {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    @include onTablet {
      grid-column: 1 / 4;
      margin-bottom: 55px;

      font-size: 16px;
    }

    @include onDesktop {
      grid-column: 1 / 5;
    }
  }

  &__links {
    display: none;
    flex-direction: column;

    @include onTablet {
      display: flex;
      grid-column: 1 / 3;
    }

    @include onDesktop {
      grid-column: 1 / 4;
    }
  }

  &__link {
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $c-text-gray;

    &:last-of-type {
      margin-bottom: 0;
    }

    &-circle {
      position: absolute;
      right: 0;
      align-self: flex-end;
    }
  }
}
