.content6 {
  display: block;

  @include on-desktop {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    margin-bottom: 106px;

    &--2 {
      margin-bottom: 142px;
    }

    &--3 {
      margin-bottom: 150px;
    }
  }

  @include on-fullhd {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(16, 1fr);
    margin-bottom: 280px;

    &--3 {
      margin-bottom: 247px;
    }
  }
}
