.container {
  box-sizing: content-box;

  width: 280px;
  padding: 0 20px;

  margin: 0 auto;

  @include onTablet {
    box-sizing: border-box;

    width: 768px;
    padding: 0 34px;
  }

  @include onDesktop {
    box-sizing: border-box;

    width: 1280px;
    padding: 0 110px;
  }

  @include onLarge {
    box-sizing: border-box;

    width: auto;
    padding: 0 100px;
  }
}
