.container {
  margin: 0 auto;
  max-width: $contentMaxWidth;
  padding: 0 20px;

  @include onTablet {
    padding: 0 34px;
  }

  @include onDesktop {
    padding: 0 40px;
  }

  @include fullHD {
    max-width: 1450px;
    padding: 0;
  }

  &--tech {
    max-width: $contentMaxWidth;
  }

  &--footer {
    padding: 45px 20px 50px;

    @include onTablet {
      padding: 21px 34px;
    }

    @include onDesktop {
      padding: 43px 40px;
    }

    @include fullHD {
      padding: 43px 0;
    }
  }
}
