.decor {
  display: none;
  gap: 17.5px;

  @include onDesktop {
    display: flex;
  }

  &__element {
    cursor: default;
    margin: 0;
    font-family: Mark, sans-serif;
    font-weight: 900;
    font-size: 64px;
    color: transparent;
    text-transform: uppercase;
    line-height: 130%;
    writing-mode: vertical-lr;
    -webkit-text-stroke: 1px #05c2df;
    animation: glow 3s ease-in-out infinite alternate;

    @keyframes glow {
      from {
        text-shadow: 0 0 20px #2d9da9;
      }
      to {
        text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
      }
    }

    &:nth-child(2) {
      opacity: 0.5;
    }

    &:nth-child(3) {
      opacity: 0.2;
    }

    &:nth-child(4) {
      opacity: 0.1;
    }

    &:nth-child(5) {
      opacity: 0.05;
    }

    &:nth-child(2n) {
      transform: rotate(180deg);
    }
  }
}
