.dropdown {
  list-style: none;
  background-color: $color-background;
  border: solid 1px $color-accent;
  border-radius: 4px;
  box-shadow: 0 0 10px 2px $color-accent;

  &__item {
    color: $color-white;
    cursor: pointer;
    border-radius: 4px;

    @include hover(color, $color-accent);
    @include hover(background-color, $color-hover-background);
  }
}
