.faq {
  background: #191536;
  border-radius: 4px;
  width: 80vw;
  height: 70vh;
  z-index: 110;
  padding-top: 30px;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__button {
    font-size: 16px;
    line-height: 150%;
    margin: 0 auto;
  }

  &__cross {
    align-self: flex-end;
  }

  &__questions {
    margin-bottom: 25px;
  }

  &__question {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    @extend %inter-400;
    font-size: 16px;
    line-height: 150%;
    color: #05c2df;
    padding: 18px 12px;
    border: 1px solid #05c2df;
    border-radius: 4px;
    margin-bottom: 13px;

    &-text {
      display: none;
      padding-top: 18px;
      width: 100%;
      height: 100%;
      @extend %inter-400;
      font-size: 16px;
      line-height: 150%;
      color: #929292;

      &-1 {
        display: block;

        &::after {
          display: block;
          @extend %inter-400;
          font-size: 12px;
          padding-top: 15px;
          line-height: 150%;
          color: #545454;
          content: "Last updated: Wed, June 12 2019 7:07 PM UTC +03:00";
        }
      }

      &-2 {
        display: block;

        &::after {
          display: block;
          @extend %inter-400;
          font-size: 12px;
          padding-top: 15px;
          line-height: 150%;
          color: #545454;
          content: "Last updated: Wed, June 12 2019 7:07 PM UTC +03:00";
        }
      }

      &-3 {
        display: block;

        &::after {
          display: block;
          @extend %inter-400;
          font-size: 12px;
          padding-top: 15px;
          line-height: 150%;
          color: #545454;
          content: "Last updated: Wed, June 12 2019 7:07 PM UTC +03:00";
        }
      }

      &-4 {
        display: block;

        &::after {
          display: block;
          @extend %inter-400;
          font-size: 12px;
          padding-top: 15px;
          line-height: 150%;
          color: #545454;
          content: "Last updated: Wed, June 12 2019 7:07 PM UTC +03:00";
        }
      }
    }
  }
}
