.field-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__label {
    position: absolute;
    top: 0;

    pointer-events: none;
    transition: transform $duration, color $duration;

    &--focused-field {
      transform: translateY(-100%);
      color: $turquoise;
    }

    &--invalid {
      color: $red;
    }
  }

  &__field {
    box-sizing: border-box;
    width: 100%;
    padding: 6px;

    font-size: 16px;
    line-height: 150%;
    color: #fff;

    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid $darkDarkGray;
    caret-color: $turquoise;

    transition: border-bottom-color $duration;

    &--focused {
      border-bottom-color: $turquoise;
    }

    &--card-number {
      letter-spacing: 0.2em;
      text-align: center;
      max-width: 60px;

      @include onTablet {
        font-size: 18px;
        max-width: 70px;
      }
    }

    &--expiration-date {
      max-width: 80px;
    }

    &--cvv-number {
      max-width: 50px;
      letter-spacing: 0.2em;

      @include onTablet {
        font-size: 18px;
      }
    }

    &--invalid {
      border-bottom-color: $red;
    }
  }

  &--hide {
    display: none;
  }
}
