.hero {
  background: $background-black;

  @include section-padding-block;

  &__headline {
    margin-bottom: 12px;

    @include tablet {
      text-align: center;
    }
  }

  &__subtitle {
    margin-bottom: 45px;

    @include tablet {
      text-align: center;
      margin-bottom: 55px;
    }

    @include desktop {
      margin-bottom: 83px;
    }
  }

  &__items {
    @include grid-markup;

    row-gap: 20px;

    @include tablet {
      row-gap: 40px;
    }
  }

  &__item {
    grid-column: 1/-1;

    @include tablet {
      grid-column: span 3;
    }
  }
}
