.fixed {
  @include on-tablet {
    width: 48px;
    height: 48px;
    background-image: url(../images/icons/icon-arrow-top.svg);
    background-size: cover;
    position: fixed;
    bottom: 200px;
    right: 34px;

    @include hover(transform, scale(1.2));
  }

  @include on-desktop {
    bottom: 330px;
    right: 110px;
  }

  &--hidden {
    display: none;
  }
}
