.fixed-top {
  @include grid-container;

  box-sizing: border-box;
  width: 100%;
  height: 98px;
  padding-top: 16px;
  background: linear-gradient(
    180deg,
    #191536 0%,
    rgba(25, 21, 54, 0.83) 70.31%,
    rgba(25, 21, 54, 0) 100%
  );

  &__content {
    grid-column: 1 / -1;

    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 37px;
  }
}
