/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

// /* draggable */

// .flickity-enabled.is-draggable {
//   -webkit-tap-highlight-color: transparent;
//   -webkit-user-select: none;
//      -moz-user-select: none;
//       -ms-user-select: none;
//           user-select: none;
// }

// .flickity-enabled.is-draggable .flickity-viewport {
//   cursor: move;
//   cursor: --webkit-grab;
//   cursor: grab;
// }

// .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
//   cursor: --webkit-grabbing;
//   cursor: grabbing;
// }

/* ---- page dots ---- */

// .flickity-page-dots {
//   position: absolute;
//   display: flex;
//   width: 110%;
//   top: 0;
//   margin: 0 -20px;
//   text-align: center;
//   background: $dark-gray;
//   padding: 0;
// }

// .flickity-rtl .flickity-page-dots {
//   direction: rtl;
// }

// .flickity-page-dots .dot {
//   display: block;
//   width: 33.3%;
//   height: 1px;
//   margin: 0;
//   background: $dark-gray;
//   cursor: pointer;
// }

// .flickity-page-dots .dot.is-selected {
//   background: $blue;
// }
