/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  display: flex;
  gap: 6px;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);

  @include desktop {
    display: none;
  }
}

/* white circles */
.flickity-page-dots .dot {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  opacity: 1;
  background: $dark-gray;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: rgb(171, 171, 171);
}
