.footer {
  padding-block: 45px 80px;
  background-color: #000;

  @media (min-width: $tablet-min-width) {
    padding-block: 81px;
  }

  @media (min-width: $desktop-min-width) {
    padding-block: 39px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;

    @media (min-width: $tablet-min-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__link {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  &__img {
    margin-bottom: 15px;

    &:hover {
      transform: scale(1.1);
    }

    @media (min-width: $tablet-min-width) {
      margin-bottom: 0;
    }
  }

  &__nav {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  &__nav-list {
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (min-width: $tablet-min-width) {
      flex-direction: row;
      gap: 43px;
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__contacts {
    font-size: 13px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 22px;
    grid-column: 2 / 3;
    grid-row: 2;

    @media (min-width: $tablet-min-width) {
      display: none;
    }
  }

  &__socials {
    grid-column: 2 / 3;
    grid-row: 3;
  }
}
