.footer {
  background-color: $black;

  &--mob {
    display: block;

    @include onTablet {
      display: none;
    }
  }

  &__logo {
    margin-bottom: 16px;
  }

  &__list {
    &--contacts {
      margin-bottom: 12px;
    }
  }

  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $white;
    font-family: Mark-Regular, sans-serif;
    font-size: 12px;
    line-height: $lineHeightFooterMob;

    &--contact {
      color: $textGrey;
    }
  }
}
