.footer {
  background: $c-black;

  &__content {
    padding: 45px 0 50px;

    @include onTablet {
      padding: 25px 0;
    }

    @include onDesktop {
      padding: 42px 0;
    }
  }

  &__logo {
    margin-bottom: 15px;

    @include onTablet {
      margin-bottom: 0;
      grid-column: 1 / 2;
    }
  }

  &__flex-container {
    display: flex;
    grid-column: 1 / 3;

    @include onTablet {
      justify-content: space-between;
      grid-column: 1 / 7;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    gap: 12px;

    @include onTablet {
      grid-column: 2 / 6;
      flex-direction: row;
      justify-content: center;
      gap: 40px;
    }

    @include onDesktop {
      grid-column: 5 / 9;
    }

    @include onLargeDesktop {
      grid-column: 7 / 11;
    }
  }

  &__links {
    @include onDesktop {
      grid-column: 11 / 13;
    }

    @include onLargeDesktop {
      grid-column: 15 / 17;
    }

    &-mobile {
      display: flex;
      flex-direction: column;

      @include onTablet {
        display: none;
      }
    }

    &-social {
      display: flex;

      @include onDesktop {
        justify-content: end;
      }
    }
  }

  &__link {
    margin-bottom: 12px;
  
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $c-text-gray;

    &:last-of-type {
      margin-bottom: 25px;
    }

    &-social {
      margin-right: 22px;

      @include onTablet {
        margin-right: 18px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
