.footer {
  background-color: $color-footer;
  padding-top: 45px;
  padding-bottom: 50px;

  @include smartphone {
    padding: 22px 0;
  }

  @include smalldesktop {
    padding: 40px 0;
  }

  &__content {
    @include gridPage;
    align-items: center;
  }

  &__left {
    grid-column: 1;

    @include smartphone {
      display: flex;
      flex-direction: row;
      align-items: center;
      grid-column: 1 / 6;
      gap: 75px;
    }

    @include smalldesktop {
      grid-column: 1 / 9;
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin: auto 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include smartphone {
      flex-direction: row;
      gap: 43px;
    }
  }

  &__link {
    color: $color-white;
    font-family: $font-family;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border-bottom: 1px solid $color-footer;
    cursor: pointer;
    transition: 0.5s all;

    &:hover {
      color: $color-blue;
      border-bottom: 1px solid $color-blue;
    }
  }

  &__right {
    grid-column: 2;

    @include smartphone {
      display: flex;
      justify-content: right;
      grid-column: 6;
    }

    @include smalldesktop {
      grid-column: 11 / -1;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 22px;

    @include smartphone {
      display: none;
    }
  }

  &__telephone {
    color: $c0lor-grey;
    font-family: $font-family;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    text-decoration: none;
  }

  &__icon {
    display: flex;
    justify-content: space-between;
    margin: auto;

    @include smartphone {
      display: flex;
      justify-content: space-between;
      margin: 0;
      gap: 7px;
    }

    @include smalldesktop {
      gap: 20px;
    }
  }
}
