.for-whom {
  &__title {
    margin-bottom: 10px;

    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
  }

  &__article {
    line-height: 150%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $color-grey-2;
  }
}
