.form-field {
  width: 100%;
  border: 0;
  border-bottom: 1px solid $dark-grey;
  background-color: transparent;

  font-size: 16px;
  line-height: 150%;
  color: $white;

  &--textarea {
    font-family: "Mark-Regular", sans-serif;
    font-size: 16px;
    line-height: 150%;
    margin-top: 12px;
    resize: none;

    @include onDesktop {
      margin-bottom: 90px;
    }
  }
}
