.form {
  padding-top: 32px;

  @include on-tablet {
    padding-top: 0;
    grid-row: 1/-1;
  }

  &__btn {
    margin-top: 30px;
    padding: 10px 100px;
    width: 280px;
    height: 37px;

    @include on-tablet {
      margin-top: 48px;
      width: 200px;
      height: 48px;
      padding: 0;
    }

    @include on-desktop {
      margin-top: 90px;
    }
  }
}