.form-field {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  padding-bottom: 20px;

  width: 280px;

  border: none;
  border-bottom: 1px solid $colorGrey;
  font-family: inherit;

  background-color: $colorBlack;

  &--textarea {
    padding-bottom: 70px;
    resize: none;
  }

}
