.gaming {
  background-color: #05040b;
  padding: 35px 0;
  @include onTablet {
    padding: 55px 0;
  }
  @include onDesktop {
    padding: 70px 0;
  }
  @include ondesing {
    padding: 100px 0;
  }
  .abreviation {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
    padding-bottom: 12px;
    @include onTablet {
      justify-content: center;
      padding-bottom: 50px;
    }
    @include onDesktop {
      padding-bottom: 26px;
    }
  }
  .abreviation--1 {
    @include onTablet {
      padding-bottom: 32px;
    }
    @include onDesktop {
      padding-bottom: 80px;
    }
    @include ondesing {
      padding-bottom: 83px;
    }
  }
  .styleH2d__about {
    font-weight: 900;
    line-height: normal;
  }
  .styleH2d__about1 {
    color: var(--Contrast-Color, #05c2df);
    font-weight: 400;
    line-height: normal;
  }
  .textCol {
    color: #05c2df;
  }
  .titleH6 {
    display: flex;
    justify-content: left;
    padding-bottom: 10px;
    @include onTablet {
      justify-content: center;
      padding-bottom: 30px;
    }
    @include onDesktop {
      padding-bottom: 70px;
    }
    @include ondesing {
      padding-bottom: 73px;
    }
  }
  .title-disp1 {
    display: flex;
    flex-direction: column;
    @include onTablet {
      align-items: center;
    }
    // @include onDesktop {
    //   width: 185px;
    // }
  }
  .gaming__title {
    padding-bottom: 3px;
    @include onTablet {
      padding-bottom: 18px;
    }
  }
  .gaming__title1 {
    padding-bottom: 16px;
  }
  .gaming__title-e1 {
    display: flex;
    justify-content: center;
  }
  .gaming__title-e1--last {
    padding-bottom: 50px;
  }
  // .gaming__title-e1--mob {
  //   padding-bottom: 50px;
  //   @include onTablet {
  //     padding: 0;
  //   }
  // }
  .padGrid {
    @include onTablet {
      padding-bottom: 65px;
    }
    @include onDesktop {
      padding-bottom: 0;
    }
  }
  .ab1 {
    padding-bottom: 20px;
    @include onTablet {
      padding-bottom: 25px;
    }
    @include onDesktop {
      padding-bottom: 32px;
    }
  }
  .svg1 {
    display: none;
    @include onTablet {
      display: flex;
      overflow: hidden;
      width: 100px;
      height: 83px;
      object-fit: contain;
      object-position: center;
      position: relative;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/Vector1.svg);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .svg2 {
    display: none;
    @include onTablet {
      display: flex;
      overflow: hidden;
      width: 100px;
      height: 83px;
      object-fit: contain;
      object-position: center;
      position: relative;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/Vector2.svg);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .svg3 {
    display: none;
    @include onTablet {
      display: flex;
      overflow: hidden;
      width: 100px;
      height: 83px;
      object-fit: contain;
      object-position: center;
      position: relative;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/Vector3.svg);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .svg4 {
    display: none;
    @include onTablet {
      display: flex;
      overflow: hidden;
      width: 100px;
      height: 83px;
      object-fit: contain;
      object-position: center;
      position: relative;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/Vector4.svg);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .svg12 {
    display: none;
    @include onTablet {
      display: flex;
      overflow: hidden;
      width: 100px;
      height: 83px;
      object-fit: contain;
      object-position: center;
      position: relative;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/Group1.png);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .svg22 {
    display: none;
    @include onTablet {
      display: flex;
      overflow: hidden;
      width: 111px;
      height: 83px;
      object-fit: contain;
      object-position: center;
      position: relative;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/Group2.png);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .svg32 {
    display: none;
    @include onTablet {
      display: flex;
      overflow: hidden;
      width: 111px;
      height: 83px;
      object-fit: contain;
      object-position: center;
      position: relative;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/Group3.png);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .padG5 {
    @include onTablet {
      padding-bottom: 140px;
    }
    @include onDesktop {
      padding-bottom: 315px;
    }
    @include ondesing {
      padding-bottom: 317px;
    }
  }
  .position {
    display: flex;
    justify-content: left;
  }
  .header__titleG {
    padding-top: 50px;
  }
  .colorH {
    color: #05c2df;
  }
  .foot-cont {
    color: #929292;
  }
  .padbot {
    display: none;
    @include onTablet {
      display: flex;
      padding-bottom: 76px;
    }
  }
  .padbot1 {
    display: flex;
    padding-bottom: 95px;
    @include onTablet {
      display: none;
    }
  }
  .pad_list {
    display: none;
    @include onTablet {
      display: flex;
      padding-bottom: 11px;
    }
  }
  .foot__vector {
    display: none;
    @include onTablet {
      display: flex;
      justify-content: right;
      margin-bottom: -25px;
    }
  }
  .Vectorfoot {
    display: block;
    width: 49px;
    height: 50px;
    background-repeat: no-repeat;
    transition: all 0.3s;
    background-image: url(../images/Vectorfoot.svg);
    &:hover {
      transition: 0.5s;
      transform: scale(1.07);
    }
  }
}
