.get-in-touch {
  &__content {
    @include grid-container;

    box-sizing: border-box;
    padding-block: 50px;
  }

  &__have-questions {
    grid-column: 1 / -1;

    margin: 0;
    margin-bottom: 11px;

    font-size: 14px;
    line-height: 16.94px;
    color: $contrastColor;
  }

  &__title {
    grid-column: 1 / -1;

    margin: 0;
    margin-bottom: 32px;
  }

  &__form {
    grid-column: 1 / -1;

    margin-bottom: 27px;
  }

  &__manager-reply {
    grid-column: 1 / -1;

    margin: 0;

    font-size: 12px;
    line-height: 18px;
  }
}
