.get-in-touch {
  background: #05040b;
  padding: 50px 0;

  &__pre-title {
    line-height: 18px;
    color: #05c2df;
    font-size: 14px;
    font-family: Mark-Regular, sans-serif;
    margin-bottom: 10px;
  }

  &__title {
    font-family: Mark-Heavy, sans-serif;
    font-size: 21px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 41px;

    &-special {
      color: #05c2df;
      font-family: Quantum, sans-serif;
    }
  }
  &__form {
    background-color: transparent;
    margin-bottom: 30px;
  }
  &__label {
    color: #929292;
    font-family: Mark-Regular, sans-serif;
    font-size: 14px;
    line-height: 150%;

  }
  &__input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #2f2f2f;
    border-right: none;
    border-top: none;
    border-left: none;
    color: #fff;
    margin-bottom: 30px;
    height: 30px;
    font-size: 16px;
    transition: all 0.5s;
    &:focus {
      border-bottom: 1px solid #05c2df;
    }
  }
  &__textarea {
    width: 100%;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #2f2f2f;
    outline: none;
    color: #fff;
    font-size: 16px;
    transition: all 0.5s;
    resize: none;
    overflow: hidden;
    height: 67px;

    &:focus {
      border-bottom: 1px solid #05c2df;
    }
  }

  &__form-submit {
    width: 100%;
    padding: 12px 0;
    background-color: #05c2df;
    color: #fff;
    font-family: Mark-Medium, sans-serif;
    font-size: 14px;
    line-height: 130%;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 27px;
    cursor: pointer;
  }

  &__info {
    text-align: center;
    color: #929292;
    font-family: Mark-Regular, sans-serif;
    font-size: 12px;
    line-height: 150%;
  }

}
