.get-in-touch {
  background: #05040b;
  padding: 50px 0;
  margin-bottom: -1px;
}

@media (max-width: 1024px) {
  
  .get-in-touch {
    background: #05040b;
    padding: 50px 0;
    margin-bottom: -1px;
  
    &__pre-title {
      line-height: 18px;
      color: #05c2df;
      font-size: 14px;
      font-family: Mark-Regular, sans-serif;
      margin-bottom: 10px;
    }
  
    &__title {
      font-family: Mark-Heavy, sans-serif;
      font-size: 21px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 41px;
  
      &-special {
        color: #05c2df;
        font-family: Quantum, sans-serif;
      }
    }
    &__form {
      background-color: transparent;
      margin-bottom: 30px;
    }
    &__label {
      color: #929292;
      font-family: Mark-Regular, sans-serif;
      font-size: 14px;
      line-height: 150%;
  
    }
    &__input {
      width: 100%;
      background-color: transparent;
      outline: none;
      border-bottom: 1px solid #2f2f2f;
      border-right: none;
      border-top: none;
      border-left: none;
      color: #fff;
      margin-bottom: 30px;
      height: 30px;
      font-size: 16px;
      transition: all 0.5s;
      &:focus {
        border-bottom: 1px solid #05c2df;
      }
    }
    &__textarea {
      width: 100%;
      background-color: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #2f2f2f;
      outline: none;
      color: #fff;
      font-size: 16px;
      transition: all 0.5s;
      resize: none;
      overflow: hidden;
      height: 67px;
  
      &:focus {
        border-bottom: 1px solid #05c2df;
      }
    }
  
    &__form-submit {
      width: 100%;
      padding: 12px 0;
      background-color: #05c2df;
      color: #fff;
      font-family: Mark-Medium, sans-serif;
      font-size: 14px;
      line-height: 130%;
      border: none;
      outline: none;
      border-radius: 5px;
      margin-bottom: 27px;
      cursor: pointer;
      transition: 0.5s ease-in-out;
  
      &:hover {
        background-color: #fff;
        color: #05c2df;
      }
    }
  
    &__info {
      text-align: center;
      color: #929292;
      font-family: Mark-Regular, sans-serif;
      font-size: 12px;
      line-height: 150%;
    }
  }
}

@media (min-width: 1025px) {
  .container--get-in-touch-desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .get-in-touch {
    background: #05040b;
    padding: 160px 0 205px;
    margin-bottom: -1px;
  
    &__pre-title {
      line-height: 18px;
      color: #05c2df;
      font-size: 14px;
      font-family: Mark-Regular, sans-serif;
      margin-bottom: 10px;

      // dont allow select
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  
    &__title {
      font-family: Mark-Heavy, sans-serif;
      font-size: 36px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 41px;

      // dont allow select
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  
      &-special {
        color: #05c2df;
        font-family: Quantum, sans-serif;
      }
    }

    &__reply-desktop {
      font-family: Mark-Regular, sans-serif;
      font-size: 16px;
      line-height: 150%;
      color: #929292;
      margin-bottom: 76px;
    }

    &__contacts-tablet {
      width: 200px;

      &-item {
        position: relative;
        font-family: Mark-Regular, sans-serif;
        color: #929292;
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: #05c2df;
          text-decoration: underline;
        }
      }
    }

    &__form {
      background-color: transparent;

    }
    &__label {
      color: #929292;
      font-family: Mark-Regular, sans-serif;
      font-size: 14px;
      line-height: 150%;
    }
    &__input {
      width: 100%;
      background-color: transparent;
      outline: none;
      border-bottom: 1px solid #2f2f2f;
      border-right: none;
      border-top: none;
      border-left: none;
      color: #fff;
      margin-bottom: 30px;
      height: 30px;
      font-size: 16px;
      transition: all 0.5s;
      &:focus {
        border-bottom: 1px solid #05c2df;
      }
    }
    &__textarea {
      width: 100%;
      background-color: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #2f2f2f;
      outline: none;
      color: #fff;
      font-size: 16px;
      transition: all 0.5s;
      resize: none;
      overflow: hidden;
      height: 67px;
  
      &:focus {
        border-bottom: 1px solid #05c2df;
      }
    }
  
    &__form-submit {
      width: 30%;
      padding: 12px 0;
      background-color: #05c2df;
      color: #fff;
      font-family: Mark-Medium, sans-serif;
      font-size: 14px;
      line-height: 130%;
      border: none;
      outline: none;
      border-radius: 5px;
      margin-bottom: 27px;
      cursor: pointer;
      transition: 0.5s ease-in-out;
  
      &:hover {
        background-color: #fff;
        color: #05c2df;
      }
    }
   
    .up-btn {
      transition: 0.5s;

      &:hover {
        transform: scale(0.95);
      }
      .up-btn-svg {
        margin-top: 12px;
      }
    }

    &__info {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .up-btn {
    display: none;
  }

  .get-in-touch {
    padding: 70px 0;
  }

  .get-in-touch__pre-title {
    margin: 0 0 16px;
  }
  .container--get-in-touch-tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .get-in-touch__form-submit {
    display: none;
  }

  .get-in-touch__title {
    margin-bottom: 66px;
  }

  .get-in-touch__reply-tablet {
    font-family: Mark-Regular, sans-serif;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 66px;
    color: #929292;
  }

  .get-in-touch__contacts-tablet {
    color: #929292;
    font-family: Mark-Regular, sans-serif;
    font-size: 16px;
    line-height: 20px;
    width: 160px;

    &-item {
      position: relative;
      font-family: Mark-Regular, sans-serif;
      color: #929292;
      display: block;
      margin-bottom: 15px;
      font-size: 16px;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
  
      &:hover {
        transform: scale(1.01);
      }
    }
  }

  .get-in-touch__info {
    display: none;
  }

 
}

@media (max-width: 767px) {

  .container--get-in-touch-tablet {
    display: block;
  }

  .get-in-touch__form-submit {
    display: block;
  }

  .get-in-touch__reply-tablet {
    display: none;
  }

  .get-in-touch__contacts-tablet {
    display: none;
  }

  .get-in-touch__info {
    display: block;
  }
}
