.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
  }

  @include onMax {
    grid-template-columns: repeat(16, 1fr);
  }

  &--mobile {
    display: grid;

    @include onTablet {
      display: block;
    }
  }

  &--desktop {
    display: block;

    @include onDesktop {
      display: grid;
    }
  }

  &__row {
    @for $quant from 1 through 10 {
      &-#{$quant} {
        grid-template-rows: repeat(#{$quant}, 1fr);
      }
    }
  }

  &__item--row {
    @for $start from 1 through 5 {
      @for $end from $start through 4 {
        &-#{$start}-#{$end} {
          grid-row: #{$start} / #{$end};
        }
      }
    }
  }

  &__item {
    @for $start from 1 through 16 {
      @for $end from $start through 16 {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }

        &--max-#{$start}-#{$end} {
          @include onMax {
            grid-column: #{$start} / #{$end + 1};
          }
        }

        &--desktop-#{$start}-#{$end} {
          @include onDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }

        &--tablet-#{$start}-#{$end} {
          @include onTablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
