.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  column-gap: 20px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
  }

  @include onFullHd {
    grid-template-columns: repeat(16, 1fr);
  }

  &--tablet {
    display: block;

    @include onTablet {
      display: grid;
    }
  }

  &__item {
    @for $start from 1 through 16 {
      @for $end from 1 through 16 {
        &--#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }

        @include onTablet {
          &--tablet-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }

        @include onDesktop {
          &--desktop-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }

        @include onFullHd {
          &--fullHd-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
