.heading {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-weight: normal;
  color: $colorWhite;
  @include textH2;

  @media (min-width: 1900px) {
  padding-top: 160px;
  padding-bottom: 160px;
  }
}

.heading__rigth {
  font-family: "Quantum", sans-serif;
  font-weight: normal;
  color: $colorContrast;
}
