.header {
  @include grid;
  grid-template-rows: 80px auto;

  height: 100vh;

  @include onTablet {
    height: 50%;
    align-items: center;
    grid-template-rows: 80px 183px 152px 80px;
  }

  @include onDesktop {
    height: 100%;
    grid-template-rows: 160px 262px 160px 1fr;
  }

  &__image {
    background-image: url(../images/header/header-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 170px;

    grid-row: 2;
    grid-column: 1 / 3;

    @include onTablet {
      background-image: url(../images/header/header-bg-tablet.png);
      height: 400px;

      grid-column: 3 / 7;
      grid-row: 2 / 4;
    }

    @include onDesktop {
      grid-column: 8 / 17;
      grid-row: 3;
      background-image: none;
    }

    &-container {
      display: none;

      @include onDesktop {
        display: block;
      }
    }

    &-desktop {
      display: none;

      &--slider {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  &__text {
    display: grid;
    row-gap: 17px;
    grid-row: 3;
    grid-column: 1 / 3;

    @include onTablet {
      grid-row: 2;
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 8;
      row-gap: 35px;
    }

    &-title {
      margin: 0;
      color: $white-color;

      &--span {
        font-weight: 400;
      }
    }

    &-description {
      margin: 0;
      color: $text-color;

      @include onDesktop {
        padding-left: 78px;
        width: 60%;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 38px 83px;
    grid-row: 4;
    grid-column: 1 / 3;

    @include onTablet {
      grid-row: 3;
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 2 / 6;
    }

    &-price {
      color: $white-color;
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
      text-align: center;

      @include onTablet {
        text-align: left;
      }
    }

    &-button {
      display: grid;
      grid-template-rows: 70px;
      grid-template-columns: 100px 160px;
      align-items: center;
      justify-content: center;
      transition: background-image 0.4s ease-in-out;

      @include onTablet {
        grid-template-columns: 84px 1fr;
      }

      &--main {
        grid-row: 1;
        display: grid;
        justify-self: right;
        width: 85px;
        height: 70px;
        background-repeat: no-repeat;
        background-image: url(../images/button-video/button-video-main.svg);
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 17%;
          left: 100%;
          height: 2px;
          width: 135px;
          background-image: url(../images/button-video/button-video-border.svg);
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 17%;
          left: 100%;
          height: 2px;
          width: 135px;
          background-image: url(../images/button-video/button-video-border.svg);
        }
      }
      
      &:hover .header__content-button--main {
        background-image: url(../images/button-video/button-video-main-hover.svg);
      }
    }
  }

  &__button {
    width: 100%;
    margin-top: -20px;
    grid-row: 5;
    grid-column: 1 / 3;

    @include onTablet {
      grid-column: 2 / 6;
      grid-row: 4;
    }

    @include onDesktop {
      display: none;
    }
  }

  &__bottom {
    display: none;

    @include onDesktop {
      grid-column: 1 / 17;
      grid-row: 5;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      padding-block: 120px;
    }

    &-list {
      display: flex;
      flex-direction: row;
      gap: 40px;

      padding: 0;
      margin: 0;
      list-style: none;
    }

    &-link {
      cursor: pointer;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      color: $white-color;
      background-color: transparent;
      border: none;
      transition: color 0.4s ease-in-out;

      &:hover {
        color: $contrast-color;
      }

      &--more {
        color: $contrast-color;
        font-weight: 500;
        text-decoration: none;
        position: relative;
        text-align: center;
        transition: transform 0.4s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }

        @include onDesktop {
          margin-left: 50px;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -20px;
          right: 30%;

          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 6px 9px;
          border-color: transparent transparent $contrast-color transparent;
          transform: rotate(180deg);
          transition: border-color 0.4s ease-in-out;
        }
      }
    }
  }

  &__dots {
    width: 200px;
    border-bottom: 1px solid $text-color;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-next {
      text-align: right;
    }

    &-prev,
    &-next {
      cursor: pointer;
      color: $white-color;
      font-weight: 500;
      width: 70px;
      padding-bottom: 10px;
      transition: color 0.4s ease-in-out;

      &:hover {
        color: $contrast-color;
      }
    }
  }
}
