.header {
  background-image: linear-gradient(107.56deg, #191536 0%, #000 100%);
  position: relative;
  overflow: hidden;

  padding-top: 20px;

  &__content {
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    &--2 {
      display: none;

      @include onDesktop {
        display: none;
      }

    }

    @include onTablet {
      flex-direction: row;
    }

    &-info {
      display: flex;
      flex-direction: column;

      &-container {
        display: flex;
        flex-direction: column;

        @include onDesktop {
          margin-left: 90px;
        }

        @include onLargeScreen {
          margin-left: 110px;
        }
      }

      &-title {
        display: block;
        content: "";
        background-image: url(../images/Icons/slogan.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 280px;
        height: 68px;
        margin-bottom: 17px;

        @include onDesktop {
          margin-bottom: 20px;
          width: 479px;
          height: 120px;
        }

        @include onLargeScreen {
          margin-left: 20px;
          width: 552px;
          height: 140px;
          margin-bottom: 35px;
        }
      }

      &-text {
        @extend %inter-500;
        font-size: 16px;
        line-height: 150%;
        color: #929292;
        margin-bottom: 8px;

        @include onTablet {
          max-width: 340px;
          margin-bottom: 10px;
        }

        @include onDesktop {
          margin-bottom: 5px;
        }

        @include onLargeScreen {
          margin-bottom: 30px;
          font-size: 20px;
          max-width: 440px;
        }
      }

      &-price {
        @extend %inter-500;
        font-size: 18px;
        text-align: center;
        line-height: 22px;
        color: #fff;
        margin-bottom: 16px;

        @include onTablet {
          text-align: left;
          margin-bottom: 24px;
        }

        @include onDesktop {
          margin-bottom: 20px;
        }

        @include onLargeScreen {
          margin-bottom: 35px;
          font-weight: 20px;
          line-height: 24px;
        }
      }

      &-playbutton {
        display: block;
        content: "";
        background-color: transparent;
        border: none;
        outline: none;
        background-image: url(../images/Icons/play-button-b.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        width: 100%;
        height: 66px;
        margin-bottom: 23px;

        &:hover {
          background-image: url(../images/Icons/play-button-w.svg);
        }

        @include onTablet {
          margin-bottom: 61px;
        }

        @include onDesktop {
          margin-bottom: 84px;
        }

        @include onLargeScreen {
          margin-bottom: 215px;
        }
      }

      &-button {
        width: 280px;
        transition: all 0.3s ease;

        @include onTablet {
          display: none;
        }

        &--sticky {
          position: fixed;
          bottom: 10px;
          left: 50%;
          transform: translate(-50%);
          z-index: 50;
          transition: all 0.3s ease;

          @include onTablet {
            display: flex;
            width: 458px;
          }

          @include onDesktop {
            display: none;
          }

          &-2 {
            bottom: 220px;
            transition: all 0.3s ease;

            @include onTablet {
              bottom: 70px;
            }
          }
        }

      }
    }

    &-image {
      display: block;
      content: "";
      background-image: url(../images/pic/mobile-title.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 320px;
      height: 172px;
      position: relative;
      top: auto;
      left: -20px;

      @include onTablet {
        background-image: url(../images/pic/tablet-title.svg);
        top: unset;
        left: unset;
        position: absolute;
        bottom: 0;
        right: -40px;
        width: 486px;
        height: 439px;
        z-index: 0;
      }

      @include onDesktop {
        width: 810px;
        height: 688px;
        bottom: -42px;
        right: -80px;

        &--2 {
          background-image: url(../images/pic/image3.svg);

          width: 400px;
          right: 100px;
        }
      }

      @include onLargeScreen {
        width: 1150px;
        height: 988px;
        bottom: -42px;
        right: -80px;

        &--2 {
          background-image: url(../images/pic/image3.svg);
          width: 600px;
          right: 100px;
        }
      }
    }
  }
}
