.heading {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-weight: normal;
  color: $colorWhite;
  @include textH2;

}

.heading__rigth {
  font-family: "Quantum", sans-serif;
  font-weight: normal;
  color: $colorContrast;
}
