.header {
  height: auto;
  display: flex;
  justify-content: space-between;

  &__right,
  &__left {
    display: grid;
    gap: $gap-nav;
    grid-template-columns: repeat(2,auto);
    justify-content: space-between;
    align-items: center;
  }

  // &__logo {
  //   object-fit: contain;
  //   object-position: center;
  // }
}
