.header {
  background: $bgGradient;
  padding: 0;

  @include onTablet {
    background: url("../images/product-pic-lg.png"), $bgGradient;
    background-repeat: no-repeat, repeat;
    background-size: contain, auto;
    background-position: center right, top left;
  }

  &__content {
    box-sizing: border-box;
    min-height: 100vh;
    padding-bottom: 56px;

    @include onTablet {
      min-height: 0;
      padding-bottom: 70px;
    }

    @include onDesktop {
      min-height: 100vh;
      padding-bottom: 88px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__icon--mob {
    @include onDesktop {
      display: none;
    }
  }

  &__product-img-container {
    margin: 0 #{-1 * $paddingsHorMob};

    @include onTablet {
      display: none;
    }
  }

  &__product-img {
    display: block;
    width: 100%;
  }

  &__title {
    margin-bottom: 14px;
  }

  &__desc {
    font-family: Mark-Medium, sans-serif;
    margin-bottom: 8px;

    @include onTablet {
      margin-bottom: 10px;
    }

    @include onDesktop {
      margin-bottom: 20px;
    }
  }

  &__price {
    margin-bottom: 24px;

    font-family: Mark-Medium, sans-serif;
    font-size: 18px;
    line-height: 23px;
    text-align: center;

    @include onTablet {
      text-align: left;
      margin-bottom: 32px;
    }

    @include onDesktop {
      margin-bottom: 30px;
    }
  }

  &__button-play {
    @include onDesktop {
      margin-bottom: 52px;
    }
  }

  &__bottom-nav {
    display: none;

    @include onDesktop {
      display: grid;
    }
  }

  &__bottom-nav-list {
    display: flex;
    align-items: center;
    gap: 36px;

    &--more {
      margin: 0 auto;
    }
  }

  &__bottom-nav-link {
    &--more {
      position: relative;
      color: $contrastBlue;
      transition: color $transitionDefault;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 16px;

        background-image: url("../images/arrow-down-blue.svg");
        background-repeat: no-repeat;
        background-position: bottom center;
      }

      &:hover {
        color: $white;

        &::after {
          background-image: url("../images/arrow-down.svg");
        }
      }
    }
  }
}
