.help {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr;
  padding-inline: 20px;

  height: 100vh;
  z-index: 2;
  background-color: #191536;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in;
  pointer-events: none;
  overflow: auto;

  &:target {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }

  @include onTablet {
    row-gap: 50px;
    padding-inline: 34px;
    padding-bottom: 50px;

    height: 70vh;
    box-shadow: 0 35vh 0 35vh rgba(0, 0, 0, 0.7);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    grid-column: 1 / 3;
    gap: 30px;

    @include onTablet {
      display: grid;
      row-gap: 20px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 30px 140px 1fr;
      align-items: start;
    }

    &-title {
      margin: 0;
      color: $white-color;

      @include onTablet {
        font-size: 21px;
        text-align: start;
        grid-row: 1;
        grid-column: 1 / 3;
      }
    }

    &-span {
      font-weight: 400;
    }

    &-description {
      margin: 0;
      color: $text-color;

      &--link {
        text-decoration: none;
      }

      @include onTablet {
        grid-row: 2;
        grid-column: 1 / 3;
      }
    }

    &-link {
      display: flex;
      flex-direction: column;
      align-self: start;
      gap: 20px;

      &--items {
        text-decoration: none;
      }
    }

    &-contacts {
      display: flex;
      flex-direction: column;
      align-self: start;
      gap: 10px;

      &--link {
        text-decoration: none;
        line-height: normal;
        color: $text-color;
        transition: color 0.4s ease-in-out;

        &:hover {
          color: $contrast-color;
        }
      }
    }
  }
}
