.help {
  &__title {
    margin-bottom: 30px;

    @include onDesktop {
      margin-bottom: 50px;
    }
  }

  &__info {
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 20px;
    }
  }

  &__list {
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $contrastBlue;
    text-decoration: none;
  }

  &__contact {
    line-height: 24px;
  }
}
