.help {
  background-color: $c-background-menu;

  overflow-y: auto;

  bottom: auto;

  @extend %block-content;

  @include onTablet {
    height: auto;
    padding: 34px 0 125px;

    z-index: 3;
  }

  @include onDesktop {
    min-width: 880px;
    padding: 0 0 75px;
  }

  @include onLargeDesktop {
    min-width: 1083px;
  }

  &__content {
    padding: 0 20px;

    @include onTablet {
      padding: 0 34px;
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 20px;
      padding: 0;
    }

    @include onLargeDesktop {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__top {
    display: flex;
    justify-content: end;
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onDesktop {
      padding: 18px 18px 0 0;
      grid-column: -2 / -1;
    }

    @include onLargeDesktop {
      padding: 26px 26px 0 0;
      margin-bottom: 0;
    }

    & > a:first-child {
      @include onDesktop {
        display: none;
      }
    }

    & > a:nth-child(2) {
      display: none;

      @include onDesktop {
        display: block;
      }
    }
  }

  &__title {
    @extend %h1;

    margin-bottom: 30px;

    font-size: 21px;

    @include onDesktop {
      grid-column: 2 / 8;
      font-size: 36px;
    }

    &--text-blue {
      @extend %text--blue;
    }
  }

  &__paragraph {
    margin-bottom: 30px;

    @include onDesktop {
      grid-column: 2 / -2;
      margin-bottom: 0;
    }

    &-text {
      &:first-of-type {
        margin-bottom: 20px;
      }
    }
  }

  &__links {
    @include onTablet {
      display: flex;
    }

    @include onDesktop {
      grid-column: 2 / 8;
    }

    &-column:first-of-type {
      @include onTablet {
        margin-right: 152px;
      }

      @include onDesktop {
        margin-right: 65px;
      }

      @include onLargeDesktop {
        margin-right: 70px;
      }
    }

    &-link {
      display: block;
      margin-bottom: 20px;

      color: $c-contrast-blue;

      &:nth-child(3) {
        margin-bottom: 30px;

        @include onTablet {
          margin-bottom: 0;
        }
      }
    }

    &-contacts {
      display: block;
      margin-bottom: 10px;

      line-height: 19px;
      color: $c-text-gray;

      @include onTablet {
        margin-bottom: 25px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
