.icons {
  cursor: pointer;

  display: flex;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--close {
    width: 18px;
    height: 18px;
    background-image: url(../images/icons/close.svg);
  }

  &--burger-menu {
    width: 24px;
    height: 13px;
    background-image: url(../images/icons/burger-menu.svg);

    @include on-desktop {
      display: none;
    }
  }

  &--arrow {
    width: 18px;
    height: 18px;
    background-image: url(../images/icons/left-arrow.svg);
  }
}
