.icon {
  display: block;

  &:hover {
    transform: scale(1.1);
  }

  &--menu {
    background-image: url(../images/header/menu.svg);
    width: 20px;
    height: 10px;

    @media (min-width: $desktop-min-width) {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/icon/close.svg);
    width: 17px;
    height: 17px;
  }

  &--back {
    background-image: url(../images/icon/back.svg);
    width: 9px;
    height: 17px;
  }
}
