@import '../utils/mixins';

.icon {
  cursor: pointer;

  display: block;

  width: 20px;
  height: 20px;

  background-size: cover;

  &__menu {
    background-image: url(../icons/button.png);

    &:hover {
      @include transision;
    }

    @include on-desktop {
      display: none;
    }
  }

  &__close {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-image: url('../icons/close.png');

    &:hover {
      @include transision;
    }
  }
}
