.info-icon {
  display: none;
  height: 108px;

  background-repeat: no-repeat;
  background-position: top center;

  @include onTablet {
    display: block;
  }

  &--compat {
    background-image: url("../images/icons/compatibility.svg");
  }

  &--dumbell {
    background-image: url("../images/icons/dumbell.svg");
  }

  &--grad-hat {
    background-image: url("../images/icons/graduate-hat.svg");
  }

  &--skyline {
    background-image: url("../images/icons/skyline.svg");
  }

  &--social-net {
    background-image: url("../images/icons/social-network.svg");
  }

  &--vr-pc {
    background-image: url("../images/icons/vr-pc.svg");
  }

  &--wireless {
    background-image: url("../images/icons/wireless.svg");
  }
}
