.info {
  display: block;
  padding-left: 90px;

  &__block {
    max-width: 440px;
    margin-bottom: 30px;

    @media (max-width: 1600px) {
      margin-bottom: 5px;
      max-width: 332px;
    }
  }

  &__price {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 18px;

    @media (max-width: 1600px) {
      margin-bottom: 18px;
    }
  }

  &__button {
    display: block;
    width: 248px;
    height: 69px;
    background-image: url(../images/button-play.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 210px;

    &:hover {
      background-image: url(../images/button-play-hover.png);
    }

    @media (max-width: 1600px) {
      margin-bottom: 85px;
    }
  }
}
