.input {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  background-color: $color-dark;
  border: none;
  border-bottom: 1px solid $input-line;
  box-sizing: border-box;
  outline: none;

  &::placeholder {
    background-color: $color-dark;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: $color-white;
    background-color: transparent;
    transition: background-color 5000s ease-in-out;
  }

  &--textarea {
    resize: none;
    color: $color-white;
  }
}