.form {

  &__label {

    &--active {
      color: $contrastColor;
    }

    &--pay {
      display: block;
    }

    &--expiration-date {
      display: block;
    }
  }

  &__inputs-pay-container {
    display: flex;
    justify-content: space-between;

    margin-top: 16px;

    align-items: center;
  }

  &__input {
    width: 100%;
    padding: 6px 0;

    outline: none;
    background-color: transparent;

    color: $white;
    border: 0;
    border-bottom: 1px solid $darkGray;

    transition: border-color $animationDuration;

    &:focus {
      border-color: $contrastColor;
    }

    &--card {
      width: 54px;
      text-align: center;

      &::placeholder {
        font-size: 18px;

        @include onDesktop {
          font-size: 20px;
        }
      }
    }

    &--expiration-date {
      width: 90px;
      text-align: center;
    }

    &--cvv {
      width: 40px;
      text-align: center;
    }
  }

  &__error {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    color: $red;
  }

  &__control-container {
    width: 100%;

    &--buy {
      @include onTablet {
        grid-column: 1 / 7;

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 20px;
      }

      @include onDesktop {
        grid-column: 7 / 13;
        grid-row: 1 / 3;
      }

      @include onLarge {
        grid-column: 9 / 17;
        grid-template-columns: repeat(8, 1fr);
      }
    }
  }

  &__control {
    position: relative;
    width: 100%;

    &--error {
      .form__label {
        opacity: 0;
      }

      .dropdown__name {
        opacity: 0;
      }

      .form__input {
        border-color: $red;
      }

      .form__error {
        display: block;
      }
    }

    &--contact {

      &:not(:first-of-type) {
        margin-top: 24px;
      }
    }

    &--buy {
      margin-top: 30px;

      &-1 {

        @include onTablet {
          grid-column: 1 / 4;
        }

        @include onDesktop {
          margin-top: 0;
        }

        @include onLarge {
          grid-column: 1 / 5;
        }
      }

      &-2 {

        @include onTablet {
          grid-column: 4 / 7;
        }

        @include onDesktop {
          margin-top: 0;
        }

        @include onLarge {
          grid-column: 5 / 9;
        }
      }

      &-3 {

        @include onTablet {
          grid-column: 1 / 4;
        }

        @include onLarge {
          grid-column: 1 / 5;
        }
      }

      &-4 {

        @include onTablet {
          grid-column: 4 / 7;
        }

        @include onLarge {
          grid-column: 5 / 9;
        }
      }

      &-5 {

        @include onTablet {
          grid-column: 1 / 4;
        }

        @include onLarge {
          grid-column: 1 / 5;
        }
      }

      &-6 {

        @include onTablet {
          grid-column: 4 / 7;
        }

        @include onLarge {
          grid-column: 5 / 9;
        }
      }

      &-button {
        margin-top: 32px;

        @include onTablet {
          grid-column: 2 / 6;
          margin-top: 64px;
        }

        @include onDesktop {
          grid-column: 1 / 4;
        }

        @include onLarge {
          grid-column: 1 / 5;
        }
      }
    }

    &--pay-additional-container {
      display: flex;
      gap: 30px;
      width: 100%;

      @include onTablet {
        grid-column: 2 / 5;
        gap: 0;
        justify-content: space-between;
      }

      @include onDesktop {
        grid-column: 1 / 4;
      }
    }

    &--pay {
      margin-top: 32px;

      @include onTablet {
        margin-top: 46px;
      }

      &-1 {

        @include onTablet {
          grid-column: 2 / 6;
        }

        @include onDesktop {
          grid-column: 1 / 7;
          margin-top: 0;
        }
      }

      &-2 {

        @include onTablet {
          grid-column: 2 / 6;
        }

        @include onDesktop {
          grid-column: 1 / 7;
        }
      }

      &-4 {

        @include onTablet {
          width: min-content;
        }
      }
    }
  }

  &__textarea-label {

    &--active {
      color: $contrastColor;
    }
  }

  &__textarea {
    width: 100%;
    padding: 6px 0;

    height: 90px;

    outline: none;
    background-color: transparent;

    color: $white;
    border: 0;
    border-bottom: 1px solid $darkGray;

    transition: border-color $animationDuration;

    &:focus {
      border-color: $contrastColor;
    }
  }

  &__dropdown {

    &--1 {
      position: relative;
      margin-top: 30px;

      @include onTablet {
        grid-column: 1 / 4;
      }

      @include onLarge {
        grid-column: 1 / 5;
      }
    }

    &--2 {
      position: relative;
      margin-top: 30px;

      @include onTablet {
        grid-column: 4 / 7;
      }

      @include onLarge {
        grid-column: 5 / 9;
      }
    }
  }

  &__card-indicator {
    display: none;

    @include onTablet {
      display: block;
    }

    width: 54px;
    height: 32px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &--visa {
      background-image: url(/images/cardSystem/visa.svg);
    }

    &--mastercard {
      background-image: url(/images/cardSystem/mastercard.svg);
    }

    &--american-express {
      background-image: url(/images/cardSystem/americanExpress.svg);
    }
  }
}
