.input {
  &__name {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: $c-text-gray;

    transition: all $transition-time;

    &--focused {
      color: $c-contrast-blue;

      transform: translateY(-17px);
    }

    &--invalid {
      color: $c-red;
    }

    &--expiration,
    &--cvv {
      position: absolute;
      bottom: 100%;
      min-width: max-content;

      @include onTablet {
        margin-bottom: 17px;
      }
    }

    &--expiration.input__name--invalid {
      @include onDesktop {
        transform: translateX(-40px);
      }
    }

    &--card {
      @include onTablet {
        margin-bottom: 4px;
      }
    }
  }

  &__field {
    width: 100%;
    padding-bottom: 4px;
    box-sizing: border-box;

    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $c-white;

    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid $c-dark-gray;
    caret-color: $c-contrast-blue;

    transition: all $transition-time;

    @include onTablet {
      font-size: 18px;
    }

    &--focused {
      border-color: $c-contrast-blue;
    }

    &--invalid {
      border-color: $c-red;
    }

    &--cardholder {
      @include onTablet {
        max-width: 460px;
      }
    }

    &--number {
      font-size: 18px;
      letter-spacing: 0.2em;
      color: $c-white;
      text-align: center;
      padding: 0;
      padding-bottom: 4px;

      @include onTablet {
        font-size: 20px;
      }

      @extend %remove-spin-buttons;

      &-last {
        margin-right: 0;
      }

      &::placeholder {
        @extend %input-placeholder;

        color: $c-dark-gray;
        letter-spacing: 3.6px;

        @include onTablet {
          letter-spacing: 4px;
        }
      }

      &-card {
        width: 55px;
        margin-right: 20px;
        padding-bottom: 6px;

        &:last-of-type {
          margin-right: 0;
        }

        @include onTablet {
          width: 70px;
          margin-right: 30px;

          &:last-of-type {
            margin-right: 30px;
          }
        }

        @include onDesktop {
          margin-right: 20px;
        }

        @include onLargeDesktop {
          margin-right: 50px;

          &:last-of-type {
            margin-right: 50px;
          }
        }
      }

      &-expiration {
        margin: 0;
        width: 37px;

        letter-spacing: normal;

        border: none;

        &:first-of-type {
          &::placeholder {
            text-align: right;
          }
        }

        &:last-of-type {
          &::placeholder {
            text-align: left;
          }
        }
      }

      &-cvv {
        width: 44px;

        @include onTablet {
          width: 50px;
        }
      }
    }

    &-textarea {
      height: 67px;
      resize: none;
    }
  }

  &__card-back {
    position: relative;

    &:first-of-type {
      margin-right: 60px;

      @include onTablet {
        margin-right: 150px;
      }

      @include onDesktop {
        margin-right: 90px;
      }
    }
  }

  &__card-expiration {
    display: inline-block;
    width: 90px;

    border-bottom: 1px solid $c-dark-gray;

    transition: all $transition-time;

    &--focused {
      border-color: $c-contrast-blue;
    }

    &--invalid {
      border-color: $c-red;
    }

    &-slash {
      color: $c-dark-gray;

      transition: all $transition-time;

      &--active {
        color: $c-contrast-blue;
      }
    }
  }

  &__label {
    display: inline-block;
  }

  &__card-logo {
    display: none;
    min-width: 54px;
    max-height: 33px;
    border-radius: 3px;

    &--visa,
    &--mastercard {
      @include onTablet {
        display: block;
      }

      background: center / cover no-repeat;
    }

    &--visa {
      background-image: url(../images/visa-logo.png);
    }

    &--mastercard {
      background-image: url(../images/mastercard-logo.png);
    }
  }

  &__dropdown {
    margin-top: 13px;
  }
}
