.interest {
  &__photo {
    background-repeat: no-repeat;
    background-size: cover;

    &--education {
      @include on-tablet {
        background-image: url(../images/main/gaming/education.svg);
        width: 98px;
        height: 81px;
        display: flex;
        justify-self: center;
        margin-bottom: 34px;
      }

      @include on-desktop {
        margin-bottom: 32px;
      }
    }

    &--real {
      @include on-tablet {
        background-image: url(../images/main/gaming/real-estate.svg);
        display: flex;
        justify-self: center;
        width: 84px;
        height: 84px;
        margin-bottom: 30px;
      }
    }

    &--fitness {
      @include on-tablet {
        background-image: url(../images/main/gaming/fitness.svg);
        display: flex;
        justify-self: center;
        width: 110px;
        height: 81px;
        margin-bottom: 34px;
      }
    }

    &--social {
      @include on-tablet {
        background-image: url(../images/main/gaming/social.svg);
        display: flex;
        justify-self: center;
        width: 83px;
        height: 83px;
        margin-bottom: 31px;
      }
    }

    &--universally {
      @include on-tablet {
        background-image: url(../images/main/why/universally.svg);
        display: flex;
        justify-self: center;
        width: 90px;
        height: 80px;
        margin-bottom: 25px;
      }

      @include on-desktop {
        margin-bottom: 30px;
      }
    }

    &--panel {
      @include on-tablet {
        background-image: url(../images/main/why/vr-pc.svg);
        display: flex;
        justify-self: center;
        width: 100px;
        height: 80px;
        margin-bottom: 25px;
      }

      @include on-desktop {
        margin-bottom: 30px;
      }
    }

    &--wireless {
      @include on-tablet {
        background-image: url(../images/main/why/wireless.svg);
        display: flex;
        justify-self: center;
        width: 105px;
        height: 75px;
        margin-bottom: 25px;
      }

      @include on-desktop {
        margin-bottom: 30px;
      }
    }
  }

  &__info {
    &--mobile-gaming {
      @include on-tablet {
        display: none;
      }
    }

    &--tablet-gaming {
      display: none;

      @include on-tablet {
        display: block;
        text-align: center;
      }
    }

    &--mobile-why {
      @include on-tablet {
        display: none;
      }
    }

    &--tablet-why {
      display: none;

      @include on-tablet {
        display: block;
        text-align: center;
      }

      @include on-desktop {
        display: none;
      }
    }

    &--desktop-why {
      display: none;

      @include on-desktop {
        display: block;
        text-align: center;
      }
    }
  }
}
