.intro {
  position: relative;
  padding: 47px 0;
  padding-top: 340px;
  background: linear-gradient(107.56deg, #191536 0%, #000 100%);

  @media (max-width: 1600px) {
    padding-top: 200px;
  }

  @media (max-width: 1279px) {
    padding-top: 150px;
  }

  @media (max-width: 1024px) {
    padding-top: 95px;
  }

  &__product {
    position: absolute;
    right: -15%;
    bottom: 0;

    @media (max-width: 1600px) {
      right: -8%;
    }

    @media (max-width: 1279px) {
      bottom: -15%;
    }

    @media (max-width: 1024px) {
      right: -5%;
      top: -40%;
    }
  }

  &__details {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    @media (max-width: 1024px) {
      display: none;
    }

    @media (max-width: 1279px) {
      margin-bottom: 0;
    }

    &-link {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: $c-contrast;
      }
    }

    &-more {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      position: relative;
      color: $c-contrast;
      text-decoration: none;

      svg {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
      }

      &:hover {
        color: #fff;
        path {
          fill: #fff;
        }
      }
    }
  }

  &__title {
    margin-bottom: 30px;

    @media (max-width: 1600px) {
      margin-bottom: 14px;
    }
  }

  &__description {
    max-width: 560px;

    @media (max-width: 1600px) {
      max-width: 480px;
    }

    @media (max-width: 1279px) {
      max-width: 400px;
    }
  }
}
