.kat {
  padding: 50px 0;
  display: flex;
  justify-content: center;

  @include on-tablet {
    padding: 70px 0;
  }

  @include on-desktop {
    padding: 100px 0;
  }

  &__title {
    color: $white;

    @extend %h2;

    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__title--blue {
    color: $blue;
    font-weight: normal;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include on-tablet {
      flex-flow: row;
      gap: 15px;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 222px;
  }

  &__logo {
    display: none;
    width: 90px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @include on-tablet {
      display: block;
    }

    @include on-desktop {
      margin-bottom: 30px;
    }
  }

  &__logo--1 {
    background-image: url(../images/local.svg);
  }

  &__logo--2 {
    background-image: url(../images/vr.svg);
  }

  &__logo--3 {
    background-image: url(../images/wifi.svg);
  }

  &__subtitle {
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: $white;
    margin-bottom: 15px;
  }

  &__text {
    color: $grey;
    line-height: 150%;
  }
}
