.language-menu {
  display: none;
  z-index: 5;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;

  background-color: $bgGradientBlue;

  &--is-open {
    display: flex;
  }

  &__back-btn {
    padding-left: 20px;
    margin-bottom: 30px;
  }

  &__link {
    text-decoration: none;
    color: $white;

    padding: 10px 20px;
    @include typography($weight-5, $size-22, $size-28);

    &:hover {
      background-color: $bgMenuHover;
      color: $primary;
    }

    @media (min-width: $tab) {
      padding: 10px 150px;
    }
  }
}
