.lang {
  &__button {
    background-color: inherit;
    border: none;
    padding: 0 10px 0 0;
    font-size: 16px;
    cursor: pointer;

    @include on-desktop {
      position: relative;
      color: $color-accent;

      @include hover(color, $color-white);

      &::after {
        display: block;
        content: '';
        width: 100%;
        height: 6px;
        background-image: url(../images/header/polygon-accent.svg);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: -15px;
        bottom: 4px;
      }

      &:hover::after {
        background-image: url(../images/header/polygon-white.svg);
      }
    }
  }

  &__list {
    opacity: 0;
    pointer-events: none;

    transform: translateY(-15px);
    transition: all $effect-duration ease-out;

    position: absolute;
    width: max-content;

    &--active {
      opacity: 1;
      pointer-events: all;

      transform: translateY(0);
      transition: all $effect-duration ease-out;
    }
  }

  &__item {
    padding: 5px 10px;

    &--active {
      background-color: $color-hover-background;
    }
  }
}
