.language {
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #191536;
  z-index: 100;

  padding-top: 20px;

  @include onTablet {
    padding-top: 34px;
    height: 60vh;
  }

  &__back {
    display: flex;
    content: "";
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/icons/back-white.svg);
    align-self: flex-start;
    margin-left: 20px;
    margin-bottom: 38px;

    &:hover {
      background-image: url(../images/icons/back-blue.svg);
    }

    @include onTablet {
      margin-right: 34px;
      margin-bottom: 46px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    width: 100%;
    background-color: transparent;
    padding: 11px 0;

    &:hover {
      background-color: #110e25;
    }

    &:hover > .menu__link {
      color: $c-blue;
    }
  }

  &__link {
    @extend %inter-500;
    font-size: 21px;
    line-height: 130%;
    color: #fff;
    padding-left: 22px;

    @include onTablet {
      padding-left: 154px;
    }
  }

}
