.language {
  background-color: $c-background-menu;
  
  overflow-y: auto;

  &__content {
    @extend %block-content;
  }

  &__top {
    display: flex;
    margin: 0 0 $menu-top-indent;
    padding-left: 20px;
  }
}
