.leng {
  @include textLink;
  color: $colorContrast;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &__option {
    color: $colorContrast;
    background-color: #191536;
    cursor: pointer;
  }

  &__option:checked {
    color: $colorWhite;
    background-color: #191536;
  }
}
