.links {

  &__link {
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: $font-weight-regular;
    line-height: 19px;
    color: $light-gray;
    transition: 0.3s;

    &:hover {
      color: $white;
    }
  }

  &--mobile {
    margin-bottom: 22px;
  }
}
