.links {
  display: flex;
  flex-direction: column;
  width: fit-content;

  &__link {
    font-weight: 400;
    font-size: 16px;
    color: $text-color;

    transition: color $transition;

    &:hover {
      color: $contrast-color;
    }
  }
}

.link-hover {
  transition: color $transition;

  &:hover {
    color: $contrast-color;
  }
}
