.link {
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
  color: $c-white;

  &--more {
    color: $c-contrast-blue;
    
    @include hover(color, $c-white);

    &::after {
      content: "";
      display: block;
      height: 6px;
      margin-top: 6px;
      
      background: center url(../images/more_arrow.png) no-repeat;
      
      transition: all $transition-time;
    }

    &:hover {
      &::after {
        background-image: url(../images/more_arrow_hovered.png);
      }
    }
  }

  &--button {
    display: block;
    padding: 11px 0;

    font-size: 14px;
    text-align: center;
    
    background-color: $c-contrast-blue;
    border-radius: 4px;

    @extend %button-states;

    &-complete {
      padding: 13px 36px;

      font-size: 16px;
      line-height: 130%;
    }

    &-nav {
      display: none;
      width: 200px;
      padding: 13px 0;

      font-size: 16px;

      @include onDesktop {
        display: block;
      }
    }

    &-fixed {
      position: fixed;
      bottom: 10px;
      left: 20px;
      right: 20px;

      @include onDesktop {
        display: none;
      }
    }
  }

  &--menu {
    display: block;
    padding: 11px 20px;

    font-size: 21px;

    transition: all $transition-time;

    &:hover,
    &:active {
      background-color: $c-menu-link-hover;
      color: $c-contrast-blue;
    }
  }

  &--help {
    color: $c-contrast-blue;
  }
}
