.links {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__link {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: $contrast-color;
    text-decoration: none;

    @include hover(color, #fff);
  }
}
