.list {
  margin: 0;
  padding: 0;

  list-style: none;

  &__dropdown {
    &-item {
      display: block;

      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: $c-white;

      cursor: default;

      @include hover(color, $c-contrast-blue);

      &-number {
        padding: 4px 0;

        font-size: 20px;

        &:first-of-type {
          padding-top: 8px;
        }
      }

      &-text {
        padding: 5px 0 5px 22px;

        &:first-of-type {
          padding-top: 13px;
        }
      }
    }
  }
}
