.logo {
  display: flex;
  width: fit-content;

  &__img {
    width: 68px;
    height: 14px;

    @include hover(transform, scale($scale-size));

    @include on-desktop {
      width: 78px;
      height: 16px;
    }
  }
}
