.logo {
  &__image {
    display: block;
    width: 58px;
    height: 12px;

    @include onTablet {
      width: 68px;
      height: 14px;
    }

    @include onDesktop {
      width: auto;
      height: auto;
    }
  }
}
