.main {
  &__wrapper {
    background-color: $color-black;

    @include on-desktop {
      padding-bottom: 90px;
    }
  }

  &__button {
    display: block;
    position: sticky;
    bottom: 10px;
    margin: auto;

    @include on-desktop {
      // display: block;
      position: relative;
      bottom: 0;

      // margin: auto;
      width: 200px;
    }
  }
}
