.main {
  display: flex;
  justify-content: center;
  background-color: #05040b;
}

@include onDesctop-768 {
  .main {
    // padding-top: 70px;
  }
}

@include onDesctop-1280 {
  .main {
    // padding-top: 100px;
  }
}
