.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@include onDesctop-768 {
  .main {
    // padding-top: 70px;
  }
}

@include onDesctop-1280 {
  .main {
    // padding-top: 100px;
  }
}
