.main {
  display: grid;
  row-gap: 50px;
  padding-block: 50px;
  background-color: $third-bg-color;

  @include onTablet {
    row-gap: 70px;
    padding-block: 70px;
  }

  @include onSmallDesktop {
    row-gap: 100px;
    padding-block: 100px;
  }

  @include onMediumDesktop {
    row-gap: 160px;
    padding-block: 160px;
  }
}
