.menu {
  background-color: $darkBlue;

  &__btns {
    margin-bottom: 15px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
  }

  &__burger-btn {
    background-image: url(../images/close.svg);
  }

  &__link {
    @extend %h2;
    font-weight: 500;
    text-decoration: none;
    color: $white;
    padding: 11px 0;

    &:hover,
    &:target,
    &:active {
      color: $blue;
    }
  }
}
