.menu-open {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 600px;
  background: #191536;
  z-index: 6;
  transform: translateX(-100%);
  transition: 0.3s;

  &:target {
    transform: translateX(0);
  }

  @media (max-width: $mobile) {
    height: 100vh;
  }

  &__content {
    height: 100%;
    padding-top: 34px;
    overflow-y: auto;
  }

  &__title {
    margin-bottom: 30px;
    max-width: 280px;
    font-size: 21px;
    font-weight: $font-weight-black;
    line-height: 27px;
    color: $white;

    &--blue {
      font-size: 21px;
      font-weight: $font-weight-regular;
      line-height: 27px;
      color: $blue;
    }
  }
}
