.menuComplete {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 0.5s;
  background: linear-gradient(107.56deg, #191536 0%, #000 100%);
  &:target {
    transform: translateX(0);
  }
  .menuTarget {
    display: block;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    overflow: auto;
    .header__page {
      display: flex;
      flex-direction: row;
      padding: 5px 0 50px;
      @include onTablet {
        padding: 55px 0 60px;
      }
      @include onDesktop {
        padding-top: 0;
      }
    }
    .logo {
      display: block;
      width: 78px;
      height: 17px;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/logoD.svg);
      &:hover {
        transition: 0.5s;
        transform: scale(1.07);
      }
    }
    .dispTabCo {
      margin-bottom: 50px;
    }
    // .navTabB {
    //   display: flex;
    // }
    .menu__listB {
      display: flex;
      justify-content: space-between;
      margin: 0 -20px;
      @include onTablet {
        margin: 0 -35px;
      }
      @include onDesktop {
        margin: 0 -110px;
      }
      @include ondesing {
        margin: 0 -230px;
      }
    }
    .menu__itemB {
      display: flex;
      text-decoration: none;
      font-size: 16px;
      line-height: 130%;
      font-weight: 500;
      font-style: normal;
      color: #545454;
      cursor: pointer;
      justify-content: center;
      width: 100%;
      border-bottom: 2px solid;
      &:hover {
        color: #05c2df;
        font-weight: 500;
        opacity: 0.6;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
        border-bottom: 2px solid;
      }
    }
    .padbot {
      padding: 16px 0 26px;
      @include onTablet {
        padding-bottom: 20px;
      }
      @include onDesktop {
        padding-bottom: 35px;
      }
    }
    .menu_pad2 {
      display: flex;
      justify-content: space-between;
      padding: 20px 20px 55px;
      @include onTablet {
        padding: 35px 35px 40px;
      }
      // @include onDesktop {
      //   display: none;
      // }
    }
    .menu_logo2 {
      display: block;
      width: 18px;
      height: 18px;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/GrEx.svg);
      &:hover {
        transition: 0.5s;
        transform: scale(1.07);
      }
    }
    .abreviation {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: left;
      padding-bottom: 12px;
      @include onTablet {
        justify-content: center;
        padding-bottom: 25px;
      }
      @include onDesktop {
        padding-bottom: 26px;
      }
    }
    .styleH2d__about {
      display: flex;
      justify-content: center;
      font-weight: 900;
      line-height: normal;
      align-items: center;
      padding-top: 90px;
      @include onTablet {
        padding-top: 180px;
      }
      @include onDesktop {
        padding-top: 140px;
      }
    }
    .styleH2d__about1 {
      color: var(--Contrast-Color, #05c2df);
      font-weight: 400;
      line-height: normal;
      padding: 0 5px;
    }
    .textColFC {
      display: flex;
      justify-content: center;
      color: #fff;
      font-size: 16px;
      padding: 11px;
      @include onTablet {
        font-size: 18px;
      }
    }
    .titleH6F {
      display: flex;
      justify-content: left;
      flex-direction: column;
      margin-bottom: 13px;
      @include onTablet {
        justify-content: center;
      }
    }
    .contact-us__buttonpadC {
      display: flex;
      position: relative;
      top: 0;
      padding: 5px 0 27px;
      @include onTablet {
        padding: 0;
        justify-content: center;
      }
      @include onDesktop {
        padding: 20px 0 0;
      }
    }
    .contact-us__link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      box-sizing: border-box;
      border: 1px solid $c-button;
      border-radius: 4px;
      background-color: $c-button;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: $grantext;
      text-decoration: none;
      transition: 0.5s;
      cursor: pointer;
      height: 40px;
      width: 100%;
      @include onTablet {
        height: 48px;
        width: 450px;
      }
      @include onDesktop {
        width: 220px;
      }
      &:hover {
        transition: 0.5s;
        color: #05c2df;
        background-color: $buttonhover;
        border: 1px solid $buttonhover;
        transform: scale(1.07);
      }
    }
  }
}
