.modal-desktop-bg {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.7);

  cursor: pointer;
  &--show {
    display: flex;
  }
}
