.title-h2 {
  @extend %h2;
  text-transform: uppercase;
  color: $color-white;
}

.modified {
  @extend %quant;
  color: $color-blue;
}

.title-h3 {
  @extend %markH;
  text-transform: uppercase;
  color: $color-white;
  font-size: 18px;
  line-height: 23px;
  margin: 15px 0;
}
