.more-than-gaming {
  padding: $section-padding-top-mobile 0;
  background-color: $background-black;

  @include onTablet {
    padding: $section-padding-top-tablet 0
      ($section-padding-top-tablet - $article-padding-bottom);
  }

  @include onDesktop {
    padding: $section-padding-top-desktop 0
      ($section-padding-top-desktop - $article-padding-bottom);
  }

  &__title {
    margin-bottom: 10px;
    font-family: "Mark-Heavy", sans-serif;
    font-size: 21px;
    line-height: 27px;
    text-transform: uppercase;
    color: $white;

    @include onTablet {
      text-align: center;
    }

    @include onDesktop {
      font-size: 36px;
      line-height: 46px;
      margin-bottom: 14px;
    }
  }

  &__description {
    margin-bottom: 42px;
    font-size: 12px;
    line-height: 15px;
    color: $contrast-color;

    @include onTablet {
      text-align: center;
    }

    @include onDesktop {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 82px;
    }
  }

  &__article {
    padding-bottom: $article-padding-bottom;

    &--last-article {
      padding-bottom: 0;

      @include onTablet {
        padding-bottom: $article-padding-bottom;
      }
    }

    @include onTablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__subtitle {
    margin: 24px 0 10px;
    font-family: "Mark-Heavy", sans-serif;
    text-transform: uppercase;
    color: $white;

    @include onTablet {
      font-size: 18px;
      line-height: 23px;
    }
  }

  &__paragraph {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include onTablet {
      -webkit-line-clamp: 6;
      text-align: center;
    }
  }
}
