.more-then {
  &__title {
    margin-bottom: 12px;
  }

  &__subtitle {
    display: block;
    margin-bottom: 30px;
  }

  &__article {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
