.more-btn {
  display: block;
  width: 40px;
  height: 37px;

  border: none;
  outline: none;
  padding: 0;

  background-color: transparent;
  background-image: url(../images/icons/more-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include pointer-cursor;
  @include on-hover(background-image, url(../images/icons/more-icon-hover.svg));

  &:disabled {
    background-image: url(../images/icons/more-icon-disabled.svg);
  }
}
