.more {
  background: $dark;

  &__subtitle {
    font-size: 14px;
    font-weight: $font-weight-regular;
    line-height: 17px;
    text-align: center;
    color: $blue;

    @media (max-width: $tablet) {
      font-size: 12px;
      line-height: 15px;
    }

    @media (max-width: $mobile) {
      text-align: start;
    }
  }
}
