@import '../utils';
@import '../fonts';

.more-than {
  @include content-padding-in-line;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  @include on-tablet {
    align-items: center;
    justify-content: center;
  }

  &__top {
    margin-top: 60px;
    margin-bottom: 40px;

    @include on-laptop {
      margin-bottom: 60px;
    }
  }

  &__title {
    display: flex;
    gap: 5px;
    align-items: start;
    justify-content: start;

    margin-bottom: 12px;

    @include on-tablet {
      justify-content: center;
    }

    &--blue {
      font-weight: 400;
      color: $light-blue;
    }
  }

  &__top-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    color: $light-blue;
    letter-spacing: 0%;

    @include on-tablet {
      text-align: center;
    }
  }

  &__image {
    display: none;

    @include on-tablet {
      display: block;
      margin-bottom: 22px;
    }
  }

  &__content {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    padding-bottom: 50px;

    @include on-tablet {
      flex-direction: row;
    }
  }

  &__block {
    @include on-tablet {
      display: flex;
      flex-basis: calc(50% - 10px);
      flex-direction: column;
      align-items: center;
      justify-content: center;

      margin-bottom: 20px;
    }

    @include on-laptop {
      flex-basis: calc(25% - 15px);
    }
  }

  &__block-title {
    margin-bottom: 11px;
  }

  &__block-text {
    font-size: 16px;
    line-height: 150%;
    color: $grey;
    letter-spacing: 0%;

    @include on-tablet {
      text-align: center;
    }

    &--mobile {
      @include on-tablet {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @include on-tablet {
        display: inline;
      }
    }
  }
}
