.more {
  background-color: $c-background-black;

  &__content {
    @extend %block-content;

    height: auto;
    padding: 50px 0;

    @include onTablet {
      padding: 70px 0;
    }

    @include onDesktop {
      padding: 100px 0 110px;
    }

    @include onLargeDesktop {
      padding: 158px 0 166px;
    }
  }

  &__title {
    @extend %h1;

    margin-bottom: 12px;

    font-size: 21px;
    line-height: 25px;

    @include onTablet {
      text-align: center;
    }

    @include onDesktop {
      margin-bottom: 16px;

      font-size: 36px;
      line-height: 44px;
    }
  }

  &__subtitle {
    margin-bottom: 45px;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $c-contrast-blue;

    @include onTablet {
      text-align: center;
    }

    @include onDesktop {
      margin-bottom: 82px;

      font-size: 14px;
      line-height: 17px;
    }

    @include onLargeDesktop {
      margin-bottom: 70px;
    }
  }

  &__article {
    margin-bottom: 20px;

    @include onTablet {
      text-align: center;
    }

    @include onDesktop {
      margin-bottom: 0;
    }

    &:nth-of-type(1) {
      @include onTablet {
        grid-column: 1 / 4;
      }

      @include onLargeDesktop {
        grid-column: 1 / 5;
      }
    }

    &:nth-of-type(2) {
      @include onTablet {
        grid-column: 4 / 7;
      }

      @include onLargeDesktop {
        grid-column: 5 / 9;
      }
    }

    &:nth-of-type(3) {
      @include onTablet {
        grid-column: 1 / 4;
        margin-bottom: 0;
      }

      @include onDesktop {
        grid-column: 7 / 10;
      }

      @include onLargeDesktop {
        grid-column: 9 / 13;
      }
    }

    &:nth-of-type(4) {
      margin-bottom: 0;

      @include onTablet {
        grid-column: 4 / 7;
      }

      @include onDesktop {
        grid-column: 10 / 13;
      }

      @include onLargeDesktop {
        grid-column: 13 / 17;
      }
    }

    &-image {
      display: none;
      margin: 0 auto 30px;

      @include onTablet {
        display: block;
      }

      &-first {
        @include onTablet {
          margin: 8px auto 24px;
        }
      }
    }

    &-title {
      margin-bottom: 12px;

      font-weight: 900;
      font-size: 16px;
      line-height: 19px;
      color: $c-white;

      @include onTablet {
        margin-bottom: 20px;
      }
    }
  }

  &__collapsible {
    @include onTablet {
      display: none;
    }
  }
}
