.nav-mob {
  height: 100vh;
  box-sizing: border-box;
  background-color: #191536;
  z-index: 1;

  &__header {
    display: flex;
    justify-content: end;

    padding: 20px;

    @include onTablet {
      padding: 35px;
    }
  }

  &__list {
    list-style: none;
  }

  &__link {
    display: block;
    padding: 20px;
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    text-decoration: none;
    color: #fff;

    &:hover {
      color: $colorContrast;
      background-color: #110e25;
    }

    @include onTablet {
      padding-left: 150px;
    }
  }
}
