.nav-desktop {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 36px;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $color-white;
    height: $top-actions-desktop-height;

    @include transition-basic (color);

    &:hover {
      color: $color-blue;
    }
  }
}
