.nav-bt {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: inline-block;
    padding-right: 34px;
  }

  &__link {
    color: #fff;
    line-height: 150%;
    text-decoration: none;

    &:hover {
      color: $contrastColor;
    }

    &:active {
      color: $darkGrey;
    }
  }
}
