.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;

  @include onTablet {
    height: 74px;
    margin-bottom: 24px;
  }

  @include onDesktop {
    height: 144px;
    margin-bottom: 52px;
  }
}
