.navigation {
  display: flex;
  
  &__button {
    @extend %basicButtonDesktopSize;
  }
  
  &__list {
    display: flex;
    gap: $navigationGap / 2;
    margin-right: $navigationGap;
  }
  
  &__item {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__links {
    padding: $navigationGap / 2;
    @extend %mainLinks;
  
    &:hover {
      @extend %mainLinksHover;
    }
  
    &:active {
      @extend %mainLinksActive;
    }
  }

  @media (max-width: $screenMaxTablet) {
    display: none;
  }
}
