.navs {
  display: flex;
  justify-content: space-between;

  &__logo {
    display: block;
    width: 78px;
    height: 18px;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__burger-btn {
    display: block;
    width: 22px;
    height: 16px;
    background-image: url(../images/menu.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include on-desktop {
      display: none;
    }
  }
}
