.page-main {
  
  &__start-view {
    margin: 0 $marginContentDesktop;
  }

  &__possibilities {
    margin-bottom: $marginBetweenSections;
  }

  &__about {
    margin: 0 $marginContentDesktop;
    margin-bottom: $marginBetweenSections;
  }
  
  &__specifications {
    margin-bottom: $marginBetweenSections;
  }

  &__benefits {
    margin-bottom: $marginBetweenSections;
  }

  @media (max-width: $screenMaxTablet) {
    
    &__start-view {
      margin: 0 $marginContentTablet;
    }
    
    &__about {
      margin: 0 $marginContentTablet;
    }
  }
}
