.page-btn {
  display: block;
  height: 48px;
  width: 200px;
  text-align: center;
  color: $header-color-1;
  background-color: $header-color-2;
  border-radius: 4px;
  line-height: 48px;
  transition: 400ms;

  &:hover {
    color: $header-color-2;
    background-color: $header-color-1;
  }

  &:active {
    color: $main-text-color;
    background-color: #191536;
  }
}
