.page {
  font-family: "Inter", sans-serif;
  font-weight: 400;

  &__body {
    color: $main-text;
    background: $bg-gradient;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;  /* Safari and Chrome */
    }

    &--with-menu {
      overflow: hidden;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: auto;

    transform: translateX(-100%);
    transition: transform 0.6s;

    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    padding: 50px 0;

    @include onTablet {
      padding: 70px 0;
    }

    @include onDesktop {
      padding: 100px 0;
    }

    @include onDesktopXL {
      padding: 150px 0;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;

    & span {
      font-weight: 400;
      color: $highlight-text;
    }

    @include onDesktop {
      font-size: 36px;
      line-height: 44px;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 24px;
    color: $minor-text;

    & span {
      color: $highlight-text;
    }
  }

  &__info {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: $highlight-text;
  }
}
