.page-title {
  font-size: 21px;
  font-weight: 900;
  line-height: 25px;
  color: $white-color;

  @media (min-width: $desktop-min-width) {
    font-size: 36px;
    line-height: 44px;
  }

  &--span {
    font-weight: 400;
    color: $contrast-color;
  }
}
