.pay {

  &__tab-content-form--2 {

    @include onDesktop {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__tab-button--2 {
    margin-top: 36px;

    @include onTablet {
      grid-column: 2 / 6;
      margin-top: 104px;
    }

    @include onDesktop {
      grid-column: 1 / 4;
    }
  }
}
