.pay {
  background: linear-gradient(107.56deg, #191536 0%, #000 100%);
  height: 100vh;
  overflow: auto;
  padding-bottom: 37px;

  @media (min-width: $tablet-min-width) {
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-min-width) {
    padding-bottom: 97px;
  }

  @media (min-width: $desktop-lg-min-width) {
    padding-bottom: 269px;
  }

  &__content {
    position: relative;

    @media (min-width: $tablet-min-width) {
      @include create-page-grid;
    }
  }

  &__img {
    @media (min-width: $tablet-min-width) {
      position: absolute;
      width: 524px;
      height: 277px;
      background-image: url(../images/order/order-t.png);
      top: 150px;
      left: 80px;
    }

    @media (min-width: $desktop-min-width) {
      width: 701px;
      height: 279px;
      background-image: url(../images/order/order-d.png);
      top: 250px;
      left: -110px;
    }

    @media (min-width: $desktop-lg-min-width) {
      width: 961px;
      height: 447px;
      background-image: url(../images/order/order-d-lg.png);
      top: 330px;
      left: -250px;

    }
  }

  &__top-bar {
    margin-bottom: 13px;

    @media (min-width: $tablet-min-width) {
      grid-column: span 6;
    }

    @media (min-width: $desktop-min-width) {
      display: block;
      margin-top: 64px;
      padding: 0;
      grid-column: 1 / 3;
      grid-row: 1;
    }
  }

  &__stepper {
    margin-bottom: 30px;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 317px;
      grid-column: span 6;
    }

    @media (min-width: $desktop-min-width) {
      margin-top: 64px;
      margin-bottom: 135px;
      grid-column: 4 / 13;
      grid-row: 1;
    }

    @media (min-width: $desktop-lg-min-width) {
      grid-column: 5 / 17;
      margin-bottom: 262px;
    }
  }

  &__price-block {
    margin-bottom: 53px;
    align-items: center;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 60px;
      grid-column: 2 / 6;
    }

    @media (min-width: $desktop-min-width) {
      margin-bottom: 0;
      grid-column: 1 / 5;
      grid-row: 3;
    }
  }

  &__form {
    @media (min-width: $tablet-min-width) {
      grid-column: 2 / 6;
    }

    @media (min-width: $desktop-min-width) {
      grid-column: 7 / 13;
      grid-row: 2 / 4;
    }

    @media (min-width: $desktop-lg-min-width) {
      grid-column: 9 / 15;
    }
  }

  &__card-number {
    margin-bottom: 16px;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-min-width) {
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-lg-min-width) {
      margin-bottom: 68px;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    margin-bottom: 17px;
    display: block;
  }

  &__inputs {
    display: flex;
    gap: 20px;

    @media (min-width: $tablet-min-width) {
      gap: 32px;
    }
  }

  &__input {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 2px;
    color: $white-color;
    padding-bottom: 9px;
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #2F2F2F;

    &--center {
      text-align: center;
    }

    &:hover::placeholder {
      color: $contrast-color;
      transition: .3s;
    }

    &:focus {
      outline: none;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  &__card-holder {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    letter-spacing: normal;
    margin-bottom: 30px;
    padding-bottom: 19px;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-min-width) {
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-lg-min-width) {
      margin-bottom: 50px;
    }
  }

  &__card-info {
    display: flex;
    gap: 60px;
    margin-bottom: 40px;

    @media (min-width: $tablet-min-width) {
      margin-bottom: 104px;
      gap: 100px;
    }

    @media (min-width: $desktop-min-width) {
      margin-bottom: 90px;
    }

    @media (min-width: $desktop-lg-min-width) {
      margin-bottom: 110px;
    }
  }

  &__exp {
    @media (min-width: $tablet-min-width) {
      width: 160px;
    }
  }

  &__cvv {
    @media (min-width: $tablet-min-width) {
      width: 70px;
    }
  }

  &__btn {
    width: 100%;
    border: none;

    @media (min-width: $desktop-min-width) {
      width: 200px;
      padding-block: 13px;
    }
  }

  &__icon {
    @media (min-width: $desktop-min-width) {
      display: none;
    }
  }
}
