.place-order {
  height: 100vh;
  
  background: $c-background-gradient;

  overflow-y: auto;
  overflow-x: hidden;

  &__title {
    margin: 0 31px 16px;

    @extend %h1;

    font-size: 26px;
    text-transform: uppercase;
    text-align: center;

    &-complete {
      @extend %h1;

      font-size: 46px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__text {
    margin-bottom: 40px;

    line-height: 130%;
    color: $c-white;
    text-align: center;

    &-complete {
      margin-bottom: 50px;

      font-size: 18px;
      line-height: 130%;
      color: $c-white;
      text-align: center;
    }
  }

  &__content-mobile {
    @extend %block-content;

    height: auto;
    padding: 20px 0 0;

    background: center 147px url(../images/place-order_tablet.png) no-repeat;

    @include onTablet {
      padding: 30px 0 0;
    }

    @include onDesktop {
      display: none;
    }
  }

  &__content-desktop {
    display: none;

    padding: 64px 0 96px;
    box-sizing: border-box;

    background: center left url(../images/place-order-image.png) no-repeat;

    @include onDesktop {
      display: block;
    }

    &-complete {
      background-image: none;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 20px;

    @include onTablet {
      padding: 0 35px;
    }

    &-desktop {
      display: flex;
      justify-content: space-between;
      grid-column: 1 / 13;
      margin-bottom: 80px;
    }
  }

  &__steps {
    display: flex;
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 320px;
    }
  }

  &__step {
    width: 100%;
    padding-bottom: 16px;

    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: $c-text-gray-dark;
    text-align: center;

    border-bottom: 1px solid $c-dark-gray;
    transition: all $transition-time;

    &--active {
      color: $c-contrast-blue;
      border-color: $c-contrast-blue;
    }

    &--complete {
      color: $c-white;
    }
  }

  &__step-desktop {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: $c-text-gray-dark;

    transition: all $transition-time;

    &--active {
      color: $c-contrast-blue;

      &::after {
        content: "";
        display: block;
        height: 4px;
        margin-top: 6px;

        background: center url(../images/place-order-circle.png) no-repeat;
      }
    }

    &--complete {
      color: $c-white;
    }
  }

  &__slides-container {
    margin-bottom: 37px;

    &-desktop {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 20px;

      grid-column: 7 / 13;
    }
  }
  
  &__slide {
    padding: 0 20px;

    transition: all $transition-time;

    @include onTablet {
      padding: 0 35px;
    }

    &-1 {
      padding: 0;
    }

    &-2 {
      display: none;
    }

    &-4 {
      display: none;
      padding-top: 60px;
    }

    &--swiped {
      transform: translateX(-100%);
    }

    &--appeared {
      display: block;

      opacity: 0;

      @extend %animation-appeared;
    }

    &-desktop {
      grid-column: 1 / 7;

      transition: all $transition-time;

      &-2 {
        display: none;
        margin-top: 35px;
        grid-column: 1 / 6;
      }

      &-final {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;

        grid-column: 1 / 13;

        transition: all $transition-time;

        &--swiped {
          opacity: 0;
        }
      }

      &-complete {
        display: none;
        grid-column: 1 / 13;
        margin: 40px 0 36px;

        transition: all $transition-time;

        &--appeared {
          display: block;

          @extend %animation-appeared;
        }
      }

      &--swiped {
        opacity: 0;
      }

      &--appeared {
        display: block;

        @extend %animation-appeared;
      }
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
