.play-button {
  display: block;
  height: 69px;
  width: 220px;

  text-decoration: none;

  background: url(../images/play_button.png) no-repeat;

  transition: all $transition-time;

  cursor: pointer;

  @include onTablet {
    width: 240px;
  }

  &:hover {
    background: url(../images/play_button_active.png) no-repeat;
  }

  &--large {
    width: auto;
  }
}
