.play-video {
  display: block;

  width: 209px;
  height: 66px;
  padding: 22px 0 22px 105px;

  font-weight: 500;
  line-height: 130%;
  color: $color-white;
  text-decoration: none;

  background-image: url(../images/play-video/play-video.svg);
  background-repeat: no-repeat;
  background-size: cover;

  @include hover(color, $color-accent);
  @include hover(transform, scale($scale-size));
}
