.play-video-btn {
  display: block;
  width: 100%;
  height: 66px;
  background-image: url('../images/video-button/video.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;

  @include on-tablet {
    width: 247px;
  }

  @include pointer-cursor;
  @include on-hover(
    background-image,
    url('../images/video-button/video-hover.svg')
  );
}
