.play {
  height: 70px;
  margin-bottom: 20px;
  transition: 0.2s;
  
  &__video {
    height: 100%;
    position: relative;
    padding: 0 100px;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      width: 100%;
      height: 70px;
      background: url("../images/button.svg") no-repeat;
    }
  }

  &:hover {
    transform: scale(1.03);
  }
}
