.player {
  position: fixed;
  width: 876px;
  height: 486px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto ;
  transform: translateY(-200%);
  transition: transform $transition;
  z-index: 1;

  &__cross {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &__iframe {
    width: 100%;
    height: 100%;
  }

  &__active {
    transform: translateY(10%);
  }
}
