.play {
  position: relative;
  display: block;
  cursor: pointer;
  max-width: 250px;
  height: 70px;

  @include hover(transform, scale(0.95));

  &__image {
    position: absolute;
  }

  &__title {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 70px;
    text-align: center;

    @include hover(color, $blue);
  }
}
