.play-btn {
  display: block;
  width: 221px;
  height: 66px;
  background-image: url(../images/play-btn/play.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &:hover {
    background-image: url(../images/play-btn/play-hover.svg);
  }
}
