.play-button {
  @include btn-link;

  display: block;
  width: 250px;
  height: 70px;
  cursor: pointer;
  padding-left: 60px;

  background-size: cover;
  background-image: url('../icons/play-button.svg');

  transition: background-image $hover-duration;

  &:hover {
    background-image: url('../icons/play-button-active.svg');
  }
}
