.popover {
  cursor: pointer;

  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;

  background-image: url(../images/icons/tech-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  /* width: 34px;
  height: 34px;
  border-radius: 50%;
  color: $white-color;
  background-color: $blue-color;
  border: 1px solid $blue-color;
  font-size: 32px;
  line-height: 100%;
  font-weight: 400;
  padding: 0;
  text-align: center;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center; */

  @include on-tablet {
    width: 62px;
    height: 62px;
  }

  &__dialog {
    padding: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: rgba(25, 21, 54, 1);

    /* &::backdrop {
      background: #0008;
    } */
  }
}
