.product {
  max-width: 392px;
  margin: 0 auto;

  &__photo-container {
    width: 100%;
    column-gap: 24px;
    margin-bottom: 32px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s;
    }
  }
 
  &__photo {
    width: 100%;
    height: 100%;
  }

  &__name {
    margin-bottom: 8px;
  }

  &__category {
    margin: 0 0 12px;
    font-weight: 400;
  }

  &__price {
    margin: 0 0 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
