.questions {
  background: #05040b;
  padding: 40px 0;
  @include onTablet {
    padding: 55px 0;
  }
  @include onDesktop {
    padding: 70px 0;
  }
  @include ondesing {
    padding: 100px 0;
  }
  .abreviation {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
    padding-bottom: 12px;
    @include onTablet {
      justify-content: center;
      padding-bottom: 50px;
    }
    @include onDesktop {
      padding-bottom: 26px;
    }
  }
  .abreviation--1 {
    @include onTablet {
      padding-bottom: 32px;
    }
    @include onDesktop {
      padding-bottom: 80px;
    }
    @include ondesing {
      padding-bottom: 83px;
    }
  }
  .styleH2d__about {
    font-weight: 900;
    line-height: normal;
  }
  .styleH2d__about1 {
    color: var(--Contrast-Color, #05c2df);
    font-weight: 400;
    line-height: normal;
  }
  .textCol {
    color: #05c2df;
  }
  .titleH6 {
    display: flex;
    justify-content: left;
    padding-bottom: 10px;
    @include onTablet {
      justify-content: center;
      padding-bottom: 30px;
    }
    @include onDesktop {
      padding-bottom: 70px;
    }
    @include ondesing {
      padding-bottom: 73px;
    }
  }
  .title-disp1 {
    display: flex;
    flex-direction: column;
    @include onTablet {
      align-items: center;
    }
    // @include onDesktop {
    //   width: 185px;
    // }
  }
  .gaming__title {
    padding-bottom: 3px;
    @include onTablet {
      padding-bottom: 18px;
    }
  }
  .gaming__title1 {
    padding-bottom: 16px;
  }
  .gaming__title-e1 {
    display: flex;
    justify-content: center;
  }
  .gaming__title-e1--mob {
    padding-bottom: 50px;
    @include onTablet {
      padding: 0;
    }
  }
  .ab1 {
    padding-bottom: 20px;
    @include onTablet {
      padding-bottom: 25px;
    }
    @include onDesktop {
      padding-bottom: 32px;
    }
  }
  .svg1 {
    display: none;
    @include onTablet {
      display: flex;
      overflow: hidden;
      width: 100px;
      height: 83px;
      object-fit: contain;
      object-position: center;
      position: relative;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/Vector1.svg);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .svg2 {
    display: none;
    @include onTablet {
      display: flex;
      overflow: hidden;
      width: 100px;
      height: 83px;
      object-fit: contain;
      object-position: center;
      position: relative;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/Vector2.svg);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .svg3 {
    display: none;
    @include onTablet {
      display: flex;
      overflow: hidden;
      width: 100px;
      height: 83px;
      object-fit: contain;
      object-position: center;
      position: relative;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/Vector3.svg);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .svg4 {
    display: none;
    @include onTablet {
      display: flex;
      overflow: hidden;
      width: 100px;
      height: 83px;
      object-fit: contain;
      object-position: center;
      position: relative;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/Vector4.svg);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .svg12 {
    display: none;
    @include onTablet {
      display: flex;
      overflow: hidden;
      width: 100px;
      height: 83px;
      object-fit: contain;
      object-position: center;
      position: relative;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/Group1.png);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .svg22 {
    display: none;
    @include onTablet {
      display: flex;
      overflow: hidden;
      width: 111px;
      height: 83px;
      object-fit: contain;
      object-position: center;
      position: relative;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/Group2.png);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .svg32 {
    display: none;
    @include onTablet {
      display: flex;
      overflow: hidden;
      width: 111px;
      height: 83px;
      object-fit: contain;
      object-position: center;
      position: relative;
      background-repeat: no-repeat;
      transition: all 0.3s;
      background-image: url(../images/Group3.png);
    }
    &:hover {
      transform: scale(1.07);
    }
  }
  .position {
    display: flex;
    justify-content: left;
  }
  .colorH {
    color: #05c2df;
  }
  .foot-cont {
    color: #929292;
    text-decoration: none;
    &:hover {
      color: green;
      font-weight: 500;
      opacity: 0.6;
      -webkit-transition: opacity 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out;
      -ms-transition: opacity 0.5s ease-in-out;
      -o-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out;
    }
  }
  .padbot {
    display: none;
    @include onTablet {
      display: flex;
      padding-bottom: 76px;
    }
  }
  .padbot1 {
    display: flex;
    @include onTablet {
      display: none;
    }
  }
  .pad_list {
    display: none;
    @include onTablet {
      display: flex;
      padding-bottom: 11px;
    }
  }
  .contact-us__form {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border: none;
    margin-bottom: 25px;
    text-decoration: none;
    background: #05040b;
    border-bottom: 1px solid #2f2f2f;
    // transition: background-color 0.3s;
    @include onDesktop {
      margin-bottom: 30px;
    }
    &:focus {
      outline: none;
      background-color: $backgr;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-background-clip: $backgr;
      -webkit-text-fill-color: #fff;
      -webkit-box-shadow: 0 0 0 30px $backgr inset !important;
      // transition: background-color 5000s ease-in-out 0s;
      // box-shadow: inset 0 0 20px 20px $backgr;
    }
  }
  .contact-us__formMess {
    margin-bottom: 45px;
    @include onDesktop {
      margin-bottom: 60px;
    }
  }
  .contact-us__buttonpad {
    display: flex;
    position: relative;
    top: 0;
    padding: 5px 0 27px;
    @include onTablet {
      padding: 0;
      justify-content: space-between;
    }
    @include onDesktop {
      padding: 20px 0 0;
    }
  }
  .contact-us__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 1px solid $c-button;
    background-color: $c-button;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $grantext;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    height: 40px;
    width: 100%;
    @include onTablet {
      height: 48px;
      width: 200px;
      margin-right: 100px;
    }
    @include onDesktop {
      margin-right: 200px;
    }
    &:hover {
      transition: 0.5s;
      background-color: $buttonhover;
      border: 1px solid $buttonhover;
      transform: scale(1.07);
    }
  }
  .foot__vector {
    display: none;
    @include onTablet {
      display: flex;
      justify-content: right;
      margin-bottom: -25px;
    }
  }
  .Vectorfoot {
    display: block;
    width: 49px;
    height: 50px;
    background-repeat: no-repeat;
    transition: all 0.3s;
    background-image: url(../images/Vectorfoot.svg);
    &:hover {
      transition: 0.5s;
      transform: scale(1.07);
    }
  }
}
