.remote {
  display: flex;

  &__part--1,
  &__part--2,
  &__part--3 {
    position: relative;
    display: block;
    width: 69px;
    line-height: 36px;
    border-bottom: 1px solid #212121;
    color: $colorText;
    cursor: pointer;
  }

  &__part--1 {
    color: $colorText;
    border-bottom: 1px solid #05c2df;
  }

  &__part--3 {
    text-align: end;
  }

  &__part--3:hover {
    color: $colorWhite;
    border-bottom: 1px solid #05c2df;
  }
}
