.scroll-up {
  position: fixed;
  z-index: 3;
  right: 20px;
  bottom: 200px;

  display: none;

  width: 48px;
  height: 48px;
  border-radius: 50%;

  background-image: url(../images/scroll-up/scroll-up.svg);
  background-size: cover;
  box-shadow:
    0 0 15px 4px $color-accent,
    inset 0 0 15px 4px $color-accent;

  @include hover(
    background-image,
    url(../images/scroll-up/scroll-up-hover.svg)
  );
  @include hover(
    box-shadow,
    (0 0 15px 4px $color-white, inset 0 0 15px 4px $color-white)
  );

  &--active {
    display: block;
  }
}
