.scrolltop {
  display: none;

  @include on-tablet {
    display: flex;
  }

  &__link {
    width: 48px;
    height: 48px;

    background-image: url(../images/scroll.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #05c2df;
    border-radius: 50%;
    box-sizing: border-box;
    transition: all 0.5s;

    &:hover {
      background-color: #05c2df;
      background-image: url(../images/scroll-hover.svg);
    }
  }
}
