.section {
  &--background-black {
    background-color: $background-black-color;
  }

  &--background-grad {
    background: $background-gradient;
  }

  &__content {
    padding: 50px 0;

    @include onTablet {
      padding: 70px 0;
    }

    @include onDesktop {
      padding: 100px 0;
    }

    @include onFull {
      padding: 160px 0;
    }
  }
}
