.section-title {
  font-weight: 900;
  font-size: 21px;
  line-height: 25.41px;
  color: $whiteColor;
  text-transform: uppercase;

  &--aside {
    line-height: 27.3px;
  }

  & > span {
    font-weight: 400;
    color: $contrastColor;
  }
}
