.section {
  padding-block: 160px;

  @include on-small-desktop {
    padding-block: 100px;
  }

  @include on-tablet {
    padding-block: 70px;
  }

  @include on-mobile {
    padding-block: 50px;
  }

  &__container {
    @include content-limitation;
  }
}
