.section-more-than-gaming {
  padding-block: 50px;

  background-color: $bg-color;

  @include on-tablet {
    padding-block: 70px;
  }

  @include on-small-desktop {
    padding-block: 100px;
  }

  @include on-desktop {
    padding-block: 158px;
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      text-align: center;
    }
  }

  &__p {
    grid-column: 1 / -1;
    margin-top: 12px;
    color: $contrast-color;

    @include on-tablet {
      text-align: center;
    }

    @include on-small-desktop {
      margin-top: 18px;
    }
  }

  &__container {
    margin-top: 30px;
    row-gap: 10px;

    @include on-tablet {
      margin-top: 30px;
    }

    @include on-small-desktop {
      margin-top: 83px;
    }
  }

  &__card {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 3 span;
    }

    @include on-desktop {
      grid-column: 4 span;
    }
  }
}
