.section-title {
  font-weight: 900;
  font-size: 21px;
  line-height: 25.41px;
  color: $whiteColor;
  text-transform: uppercase;

  @include on-laptop {
    font-size: 36px;
    line-height: 43.57px;
  }

  &--aside {
    line-height: 27.3px;

    @include on-laptop {
      line-height: 46.8px;
    }
  }

  & > span {
    font-weight: 400;
    color: $contrastColor;
  }
}
