.select-lang {
  &__content {
    position: relative;
    width: 33px;
    height: 21px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
    color: $contrastColor;
  }

  &__current-value {
    width: 100%;
    height: 100%;

    background-image: url(../images/icons/select-icon-down.svg);
    background-repeat: no-repeat;
    background-position: right 80%;

    @include pointer-cursor;
    @include on-hover(color, $whiteColor);
    @include on-hover(
      background-image,
      url(../images/icons/select-icon-down-hover.svg)
    );
  }

  &__list-wrapper {
    position: absolute;
    top: 100%;
    margin-top: 14px;
    left: -25%;
    width: 45px;
    border-radius: 4px;
    background-color: $darkColor;

    transition: opacity $transitionDuration;
    opacity: 0;
    pointer-events: none;

    &--visible {
      opacity: 1;
      pointer-events: all;
    }

    &::before {
      content: '';
      position: absolute;
      top: 4px;
      bottom: 4px;
      right: 0;
      display: block;
      width: 1px;
      background-color: $lightBlueColor;
    }

    &::after {
      content: '';
      position: absolute;
      top: 4px;
      right: 0;
      display: block;
      width: 1px;
      height: 22px;
      background-color: $contrastColor;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    padding-block: 12px;

    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    text-align: center;

    @include pointer-cursor;
    @include on-hover(color, $whiteColor);

    &--selected {
      display: none;
    }
  }
}
