.select {
  display: none;
  width: 4ch;
  background-color: transparent;
  color: $contrastColor;
  font-family: Mark, sans-serif;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1px;
  outline: none;
  border: 1px solid $menuBackground;
  text-align: center;

  @include onDesktop {
    display: block;
  }

  &__option {
    padding: 0;
    background-color: $menuBackground;
  }
}
