.select {
  display: none;

  @include on-desktop {
    appearance: none; /* Видаляє стандартну стрілочку */
    -webkit-appearance: none; /* Для Safari/Chrome */
    -moz-appearance: none; /* Для Firefox */
    background-color: inherit;
    color: $blue-text-color;
    outline: none;
    border: none;
    font-weight: 500;
    line-height: 21px;

    background-image: url(../images/header/select.svg);
    background-repeat: no-repeat;
    background-position: right 60%;
    background-size: 8px;
    padding-right: 10px;

    @include hover(transform, scale(1.2));

    option {
      background-color: $bg-purple-color;
      color: $blue-text-color;
    }
  }
}
