.select {
  position: relative;
  background-color: $color-background;
  color: $color-white;
  border-radius: 4px;
  cursor: pointer;

  &::after {
    display: block;
    content: '';
    width: 100%;
    height: 6px;
    background-image: url(../images/header/polygon-accent.svg);
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    right: 10px;
    bottom: 40%;
  }
}
