.select-top {
  position: relative;
  color: $c-contrast;
  width: 32px;
  height: 21px;
  cursor: pointer;

  &__en {
    background-image: url(../images/icons/triangle.svg);
    background-repeat: no-repeat;
    background-position: right 80%;
    cursor: pointer;
  }

  &__list {
    position: absolute;
    box-sizing: border-box;
    margin-top: 14px;
    background-color: $c-aside;
    border-radius: 4px;
    width: 45px;
    height: 111px;
    padding-block: 12px;
    transform-origin: top center;

    overflow: auto;

    opacity: 1;
    pointer-events: none;
    transform: translateY(-5px);
    transition:
      opacity 0.2s,
      transform 0.2s;

    &::-webkit-scrollbar-thumb {
      background: $c-contrast;
    }

    &::-webkit-scrollbar {
      width: 1px;
    }

    &::-webkit-scrollbar-track {
      background: #014954;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #067b8d;
    }
  }

  &--active &__list {
    opacity: 0;
    transform: translateY(0);
    pointer-events: all;
  }

  &__language {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    align-items: center;
    padding-inline: 11px;
    cursor: pointer;

    &:hover {
      color: $c-white;
    }
  }
}
