.header {

  &__slider-container {
    margin-top: 16px;

    width: 100%;
    height: min-content;

    overflow-x: hidden;

    @include onTablet {
      grid-column: 4 / 7;
      grid-row: 2 / 2;

      margin-top: 0;

      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    @include onDesktop {
      grid-column: 6 / 13;
    }

    @include onLarge {
      grid-column: 6 / 17;
    }
  }

  &__slider-slide {
    width: 100%;
    height: 180px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include onDesktop {
      height: 200px;
    }

    @include onLarge {
      height: 300px;
    }

    &--1 {
      background-image: url(/images/heroSection/1.webp);
    }

    &--2 {
      background-image: url(/images/heroSection/2.webp);
    }

    &--3 {
      background-image: url(/images/heroSection/3.webp);
    }

    &--4 {
      background-image: url(/images/heroSection/4.webp);
    }
  }

  &__slider-nav-buttons {
    display: flex;
    justify-content: space-between;

    width: 210px;
  }

  &__slider-nav-button {
    font-weight: 500;
    color: $white;

    background: none;
    outline: none;
    border: none;

    transition: all $animationDuration;
    cursor: pointer;

    &:hover {
      color: $contrastColor;
    }
  }

  &__slider-scrollbar {
    top: auto !important;
    bottom: auto !important;
    left: auto !important;
  }
}
