.slider {
  position: relative;
  display: none;

  @include onDesktop {
    display: inline-block;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 26px;
    left: 0;
    right: 0;
    border-bottom: 1px solid $darkGrey;
    z-index: 1;
    height: 1px;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:first-of-type {
      margin-right: 100px;
    }
  }

  &__link {
    color: $whiteAccent;
    text-decoration: none;
    padding: 9px 0;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
    z-index: 2;
    cursor: pointer;

    &:hover {
      color: $contrastColor;
      border-color: $contrastColor;
    }

    &:active {
      color: $darkGrey;
    }
  }
}
