.slider {
  &__slides {
    height: 189px;
  }

  &__slide {
    display: none;
    object-fit: cover;

    width: 100%;
    height: 100%;

    &--show {
      display: flex;
    }
  }

  &__mobile-control {
    display: flex;
    gap: 6px;
    justify-content: center;

    margin-top: 14px;
  }

  &__desktop-control {
    display: none;
  }

  &__btn {
    width: 4px;
    height: 4px;

    @include reset-button;

    background-color: #484848;
    border-radius: 50%;

    &--active {
      background-color: #ababab;
    }
  }

  &__count {
    display: none;
  }

  @media (min-width: $media-tablet) {
    &__slides {
      height: 270px;
    }
  }

  @media (min-width: $media-desktop) {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;

    &__slides {
      height: 290px;
    }

    &__count {
      display: flex;
      font-size: 14px;
      color: $contrast-color;
    }

    &__mobile-control {
      display: none;
    }

    &__desktop-control {
      display: grid;
      grid-template-columns: auto 1fr auto;
      justify-content: space-between;
      grid-column: 2 / 3;

      width: 50%;
      border-bottom: 1px solid #212121;
    }

    &__change {
      @include reset-button;
      font-weight: 500;
      font-size: 15px;
      color: $white;
      padding-bottom: 10px;

      &--active {
        color: $text-color;
        border-bottom: 1px solid $contrast-color;
      }
    }
  }
}
