.social {
  display: flex;
  justify-content: space-between;
  height: $lineHeightFooterMob;

  @include onTablet {
    height: 14px;
  }

  &__link {
    width: $lineHeightFooterMob;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &--facebook {
      background-image: url("../images/social/facebook.svg");
    }

    &--twitter {
      background-image: url("../images/social/twitter.svg");
    }

    &--youtube {
      background-image: url("../images/social/youtube.svg");
    }

    &--reddit {
      background-image: url("../images/social/reddit.svg");
    }
  }
}
