.socials {
  &__list {
    display: flex;
    gap: 20px;
  }

  &__icon {
    cursor: pointer;

    display: block;

    width: 18px;
    height: 18px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &--facebook {
      background-image: url(../images/icons/facebook.svg);
    }

    &--twitter {
      background-image: url(../images/icons/twitter.svg);
    }

    &--you-tube {
      background-image: url(../images/icons/youtube.svg);
    }

    &--reddit {
      background-image: url(../images/icons/reddit.svg);
    }

    @include hover(transform, scale(1.4));
  }
}
