.socials-media {
  display: flex;
  justify-content: center;
  align-items: center;

  @include onDesktop {
    justify-content: flex-end;
  }

  &__link {
    padding: 2px 0;
    margin-right: 24px;
    &:last-of-type {
      margin-right: 0;
    }
  }

  &__icon {
    display: block;
    width: 16px;
    height: 16px;
    object-fit: contain;
    object-position: center;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.5);
    }

    &--special {
      object-position: bottom center;
    }
  }
}
