.social {
  display: flex;
  align-items: end;

  &__item {
    transition: all $duration-transition;
  }

  &__item path {
    fill: $color-white;
    transition: all $duration-transition;
  }

  &__item:hover path {
    fill: $color-blue;
  }
}
