.socials {
  display: flex;
  align-items: center;
  gap: 18px;

  &__link {
    display: block;
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      transform: scale(1.1);
    }

    &--facebook {
      background-image: url(../images/footer/facebook.svg);
      width: 8px;
    }

    &--twitter {
      background-image: url(../images/footer/twitter.svg);
    }

    &--youtube {
      background-image: url(../images/footer/youtube.svg);
    }

    &--discord {
      background-image: url(../images/footer/discord.svg);
    }
  }

}
