.specs {
  padding-top: 47px;
  padding-bottom: 50px;
  background-color: $background-default;
}

.specs__title {
  margin-bottom: 35px;
  color: $white;

  & span {
    color: $blue;
    font-weight: 400;
  }
}

.specs__poster {
  height: 206px;
  margin-inline: auto;
  background-image: url('../images/blocks/specs/specs-img.png');
}