.specs {
  padding-top: 47px;
  padding-bottom: 50px;
  background-color: $background-default;

  @include on-tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.specs__title {
  margin-bottom: 35px;
  color: $white;

  & span {
    color: $blue;
    font-weight: 400;
  }

  @include on-tablet {
    margin-bottom: 30px;
  }
}

.specs__poster {
  height: 206px;
  margin-inline: auto;
  background-image: url('../images/blocks/specs/specs-img.png');

  @include on-tablet {
    height: 380px;
    background-image: url('../images/blocks/specs/specs-img-tablet.png');
  }
}