$subBlockMargin: 12%;

.start-view {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  &__photo {
    position: absolute;
    top: 10px;
    right: 0;
    max-width: 66.6%;
    z-index: -1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    width: 100%;
  }
  
  &__title-wrap {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  &__title {
    margin-bottom: 8px;
  }
  
  &__subtext {
    margin-left: $subBlockMargin;
    max-width: 315px;
  }
  
  &__price {
    margin-top: 20px;
    color: $colorWhite;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }
 
  &__video-btn {
    @extend %buttonPlayVideo;
    @extend %buttonVideoDesktopSize;
    margin-left: $subBlockMargin / 2;
  }
  
  &__subnavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__sub-links {
    display: flex;
    gap: $navigationGap;
  }
  
  &__anchors {
    @extend %mainLinks;
  }

  &__more-link {
    position: relative;
    @extend %mainLinks;
    color: $colorBlue;
    
    &::after {
      content: "▾";
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }
  
  @media (max-width: $screenMaxTablet) {

    &__content {
      height: 60vh;
    }

    &__photo {
      min-width: 730px;
      right: -10%;
      top: -20px;
    }

    &__title {
      font-size: 26px;
      line-height: 34px;
      width: 100%;
    }

    &__subtext {
      margin-left: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
    }

    &__subnavigation {
      display: none;
    }

    &__video-btn {
      margin-left: 0;
      height: 70px;
      width: 250px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
