.swiper {
  --swiper-navigation-color: #fff;

  width: 100%;
  height: auto;

  &-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-scrollbar-drag {
    --swiper-scrollbar-drag-bg-color: #05c2df;
  }
}
