.tech {
  padding: 160px 350px;

  background: $background_color;

  @media (max-width: 1919px) {
    padding: 100px 110px;
  }

  @media (max-width: 1279px) {
    padding: 80px 32px;
  }

  &__title {
    margin-bottom: 80px;
    margin-left: 70%;

    @media (max-width: 1279px) {
      margin-bottom: 50px;
      margin-left: 0;
    }
  }

  &__content {
    position: relative;

    display: flex;
    justify-content: space-between;
    height: 354px;

    @media (max-width: 1279px) {
      height: 294px;
    }

    @media (max-width: 767px) {
      height: 190px;
    }
  }

  &__section {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;

    &--1 {
      margin-bottom: 70px;
    }

    &--3 {
      position: absolute;
      left: calc(50% + 303px);

      @media (max-width: 1919px) {
        left: calc(50% + 225px);
      }
    }

    &--1,
    &--2 {
      @media (max-width: 1279px) {
        position: absolute;
      }
    }

    &--1::after {
      content: "";

      position: absolute;
      top: 7px;
      left: 90px;

      display: block;
      width: 431px;
      height: 72px;
      background: url(../images/sensor.svg) no-repeat center;

      @media (max-width: 1279px) {
        display: none;
      }
    }

    &--2::after {
      content: "";

      position: absolute;
      top: -100px;
      left: 137px;

      display: block;
      width: 241px;
      height: 113px;
      background: url(../images/connection.svg) no-repeat center;

      @media (max-width: 1279px) {
        display: none;
      }
    }

    &--3::after {
      content: "";

      position: absolute;
      top: 8px;
      left: -303px;

      display: block;
      width: 283px;
      height: 245px;
      background: url(../images/batteries.svg) no-repeat center;

      @media (max-width: 1279px) {
        display: none;
      }
    }

    &--1,
    &--2,
    &--3 {
      @media (max-width: 1279px) {
        display: none;
      }
    }
  }

  &__left {
    position: absolute;
    left: 50%;
    transform: translateX(calc(-100% - 297px));
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);

    width: 312px;
    height: 294px;

    @media (max-width: 767px) {
      width: 200px;
      height: 190px;
      top: 0;
      transform: translateX(-50%);
    }
  }

  &__label {
    position: absolute;
    z-index: 3;

    width: 62px;
    height: 62px;

    background: url(../images/tech-toggler.svg) no-repeat center;
    border-radius: 50%;

    cursor: pointer;

    @media (min-width: 1280px) {
      display: none;
    }

    @media (max-width: 767px) {
      width: 34px;
      height: 34px;
    }

    &--1 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -140px);

      @media (max-width: 767px) {
        transform: translate(-50%, -100px);
      }
    }

    &--2 {
      bottom: 0;
      left: 50%;
      transform: translateX(-150px);

      @media (max-width: 767px) {
        transform: translateX(-60px);
      }
    }

    &--3 {
      top: 50%;
      left: 50%;
      transform: translateX(130px);

      @media (max-width: 767px) {
        transform: translateX(70px);
      }
    }
  }

  &__select-input {
    display: none;
  }

  &__small-section {
    position: absolute;
    z-index: 1;

    display: none;
    flex-direction: column;
    gap: 20px;
    max-width: 150px;
    max-height: 150px;
    padding: 10px;

    background: $purple_color;
    border-radius: 15px 0 0 15px;

    overflow-y: scroll;

    @media (min-width: 768px) {
      max-width: 300px;
      max-height: 300px;
    }

    &--1 {
      top: -25%;
      left: 50%;
      transform: translateX(-50%);

      @media (min-width: 768px) {
        top: -10%;
      }
    }

    &--2 {
      top: 50%;
      left: 50%;
      transform: translateX(-100%);

      @media (min-width: 768px) {
        top: 60%;
        transform: translateX(-110%);
      }
    }

    &--3 {
      top: 50%;
      left: 50%;
      transform: translate(-10%, -40%);

      @media (min-width: 768px) {
        transform: translate(20%, -40%);
      }
    }
  }
}

#tech-1:checked ~ .tech__small-section--1 {
  @media (max-width: 1279px) {
    display: flex;
  }
}

#tech-1:checked ~ .tech__label--1 {
  display: none;
}

#tech-2:checked ~ .tech__small-section--2 {
  @media (max-width: 1279px) {
    display: flex;
  }
}

#tech-2:checked ~ .tech__label--2 {
  display: none;
}

#tech-3:checked ~ .tech__small-section--3 {
  @media (max-width: 1279px) {
    display: flex;
  }
}

#tech-3:checked ~ .tech__label--3 {
  display: none;
}
