.tech {
  background-color: $background-black;

  &__content {
    @include page-grid;

    row-gap: 30px;

    @include on-desktop {
      row-gap: 80px;
    }
  }

  &__title {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 9 / -1;
    }

    @include on-large-desktop {
      grid-column: 12 / -1;
    }
  }

  &__descr {
    grid-column: 1 / -1;
    text-align: center;
    position: relative;

    @include on-desktop {
      @include page-grid;
    }
  }

  &__img {
    width: 197px;
    height: 195px;

    &:hover {
      transform: scale(1.01) rotate(5deg);
    }

    @include on-tablet {
      width: 358px;
      height: 354px;
    }

    @include on-desktop {
      width: 297px;
      height: 294px;
      margin-top: 50px;
      margin-left: 10px;
      grid-column: 5 / 9;
      grid-row: 1 / 4;
    }

    @include on-large-desktop {
      grid-column: 7 / 11;
    }
  }

  &__dot {
    display: block;
    width: 34px;
    height: 34px;
    background-image: url(../images/tech/dot.svg);
    background-repeat: no-repeat;
    background-size: 34px;
    position: absolute;

    @include on-tablet {
      width: 62px;
      height: 62px;
      background-size: 62px;
    }

    @include on-desktop {
      display: none;
    }

    &--1 {
      top: -10px;
      left: 100px;

      @include on-tablet {
        top: -20px;
        left: 230px;
      }
    }

    &--2 {
      bottom: 15px;
      left: 30px;

      @include on-tablet {
        left: 110px;
      }
    }

    &--3 {
      top: 80px;
      right: 60px;

      @include on-tablet {
        top: 145px;
        right: 220px;
      }
    }
  }

  &__block {
    display: none;

    @include on-desktop {
      display: block;
      text-align: left;
    }

    &--1 {
      @include on-desktop {
        grid-column: 1 / 4;
      }

      @include on-large-desktop {
        grid-column: 3 / 6;
      }
    }

    &--2 {
      @include on-desktop {
        grid-column: 9 / 13;
        margin-bottom: 20px;
      }

      @include on-large-desktop {
        grid-column: 12 / 16;
      }
    }

    &--3 {
      @include on-desktop {
        grid-column: 2 / 5;
      }

      @include on-large-desktop {
        grid-column: 3 / 6;
      }
    }
  }

  &__line {
    pointer-events: none;

    @include on-desktop {
      position: absolute;
      display: block;
    }

    &--sensor {
      @include on-desktop {
        background-image: url(../images/tech/sensor.png);
        width: 403px;
        height: 65px;
        top: 5px;
        left: 115px;
      }

      @include on-large-desktop {
        background-image: url(../images/tech/sensor-lg.png);
        width: 431px;
        height: 65px;
        left: 278px;
      }
    }

    &--batterries {
      @include on-desktop {
        background-image: url(../images/tech/batteries.png);
        width: 192px;
        height: 245px;
        top: 5px;
        right: 350px;
      }

      @include on-large-desktop {
        background-image: url(../images/tech/batteries-lg.png);
        width: 283px;
        height: 245px;
        right: 460px;
      }
    }

    &--connection {
      @include on-desktop {
        background-image: url(../images/tech/connection.png);
        width: 134px;
        height: 113px;
        top: 107px;
        left: 230px;
      }

      @include on-large-desktop {
        background-image: url(../images/tech/connection-lg.png);
        width: 241px;
        height: 113px;
        top: 110px;
        left: 320px;
      }
    }

    &--half {
      @include on-desktop {
        background-image: url(../images/tech/half.png);
        width: 40px;
        height: 201px;
        top: 90px;
        left: 360px;
      }

      @include on-large-desktop {
        left: 550px;
      }
    }
  }
}
