.tech-specs {
  background-color: #05040b;
  padding: 81px 0;
}

@media (max-width: 1024px) {
  .tech-specs {
    background-color: #05040b;
    padding: 81px 0;
    margin-bottom: -1px;

    &__title {
      position: relative;
      font-family: Mark-Heavy, sans-serif;
      font-size: 21px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 41px;

      &-special {
        font-family: Quantum, sans-serif;
        color: #05c2df;
      }
    }

    &__image {
      position: relative;
      width: 355px;
      height: 355px;
      display: block;
      margin: 0 auto;

      &-circle--1 {
        height: 15%;
        position: absolute;
        left: 100px;
        top: 0;
      }
      &-circle--2 {
        height: 15%;
        position: absolute;
        top: 110px;
        right: 45px;
      }
      &-circle--3 {
        height: 15%;
        position: absolute;
        top: 250px;
        left: -60px;
      }
    }
  }
}

@media (max-width: 767px) {
  .tech-specs {
    background-color: #05040b;
    padding: 50px 0;

    &__title {
      position: relative;
      font-family: Mark-Heavy, sans-serif;
      font-size: 21px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 41px;

      &-special {
        font-family: Quantum, sans-serif;
        color: #05c2df;
      }
    }

    &__image {
      position: relative;
      width: 197px;
      height: 197px;
      display: block;
      margin: 0 auto;

      &-circle--1 {
        position: absolute;
        left: 50px;
        top: 0;
      }
      &-circle--2 {
        position: absolute;
        top: 60px;
        right: 25px;
      }
      &-circle--3 {
        position: absolute;
        top: 140px;
        left: -38px;
      }
    }
  }
}
