.tech {
  background-color: $background-black;

  &__container {
    display: grid;
    gap: 41px;

    @include main-paddings;

    @include max-size;
  }

  &__content {
    justify-self: center;

    position: relative;
    width: 200px;
    height: 200px;

    background-image: url("../../src/images/asdasds.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;

    &-btn {
      width: 34px;
      height: 34px;

      background-color: $contrast-color;
      border: 2px solid rgba(255, 255, 255, 0.14);
      border-radius: 50%;

      font-size: 20px;
      font-weight: 300;
      color: $white;
      &::after {
        content: "+";
      }

      &--active {
        background-color: #07798b;

        &::after {
          content: "-";
        }
      }
    }

    &-title {
      display: none;
    }

    &-text {
      display: none;

      &--active {
        display: grid;

        position: relative;
        left: -30%;
        z-index: 3;

        min-width: 150px;

        padding: 17px 11px;

        background-color: #191536;
        border-radius: 4px;

        font-size: 12px;
        color: $text-color;

        // white-space: nowrap;
      }
    }

    &:nth-of-type(1) {
      top: -5%;
      left: 30%;
    }

    &:nth-of-type(2) {
      top: 40%;
      left: 70%;
    }

    &:nth-of-type(3) {
      top: 78%;
      left: -10%;
    }
  }

  &__image {
    display: none;
  }

  @media (min-width: $media-tablet) {
    &__content {
      width: 350px;
      height: 350px;
    }

    &__item {
      &-btn {
        width: 62px;
        height: 62px;

        font-size: 30px;
      }

      &-text {
        font-size: 16px;
      }
    }
  }

  @media (min-width: $media-desktop) {

    &__container {
      gap: 100px;
    }

    &__title {
      text-align: right;
    }

    &__content::after {
      content: url("../../src/images/tech-line.svg");
      position: absolute;
      top: 50%;
      left: -15px;
      transform: translateY(-50%);
    }

    &__item {
      display: grid;
      gap: 20px;
      width: 100%;

      &-btn {
        display: none;
      }

      &-title {
        display: flex;

        font-size: 18px;
        color: $white;
        font-weight: 900;
      }

      &-text {
        display: grid;

        font-size: 16px;
        font-weight: 400;
        color: $text-color;

        &--active {
          position: relative;
          left: 0;
          z-index: 1;

          min-width: auto;

          padding: 0;

          background-color: transparent;
          border-radius: 0;

          font-size: 16px;
        }
      }

      &:nth-of-type(1) {
        top: -15%;
        left: -90.5%;

        .tech__item-title::after {
          content: url("../../src/images/sensor-line.svg");

          position: absolute;
          left: 25%;
          top: 5%;

        }
      }

      &:nth-of-type(2) {
        top: -5%;
        left: 110%;

        .tech__item-title::after {
          content: url("../../src/images/batterries-line.svg");

          position: absolute;
          left: -60%;
          top: 5%;

        }
      }

      &:nth-of-type(3) {
        top: 50%;
        left: -80%;

        .tech__item-title::after {
          content: url("../../src/images/connection-line.svg");

          position: absolute;
          left: 40%;
          top: -100%;

        }
      }
    }
  }
}
