.tech {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 480px;

  &__title {
    position: absolute;
    right: 222px;
    margin-bottom: 20px;

    @media (max-width: 1600px) {
      right: 30px;
    }

    @media (max-width: 1024px) {
      right: 75%;
    }

    @media (max-width: 767px) {
      right: auto;
      left: 0;
    }
  }

  &__picture {
    display: block;
    position: absolute;
    bottom: 0;
    transform: translateX(-85px);

    @media (max-width: 1279px) {
      transform: scale(0.8);
      left: 60px;
      bottom: 10%;
    }

    @media (max-width: 1024px) {
      left: 0;
      bottom: 10%;
    }

    @media (max-width: 767px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__item {
    @media (max-width: 767px) {
      display: none;
    }

    &-sensor {
      position: absolute;
      left: 175px;
      top: 123px;
      max-width: 250px;

      @media (max-width:1600px) {
        left: 50px;
      }

      @media (max-width:1280px) {
        top: 110px;
        left: 20px;
      }

      @media (max-width: 1024px) {
        top: 10px;
        left: 60%;
      }
    }

    &-connection {
      position: absolute;
      left: 175px;
      top: 338px;
      max-width: 240px;

      @media (max-width:1600px) {
        left: 125px;
      }

      @media (max-width:1280px) {
        top: 285px;
        left: 85px;
      }

      @media (max-width: 1024px) {
        top: 33%;
        left: 60%;
      }
    }

    &-batterries {
      position: absolute;
      right: 85px;
      top: 123px;
      max-width: 345px;

      @media (max-width:1600px) {
        right: -45px;
      }

      @media (max-width:1280px) {
        top: 110px;
        right: -25px;
      }

      @media (max-width: 1024px) {
        top: 60%;
        left: 60%;
      }
    }

    &-title {
      margin-bottom: 20px;
    }

    &-text {
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #929292;

      @media (max-width: 1600px) {
        font-size: 14px;
      }
    }
  }
}
