.tech {
  &__picture {
    position: relative;
    margin: 0 auto;
    @include on1280 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1055px;
      min-height: 355px;
    }
  }
  &__img {
    max-width: 100%;
    height: 194px;
    background-image: url(../images/003.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @include on768 {
      height: 353px;
    }
    @include on1280 {
      width: 298px;
      height: 292px;
    }
  }
  &__line {
    position: absolute;
  }
  &__line--one {
    width: 403px;
    height: 72px;
    top: 5px;
    left: 122px;
    z-index: -1;
    background-image: url(../images/icons/line_l.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: none;
    @include on1280 {
      display: block;
    }
  }
  &__line--two {
    width: 283px;
    height: 245px;
    top: 5px;
    left: 39%;
    z-index: -1;
    background-image: url(../images/icons/line_br.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: none;
    @include on1280 {
      display: block;
    }
  }
  &__line--two-circle {
    width: 46px;
    height: 203px;
    top: 70px;
    left: 35.1%;
    z-index: 14;
    transform: rotate(2deg);
    background-image: url(../images/icons/ellipse.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: none;
    @include on1280 {
      display: inline-block;
    }
  }
  &__line--three {
    width: 240px;
    height: 112px;
    top: 85px;
    left: 152px;
    z-index: -1;
    background-image: url(../images/icons/line_lr.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: none;
    @include on1280 {
      display: block;
    }
  }
  &__button {
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: $c-b;
    border: 2px solid rgba(255, 255, 255, 0.14);
    border-radius: 50%;
    @include on768 {
      width: 62px;
      height: 62px;
    }
    @include on1280 {
      display: none;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 33%;
      left: 50%;
      width: 2px;
      height: 12px;
      background-color: $c-w;
      transition: all 0.4s ease-in-out;
      @include on768 {
        height: 22px;
      }
    }
    &::before {
      transform: rotate(90deg);
    }
    &:hover,
    &:focus {
      &::before {
        transform: rotate(-180deg);
      }
    }
    &:active {
      &::after,
      &::before {
        transform: rotate(-90deg);
      }
    }
  }
  &__descripton-card--one {
    opacity: 0;
    z-index: -1;
    top: 18%;
    left: 39%;
    transition: all 0.4s ease-in-out;
    @include on768 {
      left: 32%;
    }
    @include on1280 {
      opacity: 1;
      top: 0;
      left: 0;
    }
  }
  &__descripton-card--two {
    opacity: 0;
    z-index: -2;
    bottom: 0;
    left: 14%;
    transition: all 0.4s ease-in-out;
    @include on768 {
      left: 32%;
    }
    @include on1280 {
      opacity: 1;
      top: 0;
      left: calc(100% - 338px);
    }
  }
  &__descripton-card--three {
    opacity: 0;
    z-index: -3;
    top: 45%;
    left: 14%;
    transition: all 0.4s ease-in-out;
    @include on768 {
      left: 32%;
    }
    @include on1280 {
      opacity: 1;
      top: 52%;
      left: 3%;
    }
  }
  &__button--one {
    top: 0;
    left: 37%;
    @include on768 {
      left: 42%;
    }
    &:active ~ .tech__descripton-card--one {
      display: flex;
      width: max-content;
      height: max-content;
      opacity: 1;
      z-index: 10;
    }
  }
  &__button--two {
    top: 40%;
    left: 55%;
    @include on768 {
      left: 57%;
    }
    &:active ~ .tech__descripton-card--two {
      display: flex;
      max-width: max-160px;
      height: max-content;
      opacity: 1;
      z-index: 10;
    }
  }
  &__button--three {
    top: 80%;
    left: 25%;
    @include on768 {
      left: 30%;
    }
    &:active ~ .tech__descripton-card--three {
      max-width: 260px;
      opacity: 1;
      z-index: 10;
    }
  }
  &__descripton-card {
    padding: 22px;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 4px;
    background-color: $c-dis;

    @include on1280 {
      padding: 0;
      background-color: transparent;
    }
  }
  &__descripton-title {
    display: none;
    @include on1280 {
      display: block;
    }
  }
}
