.testimonials {
  background-color: $backgroundBlack;

  &__title {

    @include onTablet {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: 4 / 10;
    }

    @include onLarge {
      grid-column: 6 / 12;
    }
  }

  &__title-description {
    margin-top: 12px;

    text-align: left;

    @include onTablet {
      grid-column: 2 / 6;

      text-align: center;
    }

    @include onDesktop {
      grid-column: 4 / 10;

      margin-top: 16px;

      text-align: center;
    }

    @include onLarge {
      grid-column: 6 / 12;

      margin-top: 16px;

      text-align: center;
    }
  }

  &__list {
    list-style: none;

    margin-top: 30px;

    @include onTablet {
      grid-column: 1 / 7;
    }

    @include onDesktop {
      grid-column: 1 / 13;

      margin-top: 84px;
    }

    @include onLarge {
      grid-column: 1 / 17;

      margin-top: 70px;
    }
  }

  &__list-item {
    height: min-content;
  }

  &__list-item:not(:first-of-type) {
    margin-top: 20px;

    @include onTablet {
      margin-top: 0;
    }

    @include onDesktop {
      margin-top: 0;
    }

    @include onLarge {
      margin-top: 0;
    }
  }

  &__list-item:nth-last-child(-n + 2) {

    @include onTablet {
      margin-top: 40px;
    }

    @include onDesktop {
      margin-top: 0;
    }
  }

  &__list-item:nth-child(1) {

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 4;
    }

    @include onLarge {
      grid-column: 1 / 5;
    }
  }

  &__list-item:nth-child(2) {

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 4 / 7;
    }

    @include onLarge {
      grid-column: 5 / 9;
    }
  }

  &__list-item:nth-child(3) {

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 7 / 10;
    }

    @include onLarge {
      grid-column: 9 / 13;
    }
  }

  &__list-item:nth-child(4) {

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 10 / 13;
    }

    @include onLarge {
      grid-column: 13 / 17;
    }
  }

  &__list-image {
    display: none;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include onTablet {
      display: block;

      width: 100px;
      height: 90px;

      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    @include onDesktop {
      display: block;

      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    @include onLarge {
      display: block;

      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__list-image--1 {
    background-image: url(/images/moreThanGamingSection/1.svg);
  }

  &__list-image--2 {
    background-image: url(/images/moreThanGamingSection/2.svg);
  }

  &__list-image--3 {
    background-image: url(/images/moreThanGamingSection/3.svg);
  }

  &__list-image--4 {
    background-image: url(/images/moreThanGamingSection/4.svg);
  }

  &__list-title {
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;

    text-transform: uppercase;

    color: $white;

    @include onTablet {
      margin-top: 24px;

      text-align: center;
    }
  }

  &__list-text {
    margin-top: 12px;

    @include onTablet {
      margin-top: 20px;

      text-align: center;
    }

    @include onDesktop {
      margin-top: 20px;
    }

    @include onLarge {
      margin-top: 18px;
    }
  }
}
