.text {
  font-family: $font-family;

  &--general {
    margin: 0;
    font-size: 26px;
    font-weight: 900;
    line-height: 130%;

    @include onDesktop {
      font-size: 46px;
    }
  }

  &--title {
    margin: 0;
    font-size: 21px;
    font-weight: 900;
    line-height: 130%;

    @include onDesktop {
      line-height: normal;
      font-size: 36px;
    }
  }

  &--title-secondary {
    margin: 0;
    font-size: 16px;
    line-height: normal;
    font-weight: 900;

    @include onTablet {
      font-size: 18px;
    }
  }

  &--main {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  &--secondary {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }

  &--mobile {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  &--contrast {
    color: $contrast-color;

    &-menu {
      margin: 0;
      font-size: 26px;
      font-weight: 400;
      line-height: 130%;
    }
  }
}
