.tippy-box[data-theme~="tech"] {
  background: #191536;
  border-radius: 4px;
}

.tippy-content {
  max-width: 180px;
  font-size: 12px;
  font-weight: $font-weight-regular;
  line-height: 18px;
  color: $light-gray;
}
