.title {
  font-weight: 900;
  color: $white-text-color;

  &--header {
    grid-column: 1/-1;
    font-size: 26px;
    line-height: 33.8px;
    margin-bottom: 17px;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      font-size: 46px;
      line-height: 60px;
      grid-column: span 7;
      margin-bottom: 19px;
    }
  }

  &--help {
    text-align: center;
    font-size: 21px;
    line-height: 27.3px;
  }

  &--tech {
    font-size: 21px;
    line-height: 25.41px;
    margin-bottom: 30px;

    @include on-tablet {
      margin-bottom: 40px;
    }

    @include on-desktop {
      font-weight: 900;
      font-size: 36px;
      line-height: 43.57px;
      text-align: right;
      margin-right: 195px;
      margin-bottom: 80px;
    }
  }

  &--spec {
    font-size: 12px;

    @include on-tablet {
      font-size: 14px;
      margin-bottom: 4px;
    }

    @include on-desktop {
      font-weight: 900;
      font-size: 18px;
      line-height: 21.78px;
      margin-bottom: 21px;
    }
  }

  &--gaming {
    line-height: 25.41px;
    margin-bottom: 12px;

    @include on-desktop {
      font-weight: 900;
      font-size: 36px;
      line-height: 43.57px;
      margin-bottom: 16px;
    }
  }

  &--interest {
    margin-bottom: 11px;
    line-height: 19.36px;

    @include on-tablet {
      text-align: center;
      margin-bottom: 37px;
      font-size: 15px;
    }

    @include on-desktop {
      font-weight: 900;
      font-size: 16px;
      line-height: 19.36px;
      margin-bottom: 20px;
    }
  }

  &--about {
    font-size: 21px;
    margin-bottom: 20px;
    line-height: 25.41px;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 4/-1;
      margin-bottom: 30px;
    }

    @include on-desktop {
      font-weight: 900;
      font-size: 36px;
      line-height: 43.57px;
      grid-column: -6/-1;
    }
  }

  &--hello {
    font-size: 21px;
    line-height: 25.41px;
    margin-bottom: 22px;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: span 4;
      grid-row: 1/2;
    }

    @include on-desktop {
      grid-column: 2/8;
      grid-row: 5/6;
      font-weight: 900;
      font-size: 36px;
      line-height: 43.57px;
      margin-bottom: 30px;
    }
  }

  &--why {
    margin-bottom: 32px;
    line-height: 25.41px;
    font-size: 21px;

    @include on-tablet {
      margin-bottom: 30px;
    }

    @include on-desktop {
      margin-bottom: 82px;
      font-weight: 900;
      font-size: 36px;
      line-height: 43.57px;
      text-align: center;
    }
  }

  &__blue {
    color: $blue-text-color;

    &--small {
      font-weight: 400;
    }

    &--hello {
      font-size: 14px;
      line-height: 16.94px;
      padding-bottom: 11px;
      display: inline-block;
    }
  }

  &--questions {
    margin-bottom: 32px;
    line-height: 25.41px;
    font-size: 21px;

    @include on-tablet {
      grid-column: span 2;
      margin-bottom: 50px;
    }

    @include on-desktop {
      font-weight: 900;
      font-size: 36px;
      line-height: 43.57px;
      margin-bottom: 26px;
      grid-column: span 4;
    }
  }
}
