.title {
  font-size: 21px;
  line-height: 100%;
  text-transform: uppercase;

  @include on-desktop {
    font-size: 36px;
  }

  &__white {
    font-weight: 900;
    color: $white-color;
  }

  &__blue {
    font-weight: 400;
    color: $blue-color;
  }
}
