.title {
  color: #fff;
  font-size: 21px;
  font-weight: 900;
  line-height: normal;

  &__marked {
    color: $contrast_color;
    font-weight: 400;
  }

  @include onDesktop {
    font-size: 36px;
  }
}
