.tittle {
  color: $main-text-color;
  font-size: 21px;
  font-weight: 900;
  line-height: normal;

  @include onSmallDesktop {
    font-size: 36px;
  }

  &__two {
    color: $second-text-color;
    font-weight: 400;
  }
}
