.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;

  @media (min-width: $tablet-min-width) {
    padding-block: 30px;
  }

  @media (min-width: $desktop-min-width) {
    padding-block: 47px;
  }

  &__left-content {
    @media (min-width: $desktop-min-width) {
      display: flex;
      align-items: center;
      gap: 34px;
    }
  }

  &__right-content {
    @media (min-width: $desktop-min-width) {
      display: flex;
      align-items: center;
      gap: 37px;
    }
  }

  &__link {
    display: flex;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__dropdown {
    display: none;

    @media (min-width: $desktop-min-width) {
      display: block;
    }
  }

  &__dropdown-trigger {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    border: none;
    background-color: transparent;
    color: $contrast-color;
    display: flex;
    gap: 4px;
    align-items: flex-end;

    &::after {
      content: url(../images/icon/arrow-down.svg);
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__dropdown-content {
    margin-top: 6px;
  }

  &__dropdown-list {
    padding: 10px;
    font-weight: 500;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: $white-color;
  }

  &__nav {
    display: none;

    @media (min-width: $desktop-min-width) {
      display: block;
    }
  }

  &__nav-list {
    @media (min-width: $desktop-min-width) {
      font-size: 16px;
      line-height: 21px;
      display: flex;
      gap: 36px;
    }
  }

  &__btn {
    display: none;

    @media (min-width: $desktop-min-width) {
      display: block;
    }
  }
}
