.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    margin-bottom: 55px;
  }

  @include onDesktop {
    margin-bottom: 115px;
  }

  @include onFullHd {
    margin-bottom: 245px;
  }
}
