.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo,
  &__menu {
    cursor: pointer;

    @include hover (transform, scale(1.1));
  }

  &__logo {
    @include on-tablet {
      width: 67px;
      height: 14px;
    }

    @include on-desktop {
      width: 78px;
      height: 16px;
    }
  }

  &__menu {
    @include on-tablet {
      width: 30px;
    }

    @include on-desktop {
      display: none;
    }
  }

  &__desktop {
    display: none;

    @include on-desktop {
      display: flex;
      align-items: center;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 36px;
  }

  &__nav--link {
    color: $color-white;
    font-weight: 500;
    transition: all 0.6s ease-out;
    cursor: pointer;

    &:hover {
      color: $color-blue;
    }
  }

  &__nav--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 48px;
    margin-left: 36px;
    border: none;
    border-radius: 4px;
    background: $color-blue;
    color: $color-white;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    transition: all 0.6s ease-out;
    box-sizing: border-box;
    cursor: pointer;
    
    &:hover {
      background-color: $color-white;
      color: $color-blue;
    }
  }

  &__form {
    display: none;

    @include on-desktop {
      display: block;
    }
  }

  &__form--select {
    background-color: $bg-menu;
    color: $color-blue;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    border: none;
    cursor: pointer;
    outline: none;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;

    @include on-desktop {
      gap: 35px;
    }
  }
}