.top-bar-desktop {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0;

  @include onDesktop {
    display: flex;
  }

  &__middle-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 34px;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding-right: 34px;

    &:last-child {
      padding-right: 0;
    }
  }

  &__link {
    font-family: "Mark-Medium", sans-serif;
    font-size: 16px;
    color: $white;
  }
}
