.top-anchor {
  position: relative;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid $blue-color;

  display: flex;
  justify-content: center;
  align-items: center;

  &__arrow {
    display: block;
    height: 8px;
    width: 16px;
    background-image: url(../images/icons/arrow.svg);
    background-repeat: no-repeat;
  }
}