.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 14px;

  @include on-tablet {
    padding-block: 30px;
  }

  &__lang {
    display: none;

    @include on-desktop {
      display: block;
      position: relative;
      margin-left: 34px;
    }
  }

  &__nav {
    display: none;

    @include on-desktop {
      margin-right: 37px;

      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }

  &__list {
    display: flex;
    gap: 36px;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    line-height: 130%;
    color: $color-white;

    @include hover(color, $color-accent);
  }

  &__icon {
    display: block;
    height: 20px;
    width: 20px;
    background-size: cover;

    @include hover(transform, scale($scale-size));

    @include on-tablet {
      height: 30px;
      width: 30px;
    }

    &--burger {
      background-image: url(../images/icons/burger.svg);

      @include on-desktop {
        display: none;
      }
    }
    &--close {
      background-image: url(../images/icons/close.svg);
    }
  }

  &__button {
    display: none;

    @include on-desktop {
      display: block;
      width: 200px;
    }
  }
}
