h1 {
  font-size: 26px;
  line-height: 130%;
  font-weight: 900;
}

h2 {
  font-size: 21px;
  line-height: 130%;
  font-weight: 900;
}

h3 {
  font-size: 18px;
  line-height: 130%;
  font-weight: 900;
}