.video {
  display: flex;
  align-items: center;
  background-image: url(./../images/play.svg);
  background-repeat: no-repeat;
  height: 70px;
  width: 250px;

  @include hover (color, $colorContrast);


  &__link {
    margin-left: 30px;
    @include textLink;
    color: $colorText;
    line-height: 70px;
    @include hover (color, $colorWhite);

  }

  &__link::before {
    content: ">";
    margin-right: 50px;
    color: $colorContrast;
    transition: 0.3s;
  }

  &__link:hover::before{
    color: $colorWhite;
  }
}
