.video {
  display: none;
  position: fixed;
  width: 80%;
  top: 15vh;
  height: 40vh;
  z-index: $z-index-modal;
  left: 50%;
  transform: translateX(-50%);

  @include onTablet {
    width: 70%;
    height: 70vh;
  }

  &--active {
    display: block;
  }

  &__close-icon {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 20px;
    right: 20px;
  }
}
