.video-button {
  box-sizing: border-box;
  display: block;
  background-image: url(../images/video-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
  padding: 22px 55px 22px 105px;
  border: none;
  outline: none;

  @include textDesign(16px, 500, 130%);
  color: $white-color;

  transition: 0.3s;

  &:hover {
    background-image: url(../images/video-button-hover.svg);
  }
}
