.video-button {
  display: inline-block;
  transition: transform 0.3s;

  &__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
