.dark-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
  z-index: 0;
}

.video-presentation {
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
}

.close-video__button {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  background-image: url('../images/icons/cross-circle.svg');
  z-index: 15;
}
