.video-button {
  cursor: pointer;

  display: flex;

  width: 248px;
  height: 69px;
  border: none;

  background-image: url(../images/icons/icon-play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include hover(background-image, url(../images/icons/icon-play-hover.svg))
}
