.video {
  display: flex;
  flex-direction: column;
  background-color: #191536;
  z-index: 100;

  &__content {
    position: relative;
  }

  &__frame {
    width: 70vw;
    height: 40vh;
    display: block;
    outline: none;
    position: relative;
  }

  &__cross {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../images/Icons/cross-w.svg);
    width: 30px;
    height: 30px;

    &:hover {
      background-image: url(../images/Icons/cross.svg);
    }
  }

}
