.video-btn {
  @extend%link;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 180px;
  border: none;
  background-color: transparent;
  background-image: url(../images/play-button-bg.png);
  background-repeat: no-repeat;
  padding-left: 60px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent $accent-color;
    left: 28px;
    transition: border-color 0.3s;
  }

  &:hover {
    &::before {
      border-color: transparent transparent transparent $white-color;
    }
  }
}
