/* Dodaj odpowiednie style dla modala i przycisku */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 60%;
  background-color: #fefefe;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/* Dodaj style dla iframe wewnątrz modala */
#videoModal iframe {
  width: 100%;
  height: 100%;
}
