.dark-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
  z-index: 1;
}

.video-container {
  position: fixed;
  top: 50vh;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;

  @include on-tablet {
    left: 20vh;
    right: 20vh;
  }
}

.video-presentation {
  width: 100%;
}

.close-video__button {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 25px;
  height: 25px;
  background-image: url('../images/icons/cross-circle.svg');
  z-index: 15;
}
