.welcome {
  display: flex;
  flex-direction: column;
  gap: 185px;
  padding: 160px 234px 160px 328px;

  background: $gradient;

  @media (max-width: 1919px) {
    padding: 100px 110px;
  }

  @media (max-width: 1279px) {
    gap: 90px;
    padding: 70px 30px;
  }

  @media (max-width: 767px) {
    padding: 50px 20px;
  }

  &__about {
    align-self: flex-end;
  }
}
