.why {
  padding: 160px 234px;

  text-align: center;

  background: $gradient;

  @media (max-width: 1919px) {
    padding: 100px 110px;
  }

  @media (max-width: 1279px) {
    padding: 70px 35px;
  }

  @media (max-width: 767px) {
    padding: 50px 20px;

    text-align: left;
  }

  &__title {
    margin-bottom: 80px;

    @media (max-width: 1279px) {
      margin-bottom: 30px;

      text-align: left;
    }
  }

  &__aspects {
    display: flex;
    gap: 200px;

    @media (max-width: 1919px) {
      gap: 25px;
    }

    @media (max-width: 1279px) {
      gap: 18px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__aspect {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 767px) {
      align-items: flex-start;
    }
  }

  &__image {
    margin-bottom: 35px;

    @media (max-width: 1919px) {
      margin-bottom: 30px;
    }

    @media (max-width: 1279px) {
      margin-bottom: 25px;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__subtitle {
    margin-bottom: 18px;

    @media (max-width: 1919px) {
      margin-bottom: 15px;
    }

    @media (max-width: 1279px) {
      margin-bottom: 35px;
    }

    @media (max-width: 767px) {
      margin-bottom: 11px;
    }
  }

  &__description {
    @media (max-width: 1279px) {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
