.whyKatLoco {
  background: $gradient;

  &__title {

    @include onTablet {
      grid-column: 1 / 3;
    }

    @include onDesktop {
      grid-column: 5 / 9;
    }

    @include onLarge {
      grid-column: 6 / 12;
    }
  }

  &__list {
    margin-top: 32px;

    list-style: none;

    @include onTablet {
      grid-column: 1 / 7;
    }

    @include onDesktop {
      grid-column: 1 / 13;

      margin-top: 84px;
    }

    @include onLarge {
      grid-column: 1 / 17;

      margin-top: 84px;
    }
  }

  &__list-item:not(:first-of-type) {
    margin-top: 12px;

    @include onTablet {
      margin-top: 0;
    }
  }

  &__list-item:nth-child(1) {

    @include onTablet {
      grid-column: 1 / 3;
    }

    @include onDesktop {
      grid-column: 1 / 5;
    }

    @include onLarge {
      grid-column: 1 / 5;
    }
  }

  &__list-item:nth-child(2) {

    @include onTablet {
      grid-column: 3 / 5;
    }

    @include onDesktop {
      grid-column: 5 / 9;
    }

    @include onLarge {
      grid-column: 7 / 11;
    }
  }

  &__list-item:nth-child(3) {

    @include onTablet {
      grid-column: 5 / 7;
    }

    @include onDesktop {
      grid-column: 9 / 13;
    }

    @include onLarge {
      grid-column: 13 / 17;
    }
  }

  &__list-image {
    display: none;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include onTablet {
      display: block;

      width: 100px;
      height: 90px;

      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    @include onDesktop {
      display: block;

      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    @include onLarge {
      display: block;

      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__list-image--1 {
    background-image: url(/images/whyKatLocoSection/1.svg);
  }

  &__list-image--2 {
    background-image: url(/images/whyKatLocoSection/2.svg);
  }

  &__list-image--3 {
    background-image: url(/images/whyKatLocoSection/3.svg);
  }

  &__list-title {
    font-weight: 900;
    font-size: 15px;
    line-height: 19px;

    text-transform: uppercase;

    color: $white;

    @include onTablet {
      margin-top: 24px;

      text-align: center;
    }

    @include onDesktop {
      margin-top: 32px;

      font-size: 16px;
      text-align: center;
    }

    @include onLarge {
      margin-top: 32px;

      font-size: 16px;
      text-align: center;
    }
  }

  &__list-text {
    margin-top: 12px;

    @include onTablet {
      margin-top: 28px;

      text-align: center;
    }

    @include onDesktop {
      margin-top: 16px;

      text-align: center;
    }

    @include onDesktop {
      margin-top: 16px;

      text-align: center;
    }
  }

  &__button {
    display: none;

    grid-column: 5 / 9;

    margin-top: 90px;
    padding: 12px 0;
    width: 200px;

    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    text-decoration: none;
    text-align: center;

    color: $white;
    background-color: $contrastColor;

    transition: color $animationDuration, background-color $animationDuration;

    @include onDesktop {
      display: block;
    }

    @include onLarge {
      display: none;
    }

    &:hover {
      color: $contrastColor;
      background-color: $white;
    }

    &:active {
      color: $buttonActiveText;
      background-color: $buttonActive;
    }
  }
}
