.window {
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 30px;
  background-color: $darkBlue;

  @include onTablet {
    min-height: 568px;
  }

  &--desktop {
    @include onDesktop {
      max-width: 880px;
      min-height: 548px;
      margin: 100px auto;
      padding: 18px 0;
    }
  }

  &--video {
    position: relative;
    min-height: auto;
    padding: 0;
  }

  &__link {
    padding: 10px $paddingsHorMob;
    transition: background-color $transitionDefault,
      color $transitionDefault;

    @include onTablet {
      padding: 10px 160px;
    }

    &:hover {
      background-color: $darkBlueHover;
      color: $contrastBlue;
    }
  }
}
