.wrap {
  max-width: 1920px;
  padding: 0 20px;
  margin: 0 auto;

  @include onTablet {
    padding: 0 34px;
  }

  @include onDesktop {
    padding: 0 110px;
  }

  @include onLargeScreen {
    padding: 0 234px;
  }
}
