@import "./nav.scss";
@import "./bottom_nav.scss";
@import "./on-tab.scss";
@import "./on-desktop.scss";
@import "./on-laptop.scss";

.hero {
  background: linear-gradient($bgGradientBlue, $black);
  display: flex;
  flex-direction: column;

  &__topbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__language {
    display: none;
  }

  &__contents {
    display: flex;
    flex-direction: column-reverse;
  }

  &__contents-text {
    padding: 20px;
  }

  &__locomotion {
    width: 100%;
    margin-bottom: 20px;
  }

  &__discover {
    @include typography($weight-5, $size-16, $size-24);
    color: $gray;
    margin-bottom: 20px;
  }

  &__price {
    text-align: center;
    margin-bottom: 20px;
  }

  &__vr-img {
    min-width: 320px;
  }

  &__buy {
    margin: 0 auto;
    width: 270px;
  }

  @include on-tab($tab);
  @include on-desktop($desktop);
  @include on-laptop($laptop);
}
