.nav {
  display: flex;
  column-gap: 35px;

  &__link {
    padding: 15px 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $white;
  }

  @media (max-width: 1279px) {
    display: none;
  }
}
