@mixin on-laptop($break-point) {
  @media (min-width: $break-point) {
    &__topbar {
      padding: 65px 235px;
    }

    &__contents-text {
      z-index: 2;
      padding-left: 235px;
      padding-right: 10px;
      width: 750px;
    }

    &__discover,
    &__price,
    &__video {
      padding-left: 110px;
    }

    &__vr-img {
      min-width: 1150px;
    }
  }
}
