@mixin on-tab($break-point) {
  @media (min-width: $break-point) {
    &__topbar {
      padding: 35px;
    }

    &__contents {
      flex-direction: row;
    }

    &__contents-text {
      z-index: 2;
      padding: 55px 0 35px 35px;
      min-width: 340px;
    }

    &__price {
      text-align: left;
    }

    &__vr-img {
      min-width: 465px;
      transform: translateX(-8%);
    }

    &__buy {
      margin-left: 35px;
      width: 280px;
    }
  }
}
