<!doctype html>
<nav
  class="page__menu--faq faq"
  id="faq"
>
  <div class="container__menu">
    <div class="menu__content">
      <div class="menu__top">
        <a
          href="#"
          class="icon icon--logo"
        ></a>
        <a
          href="#"
          class="icon icon--cross"
        ></a>
      </div>

      <div class="faq__content">
        <h1 class="faq__title">
          FREQUENTLY ASKED
          <br />
          <div class="faq__title-blue">QUESTIONS</div>
        </h1>
        <div class="faq__info">
          <div class="faq__section">
            What makes KAT loco different from other systems?
          </div>
          <p class="faq__paragraph">
            Despite being approached from many different angles, all traditional
            VR Locomotion systems including roomscale, teleportation, and free
            locomotion failed to provide an optimal solution capable of
            integrating high immersion with convenience. KAT loco does all of
            that without repeating their flaws. Our system offers a complete and
            versatile solution for an affordable price what makes it a perfect
            choice for home-use. It is also 100% user friendly, wireless,
            universally compatible, and more! It even offers decoupled head and
            body directions!
          </p>

          <p class="faq__update">
            Last updated: Wed, June 12 2019 7:07 PM UTC +03:00
          </p>
        </div>

        <div class="faq__info">
          <div class="faq__section">
            What makes KAT loco different from other systems?
          </div>
        </div>

        <div class="faq__info">
          <div class="faq__section">Will it decrease my motion sickness?</div>
        </div>

        <div class="faq__info">
          <div class="faq__section">
            Which VR headsets is it compatible with?
          </div>
        </div>

        <div class="faq__info">
          <div class="faq__section">Is it compatible with Oculus Quest?</div>
        </div>
      </div>
      <a
        href="#more"
        class="more__swap"
      ></a>
    </div>
  </div>
</nav>
