<section
  class="more"
  id="more"
>
  <div class="container">
    <h2 class="page__title">
      MORE THAN
      <div class="page__title-blue">GAMING!</div>
      <div class="more__undertitle">
        This also made for people who are interested in...
      </div>
    </h2>
    <div class="more__info">
      <div class="more__section">
        <div class="more__picture more__picture--education"></div>
        <h3 class="more__subtitle">EDUCATION</h3>
        <p class="more__paragraph">
          Create educational simulations, trainings and much more with...
        </p>
        <p class="more__paragraph--tablet">
          Create educational simulations, trainings and much more with unlimited
          virtual space and minimum physical space
        </p>
      </div>
      <div class="more__section">
        <div class="more__picture more__picture--estate"></div>
        <h3 class="more__subtitle">REAL ESTATE</h3>
        <p class="more__paragraph">
          Design architectural projects in a deeply realistic environment...
        </p>
        <p class="more__paragraph--tablet">
          Desighn architectural projects in a deeply realistic environment
          allowing visitors to freely walk around, and feel their vibe
        </p>
      </div>
      <div class="more__section">
        <div class="more__picture more__picture--fitness"></div>
        <h3 class="more__subtitle">FITNESS</h3>
        <p class="more__paragraph">
          Combine business with pleasure, and discover countless ways...
        </p>
        <p class="more__paragraph--tablet">
          Combine business with pleasure, and discover countless ways to stay
          fit while playing your favorite VR Games!
        </p>
      </div>
      <div class="more__section">
        <div class="more__picture more__picture--social"></div>
        <h3 class="more__subtitle">SOCIAL INTERACTIONS</h3>
        <p class="more__paragraph">
          Hang out with your friends in the virtual world when you can’t...
        </p>
        <p class="more__paragraph--tablet">
          Hang out with your friends in the virtual world when you can’t meet
          space requirements
        </p>
      </div>
    </div>
  </div>
</section>
