@mixin on-laptop($break-point) {
  @media (min-width: $break-point) {
    &__connection {
      width: 110px;
      left: 15%;

      & > .half-circle {
        left: 195%;
      }

      & > .tech__heading,
      .tech__details {
        left: -145%;
      }
    }
  }
}
