@mixin on-tab($break-point) {
  @media (min-width: $break-point) {
    padding: 80px 35px;

    &__img::after {
      content: url("../images/photos/vr_single_large.png");
    }

    &__btn-1,
    &__btn-2,
    &__btn-3 {
      transform: scale(180%);
    }
  }
}
