.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px 50px;

  @include on-tablet {
    padding: 0 34px 70px;
  }

  @include on-desktop {
    padding: 0 110px;
  }
}

.container__menu {
  margin: 0 auto;
  max-width: 1280px;
}

.container.footer {
  @include on-tablet {
    padding: 0 25px 25px 34px;
  }
}

.container.contact__grid {
  @include on-tablet {
    padding: 0 34px 130px;
  }
}
