.card {

  @include desktop768 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-bottom: 30px;
    height: 115px;
    object-fit: contain;
  }

  &__img--width768 {
    display: none;

    @include desktop768 {
      display: block;
    }
  }

  &__title {
    margin-bottom: 11px;

    @include desktop1024 {
      margin-bottom: 20px;
    }
  }
}
