.contacts {
  display: flex;
  flex-direction: column;

  &__contact {
    color: rgba(146, 146, 146, 1);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
    justify-content: center;
    width: fit-content;

    &:hover {
      color: rgba(5, 194, 223, 1);
    }
  }
}
