.katevr {
  font-family: Inter, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  &__menu {
    background-color: #191536;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform ease-out 0.3s;
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    @include desktop768 {
      padding-top: 30px;
    }
  }
}
