.more {
  background: #05040b;

  &__header {
    margin-bottom: 30px;

    @include desktop768 {
      margin-bottom: 40px;
      text-align: center;
    }

    @include desktop1224 {
      margin-bottom: 80px;
    }
  }

  &__title {
    margin-bottom: 12px;
  }

  &__grid {
    @include desktop768 {
      row-gap: 40px;
    }
  }
}
