.sections {
  font-family: "Inter", sans-serif;

  &--padding {

    @include desktop768 {
      padding: 40px 0;
    }

    @include desktop1224 {
      padding: 70px 0;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 900;
    font-size: 21px;
    line-height: 24px;
    color: #fff;

    @include desktop1224 {
      font-size: 36px;
    }

    & span {
      font-weight: 400;
      color: #05c2df;
    }
  }

  &__sub-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #05c2df;
  }

  &__text {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #fff;

  }

  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #929292;
  }

}
