@mixin on-desktop($break-point) {
  @media (min-width: $break-point) {
    width: 850px;
    left: unset;
    right: unset;
    top: unset;
    margin-left: 50vw;
    transform: translateX(-50%);
    margin-top: 135px;
    padding: 60px 90px;

    &__title {
      @include typography($weight-9, $size-36, $size-44);
      margin: 50px 0 30px;
    }
  }
}
