.question {
  border: 1px solid $contrastColor;
  border-radius: 4px;
  padding: 10px 30px;
  margin-bottom: 10px;

  &__name {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 150%;
    color: $contrastColor;

    &-opener {
      margin: auto 0;
    }
  }

  &__description {
    max-width: 850px;
    font-size: 16px;
    line-height: 150%;
  }

  &__date {
    padding: 20px 0;
    font-size: 14px;
    line-height: 150%;
    color: #545454;
  }
}
