.help {
  &__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 130%;
    color: #fff;

    &-mod {
      font-weight: 400;
      color: #05c2df;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 20px;

    &-link {
      text-decoration: none;
      color: #05c2df;
    }
  }

  &__wrapper {
    display: flex;

  }

  &__list {
    margin: 0;
    list-style: none;
    padding-right: 70px;
    &-item {
      padding-bottom: 20px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
