.more {
  background: #05040b;

  &__header {
    margin-bottom: 30px;

    @include desktop768 {
      margin-bottom: 40px;
      text-align: center;
    }

    @include desktop1224 {
      margin-bottom: 80px;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-weight: 900;
    font-size: 21px;
    line-height: 24px;
    color: #fff;

    @include desktop1224 {
      font-size: 36px;
    }

    &-text {
      font-weight: 400;
      color: #05c2df;
    }
  }

  &__sub {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #05c2df;
  }

  &__grid {
    @include desktop768 {
      row-gap: 40px;
    }
  }
}
