.product {
  background: linear-gradient(146.86deg, #191536 -0.5%, #000 99.5%);

  &__container {
    display: flex;

    &--1 {
      align-items: flex-start;
      justify-content: flex-end;

      @media (max-width: 767px) {
        display: block;
        margin-bottom: 88px;
      }
      @media (min-width: 768px) and (max-width: 1279px) {
        margin-bottom: 88px;
      }
      @media (min-width: 1280px) {
        margin-bottom: 188px;
      }
    }

    &--2 {
      align-items: center;
    }
  }

  &__subtitle {
    margin-bottom: 30px;

    &--small {
      @media (min-width: 768px) {
        display: none;
      }
    }

    &--big {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &__p {
    &--1 {
      margin-right: 20px;

      @media (max-width: 767px) {
        display: none;
      }
    }
    &--2 {
      margin-bottom: 14px;
    }
  }

  &__img {
    margin-bottom: 12px;

    @media (max-width: 767px) {
      height: 189px;
      width: 280px;
    }
    @media (min-width: 768px) and (max-width: 1279px) {
      height: 270px;
      width: 340px;
    }
    @media (min-width: 1280px) and (max-width: 1919px) {
      height: 290px;
      width: 430px;
    }
    @media (min-width: 1920px) {
      height: 290px;
      width: 622px;
    }
  }

  &__content {
    &--2 {
      max-width: 333px;

      @media (max-width: 1279px) {
        margin-left: 20px;
      }
      @media (min-width: 1280px) {
        margin-left: 110px;
      }
    }
  }

  &__text {
    margin-bottom: 30px;
  }

  &__about {
    margin-left: auto;
    background-image: url("/images/product/About-Us.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 768px) and (max-width: 1279px) {
      height: 250px;
      width: 232px;
    }
    @media (min-width: 1280px) and (max-width: 1919px) {
      height: 332px;
      width: 495px;
    }
    @media (min-width: 1920px) {
      height: 334px;
      width: 701px;
    }
  }

  &__pages {
    @media (max-width: 1279px) {
      display: none;
    }
  }

  &__dots {
    height: 4px;
    width: 44px;
    margin: 0 auto 20px;
    background-image: url("/images/product/product_dots.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 1280px) {
      display: none;
    }
  }
}
