.tech-specs {
  background: #05040b;

  &__subtitle {

    @media (max-width: 767px) {
      margin-bottom: 50px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 68px;
    }

    @media (min-width: 1280px) {
      margin-bottom: 145px;
      text-align: right;
    }
  }

  &__content {
    position: relative;

    margin: 0 auto;
    background-image: url("/images/tech/item.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
      height: 195px;
      width: 197px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      height: 354px;
      width: 358px;
    }

    @media (min-width: 1280px) {
      height: 295px;
      width: 298px;
    }
  }

  &__line {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 1279px) {
      display: none;
    }

    @media (min-width: 1280px) {
      display: block;
    }

    &--1 {
      height: 72px;
      width: 403px;
      top: -50px;
      left: -255px;
      background-image: url("/images/tech/line1.svg");
    }

    &--2 {
      height: 113px;
      width: 134px;
      top: 65px;
      left: -140px;
      background-image: url("/images/tech/line2.svg");
    }

    &--3 {
      height: 245px;
      width: 192px;
      top: -60px;
      left: 150px;
      background-image: url("/images/tech/line3.svg");
    }

    &--4 {
      height: 201px;
      width: 40px;
      top: 43px;
      left: -15px;
      background-image: url("/images/tech/line4.svg");
    }
  }

  &__container {
    position: absolute;

    @media (max-width: 1279px) {
      display: none;
    }

    @media (min-width: 1280px) {
      display: block;
    }

    &--1 {
      top: -57px;
      left: -370px;
    }

    &--2 {
      top: 160px;
      left: -280px;
    }

    &--3 {
      width: 338px;
      top: -67px;
      left: 370px;
    }
  }

  &__h3 {
    margin-bottom: 20px;
    font-size: 18px;
  }

  &__text {
    font-size: 16px;
    color: #929292;
  }

  &__circle {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/images/tech/cirlce.svg");

    @media (max-width: 767px) {
      height: 34px;
      width: 34px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      height: 62px;
      width: 62px;
    }

    @media (min-width: 1280px) {
      display: none;
    }

    &--1 {
      @media (max-width: 767px) {
        top: -10px;
        left: 55px;
      }

      @media (min-width: 768px) {
        top: -30px;
        left: 65px;
      }
    }

    &--2 {
      @media (max-width: 767px) {
        top: 80px;
        right: 30px;
      }

      @media (min-width: 768px) {
        top: 150px;
        right: 45px;
      }
    }

    &--3 {
      @media (max-width: 767px) {
        bottom: 0;
        left: -20px;
      }

      @media (min-width: 768px) {
        bottom: 0;
        left: -100px;
      }
    }
  }
}
