.video {
  &__youtube {
    width: 426px;
    height: 240px;

    @include desktop768 {
      width: 640px;
      height: 360px;
    }

    @include desktop1024 {
      width: 854px;
      height: 480px;
    }

  }
}
