.hero {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 37px 0 46px;

  @media (max-width: $bp-tablet) and (orientation: landscape) {
    height: 100%;
  }

  @include mediaDesktop {
    padding: 95px 0 120px !important;
    align-items: stretch;
  }

  &__title {
    margin: 0 0 17px;

    @include mediaDesktop {
      margin: 0 0 19px;
    }

    @include mediaDesktopXL {
      margin: 0 0 35px;
    }
  }

  &__wrapper {
    position: relative;

    @include mediaDesktop {
      height: 100%;
    }
  }

  &__main {
    display: flex;
    flex-direction: column-reverse;
    z-index: 2;

    @include mediaTablet {
      flex-direction: row;
      align-items: end;
      width: 100%;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    padding: 0 0 clamp(172px, 53.75%, 260px);

    @include mediaTablet {
      padding: 0 0 clamp(172px, 53.75%, 300px);
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;

      @include mediaTablet {
        top: 60%;
        width: 100%;
        height: auto;
        object-fit: cover;
        transform: translateY(-50%);
      }

    }
  }

  &__texts {

    &-price {
      @include textTypohraphy(18, 1.2, 500);
      color: $color-white;
      margin: 0 0 16px;
      text-align: center;

      &::after {
        content: "$";
        display: inline-block;
        margin: 0 0 0 1px;
      }

      @include mediaTablet {
        margin: 0 0 24px;
        text-align: left;
      }

      @include mediaDesktop {
        margin: 0 0 20px;
      }

      @include mediaDesktop {
        margin: 0 0 36px;
      }
    }

    &-paragraph {
      margin: 0 0 8px;

      @include mediaDesktop {
        margin: 0 0 30px;
      }
    }
  }

  &__button {
    position: fixed;
    z-index: 2;
    bottom: 10px;
    left: 20px;
    visibility: hidden;
    opacity: 0;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    @include mediaMobile {
      width: calc(100% - 40px);
    }

    @include mediaTablet {
      bottom: 30px;
    }

    @include mediaDesktop {
      display: none;
    }
  }

  &__right-image {

    @include mediaTablet {
      position: absolute;
      right: 0;
    }

  }

  &__actions {
    display: none;
    z-index: 2;

    @include mediaDesktop {
      display: flex;
      flex: 1 1 auto;
      justify-content: space-between;
      align-self: flex-end;
    }

    &-nav {
      display: flex;
      gap: 39px;
    }

    &-slider-nav {
      display: flex;
      gap: 103px;
    }

    &-link {
      @extend .button-link;
      color: $color-white;
      transition: color $duration-transition;

      &:hover {
        color: $color-blue;
      }

      &--more {
        position: relative;
        padding: 0 0 10px;
        color: $color-blue;

        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          left: 50%;
          transform: translate(-50%, 7px);
          border-style: solid;
          border-width: 6px 4.5px 0;
          border-color: $color-blue transparent transparent transparent;
          transition: transform $duration-transition;
        }

        &:hover {
          &::after {
            transform: translate(-50%, 10px);
          }
        }
      }
    }
  }
}
