.more {

  &__title {
    margin: 0 0 12px;

    @include mediaDesktopXL {
      margin: 0 0 16px;
    }
  }

  &__subtitle {
    margin: 0 0 30px;

    @include mediaDesktop {
      margin: 0 0 83px;
    }

    @include mediaDesktop {
      margin: 0 0 70px;
    }
  }

  &__item {

    &:not(:last-child) {
      margin: 0 0 20px;
    }

    @include mediaTablet {
      &:not(:nth-last-child(-n + 2)) {
        margin: 0 0 40px;
      }

    }
  }

}
