.why-cat-loco {
  background: $linearGradient;

  &__content {
    padding-block: 50px;

    @include on-tablet {
      padding-block: 70px;
    }

    @include on-desktop {
      padding: 100px 0 102px;
    }

    @include on-big-desktop {
      padding-block: 160px;
    }
  }

  .section-title {
    padding-bottom: 32px;

    @include on-tablet {
      padding-bottom: 30px;
    }

    @include on-desktop {
      text-align: center;
      padding-bottom: 84px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;

    @include on-tablet {
      flex-direction: row;
    }

    @include on-desktop {
      padding-bottom: 79px;
    }
  }

  &__link {
    @include on-desktop {
      display: flex;
      justify-self: center;
      width: 200px;
      height: 48px;
    }
  }

  &__button {
    display: none;

    @include on-desktop {
      display: flex;
    }

    @include on-big-desktop {
      display: none;
    }
  }
}
