.footer {
  background-color: black;

  &__section {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
      height: 64px;
    }

    & .nav__item {
      @media (max-width: 1200px) {
        font-size: 14px;
        line-height: 64px;
      }
    }

    & .nav__link {
      @media (max-width: 1200px) {
        font-size: 14px;
        line-height: 64px;
      }
    }
  }

  &__left {
    display: flex;
    align-self: center;
  }

  &__logo {
    @media (max-width: 1200px) {
      height: 14px;
      width: 67px;
    }
  }

  &__right {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(4, auto);
    align-self: center;
  }
}
