.footer {
  position: relative;
  z-index: 1;
  background-color: black;

  &__section {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
      height: 64px;
    }

    @media (max-width: 720px) {
      margin: 10px 0;
      height: 320px;
      display: flex;
      flex-direction: column;
      justify-content: start;
    }

    & .nav__list {
      position: relative;
      visibility: visible;
      display: flex;
      flex-direction: row;
      background-color: transparent;
      padding: 0;
      line-height: 64px;
      gap: 34px;

      @media (max-width: 720px) {
        flex-direction: column;
        line-height: 48px;
        padding-top: 15px;
        gap: 0;
      }
    }

    & .nav__item {
      @media (max-width: 1200px) {
        display: inline-block;
        font-size: 14px;
        line-height: 64px;
        padding: 0;
        @include hover (background-color, black);
      }

      @media (max-width: 720px) {
        line-height: 48px;
      }
    }

    & .nav__item:nth-child(n+5) {
      display: none;
    }

    & .nav__link {
      @media (max-width: 1200px) {
        font-size: 14px;
        line-height: 64px;
      }

      @media (max-width: 720px) {
        line-height: 48px;
      }
    }
  }

  &__left {
    display: flex;
    align-self: center;

    @media (max-width: 720px) {
      align-self: start;
      margin-top: 50px;
    }
  }

  &__logo {
    @media (max-width: 1200px) {
      height: 14px;
      width: 67px;
    }
  }

  &__center {
    @media (max-width: 720px) {
      align-self: start;
    }
  }

  &__right {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(4, auto);
    align-self: center;

    @media (max-width: 720px) {
      position: absolute;
      bottom: 50px;
      align-self: flex-end;
    }
  }
}
