.footer {
  background-color: black;

  &__section {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__left {
    display: flex;
    align-self: center;
  }

  &__right {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(4, auto);
    align-self: center;
  }
}
