.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0 80px;
  // background: $gradient;
  color: white;

  &__image {
    position: absolute;
    object-fit: contain;
    right: 0;
    top: 10px;
    // width: 63%;
    height: 90%;
    z-index: -1;
  }

  &__title {
    @include textH1;
    margin: 14px auto;
  }

  &__title-end {
    font-family: "Quantum", sans-serif;
    color: $colorContrast;
  }

  &__article {
    margin-left: 78px;
    width: 336px;
    @include textLink;
    line-height: 1.5;
    color: $colorText;
  }

  &__description {
    margin: 5px auto;
  }
  &__price {
    color: $colorWhite;
    margin: 5px auto;
  }

  &__video {
    margin-top: 18px;
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    @include textLink;
  }

  &__bottom-left {
    display: grid;
    gap: $gap-nav;
    grid-template-columns: repeat(2, auto);
    align-items: center;
  }

  &__more-button {
    position: relative;
  }

  &__more-link {
    margin: 0;
    color: $colorContrast;
    text-align: center;
    line-height: 36px;
    @include hover(color, $colorWhite);
  }

  &__more-link::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid $colorContrast;
    transition: 0.3s;
  }

  &__more-link:hover::after {
    border-top: 9px solid $colorWhite;
  }
}
