.home {
  position: relative;
  background: $gradient;
  padding: 50px 110px 80px;
  height: 100vh;
  color: white;

  &__title {
    margin-left: 144px;
    @include textH1;
    font-size: 54px;
  }

  &__title-end {
    font-family: "Quantum";
    color: $colorContrast;
  }

  &__article{
    margin-left: 236px;
    margin-top: 30px;
    width: 439px;
    @include textLink;
    font-size: 20px;
    line-height: 1.5;
    color: $colorText;
  }

  &__price{
    margin-top: 30px;
    color: $colorWhite;
  }

  &__video {
    margin-top: 30px;
  }

  &__image {
    position: absolute;
    object-fit: contain;
    right: 0;
    top: 0;
    height: 97%;
  }

  &__bottom {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }
}



