.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0 80px;
  // background: $gradient;
  color: white;

  &__image {
    position: absolute;
    object-fit: contain;
    right: 0;
    top: 0;
    width: 63%;
    z-index: 1;
  }

  &__info {
    margin-top: 100px;
    position: relative;
    z-index: 2;
  }

  &__title {
    @include textH1;
    margin: 14px auto;
  }

  &__title-end {
    font-family: "Quantum", sans-serif;
    color: $colorContrast;
  }

  &__article {
    margin-left: 78px;
    width: 336px;
    @include textLink;
    line-height: 1.5;
    color: $colorText;
  }

  &__description {
    margin: 5px auto;
  }
  &__price {
    color: $colorWhite;
    margin: 5px auto;
  }

  &__video {
    margin-top: 18px;
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    @include textLink;
  }
}
