.more {
  background-color: #05040b;
  color: $colorText;

  &__title {
    display: flex;
    justify-content: center;
    font-weight: normal;
    color: $colorWhite;
    @include textH2;
  }

  &__title-rigth {
    font-family: "Quantum", sans-serif;
    font-weight: normal;
    color: $colorContrast;
  }
}
