.question {
  background-color: #05040b;
  padding: 100px 0;

  @media (min-width: 1900px) {
    padding: 160px 0 200px;
  }


  &__section {
    display: grid;
    gap: $gap;
    grid-template-columns: 1fr 1fr;
  }

  &__pretext {
    @include text2;
    color: $colorContrast;
  }

  &__heading.heading {
    padding: 10px 0 24px;
    justify-content: start;
  }

  &__text {
    margin: 0;
    @include text1;
    width: 338px;
  }

  &__contacts {
    padding-top: 52px;
  }

  &__contact-form {
    position: relative;
  }

  &__page-up {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    border: 0.5px solid $colorContrast;
    color: $colorContrast;
    @include textLink;
  }



}
