.tech {
  background-color: #05040b;
  padding: 100px 0;

  @media (min-width: 1900px) {
    padding: 160px 0;
  }

  &__heading.heading {
    justify-content: flex-start;
    margin-left: 70px*8 + 20px*7;
    padding-bottom: 80px;

    @media (min-width: 1900px) {
      margin-left: 72px*11 + 20px*10;
    }

    @media (max-width: 1200px) {
      margin-left: 0;
    }
  }

  &__pictures {
    position: relative;
    // width: $width1280;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
  }

  &__line-round {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 305px;
    width: 305px;
    border-radius: 50%;
    border-left: 1px solid $colorContrast;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
  }

  &__img {
    height: 294px;
    width: 294px;
  }

  &__text-title {
    font-size: 18px;
  }

  &__text {
    margin-top: 20px;
    color: $colorText;
  }

  &__line--1 {
    position: absolute;
    top: 0;
    right: 70px*4 + 20px*4;
    height: 240px;
    width: 170px;
    border-right: 1px solid $colorContrast;
    border-bottom: 1px solid $colorContrast;

    @media (min-width: 1900px) {
      width: 280px;
      right: 72px*5 + 20px*4;
    }
  }

  &__line--1::before {
    position: absolute;
    bottom: -3px;
    content: "";
    height: 6px;
    width: 6px;
    background-color: $colorContrast;
    border-radius: 50%;
  }

  &__line--1::after {
    position: absolute;
    right: -3px;
    content: "";
    height: 6px;
    width: 6px;
    background-color: $colorContrast;
    border-radius: 50%;
  }

  &__article--1 {
    position: absolute;
    top: -10px;
    right: 0;
    width: 70px*4 + 20px*3;

    @media (min-width: 1900px) {
      right: 72px + 20px -5px;
    }
  }

  &__line--2-1 {
    position: absolute;
    top: 30%;
    left: 70px*3 + 20px*3;
    height: 115px;
    width: 120px;
    border-left: 1px solid $colorContrast;
    border-top: 1px solid $colorContrast;

    @media (min-width: 1900px) {
      left: 72px*5 + 20px*5;
    }
  }

  &__line--2-1::before {
    position: absolute;
    top: -3px;
    right: -3px;
    content: "";
    height: 6px;
    width: 6px;
    background-color: $colorContrast;
    border-radius: 50%;
  }

  &__line--2-2 {
    position: absolute;
    top: 30%;
    left: 70px*3 + 20px*3 - 40px;
    height: 115px;
    width: 40px;
    border-bottom: 1px solid $colorContrast;

    @media (min-width: 1900px) {
      width: 120px;
      left: 72px*5 + 20px*5 - 120px;
    }
  }
  &__line--2-2::after {
    position: absolute;
    bottom: -3px;
    content: "";
    height: 6px;
    width: 6px;
    background-color: $colorContrast;
    border-radius: 50%;
  }

  &__article--2 {
    position: absolute;
    top: 60%;
    left: 70px + 20px;
    width: 70px*4 + 20*3;

    @media (min-width: 1900px) {
      left: 72px*2 + 20px*2;
    }
  }

  &__line--3 {
    position: absolute;
    top: 0;
    right: 50%;
    height: 80px;
    width: 430px;
    border-right: 1px solid $colorContrast;
    border-top: 1px solid $colorContrast;
  }

  &__line--3::before {
    position: absolute;
    top: -3px;
    content: "";
    height: 6px;
    width: 6px;
    background-color: $colorContrast;
    border-radius: 50%;
  }

  &__line--3::after {
    position: absolute;
    right: -3px;
    bottom: -3px;
    content: "";
    height: 6px;
    width: 6px;
    background-color: $colorContrast;
    border-radius: 50%;
  }

  &__article--3 {
    position: absolute;
    top: -10px;
    left: 0;
    width: 70px*4 + 20*3;

    @media (min-width: 1900px) {
      left: 72px*2 + 20px*2;
    }
  }
}
