.why {
  background: linear-gradient(108.62deg, #191536 0%, #000000 77.34%);
  color: $colorText;
  border-top: 1px solid #05040b;
  padding-bottom: 100px;

  &__articles {
    padding: 80px 0 90px;
    display: grid;
    gap: $gap;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }

  &__part {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__text-title {
    margin: 30px auto 17px;
    @include textH3;
    text-transform: uppercase;
    color: $colorWhite;
    font-size: 18px;
    line-height: 23px;
  }

  &__button {
    margin: 0 auto;
  }
}
