.why {
  background: linear-gradient(108.62deg, #191536 0%, #000 77.34%);
  color: $colorText;
  border-top: 1px solid #05040b;
  padding: 100px 0;

  @media (min-width: 1900px) {
    padding: 160px 0;
  }

  &__articles {
    padding: 80px 0 90px;
    display: grid;
    gap: $gap;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;

    @media (min-width: 1900px) {
      padding-bottom: 0;
      gap: 72px*2 + 20px*3;
    }
  }

  &__part {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__img {
    height: 84px;
  }

  &__text-title {
    margin: 30px auto 17px;
    @include textH3;
    text-transform: uppercase;
    color: $colorWhite;
    font-size: 18px;
    line-height: 23px;
  }

  &__button {
    margin: 0 auto;
  }


  &__button.button {
    @media (min-width: 1900px) {
      display: none;
    }
  }

}
