@mixin on-desktop($break-point) {
  @media (min-width: $break-point) {
    display: none;
    padding: 100px;
    justify-content: center;
    flex-direction: row;

    &--is-active {
      display: flex;
    }

    &__vr-img {
      display: block;
      margin-left: 10px;
    }

    &__qty-details {
      margin-top: 175px;
    }

    &__user-details {
      max-width: 750px;
    }

    &__select,
    &__input,
    &__label {
      min-width: 250px;
      height: 60px;
      gap: 20px;
    }
  }
}
