@mixin on-desktop($break-point) {
  @media (min-width: $break-point) {
    display: flex;
    padding: 100px;
    justify-content: center;

    &__qty-details {
      margin-top: 175px;
    }

    &__user-details {
      max-width: 750px;
    }

    &__select,
    &__input,
    &__label {
      min-width: 250px;
      height: 60px;
      gap: 20px;
    }

    display: none;
  }
}
