@mixin on-laptop($break-point) {
  @media (min-width: $break-point) {
    padding: 110px 250px;

    &__qty-details {
      margin-top: 190px;
    }

    &__user-details {
      max-width: 900px;
    }

    &__select,
    &__input,
    &__label {
      min-width: 400px;
      height: 75px;
    }
  }
}
