@mixin on-laptop($break-point) {
  @media (min-width: $break-point) {
    padding: 110px 250px;

    &__qty-details {
      margin-top: 190px;
    }

    &__user-details {
      max-width: 700px;
      column-gap: 50px;
    }

    &__select,
    &__input,
    &__label {
      min-width: 380px;
      height: 75px;
      gap: 20px;
    }
  }
}
