@mixin on-tab($break-point) {
  @media (min-width: $break-point) {
    &__vr-img {
      display: block;
      margin-left: 55px;
    }

    &__qty-details {
      justify-content: flex-start;
      gap: 175px;
    }

    &__user-details {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 20px;
      justify-content: center;
      max-width: 730px;
    }

    &__select,
    &__input,
    &__label {
      min-width: 330px;
      height: 45px;
    }

    &__btn {
      margin-top: 75px;
    }
  }
}
