.menu {
  overflow: auto;
  height: 100%;

  @include media(laptop, desktop) {
    &:target {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__container {
    @include tablet {
      padding-bottom: 139px;
    }
  }
}
