.screen-2 {
  width: 100%;
  background-color: #000;
  text-align: center;

  @include phone {
    text-align: left;
    margin-top: -14px;
  }

  &__title {
    text-align: inherit;
  }

  &__description {
    @include media(phone, tablet) {
      margin-top: 1em;
      font-size: 12px;
    }

    @include media(laptop, desktop) {
      margin-top: 17px;
    }
  }

  &__cards {
    @include page-grid;

    justify-content: center;

    @include phone {
      margin-top: 33px;
      row-gap: 14px;
    }

    @include tablet {
      margin-top: 45px;
      margin-bottom: 8px;
      row-gap: 44px;
    }

    @include laptop {
      margin-top: 83px;
      margin-bottom: 12px;
    }

    @include desktop {
      margin-top: 71px;
      margin-bottom: 8px;
    }
  }

  &__card {
    @include set-grid-columns(span 2, span 3, span 3, span 4);

    &-image {
      @include phone {
        display: none;
      }
    }

    &-title {
      text-align: inherit;

      @include phone {
        padding-block: 11px;
        letter-spacing: 1.1px;
      }

      @include tablet {
        padding-block: 28px 19px;
      }

      @include laptop {
        padding-block: 27px 18px;
      }

      @include desktop {
        padding-block: 25px 20px;
      }
    }

    &-description {
      @include phone {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }
}
