.screen-3 {
  width: 100%;
  background: $color-gradient;

  &__content {
    @include page-grid;

    &--product {
      @include media(laptop, desktop) {
        margin-top: 5px;
      }
    }

    &--company {
      @include set-responsive-values(margin-top, 80px, 80px, 186px, 171px);

      @include tablet {
        margin-left: -4px;
      }
    }
  }

  &__image-container {
    @include set-grid-columns(span 2, span 3, 3 / span 5, 4 / span 7);

    grid-row: 1 / span 3;
    width: 100%;
    overflow: hidden;
    display: flex;

    @include set-responsive-values(height, 189px, 270px, 290px, 290px);

    @include phone {
      grid-row: span 1;
      margin-top: 23px;
    }
  }

  &__image {
    background-image: url(../images/img/screen-3.png);
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  &__carousel-dots {
    justify-self: center;

    @include phone {
      grid-column: span 2;
      margin-top: 14px;
    }

    @include tablet {
      grid-column: 2 / 3;
      margin-top: 13px;
    }

    @include media(laptop, desktop) {
      display: none;
    }
  }

  &__carousel-controllers {
    margin-top: 14px;

    @include media(phone, tablet) {
      display: none;
    }

    @include laptop {
      grid-column: 3 / span 3;
    }

    @include desktop {
      grid-column: 4 / span 3;
    }
  }

  &__title-product,
  &__description-product,
  &__video-button {
    @include set-grid-columns(span 2, 4 / span 3, 9 / span 4, 12 / span 5);

    @include media(tablet, laptop, desktop) {
      grid-row: span 1;
    }
  }

  &__title-product {
    @include media(tablet, desktop) {
      letter-spacing: 0.5px;
    }

    @include desktop {
      margin-top: -15px;
    }
  }

  &__description-product {
    @include set-responsive-values(
      margin-block,
      20px 21px,
      33px 23px,
      31px 27px,
      61px 40px
    );

    @include media(tablet, laptop, desktop) {
      grid-row-start: 2;
    }

    @include tablet {
      padding-right: 4px;
    }

    @include laptop {
      padding-right: 5px;
    }
  }

  &__video-button {
    @include media(tablet, laptop, desktop) {
      grid-row-start: 3;
    }
  }

  &__slide-number {
    text-align: end;
    grid-row: 1 / -1;
    margin-top: -3px;
    margin-right: 4px;

    @include media(phone, tablet) {
      display: none;
    }

    @include laptop {
      grid-column: 2 / span 1;
    }

    @include desktop {
      grid-column: 3 / span 1;
    }
  }

  &__company-info {
    @include set-grid-columns(span 2, span 4, span 5, 2 / span 6);

    margin-block: auto;

    @include phone {
      padding-left: 2px;
    }

    @include tablet {
      margin-top: 11px;
    }
  }

  &__title-extension {
    @include tablet {
      margin-top: 19px;
    }

    @include desktop {
      margin-bottom: 17px;
    }
  }

  &__title-company {
    @include set-responsive-values(
      margin-block,
      10px 22px,
      10px,
      14px 31px,
      18px 29px
    );
  }

  &__description-company {
    @include set-responsive-values(margin-bottom, 26px, 32px, 7px, 50px);

    @include desktop {
      letter-spacing: normal;
    }
  }

  &__decoration {
    @include set-grid-columns(span 1, 5 / span 2, 7 / span 6, 9 / span 7);

    overflow: hidden;

    @include phone {
      display: none;
    }

    @include tablet {
      height: 239px;
      margin-left: -13px;
      margin-top: 5px;
      overflow: visible;
    }

    @include media(laptop, desktop) {
      height: 347px;
    }

    @include desktop {
      margin-left: -11px;
    }

    &-image {
      height: 100%;
      background-image: url(../images/img/about-us-decoration.png);
      background-size: cover;
      background-repeat: no-repeat;

      @include tablet {
        background-size: contain;
        background-image: url(../images/img/about-us-decoration-tablet.png);
        height: 259px;
      }
    }
  }
}
