<!doctype html>
<nav
  class="page__menu--pay pay"
  id="pay"
>
  <div class="container__menu">
    <div class="menu__content">
      <div class="buy__top">
        <a
          href="#"
          class="icon icon--logo"
        ></a>
        <a
          href="#"
          class="buy__icon icon--cross"
        ></a>
        <ul class="buy__list">
          <li class="buy__item-place-pay buy__item--place">
            <a
              href="#buy"
              class="buy__link"
            >
              Place Order
            </a>
          </li>
          <li class="buy__item-active buy__item--pay">
            <a
              href="#pay"
              class="buy__link buy__link--pay"
            >
              Pay
            </a>
          </li>
          <li class="buy__item buy__item--complete">
            <a
              href="#complete"
              class="buy__link"
            >
              Complete
            </a>
          </li>
        </ul>
      </div>

      <div class="pay__info">
        <div class="pay__info-place">
          <div class="buy__image"></div>
          <div class="pay__top">
            <div class="place__quantity">
              <div class="pay__subtitle">Quantity</div>
              <div class="custom-select">
                <select name="amount-pay">
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
              </div>
            </div>
            <div class="place__amount">
              <div class="pay__subtitle">Price</div>
              <div class="pay__price">1200$</div>
            </div>
          </div>
        </div>
        <form
          action="#pay"
          class="pay__customer-info"
        >
          <fieldset class="page__fieldset">
            <legend class="page__legend">Card Number*</legend>
            <div class="pay__card">
              <input
                type="text"
                name="number"
                id="number"
                placeholder="0000"
                class="pay__input"
                maxlength="4"
              />
              <input
                type="text"
                name="number"
                id="number-2"
                placeholder="0000"
                class="pay__input"
                maxlength="4"
              />
              <input
                type="text"
                name="number"
                id="number-3"
                placeholder="0000"
                class="pay__input"
                maxlength="4"
              />
              <input
                type="text"
                name="number"
                id="number-4"
                placeholder="0000"
                class="pay__input"
                maxlength="4"
              />
              <div class="pay__plastic-card"></div>
            </div>
          </fieldset>
          <fieldset class="page__fieldset">
            <legend class="page__legend">Card Holder Name*</legend>
            <input
              class="place__input"
              type="text"
              name="name"
              id="first-last-name"
            />
          </fieldset>
          <div class="place__card-info">
            <fieldset class="page__fieldset">
              <legend class="page__legend">Expiration Date*</legend>
              <input
                class="place__input-date"
                type="text"
                name="exp-date"
                id="exp-date"
                placeholder="MM/YY"
                maxlength="5"
                inputmode="numeric"
                autocomplete="cc-exp"
              />
            </fieldset>
            <fieldset class="page__fieldset">
              <legend class="page__legend">CVV*</legend>
              <input
                class="place__input-cvv"
                type="text"
                name="name"
                id="cvv"
                placeholder="000"
                maxlength="3"
              />
            </fieldset>
          </div>
          <a
            href="#complete"
            class="button"
          >
            Purchase
          </a>
        </form>
      </div>
    </div>
  </div>
</nav>
