.about {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 130px;

  &__product {
    display: flex;
    justify-content: flex-end;

    gap: 0 110px;

    padding-right: 100px;
  }

  &__picture {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__carousel {
    display: flex;
    justify-content: space-between;

    position: relative;
    width: 207px;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 1px;
      background-color: $underline-color;

      z-index: 0;
    }

    &::before {
      content: "1/5";
      position: absolute;
      color: $decoration-color;

      font-family: "Mark-Regular", sans-serif;
      font-size: 14px;

      left: -40px;
      bottom: 303px;
    }
  }

  &__description {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &_narrow {
      width: 340px;
    }
    &_wide {
      width: 430px;
    }
  }

  &__heading {
    position: relative;
    display: inline;

    &_down::before {
      content: "Hello,";
      position: absolute;
      color: $decoration-color;
      font-family: "Mark-Regular", sans-serif;
      font-size: 14px;

      bottom: 60px;
    }
  }

  &__text {
    padding: 30px 0 25px;
  }

  &__us {
    display: flex;
    justify-content: center;
    gap: 0 110px;
    align-items: center;
  }

  &__decoration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    gap: 17px 0;
    transform: rotate(-90deg);

    & > .item {
      font-family: "Mark-Heavy", sans-serif;
      font-size: 64px;
      line-height: 1.3;

      color: transparent;
      -webkit-text-stroke-color: $decoration-color;
      -webkit-text-stroke-width: 1px;

      &:nth-child(odd) {
        transform: rotate(180deg);
      }

      @for $i from 5 through 1 {
        &:nth-child(#{$i}) {
          opacity: 1 - (($i - 1) * 2.4)/10;
        }
      }
    }

  }
}

@media screen and (max-width: $tablet-screen) {
  .about {
    display: flex;
    flex-direction: column;
    gap: 50px;

    &__product {
      display: flex;
      gap: 40px;

      padding: 0;
      justify-content: center;
    }

    &__carousel {
      display: none;
    }

    &__picture::after {
      content: url(../images/dots.svg);
      text-align: center;
    }

    &__us {
      display: flex;
      justify-content: center;
    }

    &__description {
      width: 460px;
    }
  }
}
