.benefit {
  position: relative;

  &__heading {
    font-size: 36px;
    line-height: 46px;
    text-align: center;

    color: white;
  }

  &__foreword {
    font-size: 14px;
    line-height: 18px;
    color: $decoration-color;

    text-align: center;

    padding-top: 14px;
  }

  &__content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 253px);
    gap: 20px;

    padding: 82px 0 100px ;
  }

  &__cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  &__img {
    width: 100px;
    height: 80px;
  }

  &__name {
    font-family: "Mark-Heavy", sans-serif;
    font-size: 16px;
    color: white;

    padding: 32px 0 17px;
  }

  &__text {
    line-height: 1.5;
    color: $grey-color;
  }
}
