
@import "./blocks/page";
@import "./blocks/grid";
@import "./blocks/header";
@import "./blocks/logo";
@import "./blocks/menuByList";
@import "./blocks/menuLanguage";
@import "./blocks/menuOrder";
@import "./blocks/button";
@import "./blocks/container";
@import "./blocks/main";
@import "./blocks/player";
@import "./blocks/vertical";
@import "./blocks/footer";
@import "./blocks/hidden_blocks";
@import "./blocks/to_top";
