.bottom {
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: 100px;
  right: 110px;
  left: 110px;

  &__help {
    display: flex;
    justify-content: space-between;
    width: 106px;
  }

  &__more {
    position: absolute;
    left: calc(50% - 20.5px);
  }

  &__carousel {
    position: relative;
    display: flex;
    width: 207px;
    justify-content: space-between;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 1px;
      background-color: $underline-color;
    }
  }

  &__link {
    color: white;
    text-decoration: none;

    &_active {
      position: relative;
      color: #929292;

      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;

        width: 100%;
        height: 1px;

        background-color: $decoration-color;

        z-index: 1;
      }
    }

    &_port {
      color: $decoration-color;

      &::after {
        position: absolute;
        content: url(../images/Polygon.svg);
        width: 9px;
        height: 6px;
        left: calc(50% - 3px);
        bottom: -4px;
      }
    }
  }
}

@media screen and (max-width: $tablet-screen) {
  .bottom {
    display: none;
  }
}
