.burger {
  // position: absolute;
  // right: 0;

  &__icon {
    width: 20px;
    height: 9px;

    background: url(../images/burger-menu.svg) no-repeat center;
    background-size: contain;
  }
  
}
