.button {
  box-sizing: border-box;

  font-family: "Mark-Medium", sans-serif;
  color: white;
  line-height: 21px;
  background-color: $decoration-color;

  width: 200px;
  height: 47px;
  padding: 13px 50px;
  border-radius: 4px;

  transition-duration: $transition-time;

  cursor: pointer;

  &:hover {
    background-color: white;
    color: $decoration-color;
  }
}
