.button {
  width: 200px;
  height: 40px;

  background-color: $highLightColor;
  border-radius: 4px;
  border: none;
  color: white;
  transition: transform $transitionGlobal ease;

  &:hover {
    transform: scale(1.1);
    font-weight: bold;
  }

  &__circle {
    display: block;
    height: 34px;
    width: 34px;

    background-image: url("../images/circle-button.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
}
