.content {
  display: flex;
  justify-content: space-between;
  
  &__title {
    font-size: 46px;
    line-height: 1.3;
    color: white;
    font-family: "Mark-Heavy", sans-serif;

    padding: 101px 0 14px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 92px;

  }

  &__text {
    width: 336px;
    color: $grey-color;
    line-height: 1.5;
  }

  &__price {
    color: white;
    font-size: 18px;

    padding: 5px 0 19px;
  }

  &__play {
    display: block;

    background-image: url("../images/play.svg");
    background-repeat: no-repeat;
    background-color: transparent;

    width: 290px;
    height: 69px;

    color: white;
    text-decoration: none;

    cursor: pointer;
  }

  &__img {
    background-image: url(../images/image_h.png);
    
    width: 810px;
    height: 688px;
  }
}
