@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url('../fonts/FontFont_FF.Mark.Pro.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: Inter, serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 130%;
}

h2 {
  font-family: Inter, serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 130%;
}

h3 {
  font-family: Inter, serif;
  font-size: 16px;
  line-height: auto;
}

p {
  font-family: Inter, serif;
  font-size: 16px;
  line-height: 150%;
  color: #92929299;
  margin: 0;
}

.text2 {
  font-family: Inter, serif;
  font-size: 14px;
  line-height: auto;
}

.text3 {
  font-family: Inter, serif;
  font-size: 12px;
  line-height: auto;

  @include on-tablet {
    font-size: 16px;
    line-height: auto;
  }
}

.blue-text {
  color: $c-contrast;
  font-weight: 400;
}

.white-text {
  color: $c-white;
}

.price {
  font-size: 26px;
}
