@font-face {
  font-family: "Quantum";
  src: url("../fonts/Quantum-400.otf") format("OpenType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarkPro";
  src: url("../fonts/FontFont_FF.Mark.Pro.otf") format("OpenType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarkProHeavy";
  src: url("../fonts/FontFont_FF.Mark.Pro.Heavy.otf") format("OpenType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarkProMedium";
  src: url("../fonts/FontFont_FF.Mark.Pro.Medium.otf") format("OpenType");
  font-weight: normal;
  font-style: normal;
}
