@font-face {
  font-family: "Mark";
  src: url("../fonts/FontFont_FF.Mark.Pro.Medium.otf") format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Mark";
  src: url("../fonts/FontFont_FF.Mark.Pro.Heavy.otf") format("woff");
  font-weight: 900;
  font-style: bolder;
}

@font-face {
  font-family: "Mark";
  src: url("../fonts/FontFont_FF.Mark.Pro.otf") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quantum";
  src: url("../fonts/Quantum-400.otf") format("woff");
  font-weight: bold;
  font-style: bold;
}
