.footer {
  background-color: $black-color;

  padding: 40px 110px;

  &__socialmedia {
    display: flex;
    gap: 18px;
  }
  
  &__nav {
    display: flex;
  }
}

@media screen and (max-width: $phone-screen) {
  .footer {
    height: 100%;
    padding: 40px 20px;

    &__logo {
      width: 69px;
      height: 14px;
    }

    &__nav {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    &__socialmedia {
      gap: 26px;

      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
