.header {
  height: 740px;
  background: linear-gradient(107.56deg, #191536 0%, #000 100%);

  font-family: "Mark-Medium", sans-serif;

  position: relative;
  box-sizing: border-box;

  padding: 47px 110px;

  &__top {
    display: flex;
    justify-content: space-between;

    padding-bottom: 115px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 34.5px;
  }

  &__right {
    display: flex;
   
    justify-content: space-between;
    gap: 34px;
  }

  &__language {
    width: 33px;
    appearance: none;
    border: none;
    color: $decoration-color;
    background: none;
    background-image: url(../images/Polygon.svg);
    background-repeat: no-repeat;
    background-position: right;

    font-family: "Mark-Medium", sans-serif;
    font-size: 16px;
  }

  &__heading {
    font-size: 46px;
    line-height: 60px;
  }

  &__text {
    font-family: "Mark-Medium", sans-serif;

    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 14px;
  }

  &__button {
    z-index: 1;
  }

  &__menu {
    display: none;
  }
}

@media screen and (max-width: $tablet-screen) {
  .header {
    height: 445px;

    padding: 30px 35px;

    &__top {
      padding-bottom: 55px;
    }

    &__nav {
      display: none;
    }

    &__button {
      display: none;
    }

    &__heading {
      font-size: 26px;
      line-height: 34px;
    }

    &__text {
      width: 340px;
    }

    &__menu {
      display: block;
    }
  }
}
