.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px 110px 85px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: Mark-Medium, serif;
  width: 100%;
}

.nav__language {
  font-size: 16px;
  color: #05c2df;
  position: relative;
  margin: 0 35px;

  &:after {
    content: "";
    left: 25px;
    top: 10px;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #05c2df;
  }
}

.logo {
  height: 20px;
  width: 80px;
}

.menu {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.menu__item {
  margin-right: 35px;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #05c2df;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  min-width: 200px;
}

@font-face {
  font-family: Mark-Medium;
  src: url("../fonts/FontFont_FF.Mark.Pro.Medium.otf");
}
