.icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &__education {
    background-image: url(../images/education.svg);
    width: 98px;
    height: 81px;
  }
  &__skyline {
    background-image: url(../images/skyline.svg);
    width: 69px;
    height: 81px;
  }
  &__fitness {
    background-image: url(../images/fitness.svg);
    width: 113px;
    height: 82px;
  }
  &__social {
    background-image: url(../images/network.svg);
    width: 83px;
    height: 83px;
  }
  &__microchip {
    background-image: url(../images/microchip.svg);
    width: 98px;
    height: 81px;
  }
  &__panel {
    background-image: url(../images/vr-panel.svg);
    width: 88px;
    height: 80px;
  }
  &__sensors {
    background-image: url(../images//sensors.svg);
    width: 111px;
    height: 80px;
  }
}

@media screen and (min-width: $tablet-screen-breakpoint) {
  .icon__title {
    background-image: url(../images/favicon.svg);
  }
}
