.input {
  height: 40px;
  width: 100%;

  padding: 0 10px;

  background: transparent;

  border-bottom: 1px solid $border-color;

  color: #929292;

  &__textarea {
    height: 100px;
  }

  &:focus {
    border-bottom: 1px solid $decoration-color;
    outline: none;
  }

}
