.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 140px;
  }

  &__picture {
    background-image: url(../images/logo-img/logo.svg);
    width: 77.5px;
    height: 16px;
  }

  &__language {
    width: 33px;
    appearance: none;
    border: none;
    color: $decoration-color;
    background: none;
    background-image: url(../images/Polygon.svg);
    background-repeat: no-repeat;
    background-position: right;

    font-family: "Mark-Medium", sans-serif;
    font-size: 16px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;

    width: 551px;
  }

  &__item {
    text-align: center;

    &:last-child {
      background-color: $decoration-color;
      border-radius: 4px;
      padding: 13px 65.25px;
      
      cursor: pointer;
    }
  }

  &__link {
    color: white;
    text-decoration: none;
  }
}
