* {
  box-sizing: border-box;
}

body {
  font-family: "Mark", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $main-text-color;
}

body,
ul,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
