body {
  margin: 0;
  box-sizing: border-box;

  font-family: "Mark-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: $text-color;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  text-align: start;
}
