.reason {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;

  height: 514px;

  &__heading {
    word-spacing: 7px;
  }

  &__content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  &__cell {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 107px;
    width: 340px;
  }

  &__image {
    width: 80px;
    height: 80px;
  }

  &__name {
    font-family: "Mark-Heavy", sans-serif;
    line-height: 20px;
    color: white;
    text-align: center;

    padding: 34px 0 17px;
  }

  &__text {
    line-height: 1.5;
    text-align: center;
  }

  &__button {
    align-content: center;
  }
}
