button,
input,
textarea,
a {
  text-decoration: none;
  border: 0;
}

body,
ul,
li,
input,
textarea,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-black;
}
