.section {
  position: relative;
  padding: 100px 110px;

  height: 100vh;

  &:nth-child(odd) {
    background-color: #05040b;
  }

  &:nth-child(2) {
    background: linear-gradient(146.86deg, #191536 -0.5%, #000 99.5%);
  }
}
