.section {
  position: relative;
  padding: 100px 110px;
  box-sizing: border-box;

  &:nth-child(odd) {
    background-color: $section-color-alt;
  }

  &:nth-child(2) {
    background: linear-gradient(146.86deg, #191536 -0.5%, #000 99.5%);
  }

  &:nth-child(4) {
    background: linear-gradient(108.62deg, #191536 0%, #000 77.34%);
  }
}

@media screen and (max-width: $tablet-screen) {
  .section {
    padding: 70px 35px;
  }
}

@media screen and (max-width: $phone-screen) {
  .section {
    padding: 50px 20px;
  }
}
