.tech {

  &__heading {
    text-align: right;
    padding-right: 75px;
  }

  &__image {
    background: url(../images/tech/tech.svg) no-repeat center;
    position: relative;
    right: 130px;
    top: 70px;
    height: 500px;
  }

  &__char {
    display: flex;
    flex-direction: column;
    width: 340px;
    gap: 20px;
  }
  
  &__title {
    font-family: "Mark-Heavy", sans-serif;
    font-size: 18px;
    color: white;
  }
  
  &__text {
    line-height: 24px;
  }

  &__batterry {
    position: absolute;
    right: -1%;
    top: 14%;
  }

  &__sensor {
    position: absolute;
    left: 19%;
    top: 14%;
  }

  &__connection {
    position: absolute;
    left: 25%;
    bottom: 20%;
  }
}

@media screen and (max-width: $tablet-screen) {
  .tech {

    &__batterry {
      opacity: 0;
    }
    
    &__sensor {
      opacity: 0;
    }

    &__connection {
      opacity: 0;
    }

    &__image {
      background: url(../images/tech/tech-small.svg) no-repeat center;
      position: relative;
      left: 0;
    }
  }
}
  
