.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-bottom: 100px;

  &__left {
    display: flex;
    align-items: center;
    gap: 34.5px;
  }

  &__right {
    display: flex;

    padding-right: 110px;
   
    justify-content: space-between;
    gap: 34px;
  }
}

@media screen and (max-width: $tablet-screen) {
  .top {
    &__right {
      padding-right: 30px;
    }
  }
}

@media screen and (max-width: $phone-screen) {
  .top {
    padding-bottom: 30px;

    &__right {
      padding: 0;
    }
  }
}
