html {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 900;
  color: #fff;
}

h1 {
  font-size: 54px;
  line-height: 130%;

  @media (max-width: 1919px) {
    font-size: 46px;
  }

  @media (max-width: 1279px) {
    font-size: 26px;
  }
}

h2 {
  font-size: 36px;

  @media (max-width: 1279px) {
    font-size: 21px;
  }
}

h3 {
  font-size: 18px;

  @media (max-width: 1279px) {
    font-size: 16px;
  }
}

h4,
span {
  font-weight: 400;
  color: $contrast_color;
}

h4 {
  font-size: 14px;

  @media (max-width: 1279px) {
    font-size: 12px;
  }
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $text_color;
}
