// reset some basics
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  color: $color-dark;
  background: $color-light;
  line-height: 1.6;
}
