$global-transition: 300ms;

$highLightColor: #05c2df;
$greyColor: #929292;

$bgDarkColor: #05040b;

$formMinWidth: 280px;
$formMaxWidth: 340px;

$mobileLWidth: 425px;
$laptopWidth: 1024px;
$tabletWidth: 768px;

$linkColor: white;

$transitionGlobal: 600ms;
