$contrast-color: #05c2df;
$background-black: #05040b;
$dark-grey: #2f2f2f;
$text-color: #929292;
$white-color: #fff;
$dark-blue: #191536;

$background-gradient: linear-gradient(100.83deg, #191536 0.67%, #000 100%);

$tablet-screen-breakpoint: 801px;
$desktop-screen-breakpoint: 1281px;

$hover-duration: 0.3s;
