$decoration-color: #05c2df;
$gray-color: #929292;
$underline-color: #212121;
$border-color: #2f2f2f;
$wrapper-color: #191536;
$section-color-alt: #05040b;
$white-color: white;
$black-color: black;

$transition-time: 0.4s;

$tablet-screen: 1124px;
$small-tablet-screen: 820px;
$phone-screen: 660px;
