.about__product {
  background: linear-gradient(146.86deg, #191536 -0.5%, #000 99.5%);
}

.about__container_top {
  display: flex;
  flex-direction: row;
  padding: 105px 119px 0 246px;
  margin: 0 auto;
  width: 100%;
  @media (min-width: 320px) and (max-width: 767px) {
    padding: 70px 23px 0;
    flex-direction: column;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 70px 32px 0 34px;
    flex-direction: row;
  }
  @media (min-width: 1024px) {
    padding: 160px 46px 0 110px;
  }
  @media (min-width: 1440px) {
    padding: 160px 234px 0 266px;
  }
  @media (min-width: 1600px) {
    padding: 160px 234px 0 266px;
  }
}

.about__product_image_counter {
  font-family: Mark-Regular, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #05c2df;
  padding-right: 20px;
  @media (min-width: 320px) and (max-width: 1023px) {
    display: none;
  }
}

.about__product_image_container {
  display: flex;
  flex-direction: column;
  padding-right: 110px;
  @media (min-width: 320px) and (max-width: 767px) {
    justify-content: center;
    padding-right: 0;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    justify-content: center;
    padding-right: 21px;
  }
  @include Notebook {
    padding-right: 119px;
  }
}

.about__product_image {
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 340px;
    height: 285px;
    object-fit: cover;
  }
  @media (min-width: 1920px) {
    width: 622px;
    height: 290px;
    object-fit: cover;
  }
}

.about__product_image_dots_container {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 108px;
  justify-content: center;
  @media (min-width: 320px) and (max-width: 767px) {
    padding-bottom: 20px;
  }
}

.about__product_image_dots {
  display: none;
  width: 4px;
  height: 4px;
  background: #484848;
  margin-right: 6px;
  border-radius: 5px;
  &:first-child {
    background: #ababab;
  }
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background: #ababab;
  }
  &:active {
    background: #ababab;
  }
  @media (min-width: 320px) and (max-width: 1023px) {
    display: block;
  }
}

.links__right {
  @media (min-width: 320px) and (max-width: 1023px) {
    display: none;
  }
}

.about__product_image_link {
  padding-top: 12px;
  max-width: 50px;
}

.about__product_title_container {
  display: flex;
  padding-bottom: 30px;
  @include Notebook {
    width: 325px;
    flex-direction: column;
  }
}

.about__product_title {
  font-family: Mark-Heavy, sans-serif;
  font-size: 36px;
  line-height: 46px;

  color: #fff;
  padding-right: 12px;
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 21px;
    height: 40px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 21px;
  }
}

.about__product_title-blue {
  font-family: Quantum, sans-serif;
  font-size: 36px;
  line-height: 46px;
  color: #05c2df;
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 21px;
    height: 40px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 21px;
  }
}

.about__product_card {
  @media (min-width: 1600px) {
    width: 435px;
  }
}

.about__product_info {
  font-family: Mark-Regular, sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #929292;
  padding-bottom: 20px;
  @include Notebook {
    padding-bottom: 32px;
    width: 435px;
  }
}

.about__container_bottom {
  padding: 191px 132px 136px 109px;
  display: flex;
  flex-direction: row;
  position: relative;
  @media (min-width: 320px) and (max-width: 767px) {
    padding: 70px 23px 50px;
    justify-content: space-between;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 0 32px 73px 34px;
    justify-content: space-between;
  }
  @media (max-width: 1023px) {
    flex-direction: column;
  }
  @media (min-width: 1280px) and (max-width: 1599px) {
    padding: 160px 234px 163px 266px;
  }
  @media (min-width: 1600px) {
    padding: 220px 256px 163px 327px;
  }
  @media (min-width: 1920px) {
    padding: 220px 256px 163px 327px;
  }
}

.about__bottom_card {
  max-width: 430px;
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 460px;
    max-width: 460px;
  }
}

.about__greetings {
  font-family: Mark-Regular, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #05c2df;
  padding-bottom: 14px;
}

.about__bottom_title_container {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.about__bottom_card_title {
  font-family: Mark-Heavy, sans-serif;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  padding-right: 12px;
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 21px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 21px;
  }
}

.about__bottom_card_title-blue {
  font-family: Quantum, sans-serif;
  font-size: 36px;
  color: #05c2df;
  display: flex;

  text-transform: uppercase;
  margin-top: -16px;
  align-items: center;
  justify-content: center;
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 21px;
    margin-top: 0;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 21px;
    margin-top: 0;
  }
}

.about__card_bottom_info {
  font-family: Mark-Regular, sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #929292;
}

.rotated__text_container {
  position: absolute;
  top: 0;
  @media (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
  @media (min-width: 1600px) {
    height: 300px;
  }
}

.rotated__text {
  font-family: Mark-Heavy, sans-serif;
  font-size: 64px;
  line-height: 130%;
  position: absolute;
  top: 300px;
  left: 530px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #05c2df;
  transform: rotate(89.52deg);
  width: 342px;
  height: 83px;
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 48px;
    width: 250px;
    height: 62px;
  }
}

.about__bottom_rotated_text {
  @media (min-width: 768px) and (max-width: 1023px) {
    display: none;
  }
  @media (min-width: 1024px) {
    display: none;
  }
  @media (min-width: 1920px) {
    left: 800px;
    display: block;
  }
}

.about__bottom_rotated_text2 {
  -webkit-text-stroke: 1px rgba(5, 194, 223, 0.7);

  @media (min-width: 768px) and (max-width: 1023px) {
    display: none;
  }
  @media (min-width: 1024px) {
    left: 500px;
    transform: rotate(-89.52deg);
  }
  @media (min-width: 1920px) {
    left: 900px;
    transform: rotate(-89.52deg);
  }
}

.about__bottom_rotated_text3 {
  -webkit-text-stroke: 1px rgba(5, 194, 223, 0.4);
  @media (min-width: 768px) and (max-width: 1023px) {
    left: 380px;
    top: 50px;
  }
  @media (min-width: 1024px) {
    left: 560px;
  }
  @media (min-width: 1920px) {
    left: 1000px;
  }
}

.about__bottom_rotated_text4 {
  -webkit-text-stroke: 1px rgba(5, 194, 223, 0.2);
  @media (min-width: 768px) and (max-width: 1023px) {
    left: 460px;
    top: 50px;
    transform: rotate(-89.52deg);
  }
  @media (min-width: 1024px) {
    left: 640px;
    transform: rotate(-89.52deg);
  }
  @media (min-width: 1920px) {
    left: 1100px;
    transform: rotate(-89.52deg);
  }
}

.about__bottom_rotated_text5 {
  -webkit-text-stroke: 1px rgba(5, 194, 223, 0.1);
  @media (min-width: 768px) and (max-width: 1023px) {
    left: 540px;
    top: 50px;
  }

  @media (min-width: 1024px) {
    left: 730px;
  }
  @media (min-width: 1920px) {
    left: 1200px;
  }
}
