.about {
  padding-top: 105px;
  padding-bottom: 157px;
  background: linear-gradient(147deg, #191536 -0.5%, #000 99.5%);
  display: flex;
  justify-content: center;

  &__container {
    @include contentPaddingInline;
  }
}

.checkboxes {
  display: none;
  gap: 6px;
  margin-top: 15px;

  &__active {
    background-color: #ababab;
  }
}

.checkbox {
  width: 4px;
  height: 4px;
  background-color: #484848;
  border-radius: 100%;
}

.about-product {
  display: flex;
  gap: 110px;
  margin-left: 180px;

  &__text {
    width: fit-content;
  }
}

.about__header {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.about__header-small {
  display: none;
  font-size: 21px;
}

.about__sub {
  color: #929292;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 32px;
}

.about-video-link {
  margin: 0;
  margin-top: 43px;
}

.slider {
  position: relative;

  &__img {
    display: none;
  }

  &__img-small {
    display: none;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  position: relative;
}

.buttons {
  display: flex;
  gap: 103px;
  margin-top: 12px;
}

.slider-btn {
  color: #929292;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  background-color: transparent;
  border: none;
  padding: 0;
}

.slider-line {
  width: 207px;
  height: 1px;
  background-color: #212121;
  margin-top: 10px;
}

.slider-line-blue {
  position: absolute;
  width: 69px;
  height: 1px;
  left: 0;
  top: 45px;
  background-color: #05c2df;
  transition: transform 0.3s ease-in-out;
}

.slide-count {
  position: absolute;
  top: 0;
  left: -43px;
  display: flex;
  color: #05c2df;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about__us {
  margin-top: 226px;
  display: flex;
  justify-content: space-between;

  &-text {
    width: 100%;
    max-width: 532px;
  }
}

.about-content {
  display: flex;
  gap: 40px;
}

.hello {
  color: #05c2df;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about__us-header {
  margin-top: 15px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}
