.accordion {
  max-width: 56rem;
  width: 100%;
  padding-block: 1.25rem;

  &__icon--right {
    background-image: url(../images/icon/arrow-right-blue.svg);
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    display: block;
    width: 0.56rem;
    height: 0.38rem;

  }

  &__icon--down {
    background-image: url(../images/icon/dropdown.svg);
    background-repeat: no-repeat;
    display: none;
    width: 0.56rem;
    height: 0.38rem;

  }

  &__content {
    margin: 0.7rem 0;
    border-radius: 0.25rem;
    background: transparent;
    border: 0.13rem solid $contrast-color;
    overflow: hidden;

    &.open {
      padding-bottom: 0.63rem;
    }
  }

  &__header {
    display: flex;
    min-height: 3.13rem;
    padding: 0 1rem;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s linear;
  }

  &__title {
    color: $contrast-color;
  }

  &__description {
    height: 0;
    color: $text-color;
    padding: 0 1rem ;
    margin-bottom: 0;
    transition: all 0.2s linear;
  }

  &__info {
    display: block;
    height: 0;
    color: $text-color;
    padding: 0 1rem;
    transition: all 0.2s linear;
    font-size: 0.88rem;
  }
}
