.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #05040b;
  padding-top: 158px;
  padding-bottom: 166px;
  row-gap: 70px;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    @include contentPaddingInline;

    &-header {
      color: #fff;
      text-align: center;
      font-family: "Inter", sans-serif;
      font-size: 36px;
      font-weight: 900;
      text-transform: uppercase;
    }

    &-sub {
      color: #05c2df;
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }
  }

  &__container {
    display: flex;
    gap: 20px;
    @include contentPaddingInline;
    justify-content: center;
  }
}

.advantage {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 900;
    margin-top: 30px;
  }

  &__sub {
    color: #929292;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 18px;
  }
}

.section-header-blue {
  color: #05c2df;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantage__img {
  transition: 0.3s;
}

.advantage__img:hover {
  transform: scale(1.2);
}
