.art-block {
  display: flex;
  justify-content: space-between;

  max-width: 495px;

  &__text {

    font-family: "Mark-Heavy", Geneva, Verdana, sans-serif;;
    font-size: $art-text-size;
    color: transparent;
    line-height: $header-line;
    writing-mode: vertical-lr;

    -webkit-text-stroke: 1px $contrast-color;

    &:nth-child(2n) {
      padding-right: 12px;

      transform: rotate(180deg);
    }
  }
}
