.article {
  &__title {
    color: $first-text-color;
    font-weight: 900;
    font-size: $h3-heavy-font-size;
  }

  &__img {
    display: none;

    @include on-tablet {
      display: inline-block;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
  }
}
