.buy__complete {
  &-content {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    display: grid;
    margin: 0 10px 20px 0;
    text-align: center;

    @include on-tablet {
      grid-template-columns: repeat(6, 1fr);
    }

    @include on-desktopmiddle {
      margin: 100px 10px 20px 0;
    }
  }

  &-title {
    grid-column: span 2;
    margin: 60px 0 16px;
    font-size: 26px;
    text-transform: uppercase;

    &--accent {
      font-weight: 400;
      color: $main-title-color-accent;
    }

    @include on-tablet {
      grid-column: span 6;
      font-size: 46px;
      margin: 140px 0 16px;
    }

    @include on-desktoplittle {
      margin: 140px 0 40px;
    }
    @include on-desktopmiddle {
      margin-bottom: 50px;
    }
  }

  &-text {
    grid-column: span 2;
    margin-bottom: 20px;
    line-height: 130%;
    color: $main-title-color;

    @include on-tablet {
      grid-column: span 6;
      font-size: 18px;
    }
  }
}

.button__complete {
  grid-column: span 2;

  @include on-tablet {
    grid-column: 2/-2;
  }

  @include on-desktoplittle {
    justify-self: center;
    width: 218px;
  }

  @include on-desktopmiddle {
    margin-top: 50px;
  }
}
