.back-to-top {
  display: none;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: #00c4cc; /* Синяя стрелка по умолчанию */
    transition: background-color 0.3s ease; /* Плавное изменение цвета */
  }

  &::before {
    width: 1px; /* Толщина линии стрелки */
    height: 12px; /* Длина линии */
    transform: rotate(45deg); /* Поворот для левой части стрелки */
    top: 16px; /* Позиционирование */
    left: 20px; /* Позиционирование */
  }

  &::after {
    width: 1px; /* Толщина линии стрелки */
    height: 12px; /* Длина линии */
    transform: rotate(-45deg); /* Поворот для правой части стрелки */
    top: 16px; /* Позиционирование */
    left: 27px; /* Позиционирование */
  }

  /* При наведении на кнопку */
  &:hover {
    background-color: #00c4cc; /* Синий фон */
    border-color: #00c4cc; /* Синяя окантовка */
  }

  /* При наведении стрелка становится белой */
  &:hover::before,
  &:hover::after {
    background-color: white; /* Белая стрелка */
  }

  @include on-tablet {
    position: fixed; /* Фиксированная позиция */
    bottom: 240px;
    right: 35px;
    width: 50px; /* Размер кнопки */
    height: 50px; /* Размер кнопки */
    background-color: transparent;
    border: 2px solid #00c4cc; /* Синяя окантовка */
    border-radius: 50%; /* Круглая форма */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Скрыта по умолчанию */
    visibility: hidden; /* Скрыта по умолчанию */
    transition:
      background-color 0.3s ease,
      border-color 0.3s ease,
      opacity 0.3s ease,
      visibility 0.3s ease; /* Плавное изменение */
  }

  @include on-desktoplittle {
    bottom: 225px;
    right: 110px;
  }

  @include on-desktopmiddle {
    bottom: 330px;
    right: 235px;
  }
}

/* Показываем кнопку при прокрутке */

/* Стрелка вверх, нарисованная с помощью псевдоэлементов */
