.benefit-card {
  padding-top: 20px;

  &__img {
    display: none;
  }

  &__title {
    @include paragraph-title(10);
  }

  @media (min-width: 769px) {
    &__img {
      display: block;
    }
  }
}
