.benefit-card {
  padding-top: 20px;

  &__img {
    display: none;
  }

  &__title {
    @include paragraph-title(10px);
  }

  @media (min-width: 768px) {
    text-align: center;

    &__img {
      display: block;
      width: 110px;
      height: 84px;
      margin: 0 auto 30px;
    }

    &__title {
      white-space: nowrap;
    }
  }
}
