.benefit {
  display: flex;
  align-content: space-between;
  gap: 5.25rem;
  flex-direction: column;

  @include on-mobile {
    gap: 2rem;
  }

  &-title {
    text-align: center;

    @include on-mobile {
      text-align: left;
    }
  }

  &__articles {
    display: flex;

    @include on-mobile {
      flex-wrap: wrap;
    }
  }

  &__button {
    margin: 0 auto;

    @include on-tablet {
      display: none;
    }
  }
}
