.benefits {
  padding-block: 50px;
  background: $bg-gradient;

  @include on-tablet {
    padding-block: 70px;
  }

  @include on-desktop {
    padding-block: 100px 102px;
  }

  &__title {
    margin: 0 0 32px;

    font-family: Inter, sans-serif;
    font-size: 21px;
    font-weight: 900;
    line-height: 1;
    color: $white-color;

    @include on-desktop {
      margin: 0 0 84px;
      font-size: 36px;
      text-align: center;
    }

    &__blue {
      font-weight: 400;
      color: $main-blue-color;
    }
  }

  &__content {
    row-gap: 20px;

    @include page-grid;

    @include on-tablet {
      row-gap: 0;
    }
  }

  &__card {
    grid-column: 1 / -1;

    @include hover(transform, scale(1.03));

    @include on-tablet {
      grid-column: span 2;
    }

    @include on-desktop {
      grid-column: span 4;
    }

    &__img {
      display: none;
      margin-inline: auto;

      @include on-tablet {
        display: flex;
        margin-bottom: 25.5px;
      }

      @include on-desktop {
        margin-bottom: 34px;
      }

      &-1 {
        width: 80px;
        height: 80px;
      }

      &-2 {
        width: 89px;
        height: 81px;
      }

      &-3 {
        width: 105px;
        height: 75px;

        @include on-desktop {
          width: 111px;
          height: 79px;
        }
      }
    }

    &__title {
      margin: 0 0 11px;

      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 900;
      line-height: 1;
      color: $white-color;

      @include on-tablet {
        margin: 0 0 37px;
        text-align: center;
      }

      @include on-desktop {
        margin: 0 0 18px;
      }
    }

    &__description {
      margin: 0;

      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      color: $greu-header-color;

      @include on-tablet {
        text-align: center;
      }
    }
  }

  &__button {
    display: none;
    grid-column: 3 /5;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 48px;
    margin-top: 90px;
    margin-inline: auto;
    border-radius: 4px;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    color: $white-color;
    text-decoration: none;

    background-color: $main-blue-color;

    transition: all 0.3s;

    &:hover {
      color: $main-blue-color;
      background-color: $white-color;
    }

    @include on-desktop {
      display: flex;
      grid-column: 5 / 9;
      justify-content: center;
    }
  }
}
