.buy-now {
  max-width: 1060px;
  margin-inline: auto;

  @include on-desktop {
    display: flex;
    gap: 191px;
    align-items: center;
    padding: 64px 110px 102px;
  }

  &__top-bar {
    margin-bottom: 13px;

    @include padding-inline;

    @include on-tablet {
      margin-bottom: 0;
    }

    @include on-desktop {
      padding: 0;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: stretch;

    @include on-desktop {
      gap: 192px;
    }
  }

  &__menu-link {
    width: 100%;
    padding-bottom: 17px;

    font-size: 12px;
    line-height: 130%;
    color: $dark-grey-text;
    text-align: center;
    text-decoration: none;

    @include on-desktop {
      width: 100px;
      padding-bottom: 10px;
    }
  }
}
