.contact-form {
  padding-top: 10px;
  
  &__name {
    @include input-style;
  }

  &__email {
    @include input-style;
  }

  &__number {
    @include input-style;
  }

  &__message {
    @include input-style(88px);

    resize: none;
  }

  &__submit {
    @extend %contrast-button;
  }
}
