.contact {
  background: #05040b;
  display: flex;
  justify-content: center;
  padding-top: 160px;
  padding-bottom: 200px;

  &__container {
    @include contentPaddingInline;
    display: flex;
    justify-content: space-between;
  }
}

.contact__header-1 {
  color: #05c2df;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact__header-2 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 11px;
}

.contact__sub {
  color: #929292;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 26px;
}

.contact__sub-small {
  color: #929292;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 26px;
  display: none;
}

.contact__info {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  margin-top: 76px;
}

.phone {
  color: #929292;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.contact-email {
  color: #929292;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 716px;
}

.label {
  color: #929292;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  position: relative;
  top: -5px;
  transition: 0.3s;
}

.form__input {
  border: none;
  height: 41px;
  border-bottom: 1px solid #2f2f2f;
  background-color: transparent;
  caret-color: #05c2df;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  position: relative;
  transition: 0.3s;

  &:focus {
    outline: none;
    border-bottom: 1px solid #05c2df;
  }

  &:focus:invalid {
    border-bottom: 1px solid #05c2df;
  }
}

input:required:focus:invalid + .form__input::before {
  display: flex;
}

.error {
  color: #860404;
  position: relative;
  top: -75px;
  height: 21px;
}

.submit__btn {
  width: 200px;
  height: 48px;
  border-radius: 4px;
  background: #05c2df;
  border: none;
  cursor: pointer;
}

.return-link {
  display: flex;
  width: 48px;
  height: 48px;
  background-image: url(../images/return-link.svg);
  background-size: cover;
}

.form__buttons {
  display: flex;
  justify-content: space-between;
}

.address-form {
  width: 50vw;
  margin-top: 245px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.address__name,
.address__contact,
.address__region,
.address__address {
  display: flex;
  gap: 20px;
}

.address__first--name-container,
.address__last--name-container,
.address__email-container,
.address__phone-container,
.address__country-container,
.shipping__address1,
.shipping__address2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 48%;
}

.label-5,
.label-6,
.label-7,
.label-8,
.label-9,
.label-10 {
  top: 20px;
  position: absolute;
}

.label-11 {
  position: absolute;
}

.first-name-error,
.last-name-error,
.address-phone-error,
.address-email-error,
.shipping-error1,
.shipping-error2,
.holder-name-error {
  top: 0;
}

.address__region-header {
  color: #929292;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
