.contact {
  background: #05040b;
}

.contact__container {
  padding: 100px 110px;
  display: grid;
  grid-template-columns: 50% 50%;
  @media (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 100%;
    padding: 50px 20px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 70px 34px 130px;
  }
  @media (min-width: 1024px) and (max-width: 1599px) {
    padding: 100px 110px;
  }
  @media (min-width: 1600px) and (max-width: 1920px) {
    padding: 100px 235px;
  }

  @media (min-width: 1920px) and (max-width: 6000px) {
    padding: 160px 234px 205px;
  }
}

.contact__question {
  font-family: Mark-Regular, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #05c2df;
  padding-bottom: 12px;
}

.contact__title_container {
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
}

.contact__title {
  font-family: Mark-Heavy, sans-serif;
  font-size: 36px;
  line-height: 46px;
  color: #fff;
  text-transform: uppercase;

  @media (min-width: 320px) and (max-width: 1023px) {
    font-size: 21px;
  }
}

.contact__title-blue {
  font-family: Quantum, sans-serif;
  font-size: 36px;
  line-height: 46px;
  color: #05c2df;
  text-transform: uppercase;
  margin-top: -3px;
  @media (min-width: 320px) and (max-width: 1023px) {
    font-size: 21px;
    margin-top: 0;
  }
}

.contact__text {
  padding-bottom: 52px;
  max-width: 338px;
  @media (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
  @include Notebook {
    max-width: 447px;
  }
}

.contact__text,
.contact__phone,
.contact__mail {
  font-family: Mark-Regular, sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #929292;
}

.contact__phone,
.contact__mail {
  padding-bottom: 10px;
  &:last-child {
    padding-bottom: 0;
  }
}

.contact__links_container {
  display: flex;
  flex-direction: column;
  @media (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
}

.contact__input_form {
  display: flex;
  flex-direction: column;
  border: none;
  position: relative;
}

.input__form {
  font-family: Mark-Regular, sans-serif;
  font-size: 14px;
  line-height: 150%;
  border: none;
  border-bottom: 1px solid #2f2f2f;
  color: #929292;
  background: #05040b;
  padding-bottom: 19px;
  padding-top: 24px;
  &:nth-child(4) {
    padding-bottom: 67px;
  }
  &:first-child {
    padding-top: 0;
  }
  @media (min-width:320px) and (max-width:767px) {
    width: 85vw;
  }
  @include Notebook {
    max-width: 716px;
  }
}

.label {
  padding-top: 24px;
}

.message {
  resize: none;
}

.contact__button {
  margin-top: 90px;
  background: #05c2df;
  border-radius: 4px;
  font-family: Mark-Medium, sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 48px;
  border: none;
  @media (min-width: 320px) and (max-width: 767px) {
    margin-top: 30px;
    width: 85vw;
  }
}

.contact__arrow_container {
  position: absolute;
  top: 390px;
  right: 0;
  @media (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
}

.contact__arrow {
  &:hover {
    stroke: #05c2df;
  }
}
