@font-face {
  font-family: "Mark";
  src: url("../fonts/Mark.woff2");
  font-size: 1rem;
}

@font-face {
  font-family: "Mark-Heavy";
  src: url("../fonts/Mark-Heavy.woff2");
  font-size: 1rem;
}

@font-face {
  font-family: "Mark-Medium";
  src: url("../fonts/Mark-Medium.woff2");
  font-size: 1rem;
}

@font-face {
  font-family: "Quantum";
  src: url("../fonts/Quantum.otf");
  font-size: 1rem;
}
