.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $background-black;

  @include on-mobile {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.25rem;
    height: 15rem;

    &__nav {
      grid-column: 1;
      grid-row: 2/4;
      height: 100%;
    }

    &-list {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  &__list--mobile {
    display: none;

    list-style: none;

    @include on-mobile {
      display: block;

      grid-column: 2;
      grid-row: 2;
      height: 100%;

      & > li > a {
        color: $text-color;
      }
    }
  }
  &__social {
    @include on-mobile {
      grid-row: 3;
      justify-content: space-between;
      align-self: center;
    }
  }
}

.social {
  display: flex;
  &__span {
    padding-inline: 0.8rem;
    position: relative;

    transition: transform 0.3s ease;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba($contrast-color, 0.5);

    &:nth-child(1) {
      background-image: url(../images/icon/facebook\ \(1\).svg);
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      height: 1rem;
      width: 1rem;
    }

    &:nth-child(2) {
      background-image: url(../images/icon/twitter\ \(1\).svg);
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      height: 1rem;
      width: 1rem;
    }

    &:nth-child(3) {
      background-image: url(../images/icon/youtube.svg);
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      height: 1rem;
      width: 1rem;
    }

    &:nth-child(4) {
      background-image: url(../images/icon/reddit.svg);
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      height: 1rem;
      width: 1rem;
    }

    &:hover {
      transform: scale(1.2);
    }

    &::after {
      content: "";
      position: absolute;
      left: 20%;
      bottom: -0.5rem;
      display: block;
      width: 60%;
      height: 0.13rem;
      background-color: $contrast-color;
      transform-origin: left;

      transition: transform 0.3s ease-in-out;
      transform: scale(0);
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
