.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &--buy-now {
    display: grid;
    grid-column: 1/-1;
    gap: 30px 19px;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 40px;
    }

    @include on-desktop {
      grid-column: 7/-1;
      grid-row: 1/3;
    }
  }

  &--pay {
    grid-template-columns: repeat(2, 1fr);

    @include on-tablet {
      grid-column: 2/6;
    }

    @include on-desktop {
      grid-column: 7/12;
      grid-row: 1/3;
    }
  }

  &__element {
    display: flex;
    grid-column: 1/-1;
    flex-direction: column;
    gap: 4px;

    @include on-tablet {
      grid-column: span 1;
    }

    &--select {
      position: relative;
      gap: 13px;

      &::after {
        content: ' ';

        position: absolute;
        z-index: 2;
        top: 70%;
        right: 10px;
        transform: translateY(-50%);

        display: block;

        width: 9px;
        height: 6px;

        background-image: url(/src/images/quantity-dropdown.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &--card {
      gap: 17px;

      @include on-tablet {
        grid-column: 1/-1;
      }
    }

    &--exp-date {
      grid-column: span 1;
    }

    &:has(input:focus) label,
    &:has(input:hover) label,
    &:has(input:active) label {
      color: $main-turquoise;
    }
  }

  &__label {
    font-size: 14px;
    line-height: 130%;
    color: $grey-text;
  }

  &__input {
    all: unset;

    padding-bottom: 6px;
    border-bottom: 1px solid $dark-grey-text;

    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: $main-white;

    &:active,
    &:focus,
    &:hover {
      border-color: $main-turquoise;
    }

    &:invalid {
      color: $form-invalid;
    }

    &--card {
      width: 60px;
      padding-bottom: 9px;

      font-size: 18px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 3.6px;

      @include on-tablet {
        grid-column: 1/-1;
        width: 70px;
        font-size: 20px;
      }

      &::placeholder {
        font-size: 18px;
        line-height: 130%;
        color: $dark-grey-text;
        letter-spacing: 3.6px;
      }

      &:active,
      &:focus,
      &:hover {
        border-color: $main-turquoise;
      }
    }

    &--card-name {
      grid-column: 1/-1;
    }

    &--expiration-date {
      width: 80px;
    }

    &--cvv {
      width: 45px;
    }

    &--message {
      resize: none;
    }
  }

  &__card-cvv {
    grid-column: span 1;
  }

  &__select {
    display: block;

    padding-left: 24px;
    padding-block: 13px;
    border: none;

    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: $main-white;

    appearance: none;
    background-color: $main-purple;
    outline: none;
  }

  &__quantity {
    box-sizing: border-box;
    width: 90px;
    height: 41px;
    padding: 0;
    border-bottom: 0;

    font-size: 20px;
    text-align: center;
  }

  &__card-number {
    display: flex;
    gap: 19px;

    @include on-tablet {
      gap: 32px;
    }

    @include on-desktop {
      gap: 20px;
    }
  }

  &__card-container {
    grid-column: 1/-1;
  }
}
