.form {
  margin-block: 32px 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include onTablet {
    margin-block: 0 48px;
  }

  @include onDesktop {
    margin-bottom: 90px;
  }

  @include onWideScreen {
    margin-bottom: 50px;
  }

  &__input {
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: 1px solid $dark-grey;
    padding-bottom: 19px;
    background-color: transparent;

    &--message {
      padding-bottom: 67px;
    }
  }
}
