
.header {
  @include section;
  height: 100%;
  max-height: 782px;

  background: linear-gradient(107.56deg, #191536 0%, #000 100%);
  &__container {
    padding: 2%;
    height: 100%;
  }
  &__interactive {
    width: 100%;
    height: 40vh;

    background: center / auto 200% no-repeat url(../images/header_bg.png);
  }

  &__lang {
    display: none;
    position: absolute;
    left: 222px;
    color: $highLightColor;
    &::after {
      content: "";
      position: absolute;
      width: 9px;
      height: 6px;
      bottom: 0;

      background-image: url("../images/Polygon.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__body {
    display: grid;
    max-height: 560px;
  }
  &__more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: $highLightColor;

    transition: transform $global-transition color $global-transition;
    &:hover {
      font-weight: bold;
      color: transparent;
      -webkit-text-stroke: 1px $highLightColor;
    }
    &::after {
      content: "";
      position: absolute;
      width: 9px;
      height: 6px;

      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);

      background-image: url("../images/Polygon.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__top {
    position: relative;
    @include space-between;
  }

  &__main-title {
    font-size: 26px;
    font-family: "Mark-heavy", Helvetica, sans-serif;
    margin-bottom: 14px;
  }

  &__top-nav {
    display: none;
    max-width: 500px;
  }

  &__text--price {
    text-align: left;
    color: white;
    margin-bottom: 20px;
  }
  &__bottom {
    display: none;
  }

  &__play {
    left: 50%;
  }
  &__top-button {
    display: block;
    height: 48px;
    width: 50px;
  }
}
@media (min-width: 568px) {
  .header {
    &__interactive {
      height: 50vh;
    }
  }
}

@media (min-width: 768px) {
  .header {
    &__top-nav ,
    &__bottom {
      @include space-between;
    }
    &__interactive {
      transform: translateY(-15%);
      height: 50vh;
    }

    &__body {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      height: 70%;
    }

    &__aside {
      grid-row: 1;
    }
    &__aside-wrapper {
      position: relative;
      width: 300px;
    }
    &__top {
      margin-bottom: 50px;
    }

    &__slider-nav {
      position: relative;
      bottom: 0;
    }
  }
}

@media (min-width: $laptopWidth) {
  .header {
    &__container {
      padding: 47px 60px;
    }
    &__main-title {
      font-size: 30px;
    }
    &__top {
      margin-bottom: 10vh;
    }
    &__aside-wrapper {
      padding-left: 15%;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    &__main-title {
      font-size: 46px;
    }
  }
}

@media (max-height: 450px) {
  .header {
    &__container {
      padding: 5px 20px;
    }
    &__body {
      max-height: 260px;
    }
    &__text {
      &--price {
        margin-bottom: 5px;
      }
    }
    &__top {
      margin-bottom: 15px;
    }
    &__bottom {
      margin-top: 1%;
    }
  }
}

@media (min-height: 960px) {
  .header {
    &__container {
      padding: 45px 48px;
    }
    &__top {
      margin-bottom: 15px;
    }
    &__bottom {
      bottom: 0;
    }
  }
}
