.icon {
  display: flex;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;

  &--lang-arrow {
    background-image: url('../images/icon/kate-lang_arrow.svg');
  }

  &--menu {
    width: 20px;
    height: 10px;
    background-image: url('../images/icon/kate-menu.svg');

    @include hover(transform, scale(1.2));

    @include on-tablet {
      width: 29.25px;
      height: 13px;
    }

    @include on-desktop {
      display: none;
    }
  }

  &--close {
    width: 17px;
    height: 17px;
    background-image: url('../images/icon/icon-close-kat.svg');

    @include hover(transform, scale(1.2));
  }

  &--arrow-turn-back {
    width: 8.5px;
    height: 17px;
    padding-inline: 5px;
    background-image: url('../images/icon/arrow-turn-back-kat.svg');
  }

  &--education {
    width: 98px;
    height: 81px;
    background-image: url('../images/more-icon/ket-education.svg');
  }

  &--building {
    width: 84px;
    height: 84px;
    background-image: url('../images/more-icon/kat-building.svg');
  }

  &--fitnes {
    width: 110px;
    height: 80px;
    background-image: url('../images/more-icon/kat-fitnes.svg');
  }

  &--network {
    width: 83px;
    height: 83px;
    background-image: url('../images/more-icon/network.svg');
  }

  &--tech-plus {
    cursor: pointer;

    width: 12px;
    height: 12px;
    border: none;

    background-color: $main-blue-color;
    background-image: url('../images/tech/tech-plus-kat.svg');
    outline: none;

    @include on-tablet {
      width: 16px;
      height: 16px;
    }

    &:focus {
      height: 1px;
      background-image: url('../images/tech/tech-minus.svg');
    }

    @include on-tablet {
      width: 22px;
      height: 22px;
      background-size: 22px;
    }

    @include on-desktop {
      display: none;
    }
  }

  &--facebook {
    width: 8px;
    height: 15px;
    background-image: url('../images/contact/facebook-kat.svg');

    @include hover(transform, scale(1.2));
  }

  &--twitter {
    width: 19px;
    height: 14px;
    background-image: url('../images/contact/twitter-kat.svg');

    @include hover(transform, scale(1.2));
  }

  &--youtube {
    width: 18px;
    height: 14px;
    background-image: url('../images/contact/youtube-kat.svg');

    @include hover(transform, scale(1.2));
  }

  &--redit {
    width: 18px;
    height: 18px;
    background-image: url('../images/contact/redit-kat.svg');

    @include hover(transform, scale(1.2));
  }

  &--arrow {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
    border: 1px solid $main-blue-color;
    border-radius: 50%;

    background-image: url('../images/contact/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15.3px 8.6px;

    transition: all 0.3s;

    &:hover {
      transform: scale(1.2);

      width: 48px;
      height: 48px;

      background-color: $main-blue-color;
      background-image: url('../images/contact/arrow-white.svg');
    }
  }
}
