.img-description {
  position: relative;

  width: $tech-img-size-mobile;
  height: $tech-img-size-mobile;
  margin: 40px auto 0;

  background: -6px -3px / 105% url(../images/tech-img.png) no-repeat;
  border: 4px solid $tech-img-round;
  border-radius: 50%;

  @media (max-width: 1059px) {
    &__paragraph {
      font-size: 0;
    }

    &__top {
      @include position(20px, -62px);

      &::before {
        content: url(../images/tech-button-mob.svg);
        @include position(-35px, 118px);

        cursor: pointer;
      }
    }

    &__right {
      @include position(25px, -34px);

      &::before {
        content: url(../images/tech-button-mob.svg);
        @include position(54px, 164px);

        cursor: pointer;
      }
    }

    &__left {
      @include position(30px, -52px);

      &::before {
        content: url(../images/tech-button-mob.svg);
        @include position(125px, 30px);

        cursor: pointer;
      }
    }

    &__title {
      display: none;
    }
  }

  @media (min-width: 1060px) {
    width: $tech-img-size;
    height: $tech-img-size;
    margin: 140px auto 0;

    &::before {
      @include position(-56px, -260px);
      content: url(../images/tech-line.svg);
    }

    &__title {
      @include paragraph-title(20px);
    }

    &__top {
      @include position(-60px, -360px);
      max-width: 250px;
    }

    &__right {
      @include position(-60px, 360px);
      max-width: 340px;
      white-space: nowrap;
    }

    &__left {
      @include position(158px, -285px);
      max-width: 200px;
    }
  }
}
