.lang-switcher {
  display: none;

  @include on-desktoplittle {
    display: inline-block;
  }

  position: relative;
  font-family: Arial, sans-serif;

  &__current {
    display: flex;
    align-items: baseline;
    gap: 6px;
    cursor: pointer;
    padding: 8px 12px;
    @include on-desktoplittle {
      padding: 2px 12px;
    }
  }

  &__current span {
    color: $main-title-color-accent;
    font-size: 16px;
    font-weight: 500;
  }

  &__arrow {
    transition: transform 0.3s ease;
  }

  /* Стили для выпадающего меню */
  &__dropdown {
    position: absolute;
    scrollbar-width: thin;
    scrollbar-color: $main-title-color-accent transparent;
    max-height: 111px;
    text-align: center;
    max-width: 60px;
    overflow-y: auto;
    top: 100%;
    left: -5px;
    background-color: $background-color;
    border-radius: 4px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0.3s ease;

    & li:last-child {
      border-bottom: none;
    }

    & a {
      display: block;
      padding: 10px;
      color: $main-title-color-accent;
      text-decoration: none;
      font-size: 16px;
      transition:
        background-color 0.2s ease,
        color 0.2s ease;
    }

    & a:hover {
      background-color: #00c4cc;
      color: #1a1a1a;
    }

    & li:first-child a {
      color: $main-title-color;
    }
  }

  &.is-open .lang-switcher__arrow {
    transform: rotate(180deg);
  }

  &.is-open .lang-switcher__dropdown {
    opacity: 1;
    transform: translateY(10px);
    visibility: visible;
  }
}
