@import "utils";
@import "fonts";
@import "typography";

@import "./blocks/button.scss";
@import "./blocks/page.scss";
@import "./blocks/start-view.scss";
@import "./blocks/menu.scss";
@import "./blocks/transition.scss";
@import "./blocks/header.scss";
@import "./blocks/navigation.scss";
@import "./blocks/page-main.scss";
@import "./blocks/card.scss";
@import "./blocks/possibilities.scss";
@import "./blocks/about.scss";
@import "./blocks/specifications.scss";
@import "./blocks/benefits.scss";
@import "./blocks/contacts.scss";
@import "./blocks/footer.scss";

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
ul,
li,
a,
p,
article,
img {
  margin: 0;
  padding: 0;
}
