.Navbar {
  display: flex;
  align-items: center;
  margin: 65px 12%;
  justify-content: space-between;
}
@media (min-width: 2000px) {
  .Navbar {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (max-width: 1280px) {
  .Navbar {
    margin: 30px 4%;
  }
}
@media (max-width: 768px) {
  .Navbar {
    margin: 30px 4%;
  }
}
@media (max-width: 500px) {
  .Navbar {
    margin: 18px 6%;
  }
}
.Navbar__bar1 {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.Navbar__lan {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-family: "Inter", sans-serif;
  color: #05c2df;
  font-weight: 500;
}
@media (max-width: 768px) {
  .Navbar__lan {
    display: none;
  }
}
@media (max-width: 500px) {
  .Navbar__lan {
    display: none;
  }
}
@media (max-width: 768px) {
  .Navbar__arrow {
    display: none;
  }
}
@media (max-width: 500px) {
  .Navbar__arrow {
    display: none;
  }
}
.Navbar__bar2 {
  display: flex;
  align-items: center;
  -moz-column-gap: 36px;
       column-gap: 36px;
}
@media (max-width: 768px) {
  .Navbar__bar2 {
    display: none;
  }
}
@media (max-width: 500px) {
  .Navbar__bar2 {
    display: none;
  }
}
.Navbar__links {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.Navbar__links:hover {
  color: #05c2df;
  transform: scale(1.1);
}
.Navbar__buy {
  cursor: pointer;
  width: 200px;
  background: #05c2df;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 4px;
}
.Navbar__buy:hover {
  background: #ffffff;
  color: #05c2df;
  transform: scale(1.1);
}
.Navbar__burger {
  display: none;
}
@media (max-width: 768px) {
  .Navbar__burger {
    display: flex;
  }
}
@media (max-width: 500px) {
  .Navbar__burger {
    display: flex;
  }
}

.Menu {
  display: none;
  background: #ffffff;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transform: translateY(-100%);
  height: 100%;
  background: linear-gradient(100.83deg, #191536 0.67%, #000000 100%);
}
@media (max-width: 768px) {
  .Menu {
    display: flex;
  }
}
@media (max-width: 500px) {
  .Menu {
    display: flex;
  }
}
.Menu:target {
  transform: translateY(0);
}
.Menu__close-con {
  display: flex;
  justify-content: end;
  padding-top: 34px;
  padding-bottom: 46px;
}
@media (max-width: 500px) {
  .Menu__close-con {
    padding-top: 20px;
    padding-bottom: 37px;
  }
}
.Menu__close {
  display: block;
  cursor: pointer;
  justify-self: end;
  margin-right: 34px;
  width: 17px;
  height: 17px;
}
@media (max-width: 500px) {
  .Menu__close {
    margin-right: 20px;
  }
}
.Menu__links-con {
  display: flex;
  flex-direction: column;
}
.Menu__link {
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 21px;
  color: #ffffff;
  padding-top: 11px;
  padding-bottom: 11px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 153px;
}
.Menu__link:hover {
  width: 100%;
  color: #05c2df;
  background: #110e25;
}
@media (max-width: 500px) {
  .Menu__link {
    padding-left: 22px;
  }
}

.Language {
  display: none;
  background: #ffffff;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transform: translateX(-100%);
  height: 100%;
  background: linear-gradient(100.83deg, #191536 0.67%, #000000 100%);
}
@media (max-width: 768px) {
  .Language {
    display: flex;
  }
}
@media (max-width: 500px) {
  .Language {
    display: flex;
  }
}
.Language:target {
  transform: translateX(0);
}
.Language__close-con {
  display: flex;
  padding-top: 34px;
  padding-bottom: 46px;
}
@media (max-width: 500px) {
  .Language__close-con {
    padding-top: 20px;
    padding-bottom: 37px;
  }
}
.Language__close {
  display: block;
  cursor: pointer;
  margin-left: 34px;
  width: 17px;
  height: 17px;
}
@media (max-width: 500px) {
  .Language__close {
    margin-left: 20px;
  }
}
.Language__links-con {
  display: flex;
  flex-direction: column;
}
.Language__link {
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 21px;
  color: #ffffff;
  padding-top: 11px;
  padding-bottom: 11px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 153px;
}
.Language__link:hover {
  width: 100%;
  color: #05c2df;
  background: #110e25;
}
@media (max-width: 500px) {
  .Language__link {
    padding-left: 22px;
  }
}

.Help {
  display: none;
  background: #ffffff;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transform: translateX(100%);
  height: 100%;
  background: linear-gradient(100.83deg, #191536 0.67%, #000000 100%);
}
@media (max-width: 768px) {
  .Help {
    display: flex;
  }
}
@media (max-width: 500px) {
  .Help {
    display: flex;
  }
}
.Help:target {
  transform: translateX(0);
}
.Help__close-con {
  display: flex;
  justify-content: end;
  padding-top: 34px;
  padding-bottom: 46px;
}
@media (max-width: 500px) {
  .Help__close-con {
    padding-top: 20px;
    padding-bottom: 37px;
  }
}
.Help__close {
  display: block;
  cursor: pointer;
  justify-self: end;
  margin-right: 34px;
  width: 17px;
  height: 17px;
}
@media (max-width: 500px) {
  .Help__close {
    margin-right: 20px;
  }
}
.Help__title-con {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.Help__title {
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 900;
  color: #ffffff;
}
.Help__blue, .Help__blue-2 {
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #05c2df;
}
.Help__info-con {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
.Help__txt-1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #929292;
}
.Help__blue-2 {
  font-size: 16px;
}
.Help__txt-2 {
  font-family: "Inter", sans-serif;
  margin-top: 5%;
  font-weight: 400;
  font-size: 16px;
  color: #929292;
}
.Help__links, .Help__social-con {
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  row-gap: 20px;
}
.Help__social {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #929292;
}
.Help__social:hover {
  color: #05c2df;
}

.VID {
  background: rgba(0, 0, 0, 0.6980392157);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: green;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  transform: translateY(100%);
  height: 100%;
}
@media (max-width: 500px) {
  .VID {
    display: none;
  }
}
.VID:target {
  transform: translateY(0);
}
.VID__img {
  display: flex;
  width: 60%;
  position: relative;
  border: 1px solid #ffffff;
}
.VID__close {
  display: block;
  position: absolute;
  z-index: 2;
  right: 25%;
  margin-top: 2%;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.Start {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 12% 12%;
}
@media (min-width: 2000px) {
  .Start {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (max-width: 1280px) {
  .Start {
    margin: 9% 4%;
  }
}
@media (max-width: 768px) {
  .Start {
    margin: 7% 4%;
  }
}
@media (max-width: 500px) {
  .Start {
    margin: 3% 6%;
  }
}
.Start__container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 500px) {
  .Start__container {
    display: flex;
    flex-direction: column-reverse;
  }
}
.Start__block1 {
  display: flex;
  flex-direction: column;
}
.Start__title {
  display: block;
  width: 100%;
}
@media (max-width: 500px) {
  .Start__title {
    width: 80%;
  }
}
.Start__txt {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
  margin-right: 16%;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin-top: 35px;
  font-weight: 500;
  font-size: 16px;
  color: #929292;
}
@media (max-width: 768px) {
  .Start__txt {
    margin-right: 0;
    align-self: flex-start;
  }
}
@media (max-width: 500px) {
  .Start__txt {
    margin-right: 0;
    align-self: flex-start;
    width: 100%;
  }
}
.Start__txt--price {
  color: #ffffff;
  align-self: flex-start;
  display: flex;
}
@media (max-width: 500px) {
  .Start__txt--price {
    align-items: center;
  }
}
.Start__play-con {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 30%;
  margin-top: 45px;
  position: relative;
  align-items: center;
}
@media (max-width: 768px) {
  .Start__play-con {
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  .Start__play-con {
    width: 100%;
    margin-left: 0;
  }
}
.Start__play-img {
  display: flex;
  position: relative;
  height: 48px;
}
.Start__play-txt {
  display: flex;
  position: absolute;
  right: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.Start__play-txt:hover {
  cursor: pointer;
  color: #05c2df;
}
@media (max-width: 500px) {
  .Start__play-txt {
    left: 30%;
  }
}
.Start__vr-img {
  display: flex;
  position: absolute;
  right: 0;
  width: 70%;
}
@media (max-width: 500px) {
  .Start__vr-img {
    display: none;
    position: relative;
    width: 100%;
  }
}
.Start__vr-img--mobile {
  display: none;
}
@media (max-width: 500px) {
  .Start__vr-img--mobile {
    display: flex;
  }
}
.Start__tab {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 768px) {
  .Start__tab {
    display: none;
  }
}
@media (max-width: 500px) {
  .Start__tab {
    display: none;
  }
}
.Start__nav {
  display: flex;
  -moz-column-gap: 39px;
       column-gap: 39px;
}
.Start__links {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}
.Start__links:hover {
  transform: scale(1.1);
  color: #05c2df;
}
.Start__more {
  font-family: "Inter", sans-serif;
  display: flex;
  margin-left: 5%;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  color: #05c2df;
}
.Start__arrow {
  display: flex;
  width: 40%;
}
.Start__next {
  display: flex;
  position: relative;
  -moz-column-gap: 103px;
       column-gap: 103px;
  border-bottom: 1px solid #212121;
}
.Start__next::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 15px;
  width: 35%;
  border-bottom: 3px solid #05c2df;
}
.Start__n {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}

.More-than {
  display: flex;
  flex-direction: column;
  background: #05040b;
  padding: 158px 12%;
}
@media (min-width: 2000px) {
  .More-than {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (max-width: 1280px) {
  .More-than {
    padding: 9% 4%;
  }
}
@media (max-width: 768px) {
  .More-than {
    padding: 9% 4%;
  }
}
@media (max-width: 500px) {
  .More-than {
    padding: 50px 6%;
  }
}
.More-than__btn-mob {
  display: none;
  margin-bottom: 33px;
}
@media (max-width: 500px) {
  .More-than__btn-mob {
    display: flex;
    border: none;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background: #05c2df;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 4px;
  }
  .More-than__btn-mob:hover {
    background: #ffffff;
    color: #05c2df;
    transform: scale(1.1);
  }
}
.More-than__title-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .More-than__title-con {
    align-items: flex-start;
  }
}
.More-than__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #ffffff;
}
.More-than__title--blue {
  font-weight: 400;
  color: #05c2df;
}
@media (max-width: 768px) {
  .More-than__title {
    font-size: 21px;
  }
}
@media (max-width: 500px) {
  .More-than__title {
    font-size: 21px;
    align-items: flex-start;
  }
}
.More-than__txt {
  margin-top: 16px;
  margin-bottom: 83px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #05c2df;
}
@media (max-width: 768px) {
  .More-than__txt {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .More-than__txt {
    font-size: 12px;
  }
}
.More-than__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 768px) {
  .More-than__container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}
@media (max-width: 500px) {
  .More-than__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
.More-than__img {
  margin-bottom: 44px;
  cursor: pointer;
}
.More-than__img:hover {
  transform: scale(1.1);
}
@media (max-width: 500px) {
  .More-than__img {
    display: none;
  }
}
.More-than__blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.More-than__blocks--title {
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 21px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}
.More-than__blocks--description {
  font-family: "Inter", sans-serif;
  color: #929292;
  font-weight: 400;
  font-size: 16px;
}
.More-than__blocks--4 {
  justify-content: flex-start;
}
@media (max-width: 500px) {
  .More-than__blocks {
    align-items: flex-start;
    text-align: left;
  }
}

.About {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 164px 12%;
}
@media (min-width: 2000px) {
  .About {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (max-width: 1280px) {
  .About {
    margin: 105px 4%;
  }
}
@media (max-width: 768px) {
  .About {
    margin: 70px 4%;
  }
}
@media (max-width: 500px) {
  .About {
    margin: 50px 6%;
  }
}
.About__title-mobile {
  display: none;
}
@media (max-width: 500px) {
  .About__title-mobile {
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 21px;
    margin-bottom: 20px;
    -moz-column-gap: 2%;
         column-gap: 2%;
    color: #ffffff;
  }
  .About__title-mobile--blue {
    font-weight: 400;
    color: #05c2df;
  }
}
.About__container {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  .About__container {
    flex-direction: column;
  }
}
.About__pages {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #05c2df;
}
@media (max-width: 768px) {
  .About__pages {
    display: none;
  }
}
@media (max-width: 500px) {
  .About__pages {
    display: none;
  }
}
.About__img-con {
  display: flex;
  margin-left: 23px;
  flex-direction: column;
}
@media (max-width: 768px) {
  .About__img-con {
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  .About__img-con {
    margin-left: 0;
  }
}
.About__img {
  display: block;
  width: 100%;
}
@media (max-width: 1280px) {
  .About__img {
    display: none;
  }
}
@media (max-width: 768px) {
  .About__img {
    display: none;
  }
}
@media (max-width: 500px) {
  .About__img {
    display: none;
  }
}
.About__img--2 {
  display: none;
}
@media (max-width: 1280px) {
  .About__img--2 {
    display: block;
  }
}
@media (max-width: 768px) {
  .About__img--2 {
    display: block;
  }
}
@media (max-width: 500px) {
  .About__img--2 {
    display: block;
  }
}
.About__next {
  display: flex;
  position: relative;
  margin-top: 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -moz-column-gap: 103px;
       column-gap: 103px;
  padding-bottom: 2%;
  border-bottom: 1px solid #212121;
}
.About__next::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 15px;
  width: 30%;
  border-bottom: 3px solid #05c2df;
}
@media (max-width: 768px) {
  .About__next {
    display: none;
  }
}
@media (max-width: 500px) {
  .About__next {
    display: none;
  }
}
.About__n {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}
.About__dots {
  display: none;
}
@media (max-width: 768px) {
  .About__dots {
    display: flex;
    width: 20%;
    margin-top: 14px;
    align-self: center;
  }
}
@media (max-width: 500px) {
  .About__dots {
    display: flex;
    width: 20%;
    margin-top: 14px;
    align-self: center;
  }
}
.About__about-con {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
@media (max-width: 500px) {
  .About__about-con {
    width: 100%;
  }
}
.About__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #ffffff;
}
.About__title--blue {
  font-weight: 400;
  color: #05c2df;
}
@media (max-width: 768px) {
  .About__title {
    font-size: 21px;
  }
}
@media (max-width: 500px) {
  .About__title {
    display: none;
  }
}
.About__description {
  display: flex;
  margin-top: 30px;
  align-self: flex-end;
  width: 80%;
  line-height: 2vw;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #929292;
}
@media (max-width: 768px) {
  .About__description {
    line-height: normal;
  }
}
@media (max-width: 500px) {
  .About__description {
    line-height: normal;
    width: 100%;
  }
}
.About__play-con {
  display: flex;
  position: relative;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 500px) {
  .About__play-con {
    width: 100%;
    justify-content: flex-start;
  }
}
.About__play {
  display: flex;
  margin-right: 20%;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .About__play {
    margin-right: 0;
  }
}
.About__play-link {
  position: absolute;
  bottom: 20%;
  left: 35%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.About__play-link:hover {
  cursor: pointer;
  color: #05c2df;
}
@media (max-width: 500px) {
  .About__play-link {
    left: 30%;
  }
}
.About__ntmy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 175px;
}
@media (max-width: 500px) {
  .About__ntmy {
    display: flex;
    margin-top: 80px;
  }
}
.About__hello {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #05c2df;
  margin-bottom: 15px;
}
.About__nice-description {
  margin-top: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #929292;
}
.About__nice-img {
  width: 100%;
}
@media (max-width: 768px) {
  .About__nice-img {
    display: none;
  }
}
@media (max-width: 500px) {
  .About__nice-img {
    display: none;
  }
}
.About__nice-img--tab {
  display: none;
}
@media (max-width: 768px) {
  .About__nice-img--tab {
    display: flex;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .About__nice-img--tab {
    display: none;
  }
}

.Tech {
  display: block;
  padding: 158px 12%;
  background: #05040b;
}
@media (min-width: 2000px) {
  .Tech {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (max-width: 1280px) {
  .Tech {
    padding: 9% 4%;
  }
}
@media (max-width: 768px) {
  .Tech {
    padding: 9% 4%;
  }
}
@media (max-width: 500px) {
  .Tech {
    padding: 50px 6%;
  }
}
.Tech__title {
  display: none;
  margin-bottom: 10%;
}
@media (max-width: 500px) {
  .Tech__title {
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 21px;
    color: #ffffff;
  }
  .Tech__title--blue {
    font-weight: 400;
    color: #05c2df;
  }
}
.Tech__img {
  width: 100%;
}
@media (max-width: 768px) {
  .Tech__img {
    display: none;
  }
}
@media (max-width: 500px) {
  .Tech__img {
    display: none;
  }
}
.Tech__img--tablet {
  display: none;
  width: 80%;
}
@media (max-width: 768px) {
  .Tech__img--tablet {
    display: block;
  }
}
@media (max-width: 500px) {
  .Tech__img--tablet {
    display: none;
  }
}
.Tech__img--mobile {
  display: none;
}
@media (max-width: 768px) {
  .Tech__img--mobile {
    display: none;
  }
}
@media (max-width: 500px) {
  .Tech__img--mobile {
    display: block;
  }
}

.What-kat {
  display: flex;
  flex-direction: column;
  padding: 158px 12%;
}
@media (min-width: 2000px) {
  .What-kat {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media (max-width: 1280px) {
  .What-kat {
    padding: 9% 4%;
  }
}
@media (max-width: 768px) {
  .What-kat {
    padding: 9% 4%;
  }
}
@media (max-width: 500px) {
  .What-kat {
    padding: 50px 6%;
  }
}
.What-kat__title {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 83px;
}
.What-kat__title--blue {
  font-weight: 400;
  color: #05c2df;
}
@media (max-width: 768px) {
  .What-kat__title {
    font-size: 21px;
  }
}
@media (max-width: 500px) {
  .What-kat__title {
    font-size: 21px;
    justify-content: flex-start;
  }
}
.What-kat__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 205px;
       column-gap: 205px;
}
@media (max-width: 1280px) {
  .What-kat__container {
    -moz-column-gap: 23px;
         column-gap: 23px;
  }
}
@media (max-width: 768px) {
  .What-kat__container {
    -moz-column-gap: 17px;
         column-gap: 17px;
  }
}
@media (max-width: 500px) {
  .What-kat__container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
.What-kat__img {
  margin-bottom: 44px;
  cursor: pointer;
}
.What-kat__img:hover {
  transform: scale(1.1);
}
@media (max-width: 500px) {
  .What-kat__img {
    display: none;
  }
}
.What-kat__blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.What-kat__blocks--title {
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 21px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}
.What-kat__blocks--description {
  font-family: "Inter", sans-serif;
  color: #929292;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 500px) {
  .What-kat__blocks {
    align-items: flex-start;
    text-align: left;
  }
}
.What-kat__btn-desk {
  display: none;
  margin-top: 80px;
}
@media (max-width: 1280px) {
  .What-kat__btn-desk {
    display: flex;
    border: none;
    width: 30%;
    align-self: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background: #05c2df;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 4px;
  }
  .What-kat__btn-desk:hover {
    background: #ffffff;
    color: #05c2df;
    transform: scale(1.1);
  }
}

.Get-in-touch {
  display: flex;
  background: #05040b;
  padding: 158px 12%;
  justify-content: space-between;
}
@media (min-width: 2000px) {
  .Get-in-touch {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (max-width: 1280px) {
  .Get-in-touch {
    padding: 9% 4%;
  }
}
@media (max-width: 768px) {
  .Get-in-touch {
    padding: 9% 4%;
  }
}
@media (max-width: 500px) {
  .Get-in-touch {
    flex-direction: column;
    padding: 50px 6%;
  }
}
.Get-in-touch__block {
  display: flex;
  flex-direction: column;
}
.Get-in-touch__txt {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 13px;
  color: #05c2df;
}
.Get-in-touch__txt--white {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 26px;
  color: #929292;
}
@media (max-width: 500px) {
  .Get-in-touch__txt--white {
    display: none;
  }
}
.Get-in-touch__txt--white__mobile {
  display: none;
}
@media (max-width: 500px) {
  .Get-in-touch__txt--white__mobile {
    display: flex;
    margin-top: 27px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #929292;
  }
}
.Get-in-touch__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #ffffff;
}
.Get-in-touch__title--blue {
  font-weight: 400;
  color: #05c2df;
}
@media (max-width: 768px) {
  .Get-in-touch__title {
    font-size: 21px;
  }
}
@media (max-width: 500px) {
  .Get-in-touch__title {
    font-size: 21px;
    align-items: flex-start;
  }
}
.Get-in-touch__group-links {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  margin-top: 76px;
}
@media (max-width: 500px) {
  .Get-in-touch__group-links {
    display: none;
  }
}
.Get-in-touch__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #929292;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.Get-in-touch__link:hover {
  transform: scale(1.1);
  color: #05c2df;
}
.Get-in-touch__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
@media (max-width: 500px) {
  .Get-in-touch__form {
    width: 100%;
    margin-top: 32px;
  }
}
.Get-in-touch__inputs {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #929292;
  outline: none;
  background: transparent;
  border: none;
  padding-bottom: 19px;
  border-bottom: 1px solid #929292;
}
.Get-in-touch__inputs:focus {
  border-bottom: 1px solid #05c2df;
}
.Get-in-touch__inputs:focus::-moz-placeholder {
  color: #05c2df;
}
.Get-in-touch__inputs:focus:-ms-input-placeholder {
  color: #05c2df;
}
.Get-in-touch__inputs:focus::placeholder {
  color: #05c2df;
}
.Get-in-touch__inputs:not(:-moz-placeholder-shown):not(:focus):invalid {
  color: red;
  border-bottom: 1px solid red;
}
.Get-in-touch__inputs:not(:-ms-input-placeholder):not(:focus):invalid {
  color: red;
  border-bottom: 1px solid red;
}
.Get-in-touch__inputs:not(:placeholder-shown):not(:focus):invalid {
  color: red;
  border-bottom: 1px solid red;
}
.Get-in-touch__inputs--message {
  padding-bottom: 67px;
  margin-bottom: 50px;
}
.Get-in-touch__sub-con {
  display: flex;
  justify-content: space-between;
}
.Get-in-touch__submit {
  border: none;
  width: 30%;
  align-self: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background: #05c2df;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .Get-in-touch__submit {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .Get-in-touch__submit {
    width: 100%;
  }
}
.Get-in-touch__submit:hover {
  background: #ffffff;
  color: #05c2df;
  transform: scale(1.1);
}
.Get-in-touch__arrow:hover {
  transform: scale(1.1);
}
@media (max-width: 500px) {
  .Get-in-touch__arrow {
    display: none;
  }
}

.Footer {
  display: flex;
  justify-content: space-between;
  background: #05040b;
  align-items: center;
  padding: 43px 12%;
  justify-content: space-between;
}
@media (min-width: 2000px) {
  .Footer {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (max-width: 1280px) {
  .Footer {
    padding: 5% 4%;
  }
}
@media (max-width: 768px) {
  .Footer {
    padding: 2% 4%;
    flex-direction: column;
    row-gap: 40px;
  }
}
@media (max-width: 500px) {
  .Footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 6%;
    row-gap: 15px;
  }
}
.Footer__link-con {
  display: flex;
  -moz-column-gap: 43px;
       column-gap: 43px;
}
@media (max-width: 500px) {
  .Footer__link-con {
    display: none;
  }
}
@media (max-width: 500px) {
  .Footer__link-con--mobile {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
}
.Footer__links {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.Footer__links:hover {
  color: #05c2df;
  transform: scale(1.1);
}
.Footer__social-con {
  display: flex;
  -moz-column-gap: 28px;
       column-gap: 28px;
}
@media (max-width: 500px) {
  .Footer__social-con {
    display: none;
  }
}
@media (max-width: 500px) {
  .Footer__social-con--mobile {
    display: flex;
    -moz-column-gap: 28px;
         column-gap: 28px;
  }
}
.Footer__social {
  cursor: pointer;
}
.Footer__social--1:hover {
  transform: scale(1.1);
  filter: invert(42%) sepia(90%) saturate(3575%) hue-rotate(189deg) brightness(103%) contrast(90%);
}
.Footer__social--3:hover {
  transform: scale(1.1);
  filter: brightness(0) saturate(100%) invert(17%) sepia(85%) saturate(6090%) hue-rotate(341deg) brightness(89%) contrast(93%);
}
.Footer__social--4:hover {
  transform: scale(1.1);
  filter: brightness(0) saturate(100%) invert(32%) sepia(87%) saturate(4089%) hue-rotate(7deg) brightness(107%) contrast(105%);
}
.Footer__mobile {
  display: none;
}
@media (max-width: 500px) {
  .Footer__mobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.Footer__test {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

* {
  margin: 0;
  padding: 0;
  transition: ease-in-out 0.3s;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  transition: ease-in-out 0.3s;
  background: linear-gradient(100.83deg, #191536 0.67%, #000000 100%);
}

a {
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}/*# sourceMappingURL=main.css.map */