@import "utils";
@import "fonts";
// @import "typography";

html {
  font-family: "Mark-Regular", sans-serif;
  color: $text-color;
  line-height: $page-line-height;

  // overflow: hidden;
  scroll-behavior: smooth;
}

body {
  background: $background-color;

  overflow-x: hidden;
}

.main {

  &--active {
    display: none;
  }
}

@import "header";
@import "nav";
@import "oreder-button";
@import "page-part";
@import "title";
@import "benefit-card";
@import "paragraph";
@import "about";
@import "slider";
@import "play-button";
@import "art-block";
@import "subtitle";
@import "img-description";
@import "contact-form";
@import "footer";
// @import "";
