@import "utils";
@import "./fonts.scss";
@import "typography";
@import "reset.scss";
@import "./blocks/size.scss";
@import "./blocks/blocksHeader/header.scss";
@import "./blocks/blocksHeader/name.scss";
@import "./blocks/blocksHeader/nav.scss";
@import "./blocks/blocksHeader/info.scss";
@import "./blocks/blocksHeader/links.scss";
@import "./blocks/blocksHeader/logo-picture.scss";
@import "./blocks/blocksHeader/menu-container.scss";
@import "./blocks/blocksHeader/slider.scss";
@import "./blocks/blocksHeader/button.scss";
@import "./blocks/blocksHeader/slider-button.scss";
@import "./blocks/blocksHeader/link-more.scss";

@import "./blocks/blocksMain/cards.scss";
@import "./blocks/blocksMain/card.scss";
@import "./blocks/blocksMain/links-container.scss";
@import "./blocks/blocksMain/slider-container.scss";
@import "./blocks/blocksMain/section-card.scss";
@import "./blocks/blocksMain/size-container-slider.scss";
@import "./blocks/blocksMain/section-slider.scss";
@import "./blocks/blocksMain/section-picture.scss";
@import "./blocks/blocksMain/section-button.scss";
@import "./blocks/blocksMain/product-card.scss";

@import "./blocks/blocksFooter/logos.scss";
@import "./blocks/blocksFooter/footer.scss";
@import "./blocks/blocksFooter/footer-bottom.scss";
@import "./blocks/blocksFooter/footer-form.scss";

body {
  background: $c-gray;
}

* {
  box-sizing: border-box;
}

// @media (max-width: 768px) {

// }
