@import "./utils/mixins.scss";
@import "./utils/variables.scss";
@import "./utils/normalize.scss";
@import "./blocks/grid.scss";
@import "./blocks/button.scss";
@import "./blocks/button-play.scss";
@import "./blocks/container.scss";
@import "./blocks/header.scss";
@import "./blocks/navigation.scss";
@import "./blocks/section.scss";
@import "./blocks/main-page.scss";
@import "./blocks/more.scss";
@import "./blocks/about.scss";
@import "./blocks/tech.scss";
@import "./blocks/benefits.scss";
@import "./blocks/contacts.scss";
@import "./blocks/footer.scss";
