// Utils
@import "./utils/mixins";
@import "./utils/variables";
@import "./utils/normalize";

// Global blocks
@import "./blocks/container.scss";
@import "./blocks/grid.scss";
@import "./blocks/page.scss";

// BLocks
@import "./blocks/icon.scss";
@import "./blocks/top-actions.scss";
@import "./blocks/button.scss";
@import "./blocks/video.scss";
@import "./blocks/dropdown.scss";

// Sliders
@import "./blocks/sliderAbout.scss";
@import "./blocks/sliderHeader.scss";

// Modals
@import "./blocks/modal.scss";
@import "./blocks/faq.scss";
@import "./blocks/help.scss";

// Sections
@import "./blocks/header.scss";
@import "./blocks/menu.scss";
@import "./blocks/buy.scss";
@import "./blocks/testimonials.scss";
@import "./blocks/about.scss";
@import "./blocks/tech.scss";
@import "./blocks/whyKatLoco.scss";
@import "./blocks/contact.scss";
@import "./blocks/footer.scss";
