@import "utils";
@import "fonts";
@import "typography";

@import "./normalize.scss";

@import "./blocks/container.scss";
@import "./blocks/window-container.scss";
@import "./blocks/window.scss";
@import "./blocks/grid.scss";
@import "./blocks/logo.scss";
@import "./blocks/link.scss";
@import "./blocks/icon.scss";
@import "./blocks/info-icon.scss";
@import "./blocks/button.scss";
@import "./blocks/input.scss";
@import "./blocks/social.scss";
@import "./blocks/contacts.scss";

@import "./blocks/page.scss";
@import "./blocks/menu.scss";
@import "./blocks/lang.scss";
@import "./blocks/help.scss";
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/slider.scss";
@import "./blocks/about.scss";
@import "./blocks/about-product.scss";
@import "./blocks/tech-specs.scss";
@import "./blocks/benefits.scss";
@import "./blocks/contact-us.scss";
@import "./blocks/footer.scss";
@import "./blocks/footer-tablet.scss";
