@use "sass:math";

@import "utils";

$pc: em($containerWidth);
$tablet: em(991.98);
$mobile: em(767.98);
$mobileSmall: em(479.98);

@import "fonts";
@import "blocks";

[class*="__container"] {
  @if ($maxWidthContainer>0) {
    max-width: rem($containerWidth);
    margin: 0 auto;
  }

  @if ($containerPadding>0) {
    @if ($maxWidthContainer>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }

    @else {
      @include adaptiveValue(
        "padding-left", math.div($containerPadding, 2), 15
      );
      @include adaptiveValue(
        "padding-right", math.div($containerPadding, 2), 15
      );
    }
  }
}

[class*="-ibg"] {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

[class*="-ibg-contain"] {
  img {
    object-fit: contain;
  }
}

//#region page
.page {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  &__body {
    height: 100%;
    font-family: $fontFamily;
    font-size: rem(16);
    font-weight: 500;
    line-height: math.div(24, 16);
    background-color: #05040b;

    > * {
      min-width: 0;
    }

    &._lock {
      overflow: hidden;

      &::before {
        content: "";
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  &__wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__main {
    flex: 1 1 auto;
  }
}

//#endregion

.tech {

  &__body {
    @include adaptiveValue("padding-top", 160, 50);
    @include adaptiveValue("padding-bottom", 160, 50);
    @include adaptiveValue("padding-left", 190, 0, 1490, 1279.98, 1);
    @include adaptiveValue("padding-right", 70, 0, 1490, 1279.98, 1);
  }

  &__title {
    @media (min-width:$tablet) {
      @include adaptiveValue("margin-right", 230, 0, 1490, 1070, 1);
    }

    @media (min-width:em(1092)) {
      text-align: right;
    }

    @include adaptiveValue("margin-bottom", 80, 30);
  }

  &__content {

    @media (min-width:em(1092)) {
      display: grid;
      max-width: rem(1055);
      grid-template-columns: 1fr percent(380, 1055) 1fr;
      margin: 0 auto;
    }

    @media (min-width:em(1281)) {
      grid-template-columns: 1fr percent(470, 1190) 1fr;
      max-width: rem(1190);
    }
  }

  &__column {
    &:first-child {
      padding-bottom: rem(14);
    }

    &:nth-child(2) {
      position: relative;

      @media (max-width:$mobileSmall) {
        padding: 0 rem(40);
      }

      @media (min-width: em(1091.98)) {
        align-self: end;
      }
    }
  }

  &__info {
    display: none;

    @media (min-width:em(1092)) {
      position: relative;
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: rem(90);
    }

    &--1 {
      &::before {
        content: "";
        position: absolute;
        width: percent(435, 360);
        padding-bottom: percent(72, 360);
        left: 0;
        top: 0;
        transform: translate(rem(88), rem(4));
        background-image: url("../images/tech/icons/line1.svg");
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: em(1280)) {
          z-index: 2;
          transform: translate(rem(93), rem(4));
          background-image: url("../images/tech/icons/t-01.svg");
        }
      }
    }

    &--2 {
      @media (max-width:em(1280)) {
        padding-left: rem(80);
      }

      &::before {
        content: "";
        position: absolute;
        width: percent(244, 360);
        padding-bottom: percent(114, 360);
        left: 0;
        top: 0;
        transform: translate(rem(137), rem(-104));
        background-image: url("../images/tech/icons/line2.svg");
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: em(1280)) {
          width: percent(134, 340);
          padding-bottom: percent(113, 340);
          transform: translate(rem(222), rem(-102));
          background-image: url("../images/tech/icons/t-02.svg");
        }
      }
    }

    &--3 {
      &::before {
        content: "";
        position: absolute;

        width: percent(286, 360);
        padding-bottom: percent(245, 360);
        left: 0;
        top: 0;
        transform: translate(rem(-304), rem(6));
        background-image: url("../images/tech/icons/line3.svg");
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: em(1280)) {
          z-index: 2;
          width: percent(192, 340);
          padding-bottom: percent(245, 340);
          transform: translate(rem(-210), rem(6));
          background-image: url("../images/tech/icons/t-03.svg");
        }
      }
    }
  }

  &__tips {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    @media (min-width: em(1091.98)) {
      display: none;
    }
  }

  &__tip {
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue("width", 62, 34, 767.98, 320, 1);
    @include adaptiveValue("height", 62, 34, 767.98, 320, 1);
    background-color: $cBtn;
    border-radius: 50%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      @include adaptiveValue("width", 22, 12, 767.98, 320, 1);
      height: rem(2);
      background-color: $cWhite;
    }

    &::after {
      transform: rotate(-90deg);
      transition: all 0.3s;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #07798b;
        border: 2px solid rgba(255, 255, 255, 0.14);

        &::after {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    &[aria-describedby^="tippy"] {
      background-color: #07798b;
      border: 2px solid rgba(255, 255, 255, 0.14);

      &::after {
        opacity: 0;
        visibility: hidden;
      }
    }

    &--1 {
      left: percent(65, 358);
      top: percent(-27, 354);
    }

    &--2 {
      left: percent(247, 358);
      top: percent(145, 354);
    }

    &--3 {
      left: percent(-58, 358);
      top: percent(273, 354);

      @media (max-width: em(500)) {
        left: percent(-17, 358);
      }
    }
  }

  &__subtitle {
    margin-bottom: em(20, 18);
  }

  &__image-ibg {
    z-index: 2;
    transition: transform 0.3s;

    @media (max-width: em(1091.98)) {
      margin: 0 auto;
      max-width: rem(358);
    }

    @media (min-width: em(1091.98)) {
      max-width: rem(312);
    }

    &::before {
      content: "";
      display: block;
      padding-bottom: percent(354, 358);

      @media (min-width: em(1091.98)) {
        padding-bottom: percent(294, 312);
      }
    }

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
