@import "utils";
@import "fonts";
@import "typography";
@import "sections/home";
@import "buttons/buy";


* {
  box-sizing: border-box;
}

html {
  font-family: "Mark-Regular", sans-serif;
}

body {
  background: $c-gray;
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.nav__list {
  display: grid;
  gap: 34px;
  grid-template-columns: repeat(7, auto);
  justify-content: center;
}

.video {
  display: block;
  background-image: url(./../images/play_video.svg);
  background-repeat: no-repeat;
  height: 100px;
}

.video:hover {
  background-image: url(./../images/play_video_hover.svg);
}
