@import "utils";
@import "fonts";

@import "./blocks/page";
@import "./blocks/container";
@import "./blocks/tittle";
@import "./blocks/text";
@import "./blocks/main-button";
@import "./blocks/top-action";
@import "./blocks/bottom-action";
@import "./blocks/logo";
@import "./blocks/play-button";
@import "./blocks/header";
@import "./blocks/menu";
@import "./blocks/purchase";
@import "./blocks/steps";
@import "./blocks/faq";
@import "./blocks/block";
@import "./blocks/help";
@import "./blocks/info";
@import "./blocks/about";
@import "./blocks/tech";
@import "./blocks/benefits";
@import "./blocks/contact";
@import "./blocks/form";
@import "./blocks/footer";
