@import "utils";
@import "reset.scss";

@import "blocks/page.scss";
@import "blocks/container.scss";
@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/button.scss";
@import "blocks/more-section.scss";
@import "blocks/top-actions.scss";
@import "blocks/icon.scss";
@import "blocks/menu.scss";
@import "blocks/tech.scss";
@import "blocks/about.scss";
@import "blocks/benefits.scss";
@import "blocks/form.scss";
@import "blocks/contact.scss";
@import "blocks/footer.scss";
@import "blocks/help.scss";
@import "blocks/overlay.scss";
@import "blocks/faq.scss";
@import "blocks/buy.scss";
@import "blocks/video.scss";
