@import 'utils';
@import 'fonts';
@import 'typography';
@import './reset';
@import './blocks/header';
@import './blocks/menu';
@import './blocks/language';
@import './blocks/help';
@import './blocks/use';
@import './blocks/about';
@import './blocks/swiper';
@import './blocks/meet';
@import './blocks/tech';
@import './blocks/benefits';
@import './blocks/questions';
@import './blocks/footer';


html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
}


[class*="__container"] {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu-icon-open {
  &::before {
    transform: rotate(45deg);
    top: calc(50% - 1px);
  }

  &::after {
    transform: rotate(-45deg);
    bottom: calc(50%);
  }

  & span{
    width: 0!important;
  }
}

.menu-open {
  transform: translateX(0);
}

.after {
  display: block;
  position: relative;
  width: fit-content;

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    transition: $all-transition;
    transform-origin: left;
    transform: scale(0);
  }

  &:hover::after {
    transform: scale(1);
  }
}

.page-body {
  overflow: hidden;
}

.page__wrapper {
  background: $main-bg;
}

.white-color {
  color: $white!important;
}

.gray-color {
  color: $gray;
}

.swiper-slide {
  transform: translateX(-100%);
}

.pagination__bullet--active {
  background-color: $white;
  transform: scale(1.2);
}

.after-transform {

  &::after {
    transform: translateX(200%);
  }
}

.gray-button {
  background-color: transparent!important;
  border: 1px solid $blue!important;

  &::after {
    display: none!important;
  }
}

.display-flex {
  display: flex!important;
}

.video {
  top: 10vh;
  right: 5vw;
  left: 5vw;
  width: 90vw;
  height: 80vh;
  z-index: 10;
  position: fixed;
  display: none;

  &__icon-close {
    cursor: pointer;
    display: none;
    position: fixed;
    top: 10vh;
    right: 5vw;
    z-index: 11;
    padding: 30px 40px;
    background: $blue;
    border-bottom-left-radius: 50%;
    transition: $all-transition;

    &:hover {
      background-color: $gray;
    }

  }

  &__close {
    height: 24px;
    width: 24px;
  }
}

.display-block {
  display: block!important;
}



@media (min-width: 768px) {
  [class*="__container"] {
    padding: 0 30px;
  }
  .header {
    padding-bottom: 71px;
    grid-column: 1 / -1;

    &__container {
      row-gap: 20px;

      @include on-tablet;
    }

    &__logo {
      width: 67px;
      height: 14px;
    }

    &__top-bar {
      height: 75px
    }

    &__main {
      @include on-tablet;
    }

    &__content {
      grid-column: 1 / 4;
    }

    &__pictures {
      grid-column: 4 / -1;
      order: 2;
      align-self: center;
    }

    &__price {
      align-self: self-start;
    }

    &__subtitle {
      gap: 10px;
    }

    &__video-button {
      margin-top: 10px;
    }

    &__button {
      left: 20vw;
      right: 20vw;
    }

    &__image {
      width: auto;
      min-width: 100%;
      height: 340px;
    }

  }

  .menu__container,
  .language__container {
    @include grid;
    @include on-tablet;
  }
  .menu__navigation {
    margin-top: 110px;
  }

  .menu__navigation,
  .language__navigation {
    grid-column: 2 / 4;
  }


  .menu,
  .language,
  .help {
    height: 540px;
  }

  .help {
    &__top-bar {
      height: 75px;
    }
  }

  .use {
    padding: 76px 0;

    &__container,
    &__text {
      text-align: center;
    }

    &__image {
      display: block;
    }

    &__blocks {
      @include on-tablet;

      align-items: end;
    }

    &__item {
      grid-column: span 3;

      @include column-flex;

      align-items: center;
      gap: 32px;
    }

    &__content {
      &--small {
        display: none;
      }

      &--wide {
        display: block;
      }
    }
  }

  .about {
    padding: 70px 0;
    &__container {
      @include on-tablet;
    }

    &__title {
      grid-column: 4 / -1;
    }

    &__swiper,
    &__content {
      grid-column: span 3;
    }

    &__swiper {
      grid-row: 1 / 3;
      height: 290px;
    }
  }

  .swiper {
    width: auto;

    &__slide {
      height: 260px;
    }

    &__pagination-bullet {
      width: 7px;
      height: 7px;
    }
  }

  .meet {
    padding: 50px 0;

    &__container {
      @include on-tablet;
    }

    &__content {
      grid-column: 1 / 5;
    }

    &__pictures {
      display: flex;
      gap: 21px;
      grid-column: 5 / -1;
    }

    &__image {
      &--1,
      &--2,
      &--3 {
        display: block;
      }

      &--2 {
        transform: rotate(180deg);
        opacity: 0.5;
      }

      &--3 {
        opacity: 0.3;
      }
    }
  }

  .tech {
    padding: 80px 0;

    &__container {
      @include on-tablet;
    }

    &__image {
      width: 357px;
      height: 357px;
    }

    &__button {
      width: 62px;
      height: 62px;

      &--2 {
        top: 290px;
        left: -115px;
      }

      &--3 {
        top: 145px;
        left: 120px;
      }
    }

    &__item {
      &--1 {
        left: 50%;
        top: -55px;
      }

      &--2 {
        top: 65px;
      }

      &--3 {
        top: 215px;
        right: 145px;
        left: auto;
      }
    }
  }

  .benefits {
    padding: 70px 0;

    &__container,
    &__main {
      @include on-tablet;
    }

    &__item {
      grid-column: span 2;

      @include column-flex;

      gap: 25px;
      align-items: center;
    }

    &__content {
      text-align: center;
    }

    &__image {
      display: block;
    }
  }

  .questions {
    padding: 70px 0 130px 0;

    &__container {
      @include on-tablet;
    }

    &__manager {
      font-size: 16px;

      &--2 {
        display: none;
      }
    }

    &__main,
    &__content {
      grid-column: span 3;
    }

    &__button {
      width: 200px;
    }

    &__button-top {
      display: inline-block;
    }
  }

  .footer {
    padding: 25px 0 75px 0;

    &__container {
     display: flex;
     justify-content: space-between;
    }


    &__navigation {
      &--contacts {
        display: none;
      }
    }

    &__list {
      &--page {
        flex-direction: row;
        gap: 45px;
      }
    }
  }
}

@media (min-width: 1280px) {
  [class*="__container"] {
    padding: 0;
  }

  .header {
    &__container,
    &__main {
      @include on-desktop;
    }

    &__main {
      row-gap: 95px;
    }

    &__container {
      row-gap: 100px;
    }

    &__title {
      font-size: 46px;
    }

    &__logo {
      width: 78px;
      height: 16px;
    }

    &__content {
      grid-column: 1 / 7;

      @include on-tablet;
    }

    &__subtitle,
    &__video-button {
      grid-column: 2 / 6;
    }

    &__video-button {
      margin-left: 0;
    }

    &__pictures {
      grid-column: 7  / -1;
      max-height: 340px;
    }

    &__menu {
      display: none;
    }

    &__button {
      position: static;
      min-width: 200px;
    }

    &__list,
    &__language {
      display: flex;
    }

    &__image {
      min-width: 518px;

      &--two {
        height: 340px;
      }
    }
  }

  .use {
    padding: 100px 0;

    &__container {
      gap: 83px
    }

    &__main {
      @include column-flex;
      gap: 16px;
    }

    &__title {
      font-size: 36px;
      line-height: 44px;
    }

    &__subtitle {
      font-size: 14px;
      line-height: 17px
    }

    &__blocks {
      @include on-desktop;

      align-items: start;
    }

    &__text {
      gap: 18px;
    }
  }

  .about {
    padding: 105px 0;
    &__container {
      @include on-desktop;
    }

    &__title {
      font-size: 36px;
      line-height: 44px;
    }

    &__swiper {
      height: 350px;
      grid-column: 3 / 8;
    }

    &__title,
    &__content {
      grid-column: 9 / -1;
    }

    &__numbers {
      display: flex;
    }
  }

  .swiper {
    &__slide {
      height: 290px;
    }

    &__pagination {
      display: none;
    }
  }

  .meet {
    &__container {
      @include on-desktop;
    }

    &__content {
      grid-column: span 5;
    }

    &__title {
      font-size: 36px;
      line-height: 44px;;
    }

    &__pictures {
      grid-column: 7 / -1;
    }

    &__image {
      width: 83px;
      height: 337px;

      &--4,
      &--5 {
        display: block;
      }

      &--4 {
        opacity: 0.2;
        transform: rotate(180deg);
      }

      &--5 {
        opacity: 0.1;
      }
    }
  }

  .tech {
    padding: 100px 0;

    &__container {
      @include on-desktop;

      row-gap: 80px;
    }

    &__buttons {
      display: none;
    }

    &__title {
      font-size: 36px;
      line-height: 44px;
      grid-column: 9 / -1;
    }

    &__blocks {
      @include grid;

      row-gap: 80px
    }

    &__main,
    &__blocks {
      @include on-desktop;
    }

    &__image {
      width: 297px;
      height: 297px;
      transform: translateY(60px);

      &::after {
        position: absolute;
        content: '';
        height: 201px;
        width: 40px;
        transform: rotate(15deg);
        left: -15px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../images/tech/Ellipse.svg);
      }
    }

    &__item {
      display: flex;
      position: static;
      background: transparent;
      width: auto;
      height: auto;

      &--1 {
        grid-column: 9 / -1;
      }

      &--2 {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
      }

      &--3 {
        grid-column: 2 / 5;
      }
    }

    &__image,
    &__blocks {
      grid-row: 1 / 3;
    }

    &__links {
      display: block;
    }
  }

  .benefits {
    padding: 100px 0;

    &__container,
    &__main {
      @include on-desktop;
    }

    &__container {
      row-gap: 90px;
    }

    &__title {
      grid-column: 1 / -1;
      justify-self: center;
      font-size: 36px;
      line-height: 44px;
    }

    &__item {
      grid-column: span 4;
    }

    &__button {
      display: block;
    }
  }

  .questions {
    padding: 100px 0;

    &__container {
      @include on-desktop;
    }

    &__main {
      grid-column: 1 / 5;
    }

    &__content {
      grid-column: 7 / -1;
    }

    &__title {
      font-size: 36px;
      line-height: 44px;
    }
  }

  .footer {
    padding: 40px 0;
  }
}


@media (min-width: 1600px) {
  [class*="__container"] {
    max-width: 1452px;
  }

  .header {
    &__container,
    &__main {
      @include on-wide-desktop;
    }

    &__container {
      row-gap: 220px;
      padding-bottom: 110px;
    }



    &__pictures {
      grid-column: 7 / -1;
      max-width: none;
    }

    &__image {
      min-width: 100%;

      &--one {
        background-size: cover;
        background-position: right 0 top -46px;
      }
    }

    &__title {
      font-size: 54px;
      grid-column: 1 / 7;
    }

  }

  .use {
    padding: 158px 0;
    &__name {
      font-size: 18px;
    }
  }

  .about {
    padding: 165px 0;
    &__container {
      @include on-wide-desktop;
    }

    &__title,
    &__content {
      grid-column: 12/ -1;
    }

    &__swiper {
      grid-column: 4 / 11;
      width: 622px;
    }

    &__numbers {
      grid-column: 3 / 4;
    }
  }

  .swiper {
    &__slide {
      &--1 {
        background-size: cover;
      }
    }
  }

  .meet {
    &__container {
      @include on-wide-desktop;
    }

    &__content {
      grid-column: 2 / 8;
    }

    &__pictures {
      grid-column: 9 / -1;
    }

    &__image {
      &--6,
      &--7 {
        display: block;
      }

      &--6 {
        opacity: 0.05;
        transform: rotate(180deg);
      }

      &--7 {
        opacity: 0.005;
      }
    }
  }

  .tech {
    &__container,
    &__main,
    &__blocks {
      @include on-wide-desktop;
    }

    &__title,
    &__item--1 {
      grid-column: 12 / -1;
    }

    &__item {
      &--2,
      &--3 {
        grid-column: 3 / 6;
      }
    }

    &__link {
      &--2 {
        width: 240px;
        top: 50px;
        left: -260px;
      }

      &--3 {
        width: 260px;
        height: 245px;
      }
    }
  }

  .benefits {
    padding: 160px 0;

    &__container,
    &__main {
      @include on-wide-desktop;
    }

    &__button {
      display: none;
    }

    &__item {
      &--1 {
        grid-column: 1 / 5;
      }

      &--2  {
        grid-column: 7 / 11;
      }

      &--3 {
        grid-column: 13 / -1;
      }
    }
  }

  .questions {
    padding: 160px 0 200px 0;

    &__container {
      @include on-wide-desktop;
    }

    &__content {
      grid-column: 9 / -1;
    }
  }
}
