@import "utils";
@import "fonts";
@import "typography";
@import "sections/home";
@import "sections/more";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/remote";
@import "blocks/heading";
@import "buttons/buy";

* {
  box-sizing: border-box;
}

html {
  font-family: "Mark-Regular", sans-serif;
  color:$colorWhite;
}

body {
  // background: $c-gray;
  background: $gradient;
  margin: 0;
}

a {
  text-decoration: none;
  @include textLink;
  color: $colorWhite;
}

h2 {
  font-weight: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1084px;
  margin: 0 auto;

  @media (min-width: 1600px) {
    width: 1472px;
  }

  @media (max-width: 1200) {
    width: 700px;
  }

  @media (max-width: 340px) {
    width: 280px;
  }
}

.page__home {
  position: relative;
  height: 100vh;
  width: 1084px;
  margin: 0 auto;

  @media (min-width: 1600px) {
    width: 1472px;
  }

  @media (max-width: 1200) {
    width: 700px;
  }

  @media (max-width: 340px) {
    width: 280px;
  }
}

.page__up {
  display: block;
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  border: 0.5px solid $colorContrast;
  color: $colorContrast;
  @include textLink;
}

.video {
  display: block;
  background-image: url(./../images/play_video.svg);
  background-repeat: no-repeat;
  height: 100px;
}

.video:hover {
  background-image: url(./../images/play_video_hover.svg);
}
