@import "utils";
@import "fonts";
@import "typography";
@import "./blocks/controler.scss";
@import "./blocks/contacts.scss";
@import "./blocks/page.scss";
@import "./blocks/language-menu.scss";
@import "./blocks/nav.scss";
@import "./blocks/social-icons.scss";
@import "./blocks/hero/hero.scss";
@import "./blocks/faq/faq.scss";
@import "./blocks/about/about.scss";
@import "./blocks/tech/tech.scss";
@import "./blocks/features/features.scss";
@import "./blocks/contact-us/contact-us.scss";
@import "./blocks/footer/footer.scss";
