@import "utils";
@import "fonts";
@import "typography";
@import "./blocks/section/katevr.scss";
@import "../styles/critical.scss";
@import "./blocks/header/icon.scss";
@import "./blocks/section/button.scss";
@import "../styles/blocks/header/container.scss";
@import "./blocks/header/menu.scss";
@import "./blocks/header/header.scss";
@import "../styles/blocks/section/grid.scss";
@import "../styles/blocks/section/section.scss";
@import "../styles/blocks/header/play.scss";
@import "../styles/blocks/section/card.scss";
@import "../styles/blocks/section/more.scss";
@import "../styles/blocks/section/swiper";
@import "../styles/blocks/section/about.scss";
@import "../styles/blocks/section/techspecs.scss";
