.main {
  overflow: hidden;

  &__section {
    &:nth-child(2n+2) {
      background: $background-gradient ;
    }

    &:nth-child(n+1) {
      background-color: $background-black;
    }

    &-title {
      text-transform: uppercase;
      padding: 10px;
    }

    &-span {
      color: $contrast-color;
      font-weight: 400;

      &--custom--gaming {
        background-image: url(../images/icon/gaming.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 10.02rem;
        height: 1.59rem;
        display: inline-block;

        @include on-tablet {
          width: 7.02rem;
          height: 1.1rem;
          display: inline-block;
          background-size: cover;
        }
      }

      &--custom--why {
        background-image: url(../images/icon/why.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 15rem;
        height: 1.59rem;
        display: inline-block;

        @include on-tablet {
          width: 9rem;
          height: 1.01rem;
          display: inline-block;
          background-size: contain;
        }
      }
    }

    &-paragraph {
      line-height: 150%;
    }
  }
}
