.menu {
  color: $main-white;
  background-color: $main-purple;

  @include on-tablet {
    height: max-content;
  }

  &--auto-hight {
    height: auto;
  }

  &__content {
    &--language {
      padding-bottom: 26px;
    }

    &--nav {
      @include on-tablet {
        padding-bottom: 139px;
      }
    }
  }
}
