.more__container {
  background: #05040b;
  padding: 100px 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 320px) and (max-width: 767px) {
    padding: 50px 20px;
    align-items: stretch;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    padding: 70px 34px 78px;
  }
  @include Notebook {
    padding: 158px 234px 166px;
  }
  @media (min-width: 1920px) and (max-width: 6000px) {
    padding: 158px 234px 166px;
    justify-content: space-between;
  }
}

.more__title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 320px) and (max-width: 767px) {
    justify-content: stretch;
  }
}

.more__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Mark-Heavy, sans-serif;
  font-size: 36px;
  text-align: center;
  line-height: 30px;

  color: #fff;
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 21px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 21px;
  }
  @media (min-width: 1024px) and (max-width: 1920px) {
    font-size: 36px;
    line-height: 40px;
  }
}

.more__title-blue {
  font-family: Quantum, sans-serif;
  font-size: 36px;
  color: #05c2df;
  padding-left: 12px;
  line-height: 30px;
  margin-top: -5px;
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 21px;
    margin-top: 0;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 21px;
  }
  @media (min-width: 1024px) and (max-width: 1919px) {
    font-size: 36px;
    line-height: 28px;
    margin-top: -7px;
  }
  @media (min-width: 1920px) and (max-width: 2560px) {
    font-size: 36px;
    line-height: 28px;
    margin-top: -8px;
  }
}

.more__info {
  font-family: Mark-Regular, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #05c2df;
  justify-content: center;
  padding-top: 14px;
  align-items: center;
  margin: 0 auto;
  @media (min-width: 320px) and (max-width: 767px) {
    justify-content: stretch;
    margin: 0;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 12px;
  }
}

.more__cards {
  padding-top: 82px;
  display: flex;
  flex-direction: row;
  @media (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
    padding-top: 30px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    padding-top: 45px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (min-width: 1920px) and (max-width: 2560px) {
    justify-content: space-between;
    margin: 0 auto;
  }
}

.more__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 270px;
  width: 100%;
  padding-right: 20px;
  &:last-child {
    padding-right: 0;
  }
  @media (min-width: 320px) and (max-width: 767px) {
    align-items: flex-start;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 320px;
    max-width: 340px;
    padding-bottom: 40px;
    &:nth-child(3) {
      padding-bottom: 0;
    }
    &:nth-child(4) {
      padding-bottom: 0;
    }
  }
  @include Notebook {
    max-width: 368px;
  }
  @media (min-width: 1920px) and (max-width: 2560px) {
    max-width: 100%;
  }
}

.more__card_image {
  padding-bottom: 32px;
  @media (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
}

.more__image {
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.more__card_title {
  font-family: Mark-Regular-Heavy, sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;

  color: #fff;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
}

.more__card_text {
  font-family: Mark-Regular, sans-serif;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #929292;
  height: 110px;
  @media (min-width: 320px) and (max-width: 767px) {
    text-align: start;
    padding-bottom: 20px;
  }
}
