.nav {
  &__list {
    display: grid;
    gap: 12px 0;
  }

  &__link {
    color: #fff;
    font-size: 13px;
    height: 20px;
    transition: color $hover-duration;

    &:hover {
      color: $contrast-color;
    }
  }
}

@media (min-width: $tablet-screen-breakpoint) {
  .nav {
    &__icon {
      display: none;
    }

    &__list {
      gap: 0 35px;
      display: flex;
    }

    &__link {
      font-size: 16px;
    }
  }
}
