.navbar {
  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 318px;
    margin-left: auto;
    margin-right: 76px;
  }
  &__item--adapt {
    display: none;
  }
  &__link {
    @include navbar-text;
    @include neon-hover;
  }
  @media (max-width: 1023px) {
    position: absolute;
    top: 0;
    right: -110%;
    z-index: 10;
    width: 100%;
    min-height: 50vh;
    padding-top: 108px;
    padding-bottom: 139px;
    background-color: $main-background-color;
    opacity: 0;
    transition: right 0.7s, opacity 0.5s;
    &__list {
      flex-direction: column;
      max-width: initial;
      width: 100%;
    }
    &__item {
      position: relative;
      padding-top: 11px;
      padding-bottom: 11px;
      padding-left: 150px;
      z-index: 1;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: -1;
      }
      &:hover::after {
        opacity: 0.3;
      }
    }
    &__link {
      font-size: 21px;
      &:hover {
        text-shadow: none;
      }
    }
    &__item--adapt {
      display: block;
    }
  }
  @media(max-width: 600px) {
    &__item {
      padding-left: calc(var(--container-padding-mob) + 16vw);
    }
  }
  @media(max-width: 320px) {
    &__item {
      padding-left: var(--container-padding-mob);
    }
  }
}
