body {
  margin: 0;
  font-family: Mark-Regular, sans-serif;
  background-color: $bgBlack;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p,
a,
button {
  margin: 0;
  padding: 0;
}

button {
  width: 100%;
}

textarea {
  resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-bottom: 1px solid $contrastBlue;
  -webkit-text-fill-color: $white;
  -webkit-box-shadow: none;
  -webkit-background-clip: text;
}
