.page-part {
  position: relative;
  padding: 50px 20px;

  &__paragraph {

    &--small {
      margin-top: 30px;

      font-size: 12px;
    }
  }

  &--bg-gradient {
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;

      height: 100%;
      width: 100vw;
      background: $header-gradient;

      z-index: -1;
    }
  }

  @media (min-width: 769px) {
    // display: flex;

    padding: 100px 34px;

    &__benefit-card {
      // min-width: 340px;
      min-height: 230px;
      padding-top: 84px;


    }
  }
}
