.play {
  display: block;
  position: relative;
  min-width: 246px;
  height: 48px;

  background: url(../images/play.svg);
  background-size: contain;
  background-repeat: no-repeat;

  font-family: "Mark-medium", Helvetica, sans-serif;
  color: white;

  left: 50%;
  transform: translateX(-50%);
  transition: color $transitionGlobal ease;

  &:hover {
    color: $highLightColor;
    font-weight: bold;
  }
}
