.play-button {
  position: relative;
  width: 100%;
  padding-right: 32px;

  @include button-font($page-font-size);

  background: transparent;

  cursor: pointer;

  &__text {
    @include position(50%, 50%);

    transform: translate(-50%, -50%);
  }
}
