.place-order,
.complete,
.pay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(108deg, #191536 0%, #000 100%);
  z-index: 2;
  opacity: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
  padding-top: 28px;
  transition: 0.3s;
  overflow-y: scroll;

  &__container {
    @include contentPaddingInline;
  }
}

.place-order__container {
  height: 1200px;
}

.pay__container {
  height: 1150px;
}

.place-order:target {
  opacity: 1;
  pointer-events: all;

  &::-webkit-scrollbar {
    background-color: #014954;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #05c2df;
    border-radius: 8px;

    &:hover {
      background-color: #43e6ff;
    }
  }
}

.complete:target {
  opacity: 1;
  pointer-events: all;

  &::-webkit-scrollbar {
    background-color: #014954;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #05c2df;
    border-radius: 8px;

    &:hover {
      background-color: #43e6ff;
    }
  }
}

.pay:target {
  opacity: 1;
  pointer-events: all;

  &::-webkit-scrollbar {
    background-color: #014954;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #05c2df;
    border-radius: 8px;

    &:hover {
      background-color: #43e6ff;
    }
  }
}

.place-order__top-bar {
  display: flex;
  align-items: center;
}

.place-order__nav {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  gap: 25%;
}

.place-order__link {
  color: #545454;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
}

.place-order__active {
  color: #05c2df;
  position: relative;

  &::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 100%;
    position: absolute;
    left: 45%;
    top: 25px;
    background-color: #05c2df;
  }
}

.place-order__content,
.pay__content {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: end;
}

.place-order-price {
  color: #05c2df;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.product {
  margin-top: 200px;
  display: flex;
  flex-direction: column;

  &__details {
    display: flex;
    gap: 94px;
  }
}

.product__img {
  display: none;
}

.product__info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &-header {
    color: #929292;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}

.country {
  position: relative;
  width: 100%;
}

.country__toggle {
  height: 47px;
  padding-inline: 21px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background: #191536;
  position: relative;
  margin-top: 13px;

  &::after {
    content: url(../images/dropdown.svg);
    position: absolute;
    right: 21px;
    top: 12px;
  }
}

.country__content {
  overflow-y: scroll;
  height: 235px;
  padding-block: 13px;
  row-gap: 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background: #191536;
  margin-top: 13px;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  width: 100%;
  z-index: -1;

  &::-webkit-scrollbar {
    background-color: #014954;
    width: 1px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #05c2df;
    border-radius: 8px;

    &:hover {
      background-color: #43e6ff;
    }
  }
}

.country__option,
.city__option {
  padding-left: 21px;
}

.homepage__link {
  margin-top: 70px;
}

.complete__link {
  margin-top: 160px;
}

.pay__link,
.complete__link,
.homepage__link {
  width: 199px;
  height: 48px;
  border-radius: 4px;
  background: #05c2df;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
  transition: 0.3s;
  box-sizing: border-box;

  &:hover {
    background-color: transparent;
    border: 1px solid #05c2df;
    color: #05c2df;
  }
}

.place-order__top-bar--small {
  display: none;
}

.card__number-container {
  display: flex;
  gap: 60px;
  align-items: center;
}

.card__number-part {
  letter-spacing: 4px;
  width: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &::placeholder {
    color: #2f2f2f;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 4px;
    text-align: center;
  }
}

.pay__form {
  width: 50vw;
  margin-top: 245px;
}

.visa-img {
  width: 53.9px;
  height: 33.7px;
}

.card__holder-container {
  margin-top: 70px;
  position: relative;
}

.card__holder {
  width: 100%;
}

.holder-name-error {
  top: -15px;
  position: absolute;
}

.label-11 {
  top: 10px;
}

.card__info {
  display: flex;
  gap: 88px;
  margin-top: 50px;
}

.card__date-container {
  width: 108px;
  position: relative;
}

.card__cvv-container {
  position: relative;
  width: 80px;
}

.label-12,
.label-13 {
  top: -5px;
}

.exp-date {
  width: 93px;

  &::placeholder {
    color: #2f2f2f;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}

.cvv {
  width: 49px;
  letter-spacing: 4px;

  &::placeholder {
    color: #2f2f2f;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 4px;
  }
}

.complete__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}

.complete__header {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
}

.complete__blue {
  color: #05c2df;
  font-family: "Inter", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
}

.complete__sub {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-top: 56px;
}
