html,
body,
ul,
li,
p,
a,
div,
main,
header,
footer,
section,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style-type: none;
}

button,
select,
input,
textarea {
  font-family: inherit;
  outline: none;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0 1000px #05040b inset;
  transition: background-color 5000s ease-in-out 0s;
  margin: 0;
  padding: 0;
}
/*
input:-webkit-autofill::placeholder,
input:-webkit-autofill:hover::placeholder,
input:-webkit-autofill:focus::placeholder {
  color: red;
}*/
