* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Inter, sans-serif;
  scroll-behavior: smooth;
  min-width: 320px;
}

h1 {
  color: $white;
  font-size: 2.88rem;
  line-height: 130%;

  @include on-mobile {
    font-size: 1.63rem;
  }

  @include on-tablet {
    font-size: 1.63rem;
  }
}

h2 {
  color: $white;
  font-size: 2.25rem;
  line-height: auto;

  @include on-mobile {
    font-size: 1.31rem;
    line-height: 130%;
  }

  @include on-tablet {
    font-size: 1.31rem;
    line-height: 130%;
  }
}

h3 {
  color: $white;
  font-size: 1rem;
  line-height: auto;

}

a {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}
