* {
  font-family: inherit;
  font-weight: inherit;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

body {
  position: relative;
}

iframe {
  border: none;
}

body,
a,
h1,
h2,
h3,
p,
fieldset,
input {
  margin: 0;
  padding: 0;
}

::after,
::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid $highlight-text;
  -webkit-text-fill-color: $main-text;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
