@import "section/info";
@import "section/product";
@import "section/about";
@import "section/specs";
@import "section/advantages";
@import "section/consultation";

.section {
  padding: 50px 20px;
  background-color: $background-black;

  &__heading {
    margin-bottom: 10px;

    &--custom {
      font-size: 14px;
      color: $contrast-color;
    }
  }

  &--gradient {
    background: $background-gradient;
  }
}
