.slider {
  &__img {
    width: 100%;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    max-width: 45px;
    margin: 7px auto 0;
  }

  &__link {
    width: $slider-round-size;
    height: $slider-round-size;

    background: $slider-round;
    border-radius: 50%;

    &--is-active {
      background: $slider-round-active;
    }
  }
}
