.subtitle {
  font-size: $subtitle-size-mobile;
  color: $contrast-color;
  line-height: $subtitle-line;

  @media (min-width: 768px) {
    font-size: $subtitle-size;

    &--centering {
      display: block;

      text-align: center;
    }
  }
}
