.tech {
  position: relative;
  height: 100vh;

  display: grid;
  grid-template-columns: 20rem 27rem 27rem 20rem;
  grid-template-rows: repeat(4,25%);
  place-content: center;

  @include on-medium-desktop {
    grid-template-columns: 15rem 22rem 22rem 15rem;
  }

  @include on-desktop {
    grid-template-columns: 10rem 14rem 14rem 10rem;
  }

  @include on-large-tablet {
    grid-template-columns: repeat(4, minmax(10rem, 1fr));
    height: 100%;
  }

  @include on-tablet {
    grid-template-columns: repeat(4, minmax(5rem, 1fr));
  }

  @include on-mobile {
    grid-template-columns: 50% 50%;
  }

  &__content {
    position: unset;

    &--1 {
      grid-column: 1/3;
      grid-row: 2;
      place-self: start center;
      margin-top: -2rem;
      margin-right: 5rem;

      @include on-medium-desktop {
        justify-self: start;
        margin-left: 5rem;
      }

      @include on-desktop {
        margin-left: -2rem;
      }

      @include on-large-tablet {
        margin: 0; // Needed to turn off previous margins
        grid-column: 2/4;
        grid-row: 1/3;
        place-self: center;
      }

      @media (max-width:500px) {
        margin-top: 3.5rem;
      }

      @include on-mobile {
        grid-column: 1/4;
        grid-row: 1/3;
        justify-self: center;
        margin-top: 0;
      }
    }

    &--2 {
      grid-column: 3/5;
      grid-row: 2;
      place-self: start end;
      margin: -1.7rem 4rem 0 0;

      @include on-medium-desktop {
        margin-right: -3rem;
      }

      @include on-desktop {
        margin: 0.5rem 0 -8rem;
      }

      @include on-large-tablet {
        margin: 0;
        grid-row: 2/4;
        grid-column: 3;
        place-self: center;
        margin-left: 4rem;
      }

      @include on-mobile {
        grid-column: 2;
        margin-left: 0;
      }
    }

    &--3 {
      grid-column: 2;
      grid-row: 3;
      align-self: end;
      margin-bottom: -2.2rem;
      margin-left: 1rem;

      @include on-medium-desktop {
        margin-bottom: -3.1rem;
        margin-left: -2rem;
      }

      @include on-desktop {
        margin-left: -8rem;
        margin-bottom: -2.5rem;
      }

      @include on-large-tablet {
        margin: 0;
        grid-column: 2;
        grid-row: 2/4;
        place-self: center end;
      }

      @media (max-width:500px) {
        margin-bottom: 3rem;
      }

      @include on-mobile {
        grid-column: 1;
        grid-row: 3;
        align-self: end;
        margin-bottom: 0;
        margin-left: 4rem;
      }
    }

  }

  &__card {
    z-index: 3;

    @include on-large-tablet {
      position: absolute;
      transform: scale(0.9);
    }

    @include on-tablet {
      transform: scale(0.8);
    }

    @include on-mobile {
      &--pos--2 {
        left: 5rem;
      }
    }

    &-title {
      padding-block: 1.31rem;

      @include on-large-tablet {
        visibility: hidden;
        display: none;

      }
    }

    &-paragraph {
      color: $text-color;
    }

    @include on-large-tablet {
      opacity: 0;
      visibility: hidden;
      border-radius: 0.25rem;
      background-color: $modal-background;
      padding-inline: 1rem;
      padding-block: 0.6rem;
      max-width: calc(100vw - 0.75rem);
    }
  }

  &__vector {
    position: relative;
    z-index: 3;

    &--pos--1 {
      background-image: url(../images/icon/corner-left.svg);
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      width: 27rem;
      height: 4.3rem;

      grid-column: 2;
      grid-row: 1/3;
      align-self: center;
      margin: 4.3rem 0 0 0.1rem;

      @include on-medium-desktop {
        margin: 4.3rem 0 0 -4.7rem;
      }

      @include on-desktop {
        margin: 3.3rem 0 0 -10.2rem;
        transform: scale(0.8);
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        background-color: $contrast-color;
        top: -5%;
      }

    }

    &--pos--2 {
      background-image: url(../images/icon/corner-right.svg);
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      width: 17.56rem;
      height: 15.03rem;
      grid-row: 2;
      grid-column: 3;
      justify-self: center;

      @include on-desktop {
        margin-left: -2rem;
        transform: scale(0.7);
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        background-color: $contrast-color;
        top: 97.5%;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        background-color: $contrast-color;
        top: 0;
        left: 98%;
      }
    }

    &--pos--3 {
      background-image: url(../images/icon/double-corner.svg);
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      width: 7rem;
      height: 15.03rem;
      transform: rotate(180deg);
      grid-column: 2;
      grid-row: 3;
      place-self: center;

      @include on-medium-desktop {
        margin-left: -4rem;
      }

      @include on-desktop {
        margin-left: -10rem;
        transform: scale(0.8);
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        background-color: $contrast-color;
        top: 26%;
        left: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        background-color: $contrast-color;
        top: 10.6rem;
        left: -0.3rem;
      }
    }

    &--pos--img {
      background-image: url(../images/icon/Ellipse\ 2.15.svg);
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      width: 7rem;
      transform: rotate(358deg);

      grid-row: 2/4;
      grid-column: 2/3;
      justify-self: center;
      margin-left: 10rem;

      @include on-medium-desktop {
        margin-left: 5rem;
      }

      @include on-desktop {
        margin-left: -2rem;
      }

    }

    @include on-large-tablet {
      visibility: hidden;
      display: none;
    }
  }

  &__image {
    display: block;
    max-width: 30rem;
    width: 100%;
    height: 18.38rem;
    object-fit: contain;
    margin: 0 auto;

    grid-row: 2/4;
    grid-column: 2/4;
    place-self: center;

    @include on-mobile {
      grid-row: 2/4;
      grid-column: 1/4;

      width: 50%;
    }
    &:hover {
      animation: spin 5s linear infinite;
    }

    &:hover ~ .tech__vector--pos--1,
    &:hover ~ .tech__vector--pos--2,
    &:hover ~ .tech__vector--pos--3 {
      &::before,
      &::after {
        animation: pulse 1.5s ease-in-out infinite;
      }
    }
  }

  &__title {
    grid-column: 4;

    @include on-desktop {
      white-space: nowrap;
    }

    @include on-large-tablet {
      grid-column: 1;
    }

    @include on-mobile {
      grid-row: 1;
    }
  }

  &__plus.active + &__card {
    visibility: visible;
    opacity: 1;
  }

  &__plus {
    display: none;
    visibility: hidden;

    @include on-large-tablet {
      visibility: visible;
      display: flex;

    }
  }
}

// Animation SPIN

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.plus {
  position: relative;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: $contrast-color;
  transition: all 0.3s;

  @media (max-width:500px) {
    width: 1.87rem;
    height: 1.87rem;
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color: $white;
    transition: all 0.3s;
    pointer-events: none;
    &--hor {
      height: 1px;
      width: 35%;
    }

    &--ver {
      height: 35%;
      width: 1px;
    }
  }

  &.active {
    background-color: #07798b;
    border: 2px solid rgba(255, 255, 255, 0.14);

    .plus__line--ver {
      height: 0;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(0.7);
  }
}
