.tech {
  background-color: $black;
  @include section-padding;
  &__grid-clone {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
  }
  &__section-title {
    @include section-title;
    grid-column: 12 / span 5;
  }
  &__contrast {
    @include section-title-contrast;
  }
  &__product {
    text-align: center;
    margin-top: 140px;
  }
  &__product-wrapper {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
  }
  &__photo {
    width: 100%;
    height: 100%;
  }
  &__arrow {
    position: absolute;
    &:nth-child(2) {
      top: -47px;
      left: -283px;
    }
    &:nth-child(3) {
      top: 62px;
      left: -242px;
    }
    &:nth-child(4) {
      top: 42px;
      left: -13px;
    }
    &:nth-child(5) {
      top: -48px;
      left: 151px;
    }
  }
  &__profile {
    text-align: left;
    position: absolute;
    &:nth-child(9) {
      top: -54px;
      left: -382px;
      width: 250px;
    }
    &:nth-child(10) {
      top: 160px;
      left: -382px;
      width: 250px;
    }
    &:nth-child(11) {
      top: -62px;
      left: 352px;
      width: 345px;
    }
  }
  
  &__title {
    @include statement-title;
    margin-bottom: 20px;
  }
  &__list {
    @include statement-text;
  }
  &__adaptive-toggler {
    display: none;
    position: absolute;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: $contrast-color;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 36%;
      height: 2px;
      border-radius: 1px;
      background-color: $white;
      transform: translate(-50%, -50%);
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 36%;
      border-radius: 1px;
      background-color: $white;
      transform: translate(-50%, -50%);
      transition: transform 0.3s;
    }
    &:nth-child(6) {
      top: -21px;
      left: 37px;
    }
    &:nth-child(7) {
      top: 252px;
      left: -54px;
    }
    &:nth-child(8) {
      top: 120px;
      left: 215px;
    }
  }

  &__adaptive-toggler:hover::after {
    transform: translate(-50%, -50%) rotateZ(90deg);
  }
  &__profile-adapt {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: $main-background-color;
    text-align: left;
    padding: 10px 15px;
    border-radius: 10px;
    transition: opacity 0.2s;
  }
  &__adaptive-toggler:nth-child(6):hover ~ &__profile-wrapper &__profile-adapt:nth-child(1) {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  &__adaptive-toggler:nth-child(7):hover ~ &__profile-wrapper &__profile-adapt:nth-child(2) {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  &__adaptive-toggler:nth-child(8):hover ~ &__profile-wrapper &__profile-adapt:nth-child(3) {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  &__profile-wrapper {
    position: absolute;
    top: 46px;
    left: 0;
    width: 72%;
    height: 97%;
    z-index: 3;
  }
  
  @media (max-width:1200px) {
    &__profile,
    &__arrow {
      display: none;
    }
    &__adaptive-toggler {
      display: block;
      z-index: 2;
    }
  }
  @media (max-width: 450px) {
    &__adaptive-toggler:nth-child(7) {
      left: -30px;
    }
  }
  @media (max-width: 350px) {
    &__adaptive-toggler:nth-child(7) {
      left: -15px;
    }
  }
}
