.title {
  position: relative;

  font-family: "Mark-Heavy", Geneva, Verdana, sans-serif;
  font-size: $title-size-mobile;
  color: $white;
  font-weight: normal;
  line-height: $title-line;
  text-transform: uppercase;

  &__strong {
    font-family: "Quantum", Geneva, Verdana, sans-serif;
    color: $contrast-color;
  }

  &--size {
    font-size: $header-title-moile;
    line-height: $header-line;
  }
  @media (min-width: 769px) {
    &--centering {
      text-align: center;
    }
  }
}
