.title {
  &__accent {
    color: $accent-color;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
  }

  &__subtitle {
    margin: 0;
    color: $accent-color;
    font-size: 14px;
    line-height: 1;
  }
}
