/* Приховане модальне вікно за замовчуванням */
.modal {
  pointer-events: none;

  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  opacity: 0;
  background-color: rgba($color: #000, $alpha: 0.7);

  transition: all 0.5s;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;

  &:target {
    pointer-events: all;
    transform: scale(1);
    opacity: 1;
  }

  &:active {
    display: flex;
  }

  &-content {
    position: relative;

    width: 100%;
    max-width: 900px;
    border-radius: 12px;

    background: #000;
  }

  &__video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  &__video-wrapper iframe {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    border: none;
  }

  &__close {
    cursor: pointer;

    position: absolute;
    top: -40px;
    right: 0;

    border: none;

    font-size: 40px;
    color: white;
    text-decoration: none;

    background: none;
  }

  &__buy{
    pointer-events: none;

    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    opacity: 0;
    background-color: rgba($color: #000, $alpha: 0.7);

    transition: all 0.5s;
    transition:
    transform 0.3s ease,
    opacity 0.3s ease;

    &:target {
      pointer-events: all;
      transform: scale(1);
      opacity: 1;
    }

    &:active {
      display: flex;
    }
  }
}
