.video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s;
  visibility: hidden;

  &-play-button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }

  &.showed {
    position: fixed;
    z-index: 7;
    overflow: visible;
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 1.88rem 1.25rem;
    background-color: rgba(0,0,0,0.7);
  }

  &__item {
    position: relative;
    flex: 0 1 54.75rem;
    max-height: 30.38rem;
    border-radius: 0.5rem;

    & iframe {
      width: 100%;
      object-fit: cover;
      height: 30rem;
      border: none;
    }
  }

  &__icon-cross {
    display: inline-block;
    position: absolute;
    z-index: 8;
    top: 1rem;
    right: -1.5rem;
    width: 1.5rem;
    height: 0.88rem;
    background-color: transparent;
    outline: none;
    border: none;

    &::before {
      content: "";
      position: absolute;
      z-index: 8;
      height: 0.13rem;
      width: 100%;
      right: 0;
      background-color: #fff;
      transition: all 0.3s ease 0s;

      top: calc(50% - 0.06rem);
      transform: rotate(-45deg);
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 9;
      height: 0.13rem;
      width: 100%;
      right: 0;
      background-color: #fff;
      transition: all 0.3s ease 0s;

      bottom: calc(50% - 0.06rem);
      transform: rotate(45deg);
    }
  }
}
