.video-button {
  all: unset;
  width: 220px;
  height: 70px;
  cursor: pointer;
  background-image: url('../images/play-video.svg');
  background-position: left 0%;
  background-repeat: no-repeat;
  color: $first-text-color;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  @include hover(background-image, url(../images/play-video-active.svg));
}
