.why {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  padding-bottom: 175px;
  background: linear-gradient(109deg, #191536 0%, #000 77.34%);

  &__container {
    @include contentPaddingInline;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 88px;
  }
}

.why__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.why__header {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.reason {
  width: 348px;
}
