.header {
  background: linear-gradient(107.56deg, #191536 0%, #000 100%);
  padding-top: 47px;

  @media (max-width:1024px) {
    padding-top: 30px;
  }

  @media (max-width:760px) {
    padding-top: 20px;
  }
}
