.menu-container {
  display: flex;
  justify-content: space-around;
  width: 100%;

  &__language {
    margin-top: 17px;
    @include text;
    color: #05c2df;
    background-color: #191536;
    border: none;
    height: 20px;

    @media (max-width:1024px) {
      display: none;
    }
  }
}
