.menu-picture {
  padding-top: 15px;

  @media (max-width:1024px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width:760px) {
    width: 280px;
    display: flex;
    justify-content: space-between;
  }
}

.logo-menu {
  display: none;

  @media (max-width:1024px) {
    display: block;
  }

  @media (max-width:760px) {
    padding-bottom: 10px;
  }
}
