.slider {

  &__picture {
    position: absolute;
    top: -150px;
    left: 355px;

    @media (max-width:1300px) {
      width: 710px;
      height: 590px;
    }

    @media (max-width:1100px) {
      width: 610px;
      height: 490px;
      top: -50px;
      left: 395px;
    }

    @media (max-width:1024px) {
      width: 485px;
      height: 440px;
      top: -50px;
      left: 270px;
    }

    @media (max-width:760px) {
      display: none;
    }
  }
}

.info-container--slider {
  position: relative;
}

.slider-phone {

  &__picture {
    display: none;

    @media (max-width:760px) {
      display: block;
      width: 280px;
    }
  }
}
