.slider-button {
  width: 210px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 97px;
  cursor: pointer;
  border-bottom: 1px solid #212121;
  @include text;
  padding: 10px 0 0;

  &__previous {
    color: #929292;
    border-bottom: 1px solid #93ebf8;
  }

  @media (max-width:1024px) {
    display: none;
  }
}

.slider-button--size {
  margin-left: 135px;
  margin-bottom: 0;

  @media (max-width:1024px) {
    display: none;
  }
}
