@import "about-product";
@import "about-us";

.about {
  padding: $padding-mobile;

  background: linear-gradient(146.86deg, #191536 -0.5%, #000 99.5%);

  &__wrapper {
    width: 87.5vw;
    margin: 0 auto;
  }

  &__about-product {
    margin-bottom: 79px;
  }

  @include tablet-screen {
    padding: $padding-tablet;

    &__wrapper {
      width: 91vw;
    }

    &__about-product {
      position: relative;

      margin-bottom: 107px;
    }
  }

  @include desktop-screen {
    padding: $padding-desktop;

    &__wrapper {
      width: 82vw;
    }

    &__about-product {
      margin-bottom: 235px;
    }
  }

  @include extra-screen {
    padding: 150px 234px 165px 327px;

    &__wrapper {
      max-width: 1500px;
      margin: 0 auto;
    }

    &__about-product {
      margin-bottom: 235px;
      margin-left: 276px;
    }
  }
}
