@import "about__product";
@import "about__us";

.about {
  padding: $padding-mobile;

  background: linear-gradient(146.86deg, #191536 -0.5%, #000 99.5%);

  &__wrapper {
    width: 87.5vw;
    margin: 0 auto;
  }

  @include tablet-screen {
    padding: $padding-tablet;

    &__wrapper {
      width: 91vw;
    }
  }

  @include desktop-screen {
    padding: $padding-desktop;

    &__wrapper {
      width: 82vw;
    }
  }

  @include extra-screen {
    padding: 150px 234px 165px 327px;

    &__wrapper {
      width: 71vw;
    }
  }
}
