@import "about__product";
@import "about__us";

.about {
  padding: 50px 20px;

  background: linear-gradient(146.86deg, #191536 -0.5%, #000 99.5%);

  &__wrapper {
    width: 87.5vw;
    margin: 0 auto;
  }

  @include tablet-screen {
    padding: 70px 34px 55px;

    &__wrapper {
      width: 91vw;
    }
  }

  @include desktop-screen {
    padding: 105px 120px 105px 110px;

    &__wrapper {
      width: 82vw;
    }
  }

  @include extra-screen {
    padding: 147px 234px 165px 327px;

    &__wrapper {
      width: 71vw;
    }
  }
}
