@mixin on-desktop($break-point) {
  @media (min-width: $break-point) {
    display: flex;
    padding: 100px;
    justify-content: center;

    &__vr-img {
      margin-bottom: 170px;
    }

    &__cc-number-wrapper {
      min-width: 450px;
    }
  }
}
