@mixin on-desktop($break-point) {
  @media (min-width: $break-point) {
    padding: 100px;
    display: none;
    flex-direction: row;
    justify-content: center;

    &--is-active {
      display: flex;
    }

    &__vr-img {
      margin-bottom: 170px;
      margin-left: 125px;
    }

    &__cc-number-wrapper {
      min-width: 450px;
    }
  }
}
