@mixin on-laptop($break-point) {
  @media (min-width: $break-point) {

    &__input {
      height: 55px;
    }

    &__vr-img {
      margin-bottom: 270px;
    }

    &__cc-number-wrapper {
      min-width: 550px;
    }
  }
}
