@mixin on-tab($break-point) {
  @media (min-width: $break-point) {
    &__vr-img {
      display: block;
      margin-left: 50px;
    }

    &__qty-details {
      justify-content: center;
      gap: 150px;
    }

    &__card-details {
      padding: 0 150px 60px;
    }

    &__card-icon {
      display: inline;
    }

    &__btn {
      margin-top: 75px;
    }
  }
}
