@mixin on-laptop($break-point) {
  @media (min-width: $break-point) {
    &__info {
      padding: 160px;
    }

    &__info-articles {
      padding: 0 75px;
    }

    &__product {
      padding: 150px 260px 160px 330px;
    }

    &__aboutus {
      content: url("../images/photos/aboutus_xl.png");
    }
  }
}
