.links-container {
  margin-top: 65px;
  margin-bottom: 102px;
  width: 50%;
  display: flex;
  justify-content: space-between;

  @media (max-width:1024px) {
    margin-top: 88px;
    margin-bottom: 55px;
    width: 33%;
  }

  @media (max-width:760px) {
    display: none;
  }
}

.darck {
  @media (max-width:1024px) {
    display: none;
  }
}
