.product-card {

  position: relative;

  &__circle1 {
    display: none;

    @media (max-width:1100px) {
      display: block;
      position: absolute;
      top: -40px;
      left: 360px;
    }

    @media (max-width:1024px) {
      display: block;
      position: absolute;
      top: -30px;
      left: 265px;
    }

    @media (max-width:760px) {
      display: block;
      position: absolute;
      top: -15px;
      left: 105px;
      width: 32px;
      height: 32px;
    }
  }

  &__circle2 {
    display: none;

    @media (max-width:1100px) {
      display: block;
      position: absolute;
      top: 220px;
      left: 250px;
    }

    @media (max-width:1024px) {
      display: block;
      position: absolute;
      top: 220px;
      left: 170px;
    }

    @media (max-width:760px) {
      display: block;
      position: absolute;
      top: 100px;
      left: 45px;
      width: 32px;
      height: 32px;
    }
  }

  &__circle3 {
    display: none;

    @media (max-width:1100px) {
      display: block;
      position: absolute;
      top: 120px;
      left: 530px;
    }

    @media (max-width:1024px) {
      display: block;
      position: absolute;
      top: 110px;
      left: 440px;
    }

    @media (max-width:760px) {
      display: block;
      position: absolute;
      top: 55px;
      left: 170px;
      width: 32px;
      height: 32px;
    }
  }

  &__picture {
    display: block;
    margin-left: 30%;
    margin-top: 141px;
    padding-bottom: 100px;

    @media (max-width:1100px) {
      padding-bottom: 80px;
    }

    @media (max-width:760px) {
      padding-bottom: 50px;
      width: 197px;
      height: 194px;
      margin-left: 15%;
      margin-top: 41px;
    }
  }

  &__img {
    position: relative;
  }

  &__vector1 {
    position: absolute;
    top: -48px;
    left: 65px;

    @media (max-width:1100px) {
      display: none;
    }
  }

  &__vector2 {
    position: absolute;
    top: -60px;
    left: 535px;

    @media (max-width:1100px) {
      display: none;
    }
  }

  &__vector3 {
    position: absolute;
    top: 55px;
    left: 210px;

    @media (max-width:1100px) {
      display: none;
    }
  }

  &__elipce {
    position: absolute;
    top: 33px;
    left: 312px;

    @media (max-width:1100px) {
      display: none;
    }
  }

  &__title {
    @include title;
    font-size: 18px;
    line-height: 23px;
  }

  &__text {
    @include text;
    color: #929292;
  }
}

.product-card--vector1 {
  width: 250px;
  position: absolute;
  top: -75px;
  left: -20px;

  @media (max-width:1100px) {
    display: none;
  }
}

.product-card--vector2 {
  width: 250px;
  position: absolute;
  top: 133px;
  left: 75px;

  @media (max-width:1100px) {
    display: none;
  }
}

.product-card--vector3 {
  width: 335px;
  position: absolute;
  top: -90px;
  left: 743px;

  @media (max-width:1100px) {
    display: none;
  }
}
