.slider-container {
  position: relative;

  &__picture {
    margin-top: 105px;
    margin-left: 130px;
    margin-bottom: 12px;

    @media (max-width:1024px) {
      width: 340px;
      height: 270px;
      margin-top: 70px;
      margin-left: 0;
    }

    @media (max-width:760px) {
      width: 280px;
      height: 190px;
      margin: 0;
    }
  }

  &__span {
    @include regular;
    color: #05c2df;
    position: absolute;
    top: 106px;
    left: 100px;

    @media (max-width:1024px) {
      display: none;
    }
  }
}
