@keyframes blink {
  0% {
    filter: drop-shadow(0 0 5px $c-blue);
  }

  10% {
    filter: none;
  }

  20% {
    filter: drop-shadow(0 0 5px $c-blue);
  }

  30% {
    filter: none;
  }

  40% {
    filter: drop-shadow(0 0 5px $c-blue);
  }

  50% {
    filter: none;
  }

  100% {
    filter: drop-shadow(0 0 15px $c-blue);
  }
}
