@keyframes up {
  from {
    transform: translateY(100vh);

    opacity: 0;
  }
  to {
    transform: translateY(0);

    opacity: 1;
  }
}

@keyframes down {
  from {
    transform: translateY(-100vh);

    opacity: 0;
  }
  to {
    transform: translateY(0);

    opacity: 1;
  }
}
