@keyframes slideRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-2%);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(2%);
  }
}
