%h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 130%;

  @include onDesktop {
    font-size: 42px;
  }
}

%h2 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 21px;
  line-height: 130%;

  @include onDesktop {
    font-size: 36px;
  }
}

%h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
}

%links {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
}

%text16 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

%text14 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

%textMob {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}
