
%markRegular {
  font-family: "Mark-Regular", serif;
  line-height: 150%;
}

%markMedium {
  font-family: "Mark-Medium", serif;
  line-height: 150%;
}

%markHeavy {
  font-family: "Mark-Heavy", serif;
}

%headLine1 {
  @extend %markHeavy;
  font-size: 26px;
  line-height: 140%;
}

%headLine1mob {
  @extend %markHeavy;
  font-size: 26px;
  line-height: 130%;
}

%headLine2 {
  @extend %markHeavy;
  font-size: 36px;
  line-height: 46px;
}

%headLine2mob {
  @extend %markHeavy;
  font-size: 21px;
  line-height: 125%;
  color: $whiteColor;
}

%headLine3 {
  @extend %markHeavy;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}

%headLine3mob {
  @extend %markRegular;
  font-size: 16px;
  line-height: 20px;
  color: $whiteColor;
}

%linksButtons {
  @extend %markMedium;
  font-size: 16px;
}

%textStandart {
  @extend %markRegular;
  font-size: 12px;
  line-height: 125%;
}

%textMedium {
  @extend %markRegular;
  font-size: 16px;
  line-height: 150%;
}

%textQuantum {
  font-family: "Quantum", serif;
  color: $contrastColor;
}

%bgStyle {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
