%h1 {
  font-size: 26px;
  line-height: 33.8px;
  color: $c-white;
  margin: 0;

  @include on-desktop {
    font-size: 46px;
    line-height: 59.8px;
  }
}

%h2 {
  font-weight: 900;
  font-size: 21px;
  line-height: 25.41px;
  margin: 0;

  @include on-desktop {
    font-size: 36px;
    line-height: 43.57px;
  }
}

%h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
}

%text-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  color: $c-white;
  margin: 0;
}

%text-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $c-text;
  margin: 0;
  align-items: left;
}

%text-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  color: $c-white;
  margin: 0;
}

%text-nav {
  margin: 0;
  text-decoration: none;
}

%text-nav-top-bar {
  font-weight: 500;
  font-size: 16px;
  line-height: 20.08px;
}

%text-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

%text-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  margin: 0;
}

%text-more-than-gaming {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  margin: 0;
}

%text-hello {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  margin: 0;
}

%text-bolt {
  font-weight: 900;
  font-size: 16px;
  line-height: 19.36px;
  margin: 0;
  color: $c-white;
}

%text-after-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  color: $c-text;

  @include on-tablet {
    font-size: 16px;
    line-height: 24px;
  }
}

%text-decoration {
  text-decoration: none;
}

%text-footer {
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
  color: $c-white;
  margin: 0;
  padding: 0;

  @include on-tablet {
    font-size: 14px;
    line-height: 22px;
  }

  &:hover {
    color: $c-contrast;
  }
}

%order {
  font-size: 12px;
  font-weight: 500;
  line-height: 15.6px;
  color: $c-text-date;
  margin: 0;

  @include on-tablet {
    font-size: 14px;
    line-height: 18.2px;
  }
}

%price {
  font-weight: 500;
  font-size: 26px;
  line-height: 31.47px;
}

%text-select-buynow {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $c-white;
  margin: 0;
}

%text-select-buynow-city {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  color: $c-white;
  margin: 0;
}

%text-pay {
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
  margin: 0;
}
