%text-title {
  @include textDesign (21px, bold, 27px);
  color: $white-color;
  text-transform: uppercase;

  @include onDesktop {
    font-size: 36px;
    line-height: 46px;
  }
}

%text-subtitle {
  @include textDesign (18px, bold, 23px);
  color: $white-color;
  text-transform: uppercase;

  @include onTablet {
    font-size: 16px;
    line-height: 20px;
  }
}

%quantum {
  font-family: Quantum, sans-serif;
  color: $blue-color;
}
