%h1 {
  font-weight: 900;
  line-height: 130%;
  color: $c-white;
}

%p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $c-text-gray;
}

%text--blue {
  font-weight: normal;
  color: $c-contrast-blue;
}

%block-content {
  height: 100vh;
  padding: 20px 0;
  box-sizing: border-box;
}

%remove-spin-buttons {
  appearance: none;
  -moz-appearance: textfield;
  
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
