%quant {
  font-family: "Quantum";
}

%markM {
  font-family: "MarkMedium", sans-serif;
};

%markR {
  font-family: "MarkOrdinary", sans-serif;
}

%markH {
  font-family: "MarkHeavy", sans-serif;
}

%h1 {
  @extend %markH;
  font-size: 46px;
  line-height: 130%;
}

%h2 {
  @extend %markH;
  font-size: 36px;
  line-height: auto;
}

%h3 {
  @extend %markH;
  font-size: 16px;
  line-height: auto;
}

%h1mob {
  @extend %markH;
  font-size: 26px;
  line-height: 130%;
}

%h2mob {
  @extend %markH;
  font-size: 21px;
  line-height: 130%;
}

%pmob {
  @extend %markR;
  font-size: 12px;
  line-height: auto;
}

%buttons-links {
  @extend %markM;
  font-size: 12px;
  line-height: auto;
}

%pbig {
  @extend %markM;
  font-size: 16px;
  line-height: 130%;
}

%psmall {
  @extend %markM;
  font-size: 14px;
  line-height: auto;
}

%pregular {
  @extend %markR;
  font-size: 16px;
  line-height: 150%;
}

%pheader {
  @extend %markM;
  font-size: 20px;
  line-height: 150%;
}
