%h1 {
  font-family: Mark-Heavy, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  color: $white;
  text-transform: uppercase;

  @include onDesktop {
    font-size: 46px;
    line-height: 60px;
  }
}

%h2 {
  font-family: Mark-Heavy, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  color: $white;
  text-transform: uppercase;

  @include onDesktop {
    font-size: 36px;
    line-height: 46px;
  }
}

%h3 {
  font-family: Mark-Heavy, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
}

%a {
  font-family: Mark-Medium, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $white;
}

%p {
  font-family: Mark-Regular, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: $white;

  @include onDesktop {
    font-size: 14px;
    line-height: 20px;
  }
}

%p-lg {
  font-family: Mark-Regular, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $textGrey;
}

%blue-accent {
  color: $contrastBlue;
}

%strong {
  font-family: Quantum, sans-serif;
  @extend %blue-accent;
}
