%h1 {
  font-size: 26px;
  font-weight: 900;
  line-height: 130%;

  @include onDesctop {
    font-size: 46px;
  }

  @include onLargeDesctop {
    font-size: 54px;
  }
}

%h2 {
  color: $color-white;
  font-size: 21px;
  font-weight: 900;

  @include onDesctop {
    font-size: 36px;
  }
}

%h3 {
  color: $color-white;
  font-size: 16px;
  font-weight: 900;
}

%text-header {
  color: $color-text-body;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

%text-body {
  color: $color-text-body;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

%text-link {
  color: $color-white;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
}

%after-underline {
  content: "";
  position: absolute;
  bottom: -10px;
  display: block;
  height: 1px;
  // width: 100%;
  background-color: $color-1;
}

%text-placeholder {
  color: $color-text-body;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}
