@font-face {
  font-family: "Quantum";
  src: url("../fonts/QuantumRegular.eot");
  src: local("Quantum"),
    local("QuantumRegular"),
    url("../fonts/QuantumRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/QuantumRegular.woff2") format("woff2"),
    url("../fonts/QuantumRegular.woff") format("woff"),
    url("../fonts/QuantumRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mark";
  src: url("../fonts/Mark-Medium.eot");
  src: local("Mark-Medium"),
    url("../fonts/Mark-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Mark-Medium.woff2") format("woff2"),
    url("../fonts/Mark-Medium.woff") format("woff"),
    url("../fonts/Mark-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mark";
  src: url("../fonts/Mark-Heavy.eot");
  src: local("Mark-Heavy"),
    url("../fonts/Mark-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Mark-Heavy.woff2") format("woff2"),
    url("../fonts/Mark-Heavy.woff") format("woff"),
    url("../fonts/Mark-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Mark";
  src: url("../fonts/Mark-Regular.eot");
  src: local("Mark-Regular"),
    url("../fonts/Mark-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Mark-Regular.woff2") format("woff2"),
    url("../fonts/Mark-Regular.woff") format("woff"),
    url("../fonts/Mark-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
