.button-buy {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
  padding: 13px 0;
  background-color: $blue;
  border-radius: 4px;
  outline: none;
  border: none;

  &:hover {
    background-color: #fff;
    color: $blue;
  }

  &:disabled {
    background: #191536;
    color: $gray;
  }
}

.button-homepage {
  padding: 13px 35px;
}

.select {
  position: relative;
  color: #fff;
  background: #191536;
  border-radius: 4px;
  padding: 13px 24px;

  &__text {
    white-space: nowrap;
    margin-right: 5px;
    cursor: pointer;
  }

  &__items {
    background: #191536;
    border-radius: 4px;
    z-index: 2;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    transform: translateY(100%);
    outline: none;
    overflow: hidden;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }

  &__item {
    cursor: pointer;
    padding: 5px 0;
    white-space: nowrap;
    border-right: 1px solid #014954 ;

    &:hover {
      border-right: 1px solid #05c2df;
    }
  }

  &__arrow {
    position: absolute;
    cursor: pointer;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid $blue;
  }
}
