@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin textH1 {
  font-family: "Mark-Heavy", sans-serif;
  font-size: 46px;
  line-height: 1.3;
}

@mixin textH1mob {
  font-family: "Mark-Heavy", sans-serif;
  font-size: 26px;
  line-height: 1.3;
}

@mixin textH2 {
  font-family: "Mark-Heavy", sans-serif;
  font-size: 36px;
}

@mixin textH2mob {
  font-family: "Mark-Heavy", sans-serif;
  font-size: 21px;
  line-height: 1.3;
}

@mixin textH3 {
  font-family: "Mark-Heavy", sans-serif;
  font-size: 16px;
}

@mixin textLink {
  font-family: "Mark-Medium", sans-serif;
  font-size: 16px;
}

@mixin text1 {
  font-family: "Mark-Regular", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@mixin text2 {
  font-family: "Mark-Regular", sans-serif;
}

@mixin text3mob {
  font-family: "Mark-Regular", sans-serif;
  font-size: 12px;
}
