@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-widtx) {
    @content;
  }
}

@mixin padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desktop {
    padding-inline: 110px;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;

  @include on-tablet {
    --columns: 6;

    column-gap: 20px;
  }

  @include on-desktop {
    --columns: 12;

    column-gap: 30px;
  }
}

@mixin button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 48px;
  border-radius: 4px;

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: $white-color;
  text-decoration: none;

  background-color: $main-blue-color;

  transition: all 0.3s;

  &:hover {
    color: $main-blue-color;
    background-color: $white-color;
  }
}

@mixin select {
  cursor: pointer;

  height: 41px;
  padding-right: 24px;
  border: none;

  font-family: Inter, sans-serif;
  font-size: 18px;
  color: $white-color;
  text-align: center;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: $auxiliary-windows-color;
  background-image: none;
  outline: none;

  &::after {
    pointer-events: none;
    content: '';

    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);

    width: 0;
    height: 0;
    border-top: 7px solid $main-blue-color;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }
}
