@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin onFullHd {
  @media (min-width: 1920px) {
    @content;
  }
}

@mixin menu($side) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transform: translateX($side);
  transition: transform 0.5s;

  &:target {
    transform: translateX(0);
  }
}
