* {
  box-sizing: border-box;
}

.page {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body,
ul,
ol,
li,
h1,
h2,
p {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

ul[class],
ol[class] {
  list-style: none;
}

a[class] {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}
