body,
div,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

address {
  font-style: normal;
}

a,
a:focus,
a:active,
a:visited,
a:hover {
  outline: none;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
  outline: none;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(255, 255, 255, 1);
  transition: background-color 5000s ease-in-out 0s;
}
