:root {
  // #region Media Break Point related max-widht and max-height
  --hero-max-width: 1922px;
  --hero-max-height: 1100px;

  --hero-max-width_PC: 1280px;
  --hero-max-height_PC: 740px;

  --hero-max-width_Tab: 768px;
  --hero-max-height_Tab: 445px;

  --hero-max-width_Mob: 320px;
  --hero-max-height_Mob: 730px;
  // #endregion

  // #region Hero

  // #endregion
}
