@use 'vars' as *;
@use 'sass:color';

// ==========================================================================
// SECTION THEMES & BACKGROUNDS
// ==========================================================================

.section {
  &--gradient {
    background: linear-gradient(180deg, $c-purple-dark 0%, $c-black 100%);
  }

  &--dark {
    background-color: $c-near-black;
  }

  &--black {
    background-color: $c-black;
  }
}
