@mixin h1-web {
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 46px;
  line-height: 59.8px;
  text-transform: uppercase;
}

@mixin h2-web {
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 43.57px;
  text-transform: uppercase;
}

@mixin h3-web {
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 19.36px;
  text-transform: uppercase;
}

@mixin buttons-web {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

@mixin text-web {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-grey;
}

@mixin text-web-small {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

/// MOBILE ///

@mixin h1-mobile {
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 33.8px;
  color: $color-white;
  text-transform: uppercase;
}

@mixin h2-mobile {
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 21px;
  line-height: 25.41px;
  color: $color-white;
  text-transform: uppercase;
}

@mixin h3-mobile {
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 21.78px;
  color: $color-white;
  text-transform: uppercase;
}

@mixin text-mobile {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-grey;
}

@mixin text-mobile-small {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: $color-blue;
}
