@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
  font-weight: $font-weight-regular;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.ttf");
  font-weight: $font-weight-medium;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.ttf");
  font-weight: $font-weight-black;
}
