$c-gray: #eee;

$colorContrast: #05c2df;
$colorBackqround: #05040b;
$colorDark: #2f2f2f;
$colorText: #929292;
$colorWhite: #fff;
$colorPlus: #191536;
$gradient: linear-gradient(107.56deg, #191536 0%, #000 100%);
