/* indentation */

$inline-padding-mobile: 20px;
$inline-padding-tablet: 34px;

/* colors */

$white: #fff;
$blue: #05C2DF;
$background-menu: #191536;
$background-default: #05040B;
$grey: #929292;
$dark-grey: #545454;