
$contrastColor: #05c2df;
$bgBlack: #05040b;
$bgGradientHeader: linear-gradient(100.83deg, #191536 0.67%, #000 100%);
$bgGradientMenu: linear-gradient(107.56deg, #191536 0%, #000 100%);
$bgGradientMain: linear-gradient(146.86deg, #191536 -0.5%, #000 99.5%);
$bgMenu: #191536;
$darkGrey: #2f2f2f;
$textColor: #929292;
$whiteColor: #fff;
$bgActiveZone: rgba(196, 196, 196, 0.03);
