// #region Colors
$white: #fff;
$black: #000;
$primary: #05c2df;
$gray: #929292;
$darkGray: #2f2f2f;
$bgBlack: #05040b;
$bgGradientBlue: #191536;
// #endregion

// #region Media Brak-Points
$laptop: 1922px;
$desktop: 1280px;
$tab: 768px;
// #endregion

// #region Typography Size Variables
$weight-1: 100;
$weight-4: 400;
$weight-5: 500;
$weight-7: 700;
$weight-9: 900;

$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;
$size-26: 26px;
$size-36: 36px;
$size-44: 44px;
// #endregion
