$contrast-color: #05c2df;
$background-black: #05040b;
$dark-grey: #2f2f2f;
$text-color: #929292;
$white-color: #fff;

$tablet-min-width: 744px;
$desktop-min-width: 1280px;

$font-family: "Inter", "Helvetic", sans-serif;
