$contrastColor: #05c2df;
$BackgroundBlack: #05040b;
$darkGrey: #2f2f2f;
$textColor: #929292;
$whiteAccent: #fff;
$blackAccent: #000;
$menuBackground: #191536;
$menuBackgroundHover: #110e25;
$backGroundGradient: linear-gradient(to bottom right, #191536, #000);
$contentMaxWidth: 1140px;
$c-gray: #eee;
