$blue-color: #05c2df;
$background-black-color: #05040b;
$dark-grey-color: #2f2f2f;
$text-color: #929292;
$white-color: #fff;
$background-gradient: linear-gradient(100.83deg, #191536 0.67%, #000 100%);
