$c-b: #05c2df;
$c-black: #05040b;
$c-g: #2f2f2f;
$c-gd: #484848;
$c-gl: #929292;
$c-w: #fff;
$c-f: #000;
$c-dis: #191536;

$gradient-1: linear-gradient(107.56deg, #1a1536 0%, #000 100%);
$gradient-2: linear-gradient(146.86deg, #1a1536 1%, #000 90%);
$gradient-3: linear-gradient(108.62deg, #1a1536 0%, #000 77%);
$gradient-4: linear-gradient(180deg,  #00000036, #04040459, #050505 100%);

$icon-l: 14px;
$icon: 18px;
$icon-b: 23px;
