$contrast-color: #05c2df;
$background-color: #05040b;
$dark-grey: #2f2f2f;
$text-color: #929292;
$white: #fff;
$gradient-start: #191536;
$gradient-end: #000;
$header-gradient: linear-gradient(
  107.56deg,
  $gradient-start 0%,
  $gradient-end 100%
);

$nav-mobile-hower: #110e25;
//
$slider-round: #484848;
$slider-round-active: #ababab;
$tech-img-round: #0e0c1e;

$page-font-size: 16px;
$page-line-height: 150%;
//
$header-title: 46px;
$header-line: 130%;
$header-title-moile: 26px;
//
$footer-font-size-mob: 13px;
//
$title-size: 36px;
$title-line: 46px;
$title-size-mobile: 21px;
$title-line-mobile: 130%;
//
$subtitle-size: 14px;
$subtitle-line: 18px;
$subtitle-size-mobile: 12px;
//
$card-title-size: 18px;
$card-title-line: 23px;
//
$button-font-size-mobile: 14px;
$art-text-size: 64px;

$contrast-btn-height-mob: 40px;
$tech-img-size-mobile: 197px;
$tech-img-size: 295px;
$slider-round-size: 4px;

$main-hover-duration: 0.5s;
