$color-blue: #05c2df;
$color-darck: #05040b;
$color-white: #fff;
$color-grey-1: #2f2f2f;
$color-grey-2: #929292;
$color-menu: #191536;
$color-menu-selected: #110e25;
$Background-Gradient: linear-gradient(100.83deg, #191536 0.67%, #000 100%);
$icon-size-M: 17px;
