$black: #000;
$backgroundBlack: #05040b;
$darkGray: #2f2f2f;
$modalOverlayColor: rgba(0, 0, 0, 0.7);

$white: #fff;
$textColor: #929292;
$textDarkColor: #545454;
$contrastColor: #05c2df;
$scrollbarBackgroundColor: #014954;
$brightRed: #f00;
$red: #860404;

$buttonActive: #191536;
$buttonActiveText: #2f2f2f;
$buttonBorderColor: rgba(255, 255, 255, 0.14);
$buttonMessageColor: #191536;
$buttonPressedBackgroundColor: #07798b;
$ytButtonColor: #212121;

$menuActiveBackground: #110e25;

$gradient: linear-gradient(100.83deg, #191536 0.67%, #000 100%);
// stylelint-disable-next-line
$navGradient: linear-gradient(180deg, #191536 0%, rgba(25, 21, 54, 0.83) 70.31%, rgba(25, 21, 54, 0) 100%);

$animationDuration: 0.3s;
$animationDurationLong: 0.5s;
$animation: cubic-bezier(0.37,-0.28,0.24,1.15);
