// Colors
$contrast-color: #05c2df;
$background-black: #05040b;
$dark-grey: #2f2f2f;
$text-color: #929292;
$white: #fff;
$color-purple: #191536;
$color-link-hover: #110e25;
$background-gradient: linear-gradient(100.83deg, #191536 0.67%, #000 100%);

// Media Query Breakpoints
$media-tablet: 768px;
$media-desktop: 1280px;
$media-big-screen: 1920px;
