// colors
$contrast: #05c2df;
$bg-black: #05040b;
$dark-gray: #2f2f2f;
$text-color: #929292;
$white: #ffffff;
$dark-purple: #191536;
$bg-gradient: linear-gradient(135deg, #191536 0%, #000000 100%) fixed;

// media queries
$modile: 480px;
$tablet: 768px;
$laptop: 1024px;
