$c-gray: #eee;
$color-blue: #05c2df;
$header-text-color: rgba(255, 255, 255, 1);
$button-color: rgba(47, 47, 47, 1);
$update-color: rgba(84, 84, 84, 1);
$button-color-background: rgba(25, 21, 54, 1);
$main-blue-color: rgba(17, 14, 37, 1);
$button-height: 48px;
$main-color: rgba(0, 0, 0, 1);
$text-color: rgba(146, 146, 146, 1);
$manu-black: rgba(5, 4, 11, 1);
