%h1 {
  font-family: $main-font;
  font-weight: 900;
  line-height: 130%;
  font-size: 26px;
  color: #fff;
  margin: 0;

  @include on-desktop {
    font-size: 46px;
  }

  @include on-widescreen {
    font-size: 54px;
  }

  br {
    @include on-widescreen {
      display: none;
    }
  }

  &-extra {
    font-size: 21px;
  }
}

%h2 {
  font-family: $main-font;
  margin: 0;
  font-size: 21px;
  font-weight: 900;
  color: #fff;
  line-height: 1;

  @include on-desktop {
    font-size: 36px;
  }
}

%h4 {
  font-weight: 900;
  color: #fff;
  margin: 0;
  font-size: 18px;
  line-height: 1;
}

%h5 {
  margin: 0;
  font-weight: 900;
  color: #fff;
  font-size: 16px;
  line-height: 1;

  @include on-tablet {
    font-size: 18px;

  }
}
