@font-face {
  font-family: Mark-Medium;
  src: url(../fonts/FontFont_FF.Mark.Pro.Medium.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Mark-Heavy;
  src: url(../fonts/FontFont_FF.Mark.Pro.Heavy.otf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: Mark-Regular;
  src: url(../fonts/FontFont_FF.Mark.Pro.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Quantum;
  src: url(../fonts/Quantum-400.otf);
  font-style: normal;
  font-weight: normal;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
}

.page {
  font-family: Mark-Medium, sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #929292;
}
