%header-links-behavior {
  display: flex;
  align-items: center;
  color: $color-white;
  height: $top-actions-desktop-height;

  @include transition-basic (color);

  &:hover {
    color: $color-blue;
    text-decoration: underline;
  }
}
