.top-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 18px 0 14px;
  align-items: center;

  &__left {
    display: flex;
    gap: 34px;
    align-items: center;
  }

  &__logo {
    width: 58px;
    height: 12px;
  }

  &__menu {
    width: 20px;
    height: 8px;
  }

  &__en {
    background: none;
    border: none;
    color: $c-contrast;

    @media (max-width: 1280px) {
      display: none;
    }
  }

  &__polygon {
    padding-left: 4px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 36px;

    @media (max-width: 1280px) {
      display: none;
    }
  }

  &__button {
    width: 200px;
    text-align: center;
  }

  &__img {
    @media (min-width: 1279px) {
      display: none;
    }
  }

  &__close-buy {
    height: 14px;
    width: 14px;
  }
}
