
$contrast-color: #05c2df;
$text-gray: #929292;
$white: #fff;

$main-background-color: #191536;
$black: #05040b;

$section-home-padding-top: 47px;
$container-padding-hor: var(--container-padding-md);
$container-width-hd: 1450px;
