$bg-header: linear-gradient(108deg, #191536 0%, #000 100%);
$bg-menu: #191536;
$bg-menu-tablet: rgba(0, 0, 0, .5);
$menu-hover: #110e25;
$color-white: #fff;
$color-blue: #05c2df;
$color-main: #929292;
$color-dark: #05040b;
$color-black: #000;
$color-line: #212121;
$input-line: #2f2f2f;
$nonactive-color: #545454;
$font-family: 'Inter', sans-serif;