$c-gray: #eee;
$grey-text: rgb(146, 146, 146);
$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$font-inter: 'Inter', sans-serif;
$background-gradient: linear-gradient(90deg, #191536, #000);
$background-black: #05040b;
$background-dark-blue: #191536;
$contrast-color: #05c2df;
$dark-grey: #2f2f2f;
$form-invalid: rgba(134, 4, 4, 1);
$dark-grey-text: rgb(47, 47, 47);
$main-turquoise: rgba(5, 194, 223, 1);
$text-color: #929292;
$main-white: rgba(255, 255, 255, 1);
$main-purple: rgba(25, 21, 54, 1);
$linear-gradient: linear-gradient(
  to right bottom,
  rgba(25, 21, 54, 1),
  rgba(0, 0, 0, 1)
);
$effect-duration: 0.3s;
