<section
  class="contact"
  id="contact-us"
>
  <div class="container contact__grid">
    <div class="contact__undertitle">Have any questions?</div>
    <h2 class="contact__title">
      GET IN
      <div class="contact__title-blue">TOUCH</div>
    </h2>
    <form
      id="form"
      method="get"
      class="contact__form"
    >
      <fieldset class="contact__fieldset">
        <legend class="page__legend">Name*</legend>
        <input
          class="place__input"
          type="text"
          name="name"
          id="name"
          required
          minlength="2"
        />
      </fieldset>
      <fieldset class="contact__fieldset">
        <legend class="page__legend">Email*</legend>
        <input
          class="place__input"
          type="email"
          name="email"
          id="email-adress"
          required
          minlength="8"
        />
      </fieldset>
      <fieldset class="contact__fieldset">
        <legend class="page__legend">Phone*</legend>
        <input
          class="place__input"
          type="tel"
          name="tel"
          id="telephone"
          required
          pattern="[0-9+\-\s()]{7,}"
          title="Enter a valid phone number, for example +380731234567"
        />
      </fieldset>
      <fieldset class="contact__fieldset">
        <legend class="page__legend">Message</legend>
        <textarea
          name="message"
          placeholder=" "
          class="contact__textarea"
        ></textarea>
      </fieldset>
      <button class="contact__button">Contact us</button>
      <a
        href="#"
        class="contact__arrow"
      ></a>
    </form>
    <div class="contact__reply">
      Our manager will reply you within 15 minutes
    </div>
    <div class="contact__links">
      <a
        href="tel:+86-0571-86105373"
        class="contact__link"
      >
        +86-0571-86105373
      </a>
      <a
        href="mailto:global@katvr.com"
        class="contact__link"
      >
        global@katvr.com
      </a>
      <a
        href="mailto:overseas@katvr.com"
        class="contact__link"
      >
        overseas@katvr.com
      </a>
    </div>
  </div>
</section>
