.consultation {
  &__heading {
    margin-bottom: 10px;
  }

  &__form {
    margin-bottom: 27px;
  }
}

@media (min-width: $desktop-screen-breakpoint) {
  .consultation {
    &__reply {
      position: absolute;
      top: 35%;
      left: 120px;
    }
  }
}

@media (min-width: $large-screen-breakpoint) {
  .consultation {
    &__reply {
      left: 21.5%;
    }
  }
}
