.consultation {
  &__heading {
    margin-bottom: 10px;
  }

  &__form {
    margin-bottom: 27px;
  }
}

@media (min-width: $desktop-screen-breakpoint) {
  .consultation {
    // display: flex;
    &__reply {
      position: absolute;
      top: 55%;
      left: 120px;
    }
  }
}
