.info {
  &__heading {
    margin-bottom: 30px;
  }

  &__benefits {
    :nth-child(n) {
      margin-bottom: 10px;
    }
    :nth-child(2n) {
      margin-bottom: 20px;
    }
    :last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    display: none;
  }

  &__normal {
    display: none;
  }
}

@media (min-width: $tablet-screen-breakpoint) {
  .info {
    &__heading {
      text-align: center;
    }

    &__benefits {
      display: grid;
      gap: 40px 20px;
      grid-template-columns: repeat(2, 1fr);

      :nth-child(n) {
        margin-bottom: 0;
      }
    }

    &__card {
      display: grid;
      gap: 20px 0;
      text-align: center;
    }

    &__image {
      display: flex;
      justify-self: center;
    }

    &__mobile {
      display: none;
    }

    &__normal {
      display: table;
    }
  }
}

@media (min-width: $desktop-screen-breakpoint) {
  .info {
    &__benefits {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
