.product {
  &__image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__img {
    width: 100%;
  }

  &__slide {
    margin-top: 14px;
    margin-bottom: 20px;
  }

  &__play {
    margin: 15px 0 80px;
  }
}
