<!doctype html>
<nav
  class="page__menu menu"
  id="menu"
>
  <div class="container__menu">
    <div class="menu__content">
      <div class="menu__top">
        <a
          href="#"
          class="icon icon--logo"
        ></a>
        <a
          href="#"
          class="icon icon--cross"
        ></a>
      </div>

      <ul class="menu__list">
        <li class="menu__item">
          <a
            href="#about"
            class="menu__link"
          >
            About
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#tech"
            class="menu__link"
          >
            Tech
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#benefits"
            class="menu__link"
          >
            Benefits
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#contact-us"
            class="menu__link"
          >
            Contact
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#lang"
            class="menu__link"
          >
            Language
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#faq"
            class="menu__link"
          >
            FAQ
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#help"
            class="menu__link"
          >
            Help
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
