<header class="header">
  <div class="container">
    <div class="header__top">
      <a
        href="#"
        class="icon icon--logo"
      ></a>
      <div class="header__language">
        <select name="Language">
          <option value="en">En</option>
          <option value="ua">Ua</option>
          <option value="ar">Ar</option>
          <option value="ch-s">Ch-S</option>
          <option value="ch-t">Ch-T</option>
          <option value="fr">Fr</option>
          <option value="ge">Ge</option>
          <option value="it">It</option>
          <option value="tr">Tr</option>
          <option value="pl">Pl</option>
          <option value="ru">Ru</option>
          <option value="tr">Tr</option>
        </select>
      </div>
      <div class="header__nav--grid">
        <a
          href="#about"
          class="page__link"
        >
          About
        </a>
        <a
          href="#tech"
          class="page__link"
        >
          Tech
        </a>
        <a
          href="#benefits"
          class="page__link"
        >
          Benefits
        </a>
        <a
          href="#contact-us"
          class="page__link"
        >
          Contact
        </a>
      </div>
      <a
        href="#menu"
        class="icon icon--menu"
      ></a>
      <a
        href="#buy"
        class="header__button"
      >
        Buy Now
      </a>
    </div>

    <div class="header__grid-tablet">
      <div class="header__image"></div>
      <div class="header__main">
        <div class="header__title">
          THE NEW START OF
          <br />
          <div class="header__title-blue">VR LOCOMOTION</div>
        </div>
        <div class="header__info-block">
          <div class="header__info">
            Discover the most comprehensive VR Locomotion system, and unlock
            infinite motion in any games on any platforms!
          </div>
          <div class="header__price">1200$</div>
          <a
            href="#"
            class="video__link"
            id="video-link"
          ></a>
        </div>
      </div>
    </div>
    <a
      href="#buy"
      class="header__button"
    >
      Buy Now
    </a>
    <div class="header__bottom">
      <div class="header__nav--grid">
        <div class="header__links">
          <a
            href="#faq"
            class="page__link"
          >
            FAQ
          </a>
          <a
            href="#help"
            class="page__link"
          >
            Help
          </a>
        </div>
        <a
          href="#more"
          class="more__swap"
        ></a>
        <div class="header__links">
          <a
            href="#"
            class="page__link header__link"
          >
            Previous
          </a>
          <a
            href="#"
            class="page__link header__link"
          >
            Next
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
