<!doctype html>
<nav
  class="page__menu--lang lang"
  id="lang"
>
  <div class="container__menu">
    <div class="menu__content">
      <div class="lang__top">
        <a
          href="#menu"
          class="icon icon--arrow"
        ></a>
      </div>

      <ul class="menu__list">
        <li class="menu__item">
          <a
            href="#en"
            class="menu__link"
          >
            English
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#ar"
            class="menu__link"
          >
            Arabic
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#ch-s"
            class="menu__link"
          >
            Chinese (Simplified)
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#ch-t"
            class="menu__link"
          >
            Chinese (Traditional)
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#fr"
            class="menu__link"
          >
            French
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#ge"
            class="menu__link"
          >
            German
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#it"
            class="menu__link"
          >
            Italian
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#po"
            class="menu__link"
          >
            Polish
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#ru"
            class="menu__link"
          >
            Russian
          </a>
        </li>
        <li class="menu__item">
          <a
            href="#ua"
            class="menu__link"
          >
            Ukrainian
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
