<!doctype html>
<nav
  class="page__menu--help help"
  id="help"
>
  <div class="container__menu">
    <div class="menu__content">
      <div class="menu__top">
        <a
          href="#"
          class="icon icon--logo"
        ></a>
        <a
          href="#"
          class="icon icon--cross"
        ></a>
      </div>

      <div class="help__content">
        <h1 class="help__title">
          HOW CAN WE
          <div class="help__title-blue">HELP</div>
          YOU?
        </h1>

        <p class="help__paragraph">
          Welcome to our help center. Our goal is to make the process of getting
          acquainted and purchase as easy and pleasant as possible. Need help
          with your KAT VR loco product? Many product questions can be resolved
          by reviewing our Product Support
          <a
            href="#faq"
            class="help__link"
          >
            FAQs
          </a>
          <br />
          Please also feel free to
          <a
            href="#contact-us"
            class="help__link"
          >
            Contact Us
          </a>
          directly should you need anything further. We`re happy to help.
        </p>
        <div class="help__grid">
          <div class="help__links">
            <a
              href="#"
              class="help__link"
            >
              Instruction manual
            </a>
            <a
              href="#"
              class="help__link"
            >
              Where to go for a warranty
            </a>
            <a
              href="#"
              class="help__link"
            >
              Service Policy
            </a>
          </div>
          <div class="help__contacts">
            <a
              href="tel:+86-0571-86105373"
              class="help__contact"
            >
              +86-0571-86105373
            </a>
            <a
              href="mailto:global@katvr.com"
              class="help__contact"
            >
              global@katvr.com
            </a>
            <a
              href="mailto:overseas@katvr.com"
              class="help__contact"
            >
              overseas@katvr.com
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
