.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1452px;

  @include onTablet {
    padding: 0 34px;
  }

  @include onDesktop {
    padding: 0 110px;
  }

  @include onScreen {
    padding: 0 234px;
  }

  &--modal {

    @include onDesktop {
      padding: 0 90px;
    }

    @include onScreen {
      padding: 0 95px;
    }
  }
}
