.icon {
  text-decoration: none;

  @extend %icon;

  @include hover(scale, 120%);

  &--cross {
    background-image: url(../images/icons/cross.svg);
    height: 18px;
    width: 18px;
    display: flex;

    &:hover {
      background-image: url(../images/icons/crosshover.svg);
    }
  }

  &--back {
    background-image: url(../images/icons/back.svg);
    height: 17px;
    width: 9px;
  }

  &--menu {
    background-image: url(../images/icons/menu.svg);
    height: 10px;
    width: 20px;

    @include onTablet {
      height: 13px;
      width: 30px;
    }

    @include onDesktop {
      display: none;
    }
  }

  &--more {
    display: block;
    border: none;
    color: $color-text-blue;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s;

    &::after {
      content: "";
      display: flex;
      background-image: url(../images/icons/arrowdown.svg);

      @extend %icon;

      height: 6px;
      width: 9px;
      margin: 0 auto;
      position: relative;
      bottom: -7px;
    }

    &:hover {
      color: $color-white;

      &::after {
        content: "";
        display: flex;
        background-image: url(../images/icons/arrowdownhover.svg);

        @extend %icon;

        height: 6px;
        width: 9px;
        margin: 0 auto;
        position: relative;
        bottom: -7px;
      }
    }
  }
}
