.logo {
  display: block;
  background-image: url(../images/icons/logo.svg);
  height: 12px;
  width: 58px;
  background-size: cover;

  @include hover(scale, 120%);

  @extend %icon;

  @include onTablet {
    height: 14px;
    width: 67px;
  }

  @include onDesktop {
    height: 16px;
    width: 76px;
  }
}
