.more {
  background-color: $color-backround-dark;

  &__title {
    margin-bottom: 12px;

    @include onTablet {
      text-align: center;
    }

    @include onDesktop {
      margin-bottom: 16px;
    }
  }

  &__comment {
    font-size: 12px;
    line-height: 15px;
    height: 30px;
    margin-bottom: 30px;

    @include onTablet {
      text-align: center;
    }

    @include onDesktop {
      font-size: 14px;
      line-height: 17px;
      height: 17px;
      margin-bottom: 83px;
    }
  }

  &__section {
    margin-bottom: 20px;

    @include onTablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 12px;
    }

    &--second-row {
      margin-bottom: 8px;
    }
  }

  &__image {
    display: none;

    @include onTablet {
      display: block;
      margin-bottom: 32px;
    }

    @include onScreen {
      margin-bottom: 36px;
    }
  }

  &__subtitle {
    color: $color-white;
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 22px;

    @include onTablet {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    @include onDesktop {
      margin-bottom: 21px;
    }

    @include onScreen {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 18px;
    }
  }

  &__paragraph {
    display: none;

    @include onTablet {
      display: block;
      text-align: center;
    }

    @include onScreen {
      font-size: 16px;
    }

    &--phone {
      display: block;

      @include onTablet {
        display: none;
      }
    }
  }
}
