.about {
  background: $background-gradient;
  background-repeat: no-repeat;

  @include section-padding-block;

  &__content {
    display: grid;
    row-gap: 100px;

    @include tablet {
      row-gap: 80px;
    }
  }

  &__block {
    @include grid-markup;
  }

  &__headline {
    margin-bottom: 20px;
    grid-column: 1/-1;

    @include tablet {
      margin-bottom: 32px;
    }

    &--first {
      @include tablet {
        grid-column: span 3;
      }

      @include desktop {
        grid-column: -5/-1;
      }
    }

    &--second {
      position: relative;

      @include tablet {
        padding-top: 50px;
        grid-column: span 4;
      }

      @include desktop {
        grid-column: span 5;
        margin-bottom: 0;
      }

      &::before {
        content: 'Hello,';
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 120%;
        font-weight: 400;
        color: $contrast-color;
        text-transform: capitalize;
        position: absolute;
        top: -25px;

        @include tablet {
          top: 20px;
        }
      }
    }
  }

  &__img-wrapper {
    height: 190px;
    width: 100%;
    overflow: hidden;

    @include tablet {
      height: 270px;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__slider {
    padding-bottom: 18px;
    margin-bottom: 20px;
    grid-column: 1/-1;
    width: 100%;

    @include tablet {
      grid-area: span 4 / span 3;
      order: -1;
      margin-bottom: 15px;
    }

    @include desktop {
      grid-area: 1 / 3 / 4 / 8;
      position: relative;
    }
  }

  &__slider-navigation-wrapper {
    margin-top: 20px;
    display: none;

    @include desktop {
      display: flex;
    }
  }

  &__swiper-scrollbar {
    position: unset !important;
    display: block;
    background-color: #212121;
    height: 2px !important;
  }

  &__swiper-scrollbar-drag {
    background-color: $contrast-color;
    height: 1px;
  }

  &__slider-pagination--fraction {
    position: absolute;
    top: -2%;
    left: -10%;
  }

  &__swiper-pagination--bullet {
    bottom: 0 !important;
    display: flex;
    justify-content: center;
    gap: 6px;
    position: unset;
    padding-top: 15px;
  }

  &__swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 50%;
    background-color: #484848;
  }

  &__swiper-pagination-bullet-active {
    background-color: #ababab;
  }

  &__description {
    grid-column: 1/-1;

    @include tablet {
      grid-column: span 3;
    }

    &--first {
      margin-bottom: 40px;

      @include tablet {
        grid-column: span 3;
        margin-bottom: 20px;
      }

      @include desktop {
        grid-column: -5/-1;
      }
    }

    &--second {
      @include tablet {
        grid-column: span 4;
        padding-bottom: 25px;
      }

      @include desktop {
        grid-column: span 5;
        margin-top: 32px;
        padding-bottom: 40px;
      }
    }
  }

  &__button-play-video {
    grid-column: 1/-1;

    @include tablet {
      grid-column: span 3;
      margin-bottom: 0;
    }

    @include desktop {
      grid-column: -5/-1;
    }
  }

  &__hello {
    margin-bottom: 11px;
    grid-column: 1/5;
  }

  &__background {
    @include tablet {
      grid-area: span 3 / span 2;
      background-image: url(../images/about/about-background-img.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include desktop {
      grid-column: 7/-1;
    }
  }
}
