.benefits {
  background-color: #05040b;
  text-align: center;
  padding: 50px 0;
  
  &__for {
    color: $color--blue;
    margin-top: 15px;
  }
  
  &__cards {
    @include tablet() {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 50px;
      column-gap: 10px;
    }
  
    @include tablet() {
      width: max-content;
      margin: 0 auto;
      margin-top: 50px;
    }
  }
}
