.benefits {
  justify-content: center;
  height: 520px;
  padding-top: 50px;
  width: 100%;
  background: $colorBgGradient;

  &__title {
    @extend %font__mob-h2;
    line-height: 100%;
    margin-bottom: 32px;
    color: #fff;

    &--colored {
      font-weight: 400;
      color: $colorBlue;
    }
  }

  &__imgs {
    display: none;
  }

  &__article {
    margin-bottom: 20px;
  }

  &__subtitle {
    color: #fff;
    @extend %font__desc-h3;
    margin-bottom: 11px;
  }

  &__content {
    @extend %font__desc-text1;
    color: $colorText;
  }

  &__compatible {
    direction: ltr;
    max-width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
