.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 48px;
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: $colorBlue;

  @include onTablet {
    width: 200px;
  }

  &:hover {
    background-color: #fff;
    color: $colorBlue;
  }

  &:active {
    background-color: #191536;
    color: $colorGrey;
  }

  &__buy {
    @include onTablet {
      width: 100%;
    }
  }

  &__gotop {
    display: none;
    height: 48px;
    width: 48px;
    background-size: cover;

    @include onTablet {
      display: block;
    }

    background-image: url(../images/icons/to-header.svg);

    &:hover {
      background-image: url(../images/icons/to-header--active.svg);
    }
  }

  &__video {
    display: block;
    background-color: transparent;
    background-image: url(../images/icons/play-default.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
    padding: 22px 55px 22px 105px;
    border: none;
    outline: none;
    cursor: pointer;

    @extend %font__button;
    color: #fff;

    transition: background-image 0.3s, transform 0.3s, color 0.3s;

    &:hover,
    &:active {
      color: $colorBlue;
      background-image: url(../images/icons/play-active.svg);
    }

    &:active {
      transform: scale(1.1);
    }
  }
}
