.button {
  height: 48px;
  width: 100%;
  background-color: $colorBlue;
  color: #fff;
  border-radius: 4px;
  border: none;

  @include onTablet {
    width: 200px;
  }

  &:hover {
    background-color: #fff;
    color: $colorBlue;
  }

  &:active {
    background-color: #191536;
    color: $colorGrey;
  }

  &__gotop {
    display: none;
    height: 48px;
    width: 48px;
    background-size: cover;

    @include onTablet {
      display: block;
    }

    background-image: url(../images/icons/to-header.svg);

    &:hover {
      background-image: url(../images/icons/to-header--active.svg);
    }
  }
}
