.complete {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  
  transform: translate(100%);
  z-index: 3;
  
  &:target {
    transform: translate(0%);
  }
  
  height: 100vh;
  background: linear-gradient(107.56deg, #191536 0%, #000 100%);
  
  &__text {
    color: #fff;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
