.container {
  margin: 0 auto;
  height: 100%;
  width: 280px;
  padding: 0 20px;

  @include onTablet {
    width: 700px;
    padding: 0 34px;
  }

  @include onNotebook {
    width: 1060px;
    padding: 0 110px;
  }

  @include onDesctopFHD {
    width: 1452px;
    padding: 0 256px;
  }
}
