.contacts {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &--help {
      gap: 25px;
    }
  }

  &__contact {
    font-size: 13px;
    line-height: 130%;
    font-weight: 400;
    color: $text-color;
    text-decoration: none;

    @include hover(color, #fff);

    &--help {
      font-size: 16px;
      line-height: 120%;
    }

    &--contact {
      font-size: 14px;
      line-height: 120%;
    }
  }
}
