.container {
  margin: 0 auto;
  min-width: 280px;
  padding: 0 20px;

  @include onTablet {
    min-width: 700px;
    padding: 0 34px;
  }

  @include onNotebook {
    min-width: 1060px;
    padding: 0 110px;
  }

  @include onDesctopFHD {
    min-width: 1452px;
    padding: 0 234px;
  }
}
