.contact-us {
  &__titles {
    justify-self: left;
  }

  &__title {
    @extend %font__mob-h2;
    line-height: 100%;
    color: #fff;
    margin-bottom: 32px;

    &--colored {
      font-weight: 400;
      color: $colorBlue;
    }

    @include onNotebook {
      font-weight: 900;
      font-size: 36px;
      line-height: 150%;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    @extend %font__mob-text;
    color: $colorBlue;
    margin-bottom: 11px;

    @include onNotebook {
      font-size: 14px;
      margin-bottom: 13px;
    }
  }

  &__contacts--tablets {
    display: none;

    @include onTablet {
      display: block;
    }

    @include onNotebook {
    }

    &-text {
      color: $colorText;
      @extend %font__mob-text;

      @include onTablet {
        font-size: 16px;
        line-height: 150%;
      }
    }
  }

  &__info {
    display: none;

    @include onTablet {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 11px;
      bottom: 225px;
      height: 0;
    }

    @include onNotebook {
      position: relative;
      bottom: 190px;
      height: 0;
    }
  }

  &__contact {
    display: block;
    color: $colorText;
    text-decoration: none;
    margin-bottom: 11px;

    &--last {
      margin-bottom: 0;
    }
  }

  &__group {
    margin-bottom: 9px;

    &--last {
      margin-bottom: 30px;

      @include onTablet {
        margin-bottom: 50px;
      }
    }
  }

  &__group-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;

    @include onTablet {
      margin-bottom: 0;
    }

  }
}
