.contacts {

  &__list {
    display: block;
  }

  &__item {
    list-style: none;
    margin-bottom: 10px;

    @include onIPad {
      margin-bottom: 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    font-family: Mark, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: $text-color;
  }
}
