.footer-nav {
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  //gap: 35px;
  //text-align: center;
  //
  //@include onIPad {
  //}
  &__list {
    display: flex;
    flex-direction: column;
    //align-items: start;
    //justify-content: center;
    //gap: 12px;
    list-style: none;

    @include onIPad {
      align-items: center;
      gap: 35px;
      flex-direction: row;
    }
  }

  &__item {
    display: block;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onIPad {
      margin-bottom: 0;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $header-text-color;

    font-family: Mark, sans-serif ;

    font-size: 13px;
    line-height: 150%;

    @include onIPad {
      font-size: 14px;
    }

    transition: all 0.4s;
  }

  &__link:hover {
    color: $color-blue;
  }

  &__link:active {
    color: $color-blue;
  }
}
