.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include onIPad {
    align-items: center;
  }

  &__container {
    width: 100%;
    display: flex;
    column-gap: 22px;
    align-items: center;
    padding-bottom: 4px;

    @include onIPad {
      gap: 22px;
      justify-content: center;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    margin-bottom: 25px;

    @include onIPad {
      display: none;
    }
  }

  &__info-link {
    color: $text-color;
    text-decoration: none;
    font-family: Mark, sans-serif ;
    font-size: 13px;
    line-height: 16px;
  }
}
