.footer {
  background-color: $main-color;

  &__container {
    padding: 0 20px;

    @include onIPad {
      padding: 0 34px;
    }

    @include onDesktop {
      padding: 0 110px ;
    }
  }

  &__nav {
    display: grid;
    justify-content: start;
    //align-items: center;
    padding: 45px 0 50px;

    @include onIPad {
      display: flex;
      justify-content: space-between;
      padding: 21px 0;
      align-items: center;
    }

    @include onDesktop {
      padding: 39px 0;
    }
  }

  &--logo {
    justify-content: center;
    align-items: center;

    padding-bottom: 15px;
    @include onIPad {
      padding-bottom: 0;
    }
  }
}
