.footer {
  display: flex;
  flex-direction: column;
  background-color: $main-color;

  &__container {
    padding: 45px 20px 50px;

    @include onIPad {
      padding: 21px 34px;
    }

    @include onDesktop {
      padding: 39px 110px ;
    }
  }

  &__nav {
    display: grid;
    justify-content: start;
    align-items: center;

    @include onIPad {
      display: flex;
      justify-content: space-between;
    }
  }

  &__nav-logo {
    margin-bottom: 15px;

    @include onIPad {
      margin: 0;
    }
  }
}
