.form {
  grid-column: 1 / -1;
  margin-bottom: 27px;

  @include on-tablet {
    grid-column: 4 / -1;
    grid-row: 1 / 5;
    margin-bottom: 0;
  }

  @include on-desktop {
    grid-column: -7 / -1;
  }

  @include on-design {
    grid-column: -9 / -1;
  }

  &__text {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: $c-background-black;
    outline: none;
    border: none;
    resize: none;
    padding: 0;
    border-bottom: 1px solid $c-dark-grey;
    font-size: 16px;
    line-height: 24px;
    color: $c-white;

    &-height {
      height: 74px;
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: $c-white;
      -webkit-box-shadow: 0 0 0 50px $c-background-black inset;
    }

    &:focus {
      border-bottom: 1px solid $c-contrast;
    }
  }

  &__label {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-textarea {
      height: 88px;
      margin-bottom: 30px;

      @include on-tablet {
        margin-bottom: 48px;
      }

      @include on-desktop {
        margin-bottom: 90px;
      }

      @include on-design {
        margin-bottom: 50px;
      }
    }
  }

  &__color {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $c-text;

    &:has(+ .form__text:focus) {
      color: $c-contrast;
    }
  }

  &__botton-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buy-now {
    grid-column: 1 / -1;
  }
}
