.form-field {
  box-sizing: border-box;
  height: 38px;
  width: 100%;
  padding: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid $colorGrey;
  background: $colorBgDark;
  color: #fff;
  outline: none;

  &::content {
    border-color: $colorBlue;
  }

  &__title {
    color: $colorText;
    @extend %font__blocks-subtitle;
    padding-bottom: 2px;
  }

  &--textarea {
    height: 86px;
    resize: none;
  }
}
