.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include onNotebook {
    grid-template-columns: repeat(12, 1fr);
  }

  @include onDesctopFHD {
    grid-template-columns: repeat(16, 1fr);
  }

  &__item {
    grid-column: 1 / 3;

    @include onTablet {
      @for $start from 1 through 6 {
        @for $end from $start to 6 {
          &--#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @for $start from 1 through 12 {
      @for $end from $start to 12 {
        &--n-#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }

    @for $start from 1 through 16 {
      @for $end from $start to 16 {
        &--d-#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }
  }
}
