.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
  column-gap: 20px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include onNotebook {
    grid-template-columns: repeat(12, 1fr);
  }

  @include onDesctopFHD {
    grid-template-columns: repeat(16, 1fr);
  }

  &__item {
    grid-column: 1 / 3;
    height: max-content;

    @include onTablet {
      @for $start from 1 through 6 {
        @for $end from $start to 7 {
          &--#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @include onNotebook {
      @for $start from 1 through 12 {
        @for $end from $start to 13 {
          &--n-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }

    @include onDesctopFHD {
      @for $start from 1 through 16 {
        @for $end from $start to 17 {
          &--d-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
