.header {
  margin: 20px 20px 15px;

  @include onIPad {
    margin: 30px 35px 55px;
  }

  @include onDesktop {
    margin: 50px 110px 100px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //height: $button-height;
  }

  &__nav-logo {
    display: flex;
    gap: 35px;
    align-items: center;
    //height: 100%;
    //width: 100%;
  }
}
