.icon {
  &__top-bar {
    width: 20px;
    height: 12px;
    background-image: url(../images/icons/burger_menu_.svg);
    background-repeat: no-repeat;

    @include hover(transform, scale(1.05));
    &:hover {
      filter: brightness(0) invert(1) sepia(1) saturate(10000%)
        hue-rotate(130deg);
    }
  }

  &-close {
    background-image: url(../images/icons/close.svg);
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;

    transition-duration: 0.5s;

    @include hover(transform, scale(1.05));
    &:hover {
      filter: brightness(0) invert(1) sepia(1) saturate(10000%)
        hue-rotate(130deg);
    }
  }

  &-arrow {
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(../images/icons/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;

    transition-duration: 0.5s;

    @include hover(transform, scale(1.05));
    &:hover {
      filter: brightness(0) invert(1) sepia(1) saturate(10000%)
        hue-rotate(130deg);
    }
  }

  &__footer {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    transition-duration: 0.5s;

    @include hover(transform, scale(1.05));
    &:hover {
      filter: brightness(0) invert(1) sepia(1) saturate(10000%)
        hue-rotate(130deg);
    }

    &--facebook {
      height: 15.15px;
      width: 7.56px;
      background-image: url(../images/logo_social_media/facebook.svg);
    }

    &--twitter {
      height: 13.88px;
      width: 18.93px;
      background-image: url(../images/logo_social_media/twitter.svg);
    }

    &--youtube {
      height: 13.63px;
      width: 17.9px;
      background-image: url(../images/logo_social_media/you_tube.svg);
    }

    &--reddit {
      height: 17.67px;
      width: 17.67px;
      background-image: url(../images/logo_social_media/logo.svg);
    }
  }
}
