.img {
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &--edu {
    background-image: url(../images/icons/education.svg);
  }

  &--est {
    background-image: url(../images/icons/real-estate.svg);
  }

  &--fit {
    background-image: url(../images/icons/Fitnes.svg);
  }

  &--soc {
    background-image: url(../images/icons/social.svg);
  }

  &--compat {
    background-image: url(../images/icons/compatible.svg);
  }

  &--cont {
    background-image: url(../images/icons/control.svg);
  }

  &--wifi {
    background-image: url(../images/icons/sensors.svg);
  }
}
