.link {
  &--blue {
    color: $color--blue;
    text-decoration: none;
  
    &:hover {
      color: #929292;
    }
  }

  &--footer {
    @include tablet() {
      display: none;
    }
  }

  &--contact {
    display: none;
    margin-top: 50px;

    @include desktop() {
      display: block;
    }
  }

  &__list {
    margin-top: 20px;
  }

  &__link {
    color: $color--grey;
    text-decoration: none;

    &:hover {
      color: $color--blue;
    }
  }
}
