.loco {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  
  &__wrapper {
    margin-top: 40px;
  
    @media (min-width:900px) {
      display: flex;
      justify-content: center;
    }
  }
  
  &__button {
    display: none;
  
    @include desktop() {
      display: block;
      margin: 0 auto;
    }
  }
}
