.icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--logo {
    display: block;
    background-image: url("../images/logo/logo.svg");
    width: 48px;
    height: 11px;

    background-size: 100%;

    @include onIPad {
      width: 67px;
      height: 14px;
    }

    @include onDesktop {
      width: 78px;
      height: 16px;
    }
  }

  &--menu {
    display: block;
    background-image: url("../images/logo/menu_logo.svg");
    width: 20px;
    height: 10px;

    background-size: 100%;

    @include onIPad {
      width: 30px;
      height: 15px;
    }
  }
}
