.main-contact-us {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $manu-black;

  @include onIPad {
    display: grid;
    padding-top: 70px;
    padding-bottom: 130px;
  }

  @include onDesktop {
    display: grid;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__title {
    margin-bottom: 30px;

    & > p {
      font-size: 14px;
      line-height: 18px;
      color: $color-blue;
      padding-bottom: 10px;
    }

    & > h2 {
      font-family: Mark-Heavy, sans-serif;

      & > span {
        color: $color-blue;
        font-family: Quantum, sans-serif;
      }
    }
  }

  &__feedback-field {
    margin-bottom: 30px;

    @include onIPad {
      margin-bottom: 0;
    }
  }

  &__field {

    &--last {
      margin-bottom: 30px;
    }
  }

  &--button {

    @include onIPad {
      width: 200px;
    }
  }

  //&__social-block {
  //  //}

  &__queue {
    font-size: 12px;

    @include onIPad {
      margin-bottom: 50px;
    }
  }
}
