.main-imgs {
  &__icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;

    &--1 {
      padding: 40px;
      background-image: url("../images/logo/1.svg");
    }

    &--2 {
      padding: 40px 44px;
      background-image: url("../images/logo/2.svg");
    }

    &--3 {
      padding: 40px 56px;
      background-image: url("../images/logo/3.svg");
    }

    &--4 {
      background-image: url("../images/img_2.png");
    }

    &--5 {
      padding: 40px 49px;
      background-image: url("../images/logo/5.svg");
    }

    &--6 {
      padding: 40px 35px;
      background-image: url("../images/logo/6.svg");
    }

    &--7 {
      padding: 44px 57px;
      background-image: url("../images/logo/7.svg");
    }

    &--8 {
      padding: 44px;
      background-image: url("../images/logo/8.svg");
    }

    &--plus {
      background-image: url("../images/logo/main_plus.svg");
      display: block;
    }

    &--scroll-1 {
      background-image: url("../images/img_3.png");
    }

    &--scroll-points {
      background-image: url("../images/logo/main_scroll-points.svg");
    }

    &--play-video-button {
      background-image: url("../images/logo/4.svg");
    }

    &--about-us-1 {
      background-image: url("../images/logo/about-us-1.svg");
    }

    &--about-us-2 {
      background-image: url("../images/logo/about-us-2.svg");
    }

    &--about-us-3 {
      background-image: url("../images/logo/about-us-3.svg");
    }

    &--about-us-4 {
      background-image: url("../images/logo/about-us-4.svg");
    }

    &--about-us-5 {
      background-image: url("../images/logo/about-us-5.svg");
    }

    &--line-active {
      background-image: url("../images/logo/line_active.svg");
    }

    &--line {
      background-image: url("../images/logo/line.svg");
    }

    &--9 {
      background-image: url("../images/img.png");
    }

    &--10 {
      background-image: url("../images/img_4.png");
    }

    &--triangle {
      background-image: url("../images/logo/triangle.svg");
      height: 5px;
      width: 9px;
    }

    &--tech-specs-1 {
      background-image: url("../images/img-tech-specs/(-line.svg");
      width: 46px;
      height: 203px;
    }

    &--tech-specs-2 {
      background-image: url("../images/img-tech-specs/batteries.svg");
      width: 185px;
      height: 240px;
    }

    &--tech-specs-3 {
      background-image: url("../images/img-tech-specs/conection.svg");
      width: 127px;
      height: 107px;
    }

    &--tech-specs-4 {
      background-image: url("../images/img-tech-specs/sensor-line.svg");
      width: 400px;
      height: 70px;
    }

    &--tech-specs-unhidden {
      background-image: url("../images/img-tech-specs/unhidden.svg");
    }

    &--tech-specs-hidden {
      background-image: url("../images/img-tech-specs/hidden.svg");
    }
  }
}
