.menu {
  font-family: Mark, sans-serif;
  font-size: 16px;
  line-height: 150%;
  display: block;

  &__content {
    display: flex;
    flex-direction: column;
    height: 100vh;

    @include onIPad {
      height: 596px;
    }
  }

  &__top-exit {
    margin: 10px 10px 30px auto;

    @include onIPad {
      margin: 20px 25px 45px auto;
    }
  }

  &__top-back {
    margin: 10px auto 30px 10px;

    @include onIPad {
      margin: 20px auto 45px 25px;
    }
  }

  &__menu {
    background-color: $button-color-background;
  }

  &__language {
    background-color: $button-color-background;
  }

  &__help {
    background-color: $button-color-background;
  }

  &__faq {
    background-color: $button-color-background;
  }
}
