.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: #191536;
  
  padding: 0;
  
  transform: translate(100%);
  
  &:target {
    transform: translate(0%);
  }
}
