.menu-faq {
  &__item {
    margin-bottom: 13px;

    @include onIPad {
      margin-bottom: 18px;
      height: 100%;
    }

    @include onDesktop {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
