.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;

  &__item {
    //transition: all 0.3s linear;
    //
    //&:hover {
    //  background-color: $main-blue-color;
    //}
    //
    //&:hover .menu__link {
    //  color: $color-blue;
    //}
  }

  &__link {
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-family: Mark-Medium, sans-serif;
    font-size: 21px;
    line-height: 130%;
    color: $header-text-color;

    padding: 11px 20px;
    @include onIPad {
      padding: 11px 153px;
    }

    transition: all 0.3s linear;

    &:hover {
      color: $color-blue;
      background-color: $main-blue-color;
    }
  }
}
