.more {
  padding-top: 50px;
  padding-bottom: 50px;

  @include onTablet {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @include onDesktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__container {
    @include container;
  }

  &__box {
    text-align: center;
  }

  &__comment {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: $blue-color;
    height: 30px;
    padding-bottom: 10px;

    @include onDesktop {
      font-size: 14px;
    }
  }

  &__text-block {
    @include onTablet {
      @include pageGrid;
    }
  }

  &__section {
    margin-top: 20px;

    @include onTablet {
      margin-top: 30px;
      grid-column: span 3;
      text-align: center;
    }
  }

  &__img {
    display: none;
    cursor: pointer;
    transition: all $effect-duration;

    &:hover {
      transform: scale(1.2);
      filter: hue-rotate(120deg);
    }

    @include onTablet {
      display: block;
      margin: auto;
    }
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 900;
    line-height: normal;

    @include onTablet {
      margin-top: 30px;
    }
  }

  &__paragraph {
    margin-top: 11px;
    font-size: 16px;
    line-height: 150%;
    color: $grey-text-color;

    @include onTablet {
      margin-top: 20px;
    }

    &--tablet {
      display: none;
      @include onTablet {
        display: block;
      }
    }

    &--phone {
      @include onTablet {
        display: none;
      }
    }
  }
}
