.more {
  justify-content: center;
  height: max-content;
  padding: 50px 0;
  width: 100%;
  background: $colorBgDark;

  @include onTablet {
    padding: 70px 0;
  }

  @include onNotebook {
    padding: 100px 0;
  }

  @include onDesctopFHD {
    padding: 160px 0;
  }

  &__title {
    @extend %font__mob-h2;
    line-height: 100%;
    margin-bottom: 12px;
    color: #fff;

    &--colored {
      font-weight: 400;
      color: $colorBlue;
    }

    @include onTablet {
      text-align: center;
    }

    @include onNotebook {
      font-weight: 900;
      font-size: 36px;
      margin-bottom: 16px;
    }
  }

  &__subtitle {
    @extend %font__mob-text;
    color: $colorBlue;
    margin-bottom: 30px;

    @include onTablet {
      text-align: center;
    }

    @include onNotebook {
      font-size: 14px;
      margin-bottom: 70px;
    }
  }

  &__item {
    @include onTablet {
      text-align: center;
    }
  }

  &__imgs {
    display: none;

    @include onTablet {
      display: block;
      margin-bottom: 25px;
    }
  }

  &__img {
    height: 100%;

  }

  &__article {
    margin-bottom: 20px;

    &-title {
      color: #fff;
      @extend %font__desc-h3;
      margin-bottom: 11px;
      text-transform: uppercase;
    }
  }

  &__content {
    @extend %font__desc-text1;
    color: $colorText;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__compatible {
    direction: ltr;
    max-width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
