.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include onTablet {
    flex-direction: row;
  }

  &__link {
    display: block;
    color: #fff;
    @extend %font__desc-link;
    text-decoration: none;
  }
}
