* {
  margin: 0;
  padding: 0;
  
  transition: 300ms;
}

.page {
  font-family: "inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  
  background: linear-gradient(107.56deg, #191536 0%, #000 100%);
  
  scroll-behavior: smooth;
    
  &__top {
    display: flex;
    justify-content: flex-end;
  }
}
