.page {
  margin: 0;
  padding: 0;
}

.page__body {
  display: flex;
  flex-direction: column;

  min-width: 320px;
  margin: 0;
  padding: 0;

  background: linear-gradient(107.56deg, #191536 0%, #000 100%);
}
