.page {

  &--gradient {
    background: $colorBgGradient;
  }

  &--dark {
    background-color: $colorBgDark;
  }

  &__section {
    padding: 50px 0;

    @include onTablet {
      padding: 70px 0;
    }

    @include onNotebook {
      padding: 100px 0;
    }

    @include onDesctopFHD {
      padding: 160px 0;
    }
  }

  &__menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform 0.6s;

    &:target {
      transform: translateY(0);
    }

    @include onNotebook {
      display: none;
    }
  }
}
