.play {
  &__header {
    margin-top: 25px;
    margin-bottom: 56px;
    transition: $effect-duration ease-in-out;

    &:hover {
      transform: scale(1.1);
      filter: hue-rotate(190deg);
    }

    @include onTablet {
      margin-top: 34px;
    }
  }

  &__about {
    margin-top: 15px;
    transition: $effect-duration ease-in-out;

    &:hover {
      transform: scale(1.1);
      filter: hue-rotate(190deg);
    }

    @include onTablet {
      margin-top: 20px;
    }
  }
}
