.play-video-button {
  height: 69px;
  width: 248px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;

  transition: all 0.3s;

  &__icon {
    background-image: url("../images/logo/4.svg");

    &:hover {
      transform: scale(1.01);

      background-image: url("../images/logo/4-1.svg");
    }

    &:active {
      background-image: url("../images/logo/4-1.svg");
    }
  }
}
