.scroller {
  &__catalog {

    &--img-1 {
      width: 100%;
    }
  }

  &__control {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__buttons {
    display: flex;
    margin-bottom: 10px;
  }

  &__button {
    cursor: pointer;

    &:hover {
      color: $color-blue;
    }

    &:active {
      color: $color-blue;
    }

    &--previous {
      margin-right: 102px;
    }

    &--next {
      color: $header-text-color;
    }
  }

  &__lines {
    position: relative;

    &--line-active {
      position: absolute;
      height: 2px;
      width: 69px;
    }

    &--line {
      position: absolute;
      height: 2px;
      width: 207px;
    }
  }
}
