.language-change {
  display: none;
  background: transparent;
  border: none;
  font-family: Mark-Medium, sans-serif ;
  font-size: 16px;
  line-height: 130%;
  appearance: none;
  color: $color-blue;

  @include onIPad {
    display: none;
  }

  @include onDesktop {
    display: block;
  }

  &__item {
    background-color: $main-color;
    border: none;
  }
}
