.slider {
  &__navigation-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 207px;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    width: 207px;

    &--prev,
    &--next {
      cursor: pointer;

      @include hover(color, $contrast-color);
    }
  }
}
