.social {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--facebook {
    display: block;
    background-image: url("../images/social/1.svg");
    height: 15px;
    width: 8px;

    background-size: 100%;

    @include onIPad {
      height: 12px;
      width: 6px;
    }
  }

  &--twitter {
    display: block;
    background-image: url("../images/social/2.svg");
    height: 12px;
    width: 17px;
    background-size: 100%;

    @include onIPad {
      height: 11px;
      width: 15px;
    }
  }

  &--youtube {
    display: block;
    background-image: url("../images/social/3.svg");
    height: 13px;
    width: 18px;

    background-size: 100%;

    @include onIPad {
      height: 11px;
      width: 15px;
    }
  }

  &--reddit {
    display: block;
    background-image: url("../images/social/4.svg");
    height: 18px;
    width: 18px;
    background-size: 100%;

    @include onIPad {
      height: 14px;
      width: 14px;
    }
  }
}
