.socials {
  display: none;
  
  @include tablet() {
    display: block;
  }
  
  &--2 {
    display: block;
  
    @include tablet() {
      display: none;
    }
  }
  
  &__list {
    display: flex;
    list-style: none;
    gap: 25px;
  
    margin-top: 50px;
  }
  
  &__icon {
  
    &--facebook {
      background-image: url(../images/icon/icon--facebook.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
  
      width: 25px;
      height: 25px;
  
      &:hover {
        transform: scale(1.3);
      }
    }
  
    &--twitter {
      background-image: url(../images/icon/icon--twitter.svg);
  
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
  
      width: 25px;
      height: 25px;
  
      &:hover {
        transform: scale(1.3);
      }
    }
  
    &--youtube {
      background-image: url(../images/icon/icon--youtube.svg);
  
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
  
      width: 25px;
      height: 25px;
  
      &:hover {
        transform: scale(1.3);
      }
    }
  
    &--reddit {
      background-image: url(../images/icon/icon--reddit.svg);
  
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
  
      width: 25px;
      height: 25px;
  
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
