.social {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--facebook {
    display: block;
    background-image: url("../images/social/1.svg");
    height: 12px;
    width: 6px;
  }

  &--twitter {
    display: block;
    background-image: url("../images/social/2.svg");
    height: 11px;
    width: 15px;
  }

  &--youtube {
    display: block;
    background-image: url("../images/social/3.svg");
    height: 11px;
    width: 15px;
  }

  &--reddit {
    display: block;
    background-image: url("../images/social/4.svg");
    width: 14px;
    height: 14px;
  }

  &--animation {
    transition: all 0.3s;

    &:hover {
      transform: scale(1.5);
    }
  }
}
