.specs {
  background: #05040b;

  &__content {
    padding-bottom: 50px;

    @include onTablet {
      padding-bottom: 90px;
    }

    @include onDesktop {
      background-image: url(../images/specs.png);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__title {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 21px;
    line-height: 25px;
    color: $colorWhite;
    margin: 0;
    padding-bottom: 50px;

    @include onDesktop {
      font-size: 36px;
      line-height: 44px;
      display: flex;
      flex-direction: row;
      justify-content: end;
      padding-top: 100px;
      padding-bottom: 300px;
    }

    &-span {
      font-weight: 400;
      color: $colorBlue;
    }
  }

  &__plus {
    background-image: url(../images/specs.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-position: center;
    margin: 0 auto;

    @include onTablet {
      width: 357px;
      height: 353px;
      object-fit: cover;
      background-size: cover;

      @include onDesktop {
        display: none;
      }
    }

    &-blu {
      position: relative;
      color: $colorWhite;
      background: $colorBlue;
      font-size: 30px;
      width: 34px;
      height: 34px;
      column-gap: 57px;
      border-radius: 50%;
      text-align: center;
      justify-content: center;
      transition: 0.5s;
      cursor: pointer;

      @include onTablet {
        width: 54px;
        height: 54px;
        font-size: 45px;
      }

      @include onDesktop {
        display: none;
      }

      &:hover {
        transform: rotate(270deg) scale(1.2);
      }
    }

    &-top {
      @include onTablet {
        left: 67px;
        top: -16px;
      }

      left: 58px;
      top: -8px;
    }

    &-centure {
      @include onTablet {
        left: 245px;
        top: 100px;
      }

      left: 135px;
      top: 48px;
    }

    &-bottom {
      @include onTablet {
        left: -35px;
        top: 180px;
      }
      left: -15px;
      top: 80px;
    }
  }

  &__about {
    display: none;

    @include onDesktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &--left {
      display: flex;
      flex-direction: column;

      &-top {
        position: relative;
        display: flex;
        flex-direction: row;
      }

      &-bottom {
        position: relative;
        display: flex;
        flex-direction: row;
      }
    }

    &--right {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__block1 {
    margin: -240px 0 0;
  }

  &__block2 {
    margin-left: 130px;
    margin-top: -30px;
  }

  &__block3 {
    margin-right: -20px;
    margin-left: 20px;
    transform: translateY(-230px);
  }

  &__subtitle {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: $colorWhite;
    margin-bottom: 21px;
  }

  &__text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #929292;
    width: 250px;

    &--right {
      width: 380px;
    }
  }

  &__line {
    position: absolute;
    top: -230px;
    left: 114px;
  }

  &__line2 {
    position: absolute;
    top: -130px;
    left: 280px;
  }

  &__line3 {
    position: absolute;
    top: -150px;
    left: 409px;
    height: 130px;
  }

  &__line4 {
    position: absolute;
    top: -225px;
    left: -130px;
    height: 170px;
  }
}
