.swiper {
  width: 100%;
  height: 500px;
  
  &-slide {
    color: #000;
    width: 100%;
    margin-top: 50px;
    height: 800px;
  }
  
  &-slides {
    width: 100%;
    height: 370px;
  }
  
  &__video {
    width: 100%;
    height: 400px;
    border: 0 solid transparent;
  
    &:hover {
      background-color: $color--grey;
      opacity: 0.5;
    }
  }
  
  &-pagination {
  
    &-bullet {
      background-color: #eee !important;
    }
  }
}
