.title {
  @extend %h2;
  color: #fff;
  font-size: 32px;
  line-height: 32px;
  margin-top: 50px;
  
  &--faq {
    margin-top: 10px;
  }
  
  &--color-blue {
    color: $color--blue;
    font-weight: 400;
  }
  
  &--complete {
    text-align: center;
    margin-top: 100px;
  }
  
  &--about {
    display: none;
  
    @include tablet() {
      display: block;
    }
  }
}
