.top-action-img {
  &__icon {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;

    &--back {
      padding: 10px;
      width: 10px;
      height: 19px;
      background-image: url("../images/logo/menu_V_logo.svg");
    }

    &--exit {
      padding: 10px;
      width: 19px;
      height: 19px;
      background-image: url("../images/logo/menu_X_logo.svg");
    }

    &--Ihone {
      display: block;
      @include onDesktop {
        display: none;
      }
    }

    &--pc {
      display: none;
      @include onDesktop {
        display: block;
      }
    }

    &--circle-button {
      width: 50px;
      height: 50px;
      background-image: url("../images/logo/circle_button.svg");
    }
  }
}
