.top-action {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__logo {
    margin-left: 20px;
  }

  &__menu-opener {
    margin-right: 20px;
  }
}
