.top-action-img {
  &__icon {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
    padding: 10px;

    &--back {
      width: 10px;
      height: 19px;
      background-image: url("../images/logo/menu_V_logo.svg");
    }

    &--exit {
      width: 19px;
      height: 19px;
      background-image: url("../images/logo/menu_X_logo.svg");
    }
  }
}
