.navMenu {
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 60;
  width: 100%;
  height: 100vh;

  &::before {
    content: "";
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
  }

  @include iPad {
    left: 0;
    right: 0;
    margin-top: 0;
  }

  @include iPhone {
    left: 0;
    right: 0;
    margin-top: 0;
    position: fixed;
  }

  &:target {
    transform: translateX(0);
  }

  &__cross {
    display: flex;
    justify-content: end;
    width: 100%;

    &--link {
      display: flex;
      background-image: url(../images/cross.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 18px;
      height: 18px;
      margin-top: 28px;
      margin-right: 28px;

      @include desctop {
        margin-top: 18px;
        margin-right: 18px;
      }

      @include iPad {
        margin-top: 34px;
        margin-right: 34px;
      }

      @include iPhone {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  &__list {
    margin-top: 46px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__item {
    font-family: "Mark-medium", sans-serif;
    font-size: 21px;
    line-height: 27px;
    height: 49px;
    color: #fff;
    padding-left: 153px;
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
      color: #05c2df;
      background-color: #110e25;
    }

    @include iPhone {
      padding-left: 20px;
    }
  }
}
