<footer>
  <div class="container footer">
    <a
      href="#"
      class="footer__logo"
    ></a>
    <div class="footer__nav--grid">
      <a
        href="#about"
        class="page__link"
      >
        About
      </a>
      <a
        href="#tech"
        class="page__link"
      >
        Tech
      </a>
      <a
        href="#benefits"
        class="page__link"
      >
        Benefits
      </a>
      <a
        href="#contact-us"
        class="page__link"
      >
        Contact
      </a>
    </div>
    <div class="footer__socials--grid">
      <a
        href="https://www.facebook.com/katvr.global/"
        class="footer__icon footer__icon--fb"
        target="_blank"
      ></a>
      <a
        href="https://twitter.com/katvrwalk"
        class="footer__icon footer__icon--tw"
        target="_blank"
      ></a>
      <a
        href="https://www.youtube.com/c/KATVR"
        class="footer__icon footer__icon--yt"
        target="_blank"
      ></a>
      <a
        href="https://www.reddit.com/r/KATVR/"
        class="footer__icon footer__icon--red"
        target="_blank"
      ></a>
    </div>
    <div class="footer__grid">
      <div class="footer__nav">
        <a
          href="#about"
          class="page__link"
        >
          About
        </a>
        <a
          href="#tech"
          class="page__link"
        >
          Tech
        </a>
        <a
          href="#benefits"
          class="page__link"
        >
          Benefits
        </a>
        <a
          href="#contact-us"
          class="page__link"
        >
          Contact
        </a>
      </div>
      <div class="footer__contacts">
        <div class="page__links">
          <a
            href="tel:+86-0571-86105373"
            class="page__link-grey"
          >
            +86-0571-86105373
          </a>
          <a
            href="mailto:global@katvr.com"
            class="page__link-grey"
          >
            global@katvr.com
          </a>
          <a
            href="mailto:overseas@katvr.com"
            class="page__link-grey"
          >
            overseas@katvr.com
          </a>
        </div>
        <div class="footer__socials">
          <a
            href="https://www.facebook.com/katvr.global/"
            class="footer__icon footer__icon--fb"
            target="_blank"
            rel="noopener noreferrer"
          ></a>
          <a
            href="https://twitter.com/katvrwalk"
            class="footer__icon footer__icon--tw"
            target="_blank"
            rel="noopener noreferrer"
          ></a>
          <a
            href="https://www.youtube.com/c/KATVR"
            class="footer__icon footer__icon--yt"
            target="_blank"
            rel="noopener noreferrer"
          ></a>
          <a
            href="https://www.reddit.com/r/KATVR/"
            class="footer__icon footer__icon--red"
            target="_blank"
            rel="noopener noreferrer"
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
