.button {
  width: 200px;
  height: 48px;
  padding: 13px 0;
  background: $contrastColor;
  border-radius: 4px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
  cursor: pointer;
  border: 2px solid $contrastColor;
  transition: all 0.5s;

  &:hover {
    border: 2px solid $white;
    background: $white;
    color: $contrastColor;
  }
}
