.container {
  max-width: 1800px;
  padding: 20px;
  margin: 0 auto;

  @include desktop768 {
    padding: 30px 34px;
  }

  @include desktop1224 {
    padding: 30px 110px;
  }

  &__footer {
    @include desktop768 {
      padding: 15px 34px;
    }

    @include desktop1224 {
      padding: 20px 110px;
    }
  }
}
