.container {
  max-width: 1800px;
  padding: 20px;
  margin: 0 auto;

  @include desktop768 {
    padding: 10px 34px;
  }
  @include desktop1224 {
    padding: 10px 110px;
  }

  &--width-1440 {
    max-width: 1440px;
  }
}
