@import "top-actions";
@import "content";
@import "bottom-menu";

.header {
  height: 100vh;
  padding: 20px;

  background: linear-gradient(107.56deg, #191536 0%, #000 100%);

  &__content {
    margin: 0 auto;
  }

  @include mobile-reverse {
    height: 180vh;
  }

  @include tablet-screen {
    position: relative;

    height: 445px;
    padding: 30px 34px;

    &__top-actions {
      margin-bottom: 55px;
    }

    &__content {
      margin: 0;
    }
  }

  @include desktop-screen {
    height: 100vh;
    padding: 50px 110px;

    &__top-actions {
      margin-bottom: 101px;
    }

    &__bottom-menu {
      position: relative;
      z-index: 1;
    }
  }

  @include extra-screen {
    padding: 50px 234px;

    &__wrapper {
      position: relative;

      max-width: 1500px;
      margin: 0 auto;
    }

    &__top-actions {
      margin-bottom: 232px;
    }
  }
}
