.header {
  background: linear-gradient(107.56deg, #191536 0%, #000 100%);
  color: #fff;

  &__wrapper {
    position: relative;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__logo {
    height: 19px;
    width: 77.5px;
  }

  &__logooption {
    display: flex;

    @media (max-width: 1279px) {
      position: relative;
      z-index: 2;
      width: 100%;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }

    @media (min-width: 1280px) {
      gap: 24px;
    }
  }

  &__select {
    background: none;
    border: none;
    color: #05c2df;
    font-size: 16px;

    @media (max-width: 1279px) {
      display: none;
    }
  }

  &__label {
    height: 13px;
    width: 29.25px;
    background-image: url("/images/menu.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-width: 1280px) {
      display: none;
    }
  }

  &__nav {

    &--big {
      position: relative;
      z-index: 2;
      @media (max-width: 1279px) {
        display: none;
      }
    }

    &--small {
      position: absolute;
      z-index: 2;
      left: -100%;
      margin-top: 46px;
      font-size: 21px;
      transition: left 0.4s;
      @media (min-width: 1280px) {
        display: none;
      }
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: 1279px) {
      display: block;
    }

    @media (min-width: 1280px) {
      display: flex;
      gap: 24px;
      align-items: center;
    }
  }

  &__item {
    &--small {
      height: 49px;
      line-height: 49px;

      &:hover {
        background: #110e25;
      }
    }
  }

  &__img {
    &--1 {
      height: 172px;
      width: 320px;
      margin-top: 16px;

      @media (min-width: 768px) {
        display: none;
      }
    }

    &--2 {
      position: absolute;
      height: 439px;
      width: 486px;
      right: 0;
      bottom: 0;
      z-index: 1;

      @media (max-width: 767px) {
        display: none;
      }
      @media (min-width: 1280px) {
        display: none;
      }
    }

    &--3 {
      position: absolute;
      height: 688px;
      width: 811px;
      right: 0;
      bottom: 0;
      z-index: 0;

      @media (max-width: 1279px) {
        display: none;
      }
      @media (min-width: 1920px) {
        display: none;
      }
    }

    &--4 {
      position: absolute;
      height: 988px;
      width: 1150px;
      right: 0;
      bottom: 150px;
      z-index: 0;

      @media (max-width: 1919px) {
        display: none;
      }
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #05c2df;
    }

    @media (max-width: 767px) {
      margin-left: 21px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      margin-left: 152px;
    }
  }

  &__content {
    @media (max-width: 767px) {
      margin-top: 0;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      margin-top: 55px;
    }

    @media (min-width: 1280px) and (max-width: 1919px) {
      margin-top: 116px;
    }

    @media (min-width: 1920px) {
      margin-top: 246px;
    }
  }

  &__title {
    @media (max-width: 1279px) {
      font-size: 26px;
    }

    @media (min-width: 1280px) and (max-width: 1919px) {
      font-size: 46px;
    }

    @media (min-width: 1920px) {
      font-size: 54px;
    }
  }

  &__text {
    color: #929292;
    margin-top: 14px;
    margin-bottom: 10px;
    font-size: 16px;

    @media (min-width: 1280px) {
      margin-left: 100px;
    }
  }

  &__price {
    font-size: 18px;
    margin-bottom: 20px;

    @media (min-width: 1280px) {
      margin-left: 100px;
    }
  }

  &__play {
    display: block;
    height: 66px;
    width: 257px;
    background: none;
    border: none;
    background-image: url("/images/play.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      background-image: url("/images/play-hover.png");
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1279px) {
      display: none;
    }

    @media (max-width: 1919px) {
      margin-top: 84px;
    }

    @media (min-width: 1920px) {
      margin-top: 221px;
    }
  }

  &__btn {
    margin-top: 30px;
    color: #fff;
    background: #05c2df;
    border: none;
    border-radius: 4px;
    font-size: 14px;

    @media (max-width: 767px) {
      height: 40px;
      width: 280px;
    }

    @media (min-width: 768px) {
      display: none;
    }

    &:hover {
      color: #05c2df;
      background: #fff;
      cursor: pointer;
    }
  }
}

#header__menu {
  display: none;

  &:checked ~ .header .wrapper .header__menu .header__label {
    height: 17px;
    width: 17px;
    background-image: url("/images/menu-close.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
      margin-right: 20px;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      margin-right: 34px;
    }
  }

  &:checked ~ .header {
    background: #191536;
  }

  &:checked ~ .header .wrapper {
    @media (max-width: 767px) {
      padding: 50px 0;
      height: 100vh;
      width: 100vw;
    }

    @media (min-width: 768px) and (max-width: 1279px) {
      padding: 70px 0;
      height: 100vh;
      width: 100vw;
    }
  }

  &:checked ~ .header .header__img {
    display: none;
  }

  &:checked ~ .header .header__btn {
    display: none;
  }

  &:checked ~ .header .header__logo {
    visibility: hidden;
  }

  &:checked ~ .header .header__nav--small {
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: linear-gradient(107.56deg, #191536 0%, #000 100%);
  }
  &:checked ~ .header .header__content {
    display: none;
  }
}
