.help {

  &:target {
    transform: translateX(0);
  }

  &__container {
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
  }

  &__title {

    span {
      color: rgb(5, 194, 223);
      font-weight: 400;
    }
  }

  &__sub-title {
    color: rgb(146, 146, 146);
  }

  &__sub-title a {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: rgb(5, 194, 223);
  }

  &__item {
    margin-bottom: 20px;
  }

  &__item a {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: rgb(5, 194, 223);
  }

  &__icon {
    width: 20px;
    height: 20px;
    align-self: flex-start;
  }
}
