@import "../../utils/mixins";

.icon {
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.5);
  }

  &--open {
    background-image: url("../images/menuOpen.svg");
  }

  &--close {
    background-image: url("../images/menuClose.svg");
    align-self: flex-end;
    margin-right: 20px;

    @include desktop768 {
      margin-right: 30px;
    }
  }

  &--facebook {
    background-image: url("../images/facebook.svg");
  }

  &--twitter {
    background-image: url("../images/twitter.svg");
  }

  &--youtube {
    background-image: url("../images/youtube.svg");
  }

  &--reddit {
    background-image: url("../images/reddit.svg");
  }

  &--width1024 {
    @include desktop1024 {
      display: none;
    }
  }
}
