@import "nav-mobile";
@import "nav-tablet";

.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-box {
    text-decoration: none;
  }

  &__logo {
    height: 12px;
    width: 58px;
  }

  &__lang {
    display: none;
  }

  &__nav-mobile-toggler {
    position: relative;
    z-index: 2;

    height: 13px;
    width: 30px;
  
    background: url(../images/menu.svg) no-repeat center;

    cursor: pointer;

    transition: background-image 0.4s;

    &--active {
      background: url(../images/exit.svg) no-repeat center;

      transition: transform 1s;
      transform: rotate(180deg);
    }
  }

  &__nav-mobile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__link {
    text-decoration: none;
  }

  &__button {
    @include button-style;

    position: absolute;
    top: 528px;
    left: calc(50% - 280px / 2);

    height: 40px;
    width: 280px;

    @media (max-width: 768px) {
      margin-top: 20px;
    }
  }

  @include tablet-screen {
    &__logo {
      height: 14px;
      width: 67px;
    }

    &__link {
      display: none;
    }
  }

  @include desktop-screen {
    &__logo {
      height: 16px;
      width: 76px;
    }

    &__lang {
      display: inline-block;
      width: 33px;
      appearance: none;
      margin-left: 34px;

      font-family: Mark-Pro, sans-serif;
      @include font(16px, 500, 21px);
      color: $contrast-color;
      background: url(../images/polygon.svg) no-repeat 100%;
      border: none;
      
      cursor: pointer;
    }

    &__right {
      position: relative;
      z-index: 1;

      display: flex;
      align-items: center;
    }

    &__nav-mobile-toggler {
      display: none;
    }

    &__link {
      display: block;
    }

    &__button {
      position: static;

      height: 48px;
      width: 200px;
      margin-left: 17px;
    }
  }
}
