.place {
  &__top {
    display: flex;
    justify-content: space-between;
    color: $colorGrey;

    @include on-desktop {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      padding-top: 55px;
      grid-gap: 20px;
    }
  }

  &__subtitle {
    text-align: center;

    @include on-desktop {
      text-align: left;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: $colorBlue;

    @include on-desktop {
      margin-top: 10px;
    }
  }

  &__customer-info {
    padding: 0 20px;

    @include on-tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 34px;
      grid-gap: 20px;
    }

    @include on-desktop {
      grid-column: 7 / 13;
      padding: 0;
    }
  }

  &__input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #2f2f2f;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.2em;
    padding-left: 5px;

    &-date {
      display: inline-block;
      width: 90px;
      margin-top: 18px;
      background: none;
      outline: none;
      border: none;
      border-bottom: 1px solid #2f2f2f;
      color: #fff;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: normal;

      @include on-desktop {
        font-size: 20px;
        line-height: 130%;
        width: 95px;
      }

      &::placeholder {
        color: #2f2f2f;
      }
    }

    &-cvv {
      display: inline-block;
      width: 42px;
      margin-top: 18px;
      background: none;
      outline: none;
      border: none;
      border-bottom: 1px solid #2f2f2f;
      color: #fff;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: 0.2em;

      @include on-desktop {
        font-size: 20px;
        line-height: 130%;
      }

      &::placeholder {
        color: #2f2f2f;
      }
    }
  }

  &__amount {
    @include on-desktop {
      grid-column: 3 / 4;
    }
  }

  &__card-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include on-desktop {
      margin-bottom: 50px;
    }
  }
}
