<!doctype html>
<section
  class="tech"
  id="tech"
>
  <div class="container">
    <h2 class="tech__title">
      TECH
      <div class="page__title-blue">SPECS</div>
    </h2>
    <div class="tech__main">
      <div class="tech__info">
        <img
          src="images/device.png"
          alt="device"
        />
        <a
          href="#sensor"
          class="tech__button tech__button--sensor"
        >
          ×
        </a>
        <a
          href="#connection"
          class="tech__button tech__button--connection"
        >
          ×
        </a>
        <a
          href="#batterries"
          class="tech__button tech__button--batterries"
        >
          ×
        </a>
        <div
          class="tech__description tech__description--sensor"
          id="sensor"
        >
          <div class="tech__description-wrapper">
            <h3 class="tech__description-name">SENSOR</h3>
            <p class="tech__description-text">
              Weight: 35g/1.23oz each
              <br />
              Dimension: 50mm/1.97in
              <br />
              24mm/0.94in
              <br />
              Light: LED lights
            </p>
          </div>
          <a
            href="#tech"
            class="tech--cross"
          ></a>
        </div>
        <div
          class="tech__description tech__description--connection"
          id="connection"
        >
          <div class="tech__description-wrapper">
            <h3 class="tech__description-name">CONNECTION</h3>
            <p class="tech__description-text">
              Wireless: Bluetooth 4.2
              <br />
              Signal range: 5m
              <br />
              Receiver: USB 2.0 and above
            </p>
          </div>
          <a
            href="#tech"
            class="tech--cross"
          ></a>
        </div>
        <div
          class="tech__description tech__description--batterries"
          id="batterries"
        >
          <div class="tech__description-wrapper">
            <h3 class="tech__description-name">BATTERRIES</h3>
            <p class="tech__description-text">
              Type: Lthium-lon polymer batteries
              <br />
              Capacity: 370mAh
              <br />
              Battery life: 10h of continuous use 150 hours on stand by
              <br />
              Charging: Fast charging - 1 hour
              <br />
              Charging voltage and current: 5V = 0.5A
              <br />
            </p>
          </div>
          <a
            href="#tech"
            class="tech--cross"
          ></a>
        </div>
        <div class="tech__vectore tech__vectore--1"></div>
        <div class="tech__vectore tech__vectore--2"></div>
        <div class="tech__vectore tech__vectore--3"></div>
        <div class="tech__vectore tech__vectore--4"></div>
      </div>
    </div>
  </div>
</section>
