@use '../../utils/index' as *;

.swiper {
  &__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 320 / 170;
    object-fit: contain;
  }

  &__container {
    display: none;

    @include on-desktop {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__button-container {
    display: flex;
    gap: 69px;
    justify-content: end;
  }

  &__button-prev {
    @extend %nav-text;

    width: 69px;
    cursor: pointer;
    line-height: 150%;
    color: $white;

    &.swiper-button-disabled {
      cursor: not-allowed;
      color: $bt-disabled-text;
    }
  }

  &__button-next {
    @extend %nav-text;

    width: 69px;
    line-height: 150%;
    color: $white;
    cursor: pointer;
    text-align: center;

    &.swiper-button-disabled {
      cursor: not-allowed;
      color: $bt-disabled-text;
    }
  }

  &__pagination {
    display: flex;
    justify-content: end;
    width: fit-content;

    & .swiper-pagination-bullet {
      width: 69px;
      height: 2px;
      margin-inline: 0 !important;
      background-color: $bg-pagination;
    }

    & .swiper-pagination-bullet-active {
      background-color: $bg-button;
    }
  }
}
