<!doctype html>
<section
  class="about"
  id="about"
>
  <div class="container">
    <div class="about__top">
      <div class="about__count">1/5</div>
      <h2 class="about__title">
        ABOUT
        <div class="about__title-blue">PRODUCT</div>
      </h2>
      <div class="about__image"></div>
      <div class="about__swipes">
        <div class="about__swipe about__swipe--active"></div>
        <div class="about__swipe"></div>
        <div class="about__swipe"></div>
        <div class="about__swipe"></div>
        <div class="about__swipe"></div>
      </div>
      <div class="about__info-product">
        <h2 class="about__title--tablet">
          ABOUT
          <div class="about__title--tablet-blue">PRODUCT</div>
        </h2>
        <p class="about__paragraph">
          KAT loco is a foot-based VR locomotion system that gives complete
          physical control over lower-body actions, allowing you to freely walk,
          run, and carry out just any other movement in virtual reality.
        </p>
        <a
          href="#"
          class="video__link"
          id="video-link-2"
        ></a>
      </div>

      <div class="about__links">
        <a
          href="#"
          class="page__link header__link"
        >
          Previous
        </a>
        <a
          href="#"
          class="page__link header__link"
        >
          Next
        </a>
      </div>
    </div>
    <div class="about__bottom">
      <div class="about__meet">
        <div class="about__undertitle">Hello,</div>
        <h2 class="about__title about__title--bottom">
          NICE TO MEET
          <div class="about__title-blue">YOU!</div>
        </h2>
        <p class="about__paragraph">
          KAT VR is an independent company dedicated to the research,
          development, and sales of VR Locomotion products and solutions.
          Founded in 2013, we have quickly grown to become one of the world’s
          leading professional suppliers of VR games’ & simulations’ equipment
        </p>
      </div>
      <div class="about__container-image">
        <img
          class="about__image-bottom"
          src="images/about-us.svg"
          alt="about us"
        />
      </div>
    </div>
  </div>
</section>
