.buy {
  display: block;
  width: 200px;
  height: 48px;
  background-color: $colorContrast;
  border-radius: 4px;
  text-align: center;
  line-height: 48px;
  font-family: "Mark-Medium";
  color: $colorWhite;
  transition: 0.3s;

  &:hover {
    color: $colorContrast;
    background-color: $colorWhite;
  }

  &:active {
    color: $colorDark;
    background-color: $colorPlus;
  }
}
