@mixin on-tab($break-point) {
  @media (min-width: $break-point) {
    padding: 70px 35px;

    &__section {
      flex-direction: row;
      gap: 15px;
    }

    &__article {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
    }

    &__icon {
      display: inline-block;
      width: 105px;
      height: 80px;
    }

    &__text {
      text-align: center;
    }
  }
}
