.form {

  &__input {
    width: 520px;
    font-size: 14px;
    line-height: 21px;
    color: #929292;
    background-color: #05040b;
    border: none;
    border-bottom: 1px solid #2f2f2f;
    padding-bottom: 30px;
    padding-top: 20px;

    @media (max-width:1024px) {
      width: 340px;
    }

    @media (max-width:760px) {
      width: 280px;
    }
  }

  &__textarea {
    width: 520px;
    background-color: #05040b;
    border: none;
    color: #929292;
    border-bottom: 1px solid #2f2f2f;
    padding-top: 20px;

    &::placeholder {
      @include regular;
      line-height: 21px;
      color: #929292;
    }

    @media (max-width:1024px) {
      width: 340px;
    }

    @media (max-width:760px) {
      width: 280px;
    }
  }
}

.footer-form {

  @media (max-width:1024px) {
    width: 340px;
  }

  @media (max-width:760px) {
    width: 280px;
  }
}
