.footer {
  background-color: #05040b;
  padding-top: 100px;
}

.footer-button {
  display: flex;
  justify-content: space-between;
  width: 520px;
  margin-top: 90px;
  margin-bottom: 100px;

  @media (max-width:760px) {
    margin: 30px 0;
    width: 100%;
  }
}
