.link-picture {
  width: 100px;
  display: flex;
  justify-content: space-between;

  &__face {
    width: 14px;
    height: 14px;
    background: no-repeat url("/images/face.svg");
  }

  &__twit {
    width: 14px;
    height: 14px;
    background: no-repeat url("/images/tweet.svg");
  }

  &__you {
    width: 14px;
    height: 14px;
    background: no-repeat url("/images/you.svg");
  }

  &__inst {
    width: 14px;
    height: 14px;
    background: no-repeat url("/images/smile.svg");
  }

  &__link {
    padding: 14px;
  }
}
