<section
  class="benefits"
  id="benefits"
>
  <div class="container">
    <h2 class="benefits__title">
      WHY
      <div class="page__title-blue">KAT LOCO?</div>
    </h2>
    <div class="benefits__grid">
      <div class="benefits__section">
        <div class="benefits__picture benefits__picture--compatible"></div>
        <h3 class="more__subtitle">UNIVERSALLY COMPATIBLE</h3>
        <p class="benefits__paragraph">
          KAT Loco offers universal compatibility across all major VR headsets
          and platforms allowing you to play any VR game with support for Free
          Locomotion
        </p>
      </div>
      <div class="benefits__section">
        <div class="benefits__picture benefits__picture--control"></div>
        <h3 class="more__subtitle">VR/PC CONTROL PANEL</h3>
        <p class="benefits__paragraph">
          Our Multifunctional Software allows for quick access to KAT Loco’s
          control panel both from a computer desktop, and directly from your VR
          headset.
        </p>
      </div>
      <div class="benefits__section">
        <div class="benefits__picture benefits__picture--sensors"></div>
        <h3 class="more__subtitle">WIRELESS SENSORS</h3>
        <p class="benefits__paragraph">
          What makes it even more advanced, KAT Loco is entirely wireless, and
          comes with a complete system of algorithms, super durable batteries
          and more!
        </p>
      </div>
      <a
        href="#buy"
        class="benefits__button"
      >
        Buy Now
      </a>
    </div>
  </div>
</section>
