.complete {
  &__content {
    padding: 90px 0;

    @include tablet {
      padding: 180px 0;
    }

    @include desktop {
      padding: 140px 0;
    }
  }

  &__title {
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size: 26px;
    line-height: 130%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;

    span {
      font-weight: 400;
      color: $blue;
    }

    @include tablet {
      font-size: 46px;
      margin-bottom: 20px;
    }

    @include desktop {
      margin-bottom: 36px;
    }
  }

  &__description {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 30px;

    @include tablet {
      font-size: 18px;
      margin-bottom: 50px;
    }
  }

  &__back {
    text-transform: none;
    margin: 0 auto;

    @include tablet {
      width: 65%;
    }

    @include desktop {
      max-width: 218px;
    }
  }
}
