.dropdown {
  &__button {
    color: $blue;
    background: inherit;
    position: relative;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 9px;
      height: 6px;
      background: url('../images/svg/drop-menu-open.svg') no-repeat center;

      bottom: 4px;
      right: -13px;
    }

    &--active {
      &::after {
        content: '';
        background: url('../images/svg/drop-menu-close.svg') no-repeat center;
      }
    }
  }

  &__menu {
    height: 0;
    overflow: hidden;
    position: absolute;
    display: block;
    padding: 0 10px;
    margin-left: -10px;
    border-radius: 10px;
    background: $dark-gray;

    &--active {
      height: max-content;
    }
  }

  &__list {
    color: $white;
    padding: 3px 3px 3px 0;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;

    transition: all 0.3s;

    &--active {
      display: none;
    }

    &:hover {
      color: $blue;
    }
  }
}
