.dropdown {
  &__button {
    color: $blue;
    background: inherit;
    position: relative;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
  }

  &__svg--rotate {
    transform: rotate(180deg);
  }

  &__menu {
    height: 0;
    overflow: hidden;
    position: absolute;

    &--active {
      height: max-content;
    }
  }

  &__list {
    color: $white;
    padding: 3px 3px 3px 0;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
  }
}
