.help {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__title {
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size: 21px;
    line-height: 130%;

    & span {
      font-weight: 400;
      color: $blue;
    }
  }

  &__description {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $light-gray;
  }

  &__description-link {
    color: $blue;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__link {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $blue;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__contact {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $light-gray;
  }
}

.main {
  color: red;
}
