.help {
  @include desktop {
    transform: translateY(-200%);

    &:target {
      width: 80%;
      max-width: 1083px;
      height: 80%;
      left: 50%;
      top: 10%;
      transform: translateY(0) translateX(-50%);
    }

    &__prev {
      visibility: hidden;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size: 21px;
    line-height: 130%;

    & span {
      font-weight: 400;
      color: $blue;
    }

    @include desktop {
      font-size: 36px;
    }
  }

  &__description {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $light-gray;
  }

  &__description-link {
    color: $blue;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include tablet {
      flex-direction: row ;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include tablet {
      flex: 0 0 50%;
    }

    @include desktop {
      flex: 0 0 35%;
    }
  }

  &__link {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $blue;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include tablet {
      gap: 25px;
    }
  }

  &__contact {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $light-gray;
  }
}

.main {
  color: red;
}
