.pay {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &--grid {
      @include tablet {
        display: grid;
        row-gap: 30px;
      }
    }
  }

  &__background {
    display: none;

    @include tablet {
      display: block;
      background: url('../images/buy-image.png') center no-repeat;
      background-size: contain;
      grid-area: 1 / 1 / 2 / 7;
      padding-bottom: 40%;
    }

    @include desktop {
      background-position: center left -50px;
      grid-area: 1 / 1 / 5 / 7;
    }
  }

  &__card-number,
  &__card-name,
  &__purchase {
    grid-area: auto / 2 / auto / 6;

    @include desktop {
      grid-area: auto / 7 / auto / 12;
    }
  }

  &__quantity {
    grid-area: 2 / 1 / 3 / 7;

    @include desktop {
      grid-area: 5 / 1 / 6 / 4;
    }
  }

  &__date-cvv {
    display: flex;
    gap: 20px;

    @include tablet {
      gap: 100px;
      grid-area: auto / 2 / auto / 5;
    }

    @include desktop {
      grid-area: auto / 7 / auto / 12;
    }
  }

  &__card-date,
  &__card-cvv {
    width: 50%;
  }

  &__purchase {
    width: 100%;
    margin-top: 40px;

    @include tablet {
      margin: 0;
    }

    @include desktop {
      max-width: 200px;
      grid-area: 5 / 7 / 6 / 13;
      align-self: center;
    }
  }
}
