.quantity {
  display: flex;
  justify-content: space-around;

  &__quantity-input {
    position: relative;
    width: 90px;
    height: 41px;
    background-color: #191536;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  &__quantity-value {
    background: transparent;
    width: 80%;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: inherit;
    text-align: center;
  }

  &__quantity-button {
    position: absolute;
    display: block;
    width: 19px;
    height: 20px;
    right: 0;
    cursor: pointer;

    &--plus {
      background: url('../images/svg/drop-menu-close.svg') no-repeat center;
      top: 0;
    }

    &--minus {
      background: url('../images/svg/drop-menu-open.svg') no-repeat center;
      bottom: 0;
    }
  }

  &__price {
    width: min-content;
  }

  &__price-input {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: $blue;
    background: transparent;
    margin-top: 10px;
    width: auto;
  }
}
