.about {
  &__image {
    width: 622px;
    height: 290px;
    margin-bottom: 12px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    @media (max-width: 1600px) {
      width: 430px;
      height: 290px;
    }
  }

  &__product {
    max-width: 435px;

    @media (max-width: 1600px) {
      max-width: 332px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 40px;
  }

  &__title {
    margin-bottom: 30px;
    strong {
      display: block;
    }

    @media (max-width: 1600px) {
      strong {
        display: inline;
      }
    }
  }

  &__info {
    margin-bottom: 20px;

    &-content {
      font-size: 16px;
      line-height: 150%;
      font-weight: normal;
      color: $c-text;
    }
  }

  &__bottom {
    position: relative;
  }

  &__count {
    display: flex;
    align-items: center;
    position: absolute;
    color: $c-contrast;
    left: 0;
    top: 0;

    &::before {
      content: "1";
      position: relative;
      top: 0;
      font-size: 14px;
    }
    &::after {
      content: "5";
      position: relative;
      top: 0;
      font-size: 14px;
    }
  }

  &--us {
    &__hello {
      display: block;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: $c-contrast;
      margin-bottom: 14px;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__content {
      max-width: 530px;

      @media (max-width: 1600px) {
        max-width: 430px;
      }
    }
  }
}
