.about__text-decorations {
  display: flex;
  font-family: "Mark", sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 170%;
  color: #fff;
  position: absolute;
  right: 20px;
  transform: translateY(-50%);
  top: 50%;

  @media (max-width: 1024px) {
    font-size: 48px;
    line-height: 150%;
    right: 0;
  }
}
