.about-us {
  &__hello {
    display: block;
    font-family: "Mark", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $c-contrast;
    margin-bottom: 14px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__content {
    max-width: 530px;

    @media (max-width: 1600px) {
      max-width: 430px;
    }

    @media (max-width: 767px) {
      max-width: 90vw;
    }
  }
}
