.about__text-decoration {
  color: transparent;

  &--1 {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    -webkit-text-stroke: 1px $c-contrast;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &--2 {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    transform: rotate(180deg);
    -webkit-text-stroke: 1px rgba(5, 194, 223, 0.5);

    @media (max-width: 767px) {
      display: none;
    }
  }

  &--3 {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    -webkit-text-stroke: 1px rgba(5, 194, 223, 0.2);

    @media (max-width: 767px) {
      display: none;
    }
  }

  &--4 {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    transform: rotate(180deg);
    -webkit-text-stroke: 1px rgba(5, 194, 223, 0.1);

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &--5 {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    -webkit-text-stroke: 1px rgba(5, 194, 223, 0.05);

    @media (max-width: 1279px) {
      display: none;
    }
  }

  &--6 {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    transform: rotate(180deg);
    -webkit-text-stroke: 1px rgba(5, 194, 223, 0.03);

    @media (max-width: 1600px) {
      display: none;
    }
  }

  &--7 {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    -webkit-text-stroke: 1px rgba(5, 194, 223, 0.02);

    @media (max-width: 1600px) {
      display: none;
    }
  }
}
