/* 1. Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Скидання відступів */
* {
  margin: 0;
  padding: 0;
}

/* 3. Базові налаштування html/body */
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;

  &.no-scroll {
    overflow: hidden;
  }
}

/* 5. Форми */
input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  outline: none;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;

    -webkit-text-fill-color: inherit;
  }
}

/* 6. Кнопки */
button {
  border: none;
  background: none;
}

/* 7. Списки */
ul,
ol {
  list-style: none;
}

/* 8. Посилання */
a {
  color: inherit;
  text-decoration: none;
}

a,
button,
input[type='submit'],
input[type='button'],
input[type='checkbox'],
input[type='radio'],
label[for] {
  cursor: pointer;
}

select {
  padding: 0;
  border: none;

  font: inherit;
  color: inherit;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  outline: none;
}
