h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

.title {
  text-transform: uppercase;
}

p {
  @extend %p;
}

.title--white {
  font-weight: 900;
  color: $white;
}

.title--accent {
  font-weight: 400;
  color: $color-accent;
}
