<div
  id="video-source"
  class="video"
>
  <div class="video-content">
    <span class="close">&times;</span>
    <iframe
      class="video__iframe"
      id="videoPlayer"
      src="https://www.youtube.com/embed/26nx1zTAthw?enablejsapi=1"
      title="YouTube video player"
      allow="
        accelerometer;
        autoplay;
        clipboard-write;
        encrypted-media;
        gyroscope;
        picture-in-picture;
        web-share;
      "
      allowfullscreen
    ></iframe>
  </div>
</div>
